<div class="container content">
    <hr>
    <div class="row encabezado">
        <div class="col-lg-12 encabezado-titulo animated bounceInUp">
            <i class="icono-encabezado icon-jefes-correras"></i>  <h1>Jefaturas de carreras</h1>
        </div>
    </div>
    <hr>
    <div class="row portafolio justify-content-center">
        <div class="row galeria justify-content-center">
            <div class="contenedor-imagen col-9 br-15">
                <a href="http://132.247.154.50/SAAI/loginUNIPLA.jsp" target="_blank" title="Sistema de Almacenamiento y An&aacute;lisis de la Informaci&oacute;n">
                    <img src="public_html/img/menu_rapido/acceso_fesar/jefes_de_carrera/img-1.jpg" class="img-fluid imagen" alt="Sistema de Almacenamiento y An&aacute;lisis de la Informaci&oacute;n"/>
                </a>
            </div>
        </div>
    </div>
</div>
