<style>
    .botones .btn-cat .icon {
        font-size: 70px;
    }

    .botones .btn-cat p {
        font-size: 15px;
    }
</style>
<div class="container content">
    <hr>
    <div class="row encabezado">
        <div class="col-lg-12 encabezado-titulo animated bounceInUp">
            <i class="icono-encabezado icon-acceso-fesar"></i>
            <h1>Acceso Intranet</h1>
        </div>
    </div>
    <hr>
    <!-- Aquí empieza la cabecera de la web 

            <div class="row">
                <a class="col-12 col-lg-3 col-md-4 mb-5 acceso-fesar" ng-mouseover="hover11=true" ng-mouseleave="hover11 = false" ui-sref="acceso_estudiantes" title="Estudiantes">
                    <img class="check-element img-fluid acceso-fesar" src="public_html/img/menu_rapido/acceso_fesar/estudiantes/estudiantes.png " ng-class="hover11 ? 'wipe-in position-absolute' : 'trans-delay position-absolute'" alt="Estudiantes"/>
                    <img class="check-element img-fluid acceso-fesar" src="public_html/img/menu_rapido/acceso_fesar/estudiantes/estudiantes-back.png " ng-class="!hover11 ? 'wipe-in position-relative' : 'trans-delay position-absolute'" alt="Estudiantes"/>
                </a>
                <a class="col-12 col-lg-3 col-md-4 mb-5 acceso-fesar" ng-mouseover="hover12=true" ng-mouseleave="hover12 = false" ui-sref="acceso_docentes" title="Docentes">
                    <img  class="check-element img-fluid acceso-fesar" src="public_html/img/menu_rapido/acceso_fesar/docentes/docentes.png " ng-class="hover12 ? 'wipe-in position-absolute' : 'trans-delay position-absolute'" alt="Docentes"/>
                    <img class="check-element img-fluid acceso-fesar" src="public_html/img/menu_rapido/acceso_fesar/docentes/docentes-back.png " ng-class="!hover12 ? 'wipe-in position-relative' : 'trans-delay position-absolute'" alt="Docentes"/>
                </a>
                <a class="col-12 col-lg-3 col-md-4 mb-5 acceso-fesar"  ng-mouseover="hover13=true" ng-mouseleave="hover13 = false" ui-sref="acceso_jefes_carrera" title="Jefes de carrera">
                    <div >
                        <img  class="check-element img-fluid acceso-fesar" src="public_html/img/menu_rapido/acceso_fesar/jefes_de_carrera/jefes-carrera.png " ng-class="hover13 ? 'wipe-in position-absolute' : 'trans-delay position-absolute'" alt="Jefes de carrera"/>
                        <img class="check-element img-fluid acceso-fesar" src="public_html/img/menu_rapido/acceso_fesar/jefes_de_carrera/jefes-carrera-back.png " ng-class="!hover13 ? 'wipe-in position-relative' : 'trans-delay position-absolute'" alt="Jefes de carrera"/>
                    </div>
                </a>
            </div>-->

    <div class="row justify-content-center botones" style="padding-top: 25px;">
        <div class="col-12 col-sm-12 col-md-5 btn-cat">
            <a class="category" ui-sref="acceso_estudiantes" title="Estudiantes">
                <div class="icon icon-estudiantes">
                </div>
                <p>Estudiantes</p>
            </a>
        </div>
        <div class="col-12 col-sm-12 col-md-5 btn-cat">
            <a class="category" ui-sref="acceso_docentes" title="Docentes">
                <div class="icon icon-docentes">
                </div>
                <p>Docentes</p>
            </a>
        </div>
    </div>
    <div class="row justify-content-center botones">
        <div class="col-12 col-sm-12 col-md-5 btn-cat">
            <a class="category" ui-sref="acceso_jefes_carrera" title="Jefaturas de carreras">
                <div class="icon icon-jefes-correras">
                </div>
                <p>Jefaturas de carreras</p>
            </a>
        </div>
    </div>
    
    <div class="row justify-content-center botones pb-5">
            <div class="col-12 col-sm-10 pt-3 pb-3">
                    <hr>
             </div>
            <div class="col-12 col-sm-10 btn-cat">
                    <a class="category" ui-sref="administrativa" title="Docentes">
                            <svg class="icon">
                                    <use xlink:href="public_html/img/nuestra_facultad/cuerpos_colegiados/secretaria-administrativa.svg#secretaria-administrativa"></use>
                            </svg>
                        <p>Secretaría Administrativa</p>
                    </a>
                </div>
        </div> 
</div>