<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <h1>Aviso de privacidad</h1>
        </div>
    </div>
    <hr>
    <div class="row portafolio">
        <div class="row galeria justify-content-center">
            <div class="contenedor-imagen col-5 col-lg-3 p-10 m-0 br-15">
                <a href="public_html/documents/aviso-de-privacidad/simplificado-del-circuito-cerrado-de-television-cctv-de-la-fes-aragon.pdf" target="_blank" title="Aviso de Privacidad Simplificado del Circuito Cerrado (CCTV) de la FES Aragón">
                    <img src="public_html/img/aviso-de-privacidad/simplificado-del-circuito-cerrado-de-television-cctv-de-la-fes-aragon.jpg" class="br-15 img-fluid image" alt="Aviso de Privacidad Simplificado del Circuito Cerrado (CCTV) de la FES Aragón"/>
                </a>
            </div>
            <div class="contenedor-imagen col-5 col-lg-3 p-10 m-0 br-15">
                <a href="public_html/documents/aviso-de-privacidad/simplificado-de-la-fes-aragon.pdf" target="_blank" title="Aviso de Privacidad Simplificado de la FES Aragón">
                    <img src="public_html/img/aviso-de-privacidad/simplificado-de-la-fes-aragon.jpg" class="br-15 img-fluid image" alt="Aviso de Privacidad Simplificado de la FES Aragón"/>
                </a>
            </div>
            <div class="contenedor-imagen col-5 col-lg-3 p-10 m-0 br-15">
                <a href="public_html/documents/aviso-de-privacidad/integral-del-circuito-cerrado-de-television-cctv-de-la-fes-aragon.pdf" target="_blank" title="Aviso de Privacidad Integral del Circuito Cerrado de Televisión (CCTV) de la FES Aragón">
                    <img src="public_html/img/aviso-de-privacidad/integral-del-circuito-cerrado-de-television-cctv-de-la-fes-aragon.jpg" class="br-15 img-fluid image" alt="Aviso de Privacidad Integral del Circuito Cerrado de Televisión (CCTV) de la FES Aragón"/>
                </a>
            </div>
            <div class="contenedor-imagen col-5 col-lg-3 p-10 m-0 br-15">
                <a href="public_html/documents/aviso-de-privacidad/integral-de-la-fes-aragon.pdf" target="_blank" title="Aviso de Privacidad Integral de la FES Aragón">
                    <img src="public_html/img/aviso-de-privacidad/integral-de-la-fes-aragon.jpg" class="br-15 img-fluid image" alt="Aviso de Privacidad Integral de la FES Aragón"/>
                </a>
            </div>
        </div>
    </div>
</div>
