<!-- Calendario Escolar -->
<div class="container content portafolio">
    <hr>
    <div class="row encabezado">
        <div class="col-lg-12 encabezado-titulo animated bounceInUp">
            <i class="icono-encabezado icon-calendar"></i>  <h1> Calendario Escolar </h1>
        </div>
    </div>
    <hr>
        <div class="row galeria justify-content-center">
            <div class="contenedor-imagen col-5 col-lg-3">
                <a href="https://escolar1.unam.mx/pdfs/calendario_semestral2024.pdf"target="_blank" title="Calendario escolar plan semestral">
                    <img src="public_html/img/calendarios/calendario-unam.png" class="img-fluid imagen" alt="Calendario escolar plan semestral"/>
                </a>
            </div>
            <div class="contenedor-imagen col-5 col-lg-3">
                <a href="public_html/documents/calendarios/calendario-fesar-2024II.pdf" target="_blank" title="Calendario escolar">
                    <img src="public_html/img/calendarios/calendario-fesar-2024II.png" class="img-fluid imagen" alt="Calendario escolar"/>
                </a>
            </div>
    </div>
</div>
