<div class="container content portafolio">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <i class="icono-encabezado icon-signal"></i> <h1>C&oacute;mputo FESAR  </h1>
        </div>
    </div>
    <hr>
    <div class="row galeria justify-content-center">
            <div class="contenedor-imagen col-5 col-lg-3">
                <a ui-sref="pc_puma" title="Plataforma Educativa Aragón y PC Puma">
                    <img src="public_html/img/menu_rapido/computo-fesar/pc-puma.jpg" class="br-15 img-fluid image" alt="Plataforma Educativa Aragón y PC Puma"/>
                </a>
            </div>
            <div class="contenedor-imagen col-5 col-lg-3">
                <a href="http://www.riu.unam.mx/" target="_blank" title="RIU Red inalámbrica universitaria">
                    <img src="public_html/img/menu_rapido/computo-fesar/riu.jpg" class="br-15 img-fluid image" alt="RIU Red inalámbrica universitaria"/>
                </a>
            </div>
            <div class="contenedor-imagen col-5 col-lg-3">
                <a ui-sref="unidad_de_sistemas" title="Unidad de Sistemas">
                    <img src="public_html/img/menu_rapido/computo-fesar/unidad-de-sistemas.jpg" class="br-15 img-fluid image" alt="Unidad de Sistemas"/>
                </a>
            </div>
        </div>
</div>

