<style>
    .botones .iconoh {
        display: block;
        padding: 15px;
    }

    .botones .btn-cat p {
        padding-top: 10px;
        position: relative;
        top: 0px;
    }
</style>
<div class="container content">
    <hr>
    <div class="row encabezado">
        <div class="col-lg-12 encabezado-titulo animated bounceInUp">
            <i class="icono-secciones icon-concurso-de-oposicion" style="font-size: 30px;"></i>
            <h1 class="mw-50">Concursos de oposici&oacute;n Abiertos</h1>
        </div>
    </div>
    <hr>
    <div class="row portafolio justify-content-center">
        <div class="col-12 col-lg-10 pm-3">
            <a target="_blank" href="public_html/documents/slider_principal/conv-conc-opos.pdf">
                <img src="public_html/img/slider_principal/conv-conc-opos.jpg" class="img-fluid"
                alt="Aviso con relación a los Concursos de Oposición">
            </a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <div class="row justify-content-center botones pb-5 pt-3">
                <div class="col-12 col-lg-6">
                    <a class="boton-registro btn btn-secondary btn-sm boton-header" target="_blank"
                        ui-sref="tabla_de_concurso_de_oposicion"
                        title="Tablas de evaluación de los concursos de oposición" style="white-space: inherit;">
                        Tablas de evaluación de los concursos de oposición</a>
                </div>
                <div class="col-12 col-lg-6">
                    <a class="boton-registro btn btn-secondary btn-sm boton-header" target="_blank"
                        href="public_html/documents/nuestra_facultad/consejo_tecnico/lineamientos-videograbacion.pdf"
                        title="Lineamientos de Videograbación de Concursos de Oposición" style="white-space: inherit;">
                        Lineamientos de Videograbación de Concursos de Oposición</a>
                </div>
                <div class="col-12 col-lg-6" style="display: grid;">
                    <a class="boton-registro btn btn-secondary btn-sm boton-header" target="_blank"
                        ui-sref="tablas_de_equivalencia" title="Tablas de equivalencia" style="white-space: inherit;">
                        Tablas de equivalencia</a>
                </div>
                <div class="col-12 col-lg-6">
                    <a class="boton-registro btn btn-secondary btn-sm boton-header" target="_blank"
                        href="public_html/documents/tabla-de-evaluacion-concurso-de-oposicion/evaluacion_ta.pdf"
                        title="Tabla de evaluación Técnicos Académicos" style="white-space: inherit;">
                        Tabla de evaluación Técnicos Académicos</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center botones pb-5" style="padding-top: 25px;">
        <div class="col-12 col-sm-10 pb-3">
            <h2>Tipos de concursos:</h2>
            <hr>
        </div>
        <div class="col-12 col-sm-12 col-md-8 btn-cat">
            <a class="category" ui-sref="concurso_de_asignatura" title="Estudiantes">
                <div class="icon iconoh far fa-file-pdf">
                </div>
                <p style="padding-bottom: 10px;">Concurso de Asignatura</p>
            </a>
        </div>
        <div class="col-12 col-sm-8 pt-5 pb-3">
            <h2>Concurso de Personal Académico de Tiempo Completo</h2>
            <hr>
        </div>
        <div class="col-12 col-sm-12 col-md-4 btn-cat">
            <a class="category" ui-sref="concurso_de_carrera" title="Estudiantes">
                <div class="icon iconoh far fa-file-pdf">
                </div>
                <p style="padding-bottom: 10px;">Concurso de Carrera</p>
            </a>
        </div>
        <div class="col-12 col-sm-12 col-md-4 btn-cat">
            <a class="category" ui-sref="concurso_de_tecnicos_academicos" title="Docentes">
                <div class="icon iconoh far fa-file-pdf">
                </div>
                <p style="padding-bottom: 10px;">Concurso de Técnicos Académicos</p>
            </a>
        </div>
    </div>
</div>