<div class="container content">
    <hr>
    <div class="row encabezado">
        <div class="col-lg-12 encabezado-titulo animated bounceInUp">
            <h1>CONVOCATORIA</h1>
        </div>
    </div>
    <hr>
    <!--<div class="row portafolio">
        <div class="col-12 col-md-6">
            <h2>PREMIO EDUCACI&Oacute;N FINANCIERA</h2>
            <hr/>
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/convocatoria/premio-ef-funam-bbva-2019-cartel.pdf" target="_blank" title="PREMIOS FUNAM">
                        <img src="public_html/img/convocatoria/premio-ef-funam-bbva-2019-cartel.jpg" class="br-15 img-fluid image" alt="PREMIOS FUNAM"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/convocatoria/premio-ef-funam-bbva-2019-convocatoria.pdf" target="_blank" title="PREMIOS FUNAM">
                        <img src="public_html/img/convocatoria/premio-ef-funam-bbva-2019-convocatoria.jpg" class="br-15 img-fluid image" alt="PREMIOS FUNAM"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <h2>PREMIO AFIRME-FUNAM</h2>
            <hr/>
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/convocatoria/premio-afirme-funam-2019-cartel.pdf" target="_blank" title="PREMIOS FUNAM">
                        <img src="public_html/img/convocatoria/premio-afirme-funam-2019-cartel.jpg" class="br-15 img-fluid image" alt="PREMIOS FUNAM"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/convocatoria/premio-afirme-funam-2019-convocatoria.pdf" target="_blank" title="PREMIOS FUNAM">
                        <img src="public_html/img/convocatoria/premio-afirme-funam-2019-convocatoria.jpg" class="br-15 img-fluid image" alt="PREMIOS FUNAM"/>
                    </a>
                </div>
            </div>
        </div>
    </div>-->
    <div class="row portafolio">
        <div class="col-12">
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-5 col-lg-3">
                    <a href="public_html/documents/convocatoria/premio-bal-unam-2020-cartel.pdf" target="_blank" title="PREMIOS FUNAM">
                        <img src="public_html/img/convocatoria/premio-bal-unam-2020-cartel.jpg" class="br-15 img-fluid image" alt="PREMIOS FUNAM"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-3">
                    <a href="public_html/documents/convocatoria/premio-bal-unam-2020-convocatoria.pdf" target="_blank" title="PREMIOS FUNAM">
                        <img src="public_html/img/convocatoria/premio-bal-unam-2020-convocatoria.jpg" class="br-15 img-fluid image" alt="PREMIOS FUNAM"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>