<div class="container content">
    <hr>
    <div class="row encabezado">
        <div class="col-lg-12 encabezado-titulo animated bounceInUp">
            <i class="icono-encabezado icon-simbolo-de-la-sumision-del-directorio"></i>  <h1> Directorios UNAM</h1>
        </div>
    </div>
    <hr>
    <div class="row portafolio justify-content-center">
        <div class="row galeria justify-content-center">
            <div class="contenedor-imagen col-5 col-lg-4 br-15">
                <a href="public_html/documents/nuestra_facultad/directorio-fesar.pdf"target="_blank" title="Directorio FESAR">
                    <img src="public_html/img//nuestra_facultad/directorios/directorio-fesar.jpg" class="img-fluid imagen" alt="Directorio FESAR"/>
                </a>
            </div>
            <div class="contenedor-imagen col-5 col-lg-4 br-15">
                <a href="https://directorio.unam.mx/" target="_blank" title="Directorio UNAM">
                    <img src="public_html/img/nuestra_facultad/directorios/directorio-unam.jpg" class="img-fluid imagen" alt="Directorio UNAM"/>
                </a>
            </div>
        </div>
        <div class="row galeria justify-content-center">
            <div class="contenedor-imagen col-5 col-lg-5 br-15">
                <a href="public_html/documents/nuestra_facultad/directorio-redes.pdf"target="_blank" title="Directorio FESAR">
                    <img src="public_html/img//nuestra_facultad/directorios/directorio-redes.png" class="img-fluid imagen" alt="Directorio FESAR"/>
                </a>
            </div>
        </div>
    </div>
</div>
