<!-- Portal Docente -->
<div class="container content">
	<hr>
	<div class="row pleca-secciones">
		<div class="col-lg-12 secciones">
			<i class="icono-secciones icon-portal-docentes2"></i>
			<h1> Portal Docente</h1>
		</div>
	</div>
	<hr>
	<div class="row justify-content-center pt-5 pb-5">
		<div class="col-12 col-lg-6">
			<div class="row">
				<div class=" col-6 col-lg-6 p-0 text-center conte-img" style="position: relative;right: 13px;">
					<a href="https://www.dgae-siae.unam.mx/www_gate.php" title="Acceso SIAE">
						<img src="public_html/img/menu_rapido/portal_docente/acceso-siae.jpg"
							 class="img-fluid image w-95 ml-13" alt="Acceso SIAE"/>
						<div class="overlay w-95 br-15 ml-13" id="banner-principal">
							<div class="text">Acceso SIAE</div>
						</div>
					</a>
				</div>
				<div class=" col-6 col-lg-6 p-0 text-center conte-img">
					<a ui-sref="concurso_oposicion">
						<img src="public_html/img/menu_rapido/portal_docente/img-9.jpg"
							 class="img-fluid image w-95 ml-13" alt="Concurso de oposición abierta"/>
						<div class="overlay w-95 br-15 ml-13" id="banner-principal">
							<div class="text">Concurso de oposición abierta</div>
						</div>
					</a>
				</div>
				<div class=" col-12 col-lg-12 owl-carousel owl-theme" style="z-index: 0;margin-top: 8px;">
					<div class="item conte-img carousel-portal-docente">
						<a href="https://plataformaeducativa.aragon.unam.mx/acceso-profesores" target="_blank"
						   title="Plataforma Educativa Aragón">
							<img src="public_html/img/menu_rapido/portal_docente/plataforma-educativa-aragon.jpg"
								 class="img-fluid image" alt="Plataforma Educativa Aragón"/>
							<div class="overlay bg-blue br-15">
								<div class="text">Plataforma Educativa Aragón</div>
							</div>
						</a>
					</div>
					<div class="item conte-img carousel-portal-docente">
						<a href="public_html/documents/slider_principal/catalogo-dgapa-2024.pdf" target="_blank"
						   title="Cursos DGAPA">
							<img src="public_html/img/menu_rapido/portal_docente/cursos-dgapa.png"
								 class="img-fluid image" alt="Cursos DGAPA"/>
							<div class="overlay bg-blue br-15">
								<div class="text">Cursos DGAPA</div>
							</div>
						</a>
					</div>
					<div class="item conte-img carousel-portal-docente">
						<a href="https://www.youtube.com/watch?v=gYUSjpj8ayY" target="_blank" title="PEPASIG">
							<img src="public_html/img/menu_rapido/portal_docente/pepasig.jpg" class="img-fluid image"
								 alt="PEPASIG"/>
							<div class="overlay bg-blue br-15">
								<div class="text">PEPASIG Información General</div>
							</div>
						</a>
					</div>
					<div class="item conte-img carousel-portal-docente">
						<a href="public_html/documents/slider_principal/convocatoria-pepasig-2024I.pdf" target="_blank"
						   title="PEPASIG Convocatoria">
							<img src="public_html/img/menu_rapido/portal_docente/pepasig-2024-I.png" class="img-fluid image"
								 alt="PEPASIG Convocatoria"/>
							<div class="overlay bg-blue br-15">
								<div class="text">PEPASIG Convocatoria</div>
							</div>
						</a>
					</div>
					<div class="item conte-img carousel-portal-docente">
						<a ui-sref="sistema_de_evaluacion"
						   target="Acceso a informes y evaluación de profesores">
							<img src="public_html/img/menu_rapido/portal_docente/acceso-a-informes-y-evaluaciones.jpg"
								 class="img-fluid image" alt="Acceso a informes y evaluación de profesores"/>
							<div class="overlay bg-blue br-15">
								<div class="text">Acceso a informes y evaluación de profesores</div>
							</div>
						</a>
					</div>
					<!--<div class="item conte-img carousel-portal-docente">
						<a href="https://informatica.aragon.unam.mx/profesor1.1/Login.php" target="_blank"
						   title="Instrumento de Percepción del Estudiante en la Práctica Docente 2022-2. Impresión de Resultados">
							<img src="public_html/img/menu_rapido/portal_docente/img-3.jpg" class="img-fluid image"
								 alt="Instrumento de Percepción del Estudiante en la Práctica Docente 2022-2. Impresión de Resultados"/>
							<div class="overlay bg-blue br-15">
								<div class="text">Impresión de Resultados 2023-I</div>
							</div>
						</a>
					</div>
					<div class="item conte-img carousel-portal-docente">
					   <a ui-sref="pappa" target="_blank"
						   title="Convocatoria al programa para promover la definitividad del personal académico de asignatura">
						   <img src="public_html/img/menu_rapido/portal_docente/pappa.jpg" class="img-fluid image"
							   alt="Convocatoria al programa para promover la definitividad del personal académico de asignatura" />
						   <div class="overlay bg-blue br-15">
							   <div class="text">Convocatoria </div>
						   </div>
					   </a>
				   </div>
				   <div class="item conte-img carousel-portal-docente">
					   <a href="public_html/documents/menu-rapido/portal-docente/invitacion-a-concurso-plaza-comunicacion-y-periodismo.pdf"
						   target="_blank" title="SIJA Invitación a Concurso Plaza de Arquitectura">
						   <img src="public_html/img/menu_rapido/portal_docente/invitacion-a-concurso-plaza-comunicacion-y-periodismo.jpg"
							   class="img-fluid image" alt="SIJA Invitación a Concurso Plaza de Arquitectura" />
						   <div class="overlay bg-blue br-15">
							   <div class="text">SIJA Invitación a Concurso Plaza de Comunicación y periodismo</div>
						   </div>
					   </a>
				   </div>-->
					<!--<div class="item conte-img carousel-portal-docente">
					   <a href="public_html/documents/menu-rapido/portal-docente/calendarios-de-los-programas-institucionales.pdf"
						   target="_blank" title="Calendarios de los Programas Institucionales">
						   <img src="public_html/img/menu_rapido/portal_docente/calendarios-de-los-programas-institucionales.jpg"
							   class="img-fluid image" alt="Calendarios de los Programas Institucionales" />
						   <div class="overlay bg-blue br-15">
							   <div class="text">Calendarios de los Programas Institucionales</div>
						   </div>
					   </a>
				   </div>-->
					<!--<div class="item conte-img carousel-portal-docente">
					   <a href="http://www.iisue.unam.mx/congreso-afirse-2018/" target="_blank"
						   title="Congreso internacional">
						   <img src="public_html/img/menu_rapido/portal_docente/img-5.jpg" class="img-fluid image"
							   alt="Congreso Internacional" />
						   <div class="overlay bg-blue br-15">
							   <div class="text">III Congreso Internacional AFIRSE</div>
						   </div>
					   </a>
				   </div>-->
					<div class="item conte-img carousel-portal-docente">
						<a href="http://132.248.44.97/asistencia/login.php" target="_blank"
						   title="Sistema de Control de Asistencia Automatizada">
							<img src="public_html/img/menu_rapido/portal_docente/sistema-de-control-de-asistencia-automatizada.jpg"
								 class="img-fluid image" alt="Sistema de Control de Asistencia Automatizada"/>
							<div class="overlay bg-blue br-15">
								<div class="text">Sistema de Control de Asistencia Automatizada</div>
							</div>
						</a>
					</div>
					<!--<div class="item conte-img carousel-portal-docente">
						<a href="http://132.248.44.88/profesores/asignatura/" target="_blank" title="Sistema para Ingresar a los Informes de Profesor 2021-1">
							<img src="public_html/img/menu_rapido/portal_docente/sistema-para-ingresar-a-los-informes-de-profesor-2021-1.jpg" class="img-fluid image" alt="Sistema para Ingresar a los Informes de Profesor 2021-1"/>
							<div class="overlay bg-blue br-15">
								<div class="text">Sistema para Ingresar a los Informes de Profesor 2021-1</div>
							</div>
						</a>
					</div>
					<div class="item conte-img carousel-portal-docente">
						<a href="http://132.248.44.88/profesores/posgrado/" target="_blank" title="Sistema para ingresar a los Informes de Profesor de Posgrado 2021-1">
							<img src="public_html/img/menu_rapido/portal_docente/sistema-para-ingresar-a-los-informes-de-profesor-de-posgrado-2021-1.jpg" class="img-fluid image" alt="Sistema para ingresar a los Informes de Profesor de Posgrado 2021-1"/>
							<div class="overlay bg-blue br-15">
								<div class="text">Sistema para ingresar a los Informes de Profesor de Posgrado 2021-1</div>
							</div>
						</a>
					</div>-->
					<div class="item conte-img carousel-portal-docente">
						<a ui-sref="sija" title="sija">
							<img src="public_html/img/menu_rapido/portal_docente/sija.jpg" class="img-fluid image"
								 alt="sija"/>
							<div class="overlay bg-blue br-15">
								<div class="text">SIJA</div>
							</div>
						</a>
					</div>
					<div class="item conte-img carousel-portal-docente">
						<a href="https://dgapa.unam.mx/index.php/impulso-a-la-investigacion/papiit" target="_blank"
						   title="PAPIIT">
							<img src="public_html/img/menu_rapido/portal_docente/papiit.jpg" class="img-fluid image"
								 alt="PAPIIT"/>
							<div class="overlay bg-blue br-15">
								<div class="text">PAPIIT</div>
							</div>
						</a>
					</div>
					<div class="item conte-img carousel-portal-docente">
						<a href="https://dgapa.unam.mx/index.php/formacion-academica/paspa" target="_blank"
						   title="PASPA">
							<img src="public_html/img/menu_rapido/portal_docente/paspa.jpg" class="img-fluid image"
								 alt="PASPA"/>
							<div class="overlay bg-blue br-15">
								<div class="text">PASPA</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col-12 col-lg-5 ml-3">
			<ul class="list-group texto-tabla">
				<li class="list-group-item active">Enlace de inter&eacute;s UNAM</li>
				<li class="list-group-item"><a target="_blank" href="public_html/documents/muro_aragon/cursos_dgapa.pdf"
											   title="Cursos, Diplomados y Talleres - DGAPA">Cursos, Diplomados y
					Talleres – DGAPA</a></li>
				<li class="list-group-item"><a target="_blank" href="http://enallt.unam.mx/index.php"
											   title="Curso de formaci&oacute;n de profesores">Curso de formaci&oacute;n
					de profesores de
					lenguas-culturas (ENALLT)</a></li>
				<li class="list-group-item"><a target="_blank"
											   href="https://formaciondocente.cuaieed.unam.mx//"
											   title="Centro de Formaci&oacute;n y Profesionalizaci&oacute;n para el Desarrollo Acad&eacute;mico de la UNAM">Centro
					de Formaci&oacute;n y Profesionalizaci&oacute;n para el Desarrollo Acad&eacute;mico de la UNAM</a>
				</li>
				<li class="list-group-item"><a target="_blank" href="https://mooc.cuaieed.unam.mx/"
											   title="MOOC UNAM">MOOC UNAM</a></li>
				<li class="list-group-item"><a target="_blank" href="https://suayed.cuaed.unam.mx/"
											   title="Coordinaci&oacute;n de Universidad Abierta, Innovaci&oacute;n Educativa y Educaci&oacute;n a Distancia (CUAIEED)">Coordinaci&oacute;n
					de Universidad Abierta, Innovaci&oacute;n Educativa y Educaci&oacute;n a Distancia (CUAIEED)</a>
				</li>
				<li class="list-group-item"><a target="_blank"
											   href="https://www.youtube.com/channel/UC7E3NQJVio7hkV3HgDkiwnQ"
											   title="Campus Virtual CUAIEED">Campus Virtual CUAIEED</a></li>
				<li class="list-group-item"><a target="_blank" href="https://educacioncontinua.cuaed.unam.mx/"
											   title="Educaci&oacute;n Continua">Educaci&oacute;n Continua UNAM</a></li>
				<li class="list-group-item"><a target="_blank" href="http://especializacion.cepe.unam.mx/web/"
											   title="Formaci&oacute;n de profesores">Formaci&oacute;n de profesores de
					espa&ntilde;ol como
					lengua extranjera</a></li>
				<li class="list-group-item"><a target="_blank"
											   href="https://www.unam.mx/comunidad/egresados/oferta-academica/idiomas"
											   title="Idiomas">Idiomas</a></li>
			</ul>
		</div>
	</div>
</div>
