<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <i class="icono-secciones icon-portal-docentes2"></i>
            <h1> Portal Docente</h1>
            <a class="float-right boton-registro btn" ui-sref="servicios_escolares({seccion: '15'})"
                title="Servicios Escolares">
                Titulaci&oacute;n
            </a>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at facilisis metus. Sed
                porttitor posuere
                vehicula. Nullam aliquet accumsan purus, dignissim gravida leo egestas quis. Proin ante
                mauris, aliquam
                vitae felis quis, finibus mattis nunc. Ut eget aliquam dui, non dapibus nulla. Donec eu
                dapibus est, in
                posuere lorem. Donec laoreet ornare dictum. Donec ut ultricies ante, vel tempor eros.
                Nullam quis enim
                sit amet orci imperdiet convallis.</p>
            <p>Mauris at lectus rhoncus, mollis elit eu, tincidunt diam. Integer egestas convallis justo,
                vitae
                consectetur felis tempor non. Vestibulum velit risus, ultrices a luctus ut, vehicula id
                arcu. Sed ornare
                ac velit at dictum. Suspendisse lacinia mi metus, vel viverra mi finibus quis. Aliquam
                aliquam ligula at
                fermentum facilisis. Morbi id cursus est. Etiam dictum malesuada varius. Cras lobortis
                dignissim
                bibendum. Aliquam ac sollicitudin nisi. Suspendisse fringilla a justo vel lobortis.
                Nulla consequat
                tortor volutpat, accumsan augue quis, maximus purus. Sed dapibus rhoncus nisl, at
                malesuada nulla tempus
                vitae. Vivamus elementum blandit gravida.</p>
            <p>Ut quis facilisis enim. Maecenas vehicula, lacus eget viverra consectetur, lorem mi sagittis
                risus, vel
                sodales risus tellus non justo. Nulla at lorem vel metus luctus elementum. In tincidunt
                finibus varius.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis id lectus quis
                rutrum. Vivamus
                feugiat tortor a libero pretium, id feugiat libero faucibus. Etiam quis metus volutpat,
                facilisis metus
                in, mollis justo. Maecenas molestie nulla metus, in malesuada mi imperdiet sed.</p>
            <p>Nam semper ac augue vel dignissim. Aenean porttitor odio id pellentesque efficitur. Cras
                sagittis magna
                dui, nec varius ligula accumsan a. Suspendisse at consectetur dui. Mauris finibus tempor
                fringilla. Sed
                rutrum urna et tincidunt ultricies. Quisque placerat nunc nec nisi ullamcorper, et
                consequat arcu
                eleifend.</p>
            <p>Quisque mattis leo a sollicitudin tempus. Nullam risus arcu, consequat eget lorem ut, auctor
                scelerisque
                urna. Aliquam pharetra, magna non interdum vulputate, sapien metus auctor nulla, sit
                amet porta orci
                turpis ornare augue. Nunc ullamcorper purus quis pretium imperdiet. Fusce viverra
                sollicitudin risus, eu
                dapibus tortor fermentum quis. Etiam in orci eleifend, ultrices nisi ut, accumsan lacus.
                Sed a imperdiet
                diam. Aliquam in ligula ut sem lacinia porta. Fusce lacinia urna eleifend magna
                efficitur aliquet.</p>
        </div>
        <div class="col-12 col-lg-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at facilisis metus. Sed
                porttitor posuere
                vehicula. Nullam aliquet accumsan purus, dignissim gravida leo egestas quis. Proin ante
                mauris, aliquam
                vitae felis quis, finibus mattis nunc. Ut eget aliquam dui, non dapibus nulla. Donec eu
                dapibus est, in
                posuere lorem. Donec laoreet ornare dictum. Donec ut ultricies ante, vel tempor eros.
                Nullam quis enim
                sit amet orci imperdiet convallis.</p>
            <p>Mauris at lectus rhoncus, mollis elit eu, tincidunt diam. Integer egestas convallis justo,
                vitae
                consectetur felis tempor non. Vestibulum velit risus, ultrices a luctus ut, vehicula id
                arcu. Sed ornare
                ac velit at dictum. Suspendisse lacinia mi metus, vel viverra mi finibus quis. Aliquam
                aliquam ligula at
                fermentum facilisis. Morbi id cursus est. Etiam dictum malesuada varius. Cras lobortis
                dignissim
                bibendum. Aliquam ac sollicitudin nisi. Suspendisse fringilla a justo vel lobortis.
                Nulla consequat
                tortor volutpat, accumsan augue quis, maximus purus. Sed dapibus rhoncus nisl, at
                malesuada nulla tempus
                vitae. Vivamus elementum blandit gravida.</p>
            <p>Ut quis facilisis enim. Maecenas vehicula, lacus eget viverra consectetur, lorem mi sagittis
                risus, vel
                sodales risus tellus non justo. Nulla at lorem vel metus luctus elementum. In tincidunt
                finibus varius.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis id lectus quis
                rutrum. Vivamus
                feugiat tortor a libero pretium, id feugiat libero faucibus. Etiam quis metus volutpat,
                facilisis metus
                in, mollis justo. Maecenas molestie nulla metus, in malesuada mi imperdiet sed.</p>
            <p>Nam semper ac augue vel dignissim. Aenean porttitor odio id pellentesque efficitur. Cras
                sagittis magna
                dui, nec varius ligula accumsan a. Suspendisse at consectetur dui. Mauris finibus tempor
                fringilla. Sed
                rutrum urna et tincidunt ultricies. Quisque placerat nunc nec nisi ullamcorper, et
                consequat arcu
                eleifend.</p>
            <p>Quisque mattis leo a sollicitudin tempus. Nullam risus arcu, consequat eget lorem ut, auctor
                scelerisque
                urna. Aliquam pharetra, magna non interdum vulputate, sapien metus auctor nulla, sit
                amet porta orci
                turpis ornare augue. Nunc ullamcorper purus quis pretium imperdiet. Fusce viverra
                sollicitudin risus, eu
                dapibus tortor fermentum quis. Etiam in orci eleifend, ultrices nisi ut, accumsan lacus.
                Sed a imperdiet
                diam. Aliquam in ligula ut sem lacinia porta. Fusce lacinia urna eleifend magna
                efficitur aliquet.</p>
        </div>
        <div class="col-12 col-lg-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at facilisis metus. Sed
                porttitor posuere
                vehicula. Nullam aliquet accumsan purus, dignissim gravida leo egestas quis. Proin ante
                mauris, aliquam
                vitae felis quis, finibus mattis nunc. Ut eget aliquam dui, non dapibus nulla. Donec eu
                dapibus est, in
                posuere lorem. Donec laoreet ornare dictum. Donec ut ultricies ante, vel tempor eros.
                Nullam quis enim
                sit amet orci imperdiet convallis.</p>
            <p>Mauris at lectus rhoncus, mollis elit eu, tincidunt diam. Integer egestas convallis justo,
                vitae
                consectetur felis tempor non. Vestibulum velit risus, ultrices a luctus ut, vehicula id
                arcu. Sed ornare
                ac velit at dictum. Suspendisse lacinia mi metus, vel viverra mi finibus quis. Aliquam
                aliquam ligula at
                fermentum facilisis. Morbi id cursus est. Etiam dictum malesuada varius. Cras lobortis
                dignissim
                bibendum. Aliquam ac sollicitudin nisi. Suspendisse fringilla a justo vel lobortis.
                Nulla consequat
                tortor volutpat, accumsan augue quis, maximus purus. Sed dapibus rhoncus nisl, at
                malesuada nulla tempus
                vitae. Vivamus elementum blandit gravida.</p>
            <p>Ut quis facilisis enim. Maecenas vehicula, lacus eget viverra consectetur, lorem mi sagittis
                risus, vel
                sodales risus tellus non justo. Nulla at lorem vel metus luctus elementum. In tincidunt
                finibus varius.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis id lectus quis
                rutrum. Vivamus
                feugiat tortor a libero pretium, id feugiat libero faucibus. Etiam quis metus volutpat,
                facilisis metus
                in, mollis justo. Maecenas molestie nulla metus, in malesuada mi imperdiet sed.</p>
            <p>Nam semper ac augue vel dignissim. Aenean porttitor odio id pellentesque efficitur. Cras
                sagittis magna
                dui, nec varius ligula accumsan a. Suspendisse at consectetur dui. Mauris finibus tempor
                fringilla. Sed
                rutrum urna et tincidunt ultricies. Quisque placerat nunc nec nisi ullamcorper, et
                consequat arcu
                eleifend.</p>
            <p>Quisque mattis leo a sollicitudin tempus. Nullam risus arcu, consequat eget lorem ut, auctor
                scelerisque
                urna. Aliquam pharetra, magna non interdum vulputate, sapien metus auctor nulla, sit
                amet porta orci
                turpis ornare augue. Nunc ullamcorper purus quis pretium imperdiet. Fusce viverra
                sollicitudin risus, eu
                dapibus tortor fermentum quis. Etiam in orci eleifend, ultrices nisi ut, accumsan lacus.
                Sed a imperdiet
                diam. Aliquam in ligula ut sem lacinia porta. Fusce lacinia urna eleifend magna
                efficitur aliquet.</p>
        </div>
        <div class="col-12 col-lg-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at facilisis metus. Sed
                porttitor posuere
                vehicula. Nullam aliquet accumsan purus, dignissim gravida leo egestas quis. Proin ante
                mauris, aliquam
                vitae felis quis, finibus mattis nunc. Ut eget aliquam dui, non dapibus nulla. Donec eu
                dapibus est, in
                posuere lorem. Donec laoreet ornare dictum. Donec ut ultricies ante, vel tempor eros.
                Nullam quis enim
                sit amet orci imperdiet convallis.</p>
            <p>Mauris at lectus rhoncus, mollis elit eu, tincidunt diam. Integer egestas convallis justo,
                vitae
                consectetur felis tempor non. Vestibulum velit risus, ultrices a luctus ut, vehicula id
                arcu. Sed ornare
                ac velit at dictum. Suspendisse lacinia mi metus, vel viverra mi finibus quis. Aliquam
                aliquam ligula at
                fermentum facilisis. Morbi id cursus est. Etiam dictum malesuada varius. Cras lobortis
                dignissim
                bibendum. Aliquam ac sollicitudin nisi. Suspendisse fringilla a justo vel lobortis.
                Nulla consequat
                tortor volutpat, accumsan augue quis, maximus purus. Sed dapibus rhoncus nisl, at
                malesuada nulla tempus
                vitae. Vivamus elementum blandit gravida.</p>
            <p>Ut quis facilisis enim. Maecenas vehicula, lacus eget viverra consectetur, lorem mi sagittis
                risus, vel
                sodales risus tellus non justo. Nulla at lorem vel metus luctus elementum. In tincidunt
                finibus varius.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis id lectus quis
                rutrum. Vivamus
                feugiat tortor a libero pretium, id feugiat libero faucibus. Etiam quis metus volutpat,
                facilisis metus
                in, mollis justo. Maecenas molestie nulla metus, in malesuada mi imperdiet sed.</p>
            <p>Nam semper ac augue vel dignissim. Aenean porttitor odio id pellentesque efficitur. Cras
                sagittis magna
                dui, nec varius ligula accumsan a. Suspendisse at consectetur dui. Mauris finibus tempor
                fringilla. Sed
                rutrum urna et tincidunt ultricies. Quisque placerat nunc nec nisi ullamcorper, et
                consequat arcu
                eleifend.</p>
            <p>Quisque mattis leo a sollicitudin tempus. Nullam risus arcu, consequat eget lorem ut, auctor
                scelerisque
                urna. Aliquam pharetra, magna non interdum vulputate, sapien metus auctor nulla, sit
                amet porta orci
                turpis ornare augue. Nunc ullamcorper purus quis pretium imperdiet. Fusce viverra
                sollicitudin risus, eu
                dapibus tortor fermentum quis. Etiam in orci eleifend, ultrices nisi ut, accumsan lacus.
                Sed a imperdiet
                diam. Aliquam in ligula ut sem lacinia porta. Fusce lacinia urna eleifend magna
                efficitur aliquet.</p>
        </div>
        <div class="col-12 col-lg-12">
            <p id="title" style="color: red;"> Aquí tiene que dirigir el link</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at facilisis metus. Sed
                porttitor posuere
                vehicula. Nullam aliquet accumsan purus, dignissim gravida leo egestas quis. Proin ante
                mauris, aliquam
                vitae felis quis, finibus mattis nunc. Ut eget aliquam dui, non dapibus nulla. Donec eu
                dapibus est, in
                posuere lorem. Donec laoreet ornare dictum. Donec ut ultricies ante, vel tempor eros.
                Nullam quis enim
                sit amet orci imperdiet convallis.</p>
            <p>Mauris at lectus rhoncus, mollis elit eu, tincidunt diam. Integer egestas convallis justo,
                vitae
                consectetur felis tempor non. Vestibulum velit risus, ultrices a luctus ut, vehicula id
                arcu. Sed ornare
                ac velit at dictum. Suspendisse lacinia mi metus, vel viverra mi finibus quis. Aliquam
                aliquam ligula at
                fermentum facilisis. Morbi id cursus est. Etiam dictum malesuada varius. Cras lobortis
                dignissim
                bibendum. Aliquam ac sollicitudin nisi. Suspendisse fringilla a justo vel lobortis.
                Nulla consequat
                tortor volutpat, accumsan augue quis, maximus purus. Sed dapibus rhoncus nisl, at
                malesuada nulla tempus
                vitae. Vivamus elementum blandit gravida.</p>
            <p>Ut quis facilisis enim. Maecenas vehicula, lacus eget viverra consectetur, lorem mi sagittis
                risus, vel
                sodales risus tellus non justo. Nulla at lorem vel metus luctus elementum. In tincidunt
                finibus varius.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis id lectus quis
                rutrum. Vivamus
                feugiat tortor a libero pretium, id feugiat libero faucibus. Etiam quis metus volutpat,
                facilisis metus
                in, mollis justo. Maecenas molestie nulla metus, in malesuada mi imperdiet sed.</p>
            <p>Nam semper ac augue vel dignissim. Aenean porttitor odio id pellentesque efficitur. Cras
                sagittis magna
                dui, nec varius ligula accumsan a. Suspendisse at consectetur dui. Mauris finibus tempor
                fringilla. Sed
                rutrum urna et tincidunt ultricies. Quisque placerat nunc nec nisi ullamcorper, et
                consequat arcu
                eleifend.</p>
            <p>Quisque mattis leo a sollicitudin tempus. Nullam risus arcu, consequat eget lorem ut, auctor
                scelerisque
                urna. Aliquam pharetra, magna non interdum vulputate, sapien metus auctor nulla, sit
                amet porta orci
                turpis ornare augue. Nunc ullamcorper purus quis pretium imperdiet. Fusce viverra
                sollicitudin risus, eu
                dapibus tortor fermentum quis. Etiam in orci eleifend, ultrices nisi ut, accumsan lacus.
                Sed a imperdiet
                diam. Aliquam in ligula ut sem lacinia porta. Fusce lacinia urna eleifend magna
                efficitur aliquet.</p>
        </div>
    </div>
</div>
</div>