<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <h1>Tablas de equivalencia</h1>
        </div>
    </div>
    <hr>
<div class="col-12 col-lg-12 ml-a mr-a">
            <ul class="list-group texto-tabla">
                <li class="list-group-item"><a target="_blank" href="public_html/documents/tabla-de-evaluacion-concurso-de-oposicion/equivalencia_ha.pdf" title="Tabla de Equivalencia para Dispensa de Grado. División de Humanidades y Artes">Tabla de Equivalencia para Dispensa de Grado (Maestría y Doctorado) para ser Profesores e Investigadores de Carrera. División de Humanidades y Artes</a></li>
                <li class="list-group-item"><a target="_blank" href="public_html/documents/tabla-de-evaluacion-concurso-de-oposicion/equivalencia_cs.pdf" title="Tabla de Equivalencia para Dispensa de Grado. División de Ciencias Sociales">Tabla de Equivalencia para Dispensa de Grado para Ingreso y Promoción de Profesores de Carrera de Tiempo Completo. División de Ciencias Sociales</a></li>
                <li class="list-group-item"><a target="_blank" href="public_html/documents/tabla-de-evaluacion-concurso-de-oposicion/equivalencia_cfmi.pdf" title="Tabla de Equivalencia para Dispensa de Grado. División de Ciencias Físico-Matemáticas y de las Ingenierías">Tabla de Equivalencia para Dispensa de Grado  (Maestría y Doctorado) para Ingreso y Promoción de Profesores de Carrera de Tiempo Completo. División de Ciencias Físico-Matemáticas y de las Ingenierías</a></li>
            </ul>
        </div>
</div>
