<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <h1>Tablas de evaluación de los concursos de oposición</h1>
        </div>
    </div>
    <hr>
<div class="col-12 col-lg-12 ml-a mr-a">
            <ul class="list-group texto-tabla">
                <li class="list-group-item"><a target="_blank" href="public_html/documents/tabla-de-evaluacion-concurso-de-oposicion/tablas-de-evaluacion-de-coa-profesores-de-carrera-cfmi.pdf" title="Tablas de Evaluación de COA profesores de carrera CFMI">Tablas de Evaluación de COA profesores de carrera CFMI</a></li>
                <li class="list-group-item"><a target="_blank" href="public_html/documents/tabla-de-evaluacion-concurso-de-oposicion/tablas-de-evaluacion-de-coa-profesores-de-asignatura-cfmi.pdf" title="Tablas de Evaluación de COA profesores de asignatura CFMI">Tablas de Evaluación de COA profesores de asignatura CFMI</a></li>
                <li class="list-group-item"><a target="_blank" href="public_html/documents/tabla-de-evaluacion-concurso-de-oposicion/tablas-de-evaluacion-de-coa-profesores-de-carrera-cs.pdf" title="ablas de Evaluación de COA profesores de carrera CS">Tablas de Evaluación de COA profesores de carrera CS</a></li>
                <li class="list-group-item"><a target="_blank" href="public_html/documents/tabla-de-evaluacion-concurso-de-oposicion/tablas-de-evaluacion-de-coa-profesores-de-asignatura-cs.pdf" title="Tablas de Evaluación de COA profesores de asignatura CS">Tablas de Evaluación de COA profesores de asignatura CS</a></li>
                <li class="list-group-item"><a target="_blank" href="public_html/documents/tabla-de-evaluacion-concurso-de-oposicion/tablas-de-evaluacion-de-coa-profesores-de-carrera-hya.pdf" title="Tablas de Evaluación de COA profesores de carrera HyA">Tablas de Evaluación de COA profesores de carrera HyA</a></li>
                <li class="list-group-item"><a target="_blank" href="public_html/documents/tabla-de-evaluacion-concurso-de-oposicion/tablas-de-evaluacion-de-coa-profesores-de-asignatura-hya.pdf" title="Educaci&oacute;n continua">Tablas de Evaluación de COA profesores de asignatura Hya</a></li>
                <li class="list-group-item"><a target="_blank" href="public_html/documents/tabla-de-evaluacion-concurso-de-oposicion/tablas-de-evaluacion-coa-para-tecnicos-academicos.pdf" title="Tablas de Evaluación COA para Técnicos Académicos">Tablas de Evaluación COA para Técnicos Académicos</a></li>
        </div>
</div>
