<!-- C&oacute;mputo FESAR -->
<div class="container content">
    <hr>
    <div class="row encabezado">
        <div class="col-lg-12 encabezado-titulo animated bounceInUp">
            <svg class="icon-encabezado" style="width: 50px;height: 50px;">
                <use xlink:href="public_html/img/menu_rapido/unidad-de-sistemas/unidad-de-sistemas.svg#unidad-de-sistemas"></use>
            </svg>
            <h1> Unidad de Sistemas y Servicios de C&oacute;mputo  </h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-lg-9">
            <p>La Unidad de Sistemas y Servicios de C&oacute;mputo de la FES Arag&oacute;n es la que se encarga de tener a la vanguardia las demandas en Tecnolog&iacute;as de la Informaci&oacute;n (TI), as&iacute; como de actualizar frecuentemente los equipos de c&oacute;mputo y equipos de telecomunicaciones. </p>
            <p>El objetivo de esta &aacute;rea es resolver y dar soluciones a los problemas de TI que la comunidad de nuestra Facultad pueda tener, mejorar los sistemas para que funcionen en forma &oacute;ptima y reparar de la mejor manera los equipos para evitar que sean reemplazados.</p>
            <p >Entre las funciones de la Unidad est&aacute;n: </p>
            <ul>
                <li>Asignaci&oacute;n de salas para clases curriculares a las 15 carreras del plantel.</li>
                <li>Asignaci&oacute;n de salas para cursos intersemestrales de las 15 carreras y otros departamentos que solicitan espacios.</li>
                <li>Programaci&oacute;n e impartici&oacute;n de cursos de computaci&oacute;n del personal acad&eacute;mico del Centro de C&oacute;mputo para la capacitaci&oacute;n al personal administrativo de la UNAM, tanto de periodos ordinarios como intersemestrales.</li>
                <li>Programaci&oacute;n e impartici&oacute;n de Diplomado anual de computaci&oacute;n para actualizaci&oacute;n a profesores de la UNAM por parte del personal acad&eacute;mico del Centro de c&oacute;mputo.</li>
                <li>Programaci&oacute;n e impartici&oacute;n de cursos de computaci&oacute;n por parte del personal acad&eacute;mico del Centro de C&oacute;mputo para los alumnos de Derecho el cual es requisito para el proceso de titulaci&oacute;n. </li>
                <li>Instalaci&oacute;n y configuraci&oacute;n de software diverso para el uso de los profesores durante su clase. </li>
                <li>Servicio de Internet para los usuarios del Centro de C&oacute;mputo. </li>
                <li>Mantenimiento preventivo y correctivo al equipo de c&oacute;mputo del Centro de C&oacute;mputo. </li>
                <li>Mantenimiento preventivo y correctivo a la red interna del Centro de C&oacute;mputo. </li>
                <li>Apoyo en eventos relacionados con las instalaciones del Centro de C&oacute;mputo como son: TICOMETRO, cuestionarios en l&iacute;nea para alumnos de primer ingreso, evaluaci&oacute;n de profesores al final del semestre, etc. </li>
                <li>Adquisici&oacute;n anual de equipo de c&oacute;mputo para la renovaci&oacute;n constante del equipo que presta para el uso de la comunidad aragonesa.</li>
            </ul>
            <hr>
            <h2>Centro de c&oacute;mputo</h2>
            <p>El Centro de C&oacute;mputo Arag&oacute;n (CCA) es una instancia donde hay recursos de TI para apoyar especialmente al desarrollo acad&eacute;mico de la comunidad de la FES Arag&oacute;n y, en general, al resto de la sociedad universitaria. Cuenta con nueve aulas y m&aacute;s de 283 equipos, en su mayor&iacute;a estaciones de trabajo tipo PC y todas ellas conectadas a Internet.</p>
            <p>La FES Arag&oacute;n tiene acceso a la Red Inal&aacute;mbrica Universitaria (RIU), que es el servicio de Internet que ofrece la UNAM para apoyar a la docencia, la investigaci&oacute;n y la difusi&oacute;n de la cultura. La p&aacute;gina para m&aacute;s informaci&oacute;n se encuentra en <a style="color: #0069d9;" href="http://www.riu.unam.mx/" target="_blank">www.riu.unam.mx</a>, donde se puede encontrar informaci&oacute;n para gestionar una cuenta para acceder a la conexi&oacute;n as&iacute; como informaci&oacute;n sobre la conexi&oacute;n. </p>
        </div>
        <div class="col-12 col-lg-3 seccion-informacion">
            <p><strong>Responsable</strong></p>
            <p>Juan Manuel Arellano Orozco</p>
            <img class="d-flex justify-content-center rounded-circle img-responsable" src="public_html/img/menu_rapido/computo-fesar.jpg" alt="Juan Manuel Arellano Orozco"/>
            <p><strong>Horario </strong></p>
            <ul class="text-left">
                <li>Unidad de Sistemas y Servicios de C&oacute;mputo: de lunes a viernes de 09:00 a 15:00 h y de 17:00 a 21:00h</li>
                <li>Centro de C&oacute;mputo: de lunes a viernes de 09:00 a 21:00 h, s&aacute;bado de 08:00 a 14:00 h</li>
                <li>Laboratorios de FUNAM: de lunes a viernes de 7:00 a 22:00 h, s&aacute;bados de 8:00 a 14:00 h</li>
            </ul>
            <strong> Tel&eacute;fonos</strong>
            <p style="margin-bottom: 0px;">55 5623 0222</p> <p>Ext. 30921</p>
            <p style="margin-bottom: 0px;">55 5796 1932</p>
            <strong> Correo electr&oacute;nico</strong>
            <p class="fs-12">sistemas@aragon.unam.mx</p>
            <a class="btn boton-registro" ui-sref="boletines_de_centro_de_computo({anio:'2022'})" title="Boletines">Boletines</a>
        </div>
    </div>
</div> 

