<style>

@media (max-width: 720px) {
  .email {
    font-size: 12px;
  }
}
   
</style>
<div class="container content">
    <hr>
    <div class="row encabezado">
        <div class="col-lg-12 encabezado-titulo animated bounceInUp">
            <h1>Procesos de elección de consejeros universitarios (representantes del profesorado y del alumnado)</h1>
        </div>
    </div>
    <hr>
    <div class="row portafolio justify-content-center">
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-12 col-lg-5">
                    <a href="public_html/documents/votaciones/conv_alum_cu.pdf" target="_blank" title="convocatoria">
                <img src="public_html/img/slider-p/votaciones/convocatoria-eleccion-de-representantes--del-alumnado-ante-el-h.-consejo-universitario-2022-2024.png" class="br-15 img-fluid image" alt="convocatoria"/>
            </a>
                </div>
                <div class="contenedor-imagen col-12 col-lg-5">
                    <a href="public_html/documents/votaciones/convocatoria_rep_profesorado.pdf" target="_blank" title="convocatoria">
                <img src="public_html/img/slider-p/votaciones/convocatoria-eleccion-de-representantes--del-profesorado-ante-el-h.-consejo-universitario-2022-2026.png" class="br-15 img-fluid image" alt="convocatoria"/>
            </a>
                </div>
            </div>
    </div>
    <div class="row portafolio justify-content-center">
        <div class="col-12 col-md-8">
            <h2>Padrón de electores (alumnado)</h2>
            <hr>
            <div class="row galeria justify-content-star">
                <div class="contenedor-imagen col-6 col-lg-3 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_elec_arq_di.pdf" target="_blank" title="Listado Electores Arquitectura y Diseño Industrial">
                        <img src="public_html/img/slider-p/votaciones/arq_di.png" class="br-15 img-fluid image" alt="Listado Electores Arquitectura y Diseño Industrial"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-6 col-lg-3 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_elec_rri_soc_cyp.pdf" target="_blank" title="Listado Electores RRII, Sociología y Comunicación y Periodismo">
                        <img src="public_html/img/slider-p/votaciones/rri_soc_cyp.png" class="br-15 img-fluid image" alt="Listado Electores RRII, Sociología y Comunicación y Periodismo"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-6 col-lg-3 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_elec_derecho.pdf" target="_blank" title="Listado Electores Derecho">
                        <img src="public_html/img/slider-p/votaciones/derecho.png" class="br-15 img-fluid image" alt="Listado Electores Derecho"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-6 col-lg-3 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_elec_economia.pdf" target="_blank" title="Listado Electores Economía">
                        <img src="public_html/img/slider-p/votaciones/economia.png" class="br-15 img-fluid image" alt="Listado Electores Economía"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-6 col-lg-3 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_elec_pedagogia.pdf" target="_blank" title="Listado Electores Pedagogía">
                        <img src="public_html/img/slider-p/votaciones/pedagogia.png" class="br-15 img-fluid image" alt="Listado Electores Pedagogía"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-6 col-lg-3 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_elec_ingenierias.pdf" target="_blank" title="Listado Electores Ingenierías">
                        <img src="public_html/img/slider-p/votaciones/ingenierias.png" class="br-15 img-fluid image" alt="Listado Electores Ingenierías"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-6 col-lg-3 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_elec_pda.pdf" target="_blank" title="Listado Electores PDA">
                        <img src="public_html/img/slider-p/votaciones/pda.png" class="br-15 img-fluid image" alt="Listado Electores PDA"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row portafolio justify-content-center">
        <div class="col-12 col-md-8">
            <h2>Listado de elegibles (alumnado)</h2>
            <hr>
            <div class="row galeria justify-content-star">
                <div class="contenedor-imagen col-6 col-lg-3 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_eleg_arq_di.pdf" target="_blank" title="Listado Electores Arquitectura y Diseño Industrial">
                        <img src="public_html/img/slider-p/votaciones/arq_di.png" class="br-15 img-fluid image" alt="Listado Electores Arquitectura y Diseño Industrial"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-6 col-lg-3 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_eleg_rri_soc_cyp.pdf" target="_blank" title="Listado Electores RRII, Sociología y Comunicación y Periodismo">
                        <img src="public_html/img/slider-p/votaciones/rri_soc_cyp.png" class="br-15 img-fluid image" alt="Listado Electores RRII, Sociología y Comunicación y Periodismo"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-6 col-lg-3 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_eleg_derecho.pdf" target="_blank" title="Listado Electores Derecho">
                        <img src="public_html/img/slider-p/votaciones/derecho.png" class="br-15 img-fluid image" alt="Listado Electores Derecho"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-6 col-lg-3 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_eleg_economia.pdf" target="_blank" title="Listado Electores Economía">
                        <img src="public_html/img/slider-p/votaciones/economia.png" class="br-15 img-fluid image" alt="Listado Electores Economía"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-6 col-lg-3 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_eleg_pedagogia-2.pdf" target="_blank" title="Listado Electores Pedagogía">
                        <img src="public_html/img/slider-p/votaciones/pedagogia.png" class="br-15 img-fluid image" alt="Listado Electores Pedagogía"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-6 col-lg-3 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_eleg_ingenierias.pdf" target="_blank" title="Listado Electores Ingenierías">
                        <img src="public_html/img/slider-p/votaciones/ingenierias.png" class="br-15 img-fluid image" alt="Listado Electores Ingenierías"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-6 col-lg-3 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_eleg_pda.pdf" target="_blank" title="Listado Electores PDA">
                        <img src="public_html/img/slider-p/votaciones/pda.png" class="br-15 img-fluid image" alt="Listado Electores PDA"/>
                    </a>
                </div>
            </div>
            <br>
            <h5 class="email">Correo electrónico: consejerosuniversitarios@aragon.unam.mx</h5>
        </div>
    </div>
    <div class="row portafolio justify-content-center">
        <div class="col-12 col-md-8">
    <hr>
        </div>
    </div>
    <div class="row portafolio justify-content-center">
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-12 col-lg-4">
                    <a href="public_html/documents/votaciones/listado-de-elegibles-profesorado.pdf" target="_blank" title="Listado de elegibles (profesorado)">
                        <img src="public_html/img/slider-p/votaciones/listado-de-elegibles-profesorado.jpg" class="br-15 img-fluid image" alt="Listado de elegibles (profesorado)"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-12 col-lg-4">
                    <a href="public_html/documents/votaciones/padron-de-electores-profesorado.pdf" target="_blank" title="Padrón de electores (profesorado)">
                        <img src="public_html/img/slider-p/votaciones/padron-de-electores-profesorado.jpg" class="br-15 img-fluid image" alt="Padrón de electores (profesorado)"/>
                    </a>
                </div>
            </div>
    </div>
    <div class="row portafolio justify-content-center">
        <div class="col-12 col-md-8">
    <hr>
        </div>
    </div>
    <div class="row portafolio justify-content-center">
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-12 col-lg-10">
                    <a href="public_html/documents/votaciones/convocatoria-eleccion-de-los-representantes-del-profesorado-por-el-conjunto-de-las-facultades-de-estudios-superiores.pdf" target="_blank" title="formato">
                        <img src="public_html/img/slider-p/votaciones/convocatoria-eleccion-de-los-representantes-del-profesorado-por-el-conjunto-de-las-facultades-de-estudios-superiores.png" class="br-15 img-fluid image" alt="formato"/>
                    </a>
                </div>
            </div>
    </div>
    <div class="row portafolio justify-content-center">
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-12 col-lg-4">
                    <a href="public_html/documents/votaciones/listado-de-elegibles-profesorado-por-el-conjunto-de-las-fes.pdf" target="_blank" title="Listado de elegibles (profesorado)">
                        <img src="public_html/img/slider-p/votaciones/listado-de-elegibles-profesorado-por-el-conjunto-de-las-fes.png" class="br-15 img-fluid image" alt="Listado de elegibles (profesorado)"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-12 col-lg-4">
                    <a href="public_html/documents/votaciones/padron-de-electores-profesorado-por-el-conjunto-de-las-fes.pdf" target="_blank" title="Padrón de electores (profesorado)">
                        <img src="public_html/img/slider-p/votaciones/padron-de-electores-profesorado-por-el-conjunto-de-las-fes.png" class="br-15 img-fluid image" alt="Padrón de electores (profesorado)"/>
                    </a>
                </div>
            </div>
    </div>
    <div class="row portafolio justify-content-center">
        <div class="col-12 col-md-8">
    <hr>
        </div>
    </div>

    <div class="row portafolio justify-content-center">
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-12 col-lg-10">
                    <a href="https://www.caacfmi.unam.mx/documents/elecciones2021/CU_Alumnos-FES-ACFMI_Convocatoria.pdf  " target="_blank" title="formato">
                        <img src="public_html/img/slider-p/votaciones/convocatoria-fis-mat.jpg" class="br-15 img-fluid image" alt="formato"/>
                    </a>
                </div>
            </div>
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-12 col-lg-3">
                    <a href="https://www.caacfmi.unam.mx/documents/elecciones2021/CU_Alumnos-FES-ACFMI_Elegibles.pdf" target="_blank" title="Listado de elegibles (profesorado)">
                        <img src="public_html/img/slider-p/votaciones/listado-elegibles.jpg" class="br-15 img-fluid image" alt="Listado de elegibles (profesorado)"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-12 col-lg-3">
                    <a href="https://www.caacfmi.unam.mx/documents/elecciones2021/CU_Alumnos-FES-ACFMI_Electores.pdf" target="_blank" title="Padrón de electores (profesorado)">
                        <img src="public_html/img/slider-p/votaciones/padron-electores.jpg" class="br-15 img-fluid image" alt="Padrón de electores (profesorado)"/>
                    </a>
                </div>
            </div>
    </div>
    <div class="row portafolio justify-content-center">
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-12 col-lg-10">
                    <hr>
                    <a href="https://www.caacs.unam.mx/files/Elecciones/2021/Convocatoria%20Alumnado%20Conjunto%20FES%20CU.pdf  " target="_blank" title="formato">
                        <img src="public_html/img/slider-p/votaciones/convocatoria-ciencias-sociales.jpg" class="br-15 img-fluid image" alt="formato"/>
                    </a>
                </div>
            </div>
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-12 col-lg-3">
                    <a href="https://www.caacs.unam.mx/files/Elecciones/2021/cons_elegCU_area3_UM_20221.pdf" target="_blank" title="Listado de elegibles (profesorado)">
                        <img src="public_html/img/slider-p/votaciones/listado-elegibles.jpg" class="br-15 img-fluid image" alt="Listado de elegibles (profesorado)"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-12 col-lg-3">
                    <a href="https://www.caacs.unam.mx/files/Elecciones/2021/cons_elecCU_area3_UM_20221.pdf" target="_blank" title="Padrón de electores (profesorado)">
                        <img src="public_html/img/slider-p/votaciones/padron-electores.jpg" class="br-15 img-fluid image" alt="Padrón de electores (profesorado)"/>
                    </a>
                </div>
            </div>
    </div>
    <div class="row portafolio justify-content-center">
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-12 col-lg-10">
                    <hr>
                    <a href="https://www.caahya.unam.mx/files/Elecciones/Elecciones2021/Convocatoria%20Alumnado%20FES%20CAAHyA.pdf" target="_blank" title="formato">
                        <img src="public_html/img/slider-p/votaciones/convocatoria-humanidades-y-artes.jpg" class="br-15 img-fluid image" alt="formato"/>
                    </a>
                </div>
            </div>
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-12 col-lg-3">
                    <a href="https://www.caahya.unam.mx/files/Elecciones/Elecciones2021/Lista%20de%20elegibles%20FES%20CAAHyA.pdf" target="_blank" title="Listado de elegibles (profesorado)">
                        <img src="public_html/img/slider-p/votaciones/listado-elegibles.jpg" class="br-15 img-fluid image" alt="Listado de elegibles (profesorado)"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-12 col-lg-3">
                    <a href="https://www.caahya.unam.mx/files/Elecciones/Elecciones2021/Padron%20de%20electores%20FES%20CAAHyA.pdf" target="_blank" title="Padrón de electores (profesorado)">
                        <img src="public_html/img/slider-p/votaciones/padron-electores.jpg" class="br-15 img-fluid image" alt="Padrón de electores (profesorado)"/>
                    </a>
                </div>
            </div>
    </div>
    <div class="row portafolio justify-content-center">
        <div class="col-12 col-md-8">
    <hr>
        </div>
    </div>
    <div class="row portafolio justify-content-center">
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-12 col-lg-10">
                    <a href="https://elecciones.consejo.unam.mx/material_cu.php" target="_blank" title="formato">
                        <img src="public_html/img/slider-p/votaciones/formatos.png" class="br-15 img-fluid image" alt="formato"/>
                    </a>
                </div>
            </div>
    </div>
</div>