<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <h1>Convocatorias de proceso de elecciones</h1>
        </div>
    </div>
    <hr>
    <div class="row portafolio justify-content-center">
        <div class="row galeria justify-content-center">
            <div class="contenedor-imagen col-12 col-lg-8 br-15 pt-4">
                <a href="public_html/documents/votaciones/elecciones-conv-catafecs.pdf" target="_blank" title="Convocatoria">
                    <img src="public_html/img/votaciones/elecciones-conv-catafecs.png" class="br-15 img-fluid image" alt="Convocatoria"/>
                </a>
            </div>
            <div class="contenedor-imagen col-12 col-lg-8 br-15 pt-4">
                <a href="public_html/documents/votaciones/elecciones-conv-catafeha.pdf" target="_blank" title="Convocatoria">
                    <img src="public_html/img/votaciones/elecciones-conv-catafeha.png" class="br-15 img-fluid image" alt="Convocatoria"/>
                </a>
            </div>
            <div class="contenedor-imagen col-12 col-lg-8 br-15 pt-4">
                <a href="public_html/documents/votaciones/elecciones-conv-cataicha.pdf" target="_blank" title="Convocatoria">
                    <img src="public_html/img/votaciones/elecciones-conv-cataicha.png" class="br-15 img-fluid image" alt="Convocatoria"/>
                </a>
            </div>
        </div>
    </div>
</div>

