<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <h1>Proceso de Elecciones del Conjunto de las Facultades de Estudios Superiores</h1>
        </div>
    </div>
    <hr>
    <div class="row portafolio justify-content-center">
        <div class="col-12 col-lg-12 pb-5 pm-3">
            <img src="public_html/img/votaciones/convocatoria-consejerxs-alumnado-posgrado.png" class="img-fluid"
              alt="PROCESO DE ELECCIONES">
          </a>
        </div>
    <div class="row portafolio justify-content-center">
        <div class="col-12 col-lg-12 pt-3 link-act">
            <ul>
                <li>
                      
                    <a
                        target="_blank" href="public_html/documents/votaciones/proceso-de-elecciones-conjunto-fes/0-cu_alumnado-posgrado-acfmi_2024_convocatoria.pdf">Convocatoria
                        para la elección de Consejeras y Consejeros Representantes
                        del Área de las Ciencias Físico
                        Matemáticas y de las Ingenierías ante el H. Consejo Universitario </a></li>
                <li>
                      
                    <a
                        target="_blank" href="public_html/documents/votaciones/proceso-de-elecciones-conjunto-fes/1-cu_alumnado-posgrado-acfmi_2024_electores.pdf">
                        Padrón de alumnas y alumnos electores para la elección de representantes ante el Consejo Universitario</a></li>
                <li>
                      
                    <a
                        target="_blank" href="public_html/documents/votaciones/proceso-de-elecciones-conjunto-fes/2-cu_alumnos-posgrado-acfmi_2024_elegibles.pdf">
                        Lista de alumnas y alumnos elegibles para la elección de representantes ante el Consejo Universitario
                     </a></li>
            </ul>
        </div>
    </div>
</div>