<style>
    .formatos a {
        color: #007bff;
        text-decoration-line: underline;
    }

    .formatos h6 {
        margin-top: 25px;
        margin-bottom: 0px;
    }

    .formatos hr {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .btn-block {
    border: 0px;
  }

    @media (max-width: 720px) {
        .email {
            font-size: 12px;
        }
    }
</style>

<div class="container content formatos">
  <hr>
  <div class="row encabezado">
    <div class="col-lg-12 encabezado-titulo animated bounceInUp">
      <h1>Proceso de Elecciones FES ARAGÓN</h1>
    </div>
  </div>
  <hr>
  <div class="row portafolio justify-content-center">
    <div class="col-12 col-lg-12 pb-5 pm-3">
        <img src="public_html/img/slider_principal/proceso-de-elecciones-votacion.png" class="img-fluid"
          alt="PROCESO DE ELECCIONES">
      </a>
    </div>
    <div class="col-12 col-md-12 pt-4">
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="convocatoria1">
            <h2 class="mb-0">
              <button class="btn-link btn-block text-left preg" data-toggle="collapse" data-target="#collapse1"
                aria-expanded="true" aria-controls="collapse1">
                <p><strong>ELECCIÓN DE CONSEJERAS Y CONSEJEROS, REPRESENTANTES DEL ALUMNADO DE LA FES ARAGÓN, ANTE EL H. CONSEJO UNIVERSITARIO, PERÍODO 2024-2026</strong></p>
              </button>
            </h2>
          </div>

          <div id="collapse1" class="collapse show" aria-labelledby="convocatoria1" data-parent="#accordionExample">
            <div class="card-body">
              <a href="public_html/documents/votaciones/2024/conv_cu_alum.pdf" target="_blank">CONVOCATORIA</a>
              <!--<h4> <center>PROFESORES<center> </h4>-->
              <hr>
              <h7><b>ÁREA DE CONOCIMIENTO: CIENCIAS FÍSICO MATEMÁTICAS Y DE LAS INGENIERÍAS</b></h7>
              <hr>
              <h9><i>INGENIERÍA CIVIL, INGENIERÍA EN COMPUTACIÓN, INGENIERÍA ELÉCTRICA ELECTRÓNICA, INGENIERÍA
                  INDUSTRIAL E INGENIERÍA MECÁNICA</i></h9>
              <ul>
                <li><a href="public_html/documents/votaciones/2024/list_eleg_ing.pdf" target="_blank">LISTADO DE
                    ELEGIBLES</a></li>
                <li><a href="public_html/documents/votaciones/2024/pad_elec_ing.pdf" target="_blank">PADRÓN DE
                    ELECTORES</a></li>
              </ul>
              <!--
                  <h9><i>INGENIERÍA CIVIL</i></h9>
                  <ul>
                      <li><a href="public_html/documents/votaciones/2023/list_eleg_ici.pdf"
                              target="_blank">LISTADO DE ELEGIBLES</a></li>
                      <li><a href="public_html/documents/votaciones/2023/pad_elec_ici.pdf"
                              target="_blank">PADRÓN DE ELECTORES</a></li>
                  </ul>
                  <h9><i>INGENIERÍA ELÉCTRICA ELECTRÓNICA</i></h9>
                  <ul>
                      <li><a href="public_html/documents/votaciones/2023/list_eleg_iee.pdf"
                              target="_blank">LISTADO DE ELEGIBLES</a></li>
                      <li><a href="public_html/documents/votaciones/2023/pad_elec_iee.pdf"
                              target="_blank">PADRÓN DE ELECTORES</a></li>
                  </ul>
                  <h9><i>INGENIERÍA EN COMPUTACIÓN</i></h9>
                  <ul>
                      <li><a href="public_html/documents/votaciones/2023/list_eleg_ico.pdf"
                              target="_blank">LISTADO DE ELEGIBLES</a></li>
                      <li><a href="public_html/documents/votaciones/2023/pad_elec_ico.pdf"
                              target="_blank">PADRÓN DE ELECTORES</a></li>
                  </ul>
                  <h9><i>INGENIERÍA INDUSTRIAL</i></h9>
                  <ul>
                      <li><a href="public_html/documents/votaciones/2023/list_eleg_ii.pdf"
                              target="_blank">LISTADO DE ELEGIBLES</a></li>
                      <li><a href="public_html/documents/votaciones/2023/pad_elec_ii.pdf"
                              target="_blank">PADRÓN DE ELECTORES</a></li>
                  </ul>
                  <h9><i>INGENIERÍA MECÁNICA</i></h9>
                  <ul>
                      <li><a href="public_html/documents/votaciones/2023/list_eleg_ime.pdf"
                              target="_blank">LISTADO DE ELEGIBLES</a></li>
                      <li><a href="public_html/documents/votaciones/2023/pad_elec_ime.pdf"
                              target="_blank">PADRÓN DE ELECTORES</a></li>
                  </ul>
                  -->
              <h7 class="pb-3"><b>ÁREA DE CONOCIMIENTO: CIENCIAS SOCIALES</b></h7>
              <hr>
              <h9><i>CIENCIAS POLÍTICAS (RELACIONES INTERNACIONALES, SOCIOLOGÍA Y COMUNICACIÓN Y PERIODISMO)</i></h9>
              <ul>
                <li><a href="public_html/documents/votaciones/2024/list_eleg_pol.pdf" target="_blank">LISTADO DE
                    ELEGIBLES</a></li>
                <li><a href="public_html/documents/votaciones/2024/pad_elec_pol.pdf" target="_blank">PADRÓN DE
                    ELECTORES</a></li>
              </ul>
              <h9><i>DERECHO</i></h9>
              <ul>
                <li><a href="public_html/documents/votaciones/2024/list_eleg_der.pdf" target="_blank">LISTADO DE
                    ELEGIBLES</a></li>
                <li><a href="public_html/documents/votaciones/2024/pad_elec_der.pdf" target="_blank">PADRÓN DE
                    ELECTORES</a></li>
              </ul>
              <h9><i>ECONOMÍA</i></h9>
              <ul>
                <li><a href="public_html/documents/votaciones/2024/list_eleg_eco.pdf" target="_blank">LISTADO DE
                    ELEGIBLES</a></li>
                <li><a href="public_html/documents/votaciones/2024/pad_elec_eco.pdf" target="_blank">PADRÓN DE
                    ELECTORES</a></li>
              </ul>
              <h9><i>PLANIFICACIÓN PARA EL DESARROLLO AGROPECUARIO</i></h9>
              <ul>
                <li><a href="public_html/documents/votaciones/2024/list_eleg_pda.pdf" target="_blank">LISTADO DE
                    ELEGIBLES</a></li>
                <li><a href="public_html/documents/votaciones/2024/pad_elec_pda.pdf" target="_blank">PADRÓN DE
                    ELECTORES</a></li>
              </ul>
              <!--
                  <h9><i>RELACIONES INTERNACIONALES</i></h9>
                  <ul>
                      <li><a href="public_html/documents/votaciones/2023/list_eleg_rrii.pdf"
                              target="_blank">LISTADO DE ELEGIBLES</a></li>
                      <li><a href="public_html/documents/votaciones/2023/pad_elec_rrii.pdf"
                              target="_blank">PADRÓN DE ELECTORES</a></li>
                  </ul>
                  <h9><i>SOCIOLOGÍA</i></h9>
                  <ul>
                      <li><a href="public_html/documents/votaciones/2023/list_eleg_soc.pdf"
                              target="_blank">LISTADO DE ELEGIBLES</a></li>
                      <li><a href="public_html/documents/votaciones/2023/pad_elec_soc.pdf"
                              target="_blank">PADRÓN DE ELECTORES</a></li>
                  </ul>
                  -->
              <h7 class="pb-3"><b>ÁREA DE CONOCIMIENTO: HUMANIDADES Y ARTES</b></h7>
              <hr>
              <h9><i>ARQUITECTURA Y DISEÑO INDUSTRIAL</i></h9>
              <ul>
                <li><a href="public_html/documents/votaciones/2024/list_eleg_arq.pdf" target="_blank">LISTADO DE
                    ELEGIBLES</a></li>
                <li><a href="public_html/documents/votaciones/2024/pad_elec_arq.pdf" target="_blank">PADRÓN DE
                    ELECTORES</a></li>
              </ul>
              <!--
                  <h9><i>DISEÑO INDUSTRIAL</i></h9>
                  <ul>
                      <li><a href="public_html/documents/votaciones/2023/list_eleg_di.pdf"
                              target="_blank">LISTADO DE ELEGIBLES</a></li>
                      <li><a href="public_html/documents/votaciones/2023/pad_elec_di.pdf"
                              target="_blank">PADRÓN DE ELECTORES</a></li>
                  </ul>
                  -->
              <h9><i>PEDAGOGÍA</i></h9>
              <ul>
                <li><a href="public_html/documents/votaciones/2024/list_eleg_ped.pdf" target="_blank">LISTADO DE
                    ELEGIBLES</a></li>
                <li><a href="public_html/documents/votaciones/2024/pad_elec_ped.pdf" target="_blank">PADRÓN DE
                    ELECTORES</a></li>
              </ul>
              <!--
                  <h7><b>POSGRADO</b></h7>
                  <hr>
                  <ul>
                      <li><a href="public_html/documents/votaciones/2023/list_eleg_pos.pdf"
                              target="_blank">LISTADO DE ELEGIBLES</a></li>
                      <li><a href="public_html/documents/votaciones/2023/pad_elec_pos.pdf"
                              target="_blank">PADRÓN DE ELECTORES</a></li>
                  </ul>
                  <h9><i>ESPECIALIZACIÓN EN DERECHO</i></h9>   
                  <ul>
                      <li><a href="public_html/documents/votaciones/2023/list_eleg_espder.pdf" target="_blank">LISTADO DE ELEGIBLES</a></li>
                      <li><a href="public_html/documents/votaciones/2023/pad_elec_espder.pdf" target="_blank">PADRÓN DE ELECTORES</a></li>
                  </ul>
        <h9><i>ESPECIALIZACIÓN EN PUENTES</i></h9>   
                  <ul>
                      <li><a href="public_html/documents/votaciones/2023/list_eleg_esppue.pdf" target="_blank">LISTADO DE ELEGIBLES</a></li>
                      <li><a href="public_html/documents/votaciones/2023/pad_elec_esppue.pdf" target="_blank">PADRÓN DE ELECTORES</a></li>
                  </ul>
        <h9><i>MAESTRÍA EN ARQUITECTURA</i></h9>   
                  <ul>
                      <li><a href="public_html/documents/votaciones/2023/list_eleg_marq.pdf" target="_blank">LISTADO DE ELEGIBLES</a></li>
                      <li><a href="public_html/documents/votaciones/2023/pad_elec_marq.pdf" target="_blank">PADRÓN DE ELECTORES</a></li>
                  </ul>        
        <h9><i>MAESTRÍA EN DERECHO</i></h9>   
                  <ul>
                      <li><a href="public_html/documents/votaciones/2023/list_eleg_mder.pdf" target="_blank">LISTADO DE ELEGIBLES</a></li>
                      <li><a href="public_html/documents/votaciones/2023/pad_elec_mder.pdf" target="_blank">PADRÓN DE ELECTORES</a></li>
                  </ul>  
        <h9><i>MAESTRÍA EN ECONOMÍA</i></h9>   
                  <ul>
                      <li><a href="public_html/documents/votaciones/2023/list_eleg_mec.pdf" target="_blank">LISTADO DE ELEGIBLES</a></li>
                      <li><a href="public_html/documents/votaciones/2023/pad_elec_mec.pdf" target="_blank">PADRÓN DE ELECTORES</a></li>
                  </ul>   
        <h9><i>MAESTRÍA EN INGENIERÍA</i></h9>   
                  <ul>
                      <li><a href="public_html/documents/votaciones/2023/list_eleg_ming.pdf" target="_blank">LISTADO DE ELEGIBLES</a></li>
                      <li><a href="public_html/documents/votaciones/2023/pad_elec_ming.pdf" target="_blank">PADRÓN DE ELECTORES</a></li>
                  </ul>             
        <h9><i>MAESTRÍA EN PEDAGOGÍA</i></h9>   
                  <ul>
                      <li><a href="public_html/documents/votaciones/2023/list_eleg_mped.pdf" target="_blank">LISTADO DE ELEGIBLES</a></li>
                      <li><a href="public_html/documents/votaciones/2023/pad_elec_mped.pdf" target="_blank">PADRÓN DE ELECTORES</a></li>
                  </ul>   
        <h9><i>MAESTRÍA EN POLÍTICA CRIMINAL</i></h9>   
                  <ul>
                      <li><a href="public_html/documents/votaciones/2023/list_eleg_mpc.pdf" target="_blank">LISTADO DE ELEGIBLES</a></li>
                      <li><a href="public_html/documents/votaciones/2023/pad_elec_mpc.pdf" target="_blank">PADRÓN DE ELECTORES</a></li>
                  </ul>             
        <h9><i>DOCTORADO EN ARQUITECTURA</i></h9>   
                  <ul>
                      <li><a href="public_html/documents/votaciones/2023/list_eleg_darq.pdf" target="_blank">LISTADO DE ELEGIBLES</a></li>
                      <li><a href="public_html/documents/votaciones/2023/pad_elec_darq.pdf" target="_blank">PADRÓN DE ELECTORES</a></li>
                  </ul>       
        <h9><i>DOCTORADO EN DERECHO</i></h9>   
                  <ul>
                      <li><a href="public_html/documents/votaciones/2023/list_eleg_dder.pdf" target="_blank">LISTADO DE ELEGIBLES</a></li>
                      <li><a href="public_html/documents/votaciones/2023/pad_elec_dder.pdf" target="_blank">PADRÓN DE ELECTORES</a></li>
                  </ul>                                                                 
        <h9><i>DOCTORADO EN ECONOMÍA</i></h9>   
                  <ul>
                      <li><a href="public_html/documents/votaciones/2023/list_eleg_dec.pdf" target="_blank">LISTADO DE ELEGIBLES</a></li>
                      <li><a href="public_html/documents/votaciones/2023/pad_elec_dec.pdf" target="_blank">PADRÓN DE ELECTORES</a></li>
                  </ul>       
        <h9><i>DOCTORADO EN PEDAGOGÍA</i></h9>   
                  <ul>
                      <li><a href="public_html/documents/votaciones/2023/list_eleg_dped.pdf" target="_blank">LISTADO DE ELEGIBLES</a></li>
                      <li><a href="public_html/documents/votaciones/2023/pad_elec_dped.pdf" target="_blank">PADRÓN DE ELECTORES</a></li>
                  </ul>       
                  <h7><b>DIVISIÓN DE UNIVERSIDAD ABIERTA, CONTINUA Y A DISTANCIA</b></h7>
                  <hr>
                  <ul>
                      <li><a href="public_html/documents/votaciones/2023/list_eleg_duacyd.pdf"
                              target="_blank">LISTADO DE ELEGIBLES</a></li>
                      <li><a href="public_html/documents/votaciones/2023/pad_elec_duacyd.pdf"
                              target="_blank">PADRÓN DE ELECTORES</a></li>
                  </ul>
                  <h9><i>DERECHO (SUAYED)</i></h9>   
                  <ul>
                      <li><a href="public_html/documents/votaciones/2023/list_eleg_dersua.pdf" target="_blank">LISTADO DE ELEGIBLES</a></li>
                      <li><a href="public_html/documents/votaciones/2023/pad_elec_dersua.pdf" target="_blank">PADRÓN DE ELECTORES</a></li>
                  </ul>
        <h9><i>ECONOMÍA (SUAYED)</i></h9>   
                  <ul>
                      <li><a href="public_html/documents/votaciones/2023/list_eleg_ecosua.pdf" target="_blank">LISTADO DE ELEGIBLES</a></li>
                      <li><a href="public_html/documents/votaciones/2023/pad_elec_ecosua.pdf" target="_blank">PADRÓN DE ELECTORES</a></li>
                  </ul>
        <h9><i>RELACIONES INTERNACIONALES (SUAYED)</i></h9>   
                  <ul>
                      <li><a href="public_html/documents/votaciones/2023/list_eleg_rriisua.pdf" target="_blank">LISTADO DE ELEGIBLES</a></li>
                      <li><a href="public_html/documents/votaciones/2023/pad_elec_rriisua.pdf" target="_blank">PADRÓN DE ELECTORES</a></li>
                  </ul>
                  <h7><b>CENTRO DE LENGUAS</b></h7>
                  <hr>
                  <ul>
                      <li><a href="public_html/documents/votaciones/2023/list_eleg_cle.pdf"
                              target="_blank">LISTADO DE ELEGIBLES</a></li>
                      <li><a href="public_html/documents/votaciones/2023/pad_elec_cle.pdf"
                              target="_blank">PADRÓN DE ELECTORES</a></li>
                  </ul>
                  <br>
                  <br>
                  <br>
                  <h4>
                      <center>TÉCNICOS ACADÉMICOS<center>
                  </h4>
                  <hr>
                  <ul>
                      <li><a href="public_html/documents/elecciones/ct/ct_list_eleg_ta2022.pdf"
                              target="_blank">LISTADO DE ELEGIBLES</a></li>
                      <li><a href="public_html/documents/elecciones/ct/ct_pad_elec_ta2022.pdf" target="_blank">PADRÓN
                              DE ELECTORES</a></li>
                  </ul>
                  <br>
                  <br>
                  <br>-->
              <h5>
                <center>FORMATOS PARA LA ELECCIÓN DE CONSEJERAS Y CONSEJEROS, REPRESENTANTES DEL ALUMNADO DE LA FES ARAGÓN, ANTE EL H. CONSEJO UNIVERSITARIO, PERÍODO 2024-2026<center>
              </h5>
              <hr>
              <ul class="descargas">
                <li>Solicitud de Registro de Fórmula <a href="public_html/documents/votaciones/2024/sol_reg.doc"
                    download="sol_reg.doc"> Descargar Archivo</a></li>
                <li>Designación de Representantes de Fórmula <a
                    href="public_html/documents/votaciones/2024/des_rep.doc" download="des_rep.doc"> Descargar
                    Archivo</a></li>
                <li>Constancia de Aceptación de Propaganda Electoral <a
                    href="public_html/documents/votaciones/2024/acep_prop.doc" download="acep_prop.doc"> Descargar
                    Archivo </a></li>
                <li>Solicitud de Ajuste o Corrección al Listado de Elegibles <a
                    href="public_html/documents/votaciones/2024/sol_ajusle.doc" download="sol_ajusle.doc"> Descargar
                    Archivo</a></li>
                <li>Solicitud de Ajuste o Corrección al Padrón de Electores <a
                    href="public_html/documents/votaciones/2024/sol_ajuspe.doc" download="sol_ajuspe.doc"> Descargar
                    Archivo</a></li>
                <li>Escrito de Recursos de Impugnación <a href="public_html/documents/votaciones/2024/rec_imp.doc"
                    download="rec_imp.doc"> Descargar Archivo</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!--<div class="card">
          <div class="card-header" id="convocatoria2">
            <h2 class="mb-0">
              <button class=" btn-link btn-block text-left preg collapsed" data-toggle="collapse"
                data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                <p><strong>ELECCIÓN ORDINARIA, EN MODALIDAD ELECTRÓNICA, DE DOS INTEGRANTES DE LA COMISIÓN
                    DICTAMINADORA DEL ÁREA DE LAS CIENCIAS FÍSICO MATEMÁTICAS Y DE LAS INGENIERÍAS DE LA
                    FACULTAD DE ESTUDIOS ARAGÓN</strong></p>
              </button>
            </h2>
          </div>
          <div id="collapse2" class="collapse" aria-labelledby="convocatoria2" data-parent="#accordionExample">
            <div class="card-body">
                <ul>
                    <li><a href="public_html/documents/elecciones/cd/conv_cd_fmi.pdf"
                            target="_blank">CONVOCATORIA</a></li>
                    <li><a href="public_html/documents/elecciones/cd/cd_list_eleg_fmi.pdf" target="_blank">LISTADO
                            DE ELEGIBLES</a></li>
                    <li><a href="public_html/documents/elecciones/cd/cd_pad_elec_fmi.pdf" target="_blank">PADRÓN DE
                            ELECTORES</a></li>
                </ul>
                <h7><center>FORMATOS PARA LA ELECCIÓN ORDINARIA, EN MODALIDAD ELECTRÓNICA, DE DOS INTEGRANTES DE LA COMISIÓN DICTAMINADORA DEL ÁREA DE LAS CIENCIAS FÍSICO MATEMÁTICAS Y DE LAS INGENIERÍAS DE LA FACULTAD DE ESTUDIOS ARAGÓN<center></h7>
                <hr>
                <ul class="descargas">
                    <li>Solicitud de Registro de Candidato<a href="public_html/documents/elecciones/cd/cd_fmi_sol_reg.docx"
                            download="cd_fmi_sol_reg.docx"> Descargar Archivo</a></li>
                    <li>Aceptación de Candidatura<a href="public_html/documents/elecciones/cd/cd_fmi_acep_cand.docx"
                            download="cd_fmi_acep_cand.docx"> Descargar Archivo</a></li>
                    <li>Designación de Representantes de Candidatura<a href="public_html/documents/elecciones/cd/cd_fmi_des_rep.docx"
                            download="cd_fmi_des_rep.docx"> Descargar Archivo</a></li>
                    <li>Constancia de Aceptación de Propaganda Electoral<a href="public_html/documents/elecciones/cd/cd_fmi_acep_prop.docx"
                            download="cd_fmi_acep_prop.docx"> Descargar Archivo</a></li>
                    <li>Solicitud de Ajuste o Corrección al Listado de Elegibles<a href="public_html/documents/elecciones/cd/cd_fmi_sol_ajusle.docx"
                            download="cd_fmi_sol_ajusle.docx"> Descargar Archivo</a></li>
                    <li>Solicitud de Ajuste o Corrección al Padrón de Electores<a href="public_html/documents/elecciones/cd/cd_fmi_sol_ajuspe.docx"
                            download="cd_fmi_sol_ajuspe.docx"> Descargar Archivo</a></li>
                    <li>Escrito de Recurso de Impugnación<a href="public_html/documents/elecciones/cd/cd_fmi_rec_imp.docx"
                            download="cd_fmi_rec_imp.docx"> Descargar Archivo</a></li>
                    <li>Escrito de Recurso de Reconsideración<a href="public_html/documents/elecciones/cd/cd_fmi_rec_rec.docx"
                            download="cd_fmi_rec_rec.docx"> Descargar Archivo</a></li>
                </ul>
            </div>
          </div>
        </div> -->
        <!--<div class="card">
          <div class="card-header" id="convocatoria3">
            <h2 class="mb-0">
              <button class=" btn-link btn-block text-left preg collapsed" data-toggle="collapse"
                data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                <p><strong>ELECCIÓN ORDINARIA, EN MODALIDAD ELECTRÓNICA, DE CONSEJEROS TÉCNICOS REPRESENTANTES DEL ALUMNADO DE LA FACULTAD DE ESTUDIOS
                    SUPERIORES ARAGÓN. PERIODO 2024-2026</strong></p>
              </button>
            </h2>
          </div>
          <div id="collapse3" class="collapse" aria-labelledby="convocatoria3" data-parent="#accordionExample">
            <div class="card-body">
                <ul class="pt-4 pm-3">
                    <li><a href=""
                            target="_blank">CONVOCATORIA</a></li>
                    <li><a href="" target="_blank">LISTADO DE
                            ELEGIBLES</a></li>
                    <li><a href="" target="_blank">PADRÓN DE
                            ELECTORES</a></li>
                </ul>
                <h7 class="pt-4" >FORMATOS PARA LA ELECCIÓN ORDINARIA, EN MODALIDAD ELECTRÓNICA, DE CONSEJEROS TÉCNICOS REPRESENTANTES DEL ALUMNADO DE LA FACULTAD DE ESTUDIOS
                    SUPERIORES ARAGÓN. PERIODO 2024-2026</h7>
                <hr>
                <ul class="descargas pt-4">
                    <li>Solicitud de Registro de Candidato<a href=""
                            download="cd_cs_sol_reg.docx"> Descargar Archivo</a></li>
                    <li>Aceptación de Candidatura<a href=""
                            download="cd_cs_acep_cand.docx"> Descargar Archivo</a></li>
                    <li>Designación de Representantes de Candidatura<a href=""
                            download="cd_cs_des_rep.docx"> Descargar Archivo</a></li>
                    <li>Constancia de Aceptación de Propaganda Electoral<a href=""
                            download="cd_cs_acep_prop.docx"> Descargar Archivo</a></li>
                    <li>Solicitud de Ajuste o Corrección al Listado de Elegibles<a href=""
                            download="cd_cs_sol_ajusle.docx"> Descargar Archivo</a></li>
                    <li>Solicitud de Ajuste o Corrección al Padrón de Electores<a href=""
                            download="cd_cs_sol_ajuspe.docx"> Descargar Archivo</a></li>
                    <li>Escrito de Recurso de Reconsideración<a href=""
                            download="cd_cs_rec_rec.docx"> Descargar Archivo</a></li>
                    <li>Escrito de Recurso de Impugnación<a href=""
                            download="cd_cs_rec_imp.docx"> Descargar Archivo</a></li>
                </ul>
            </div>
          </div>
        </div> -->
      </div>
      <div>
      </div>
    </div>
  </div>
</div>