<div class="container content">
    <div class="row mt-3">
        <div class="col-12 offset-lg-1">
            <img class="img-fluid" ng-src="public_html/img/informes/header-informe-{{informe}}.jpg" alt="Informe {{informe}}" />
        </div>
    </div>
    <br>
            <div class="row galeria">
                <div class="col-12 col-lg-12">
                    <div class="row justify-content-md-center">
                            <div class="contenedor-imagen col-12 col-lg-5" style="margin-top: 0px;">
                                    <a href="public_html/documents/nuestra_facultad/direccion/informe-de-actividades-2018-2019.pdf" target="_blank" title="Informe de actividades">
                                        <img src="public_html/img/nuestra_facultad/direccion/informe-2018-2019.jpg" class="img-fluid imagen" alt="Informe de actividades"/>
                                    </a>
                                </div>

                    <div class="col-12 col-lg-6">
                        <div class="embed-responsive embed-responsive-16by9" style="border-radius: 15px;">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PSrkFz8_lOM" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    
                        </div>
                </div>
            </div>
</div>