<div class="container content">
    <hr>
    <div class="row encabezado">
        <div class="col-lg-12 encabezado-titulo animated bounceInUp">
            <h1>3er Encuentro de tutoría inter facultades de estudios superiores</h1>
        </div>
    </div>
    <hr>
    <div class="row portafolio justify-content-center">
        <div class="col-12 col-md-10">
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-5 col-lg-4">
                    <a href="public_html/documents/slider-p/programa-general.pdf" target="_blank"
                        title="Convocatorias de Posgrado">
                        <img src="public_html/img/slider-p/programa-general.png" class="br-15 img-fluid image"
                            alt="Convocatorias de Posgrado" />
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4">
                    <a href="public_html/documents/slider-p/programa-de-ponencias-y-carteles.pdf" target="_blank"
                        title="Convocatorias de Posgrado">
                        <img src="public_html/img/slider-p/programa-de-ponencias-y-carteles.png"
                            class="br-15 img-fluid image" alt="Convocatorias de Posgrado" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>