<div class="container content">
    <hr>
    <div class="row encabezado">
        <div class="col-lg-12 encabezado-titulo animated bounceInUp">
            <h1>XVII Congreso Internacional Multidisciplinario de Investigación</h1>
        </div>
    </div>
    <hr>
    <div class="row portafolio justify-content-center">
        <div class="col-12 col-md-7">
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-5 col-lg-5 p-10 m-0 br-15">
                    <a href="public_html/documents/cimi2024/convocatoria-congreso-cima.pdf" target="_blank" title="Cartel">
                        <img src="public_html/img/slider-p/cimi2024/convocatoria-congreso-cima.jpg" class="br-15 img-fluid image" alt="Cartel"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-5 p-10 m-0 br-15">
                    <a href="public_html/documents/cimi2024/bases-congreso-cima.pdf" target="_blank" title="Programa">
                        <img src="public_html/img/slider-p/cimi2024/bases-congreso-cima.jpg" class="br-15 img-fluid image" alt="Programa"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>