<style>
    .dir h2 {
      font-size: 19px;
    }
  </style>
  <!-- Direcci&oacute;n-->
  <div class="container content dir">
    <hr />
    <div class="row pleca-secciones">
      <div class="col-lg-12 secciones">
        <i style="font-size: 44px;" class="far fa-folder-open"></i>
        <h1>Segunda gesti&oacute;n</h1>
      </div>
    </div>
    <hr />
    <div class="row portafolio justify-content-center">
            <div class="col-12 col-lg-6 pb-2">
              <div class="row justify-content-star galeria" style="margin-bottom: 15px;">
              
              <div class="col-12 pt-5">
                <div class="row galeria">
                  <div class="col-12 col-lg-6 pt-3">
                    <h2>3<sup>er</sup> informe de actividades 2022-2023</h2>
                  </div>
                  <div class="col-12 col-lg-12">
                    <div class="contenedor-imagen">
                      <a href="public_html/documents/nuestra_facultad/direccion/informe-de-actividades-2022-2023.pdf"
                        target="_blank" title="3er informe de actividades 2021-2022">
                        <img src="public_html/img/nuestra_facultad/direccion/informe-de-actividades-2022-2023.png"
                          class="img-fluid imagen" alt="3er informe de actividades 2022-2023" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-12 pt-5">
                    <div class="row galeria">
                      <div class="col-12 col-lg-6 pt-3">
                          <hr>
                            <h2>2<sup>do</sup> informe de actividades 2021-2022</h2>
                      </div>
                      <div class="col-12 col-lg-12">
                        <div class="contenedor-imagen">
                                <a href="public_html/documents/nuestra_facultad/direccion/informe-de-actividades-2021-2022.pdf"
                                target="_blank" title="2do informe de actividades 2021-2022">
                                <img src="public_html/img/nuestra_facultad/direccion/informe-de-actividades-2021-2022.png"
                                  class="img-fluid imagen" alt="2do informe de actividades 2021-2022" />
                              </a>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-12 pt-5">
                        <div class="row galeria">
                          <div class="col-12 col-lg-6 pt-3">
                                <hr>
                                <h2>1<sup>er</sup> informe de actividades 2020-2021</h2>
                          </div>
                          <div class="col-12 col-lg-12 pt-3 pb-3">
                                <div class="contenedor-imagen">
                                  <a href="public_html/documents/nuestra_facultad/direccion/informe-de-actividades-2020-2021.pdf"
                                    target="_blank" title="1er informe de actividades 2020-2021">
                                    <img src="public_html/img/nuestra_facultad/direccion/informe-2020-2021.png" class="img-fluid imagen"
                                      alt="1er informe de actividades 2020-2021" />
                                  </a>
                                </div>
                              </div>
                              <div class="col-12 col-lg-12 pt-3 pb-3">
                                <div class="contenedor-imagen">
                                  <div class="embed-responsive embed-responsive-16by9" style="border-radius: 15px;">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-ko4O7QoU-Y" frameborder="0"
                                      allowfullscreen></iframe>
                                  </div>
                                </div>
                              </div>
                        </div>
                      </div>

                      <div class="col-12 pt-5">
                            <div class="row galeria">
                              <div class="col-12 col-lg-6 pt-3">
                                    <hr>
                                    <h2>Plan de desarrollo 2020-2024</h2>
                              </div>
                              <div class="col-12 col-lg-12">
                                <div class="contenedor-imagen">
                                        <a href="public_html/documents/nuestra_facultad/direccion/plan-de-desarrollo-2020-2024.pdf" target="_blank"
                                        title="Plan de desarrollo 2020 2024">
                                        <img src="public_html/img/nuestra_facultad/direccion/plan-desarrollo-2020-2024.png"
                                          class="img-fluid imagen" alt="Plan de desarrollo 2020 2024" />
                                      </a>
                                </div>
                              </div>
                            </div>
                          </div>
      
    </div>
  </div>
</div>
</div>