<div class="container content" ng-init="showing = 0">
  <hr />
  <div class="row pleca-secciones">
    <div class="col-lg-12 secciones">
      <img
        style="position: relative; top: -11px; filter: grayscale(90%);"
        width="35px"
        height="35px"
        src="public_html/img/comunidad-cultura-unam/logo-comunidad-culturaUNAM-bcovstrans.svg"
        alt="Coerpos colegiados"
      />
      <h1>Comunidad Cultura UNAM</h1>
    </div>
  </div>
  <hr />
  <div class="row justify-content-center ">
    <div class="col-12 col-lg-8 menu-rapido">
      <ul class="nav d-flex justify-content-center">
        <li class="nav-item animated zoomIn">
          <a class="nav-link active" ng-click="showing = 0" title="Inicio">
            Inicio
          </a>
        </li>
        <li class="nav-item animated zoomIn">
          <a
            class="nav-link active"
            ng-click="showing = 1"
            title="Preguntas Frecuentes"
          >
            Preguntas Frecuentes
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div ng-show="showing === 0">
    <div class="row justify-content-center">
      <div
        class="col-12 col-md-8"
        style="padding-top: 15px;padding-bottom: 15px;"
      >
        <img
          class="img-fluid"
          src="public_html/img/comunidad-cultura-unam/puntos-cultura-unam.jpg"
          alt="Comunidad Cultura UNAM"
        />
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-8" style="padding-bottom: 15px;">
        <div
          class="embed-responsive embed-responsive-16by9"
          style="border-radius: 15px;"
        >
          <video
            width="900"
            poster="public_html/img/comunidad-cultura-unam/bienvenida-cultura-unam-2021.png"
            src="public_html/video/bienvenida-cultura-unam-2021.mp4"
            controls
          ></video>
        </div>
      </div>
    </div>
    <div
      class="row justify-content-center"
      style="padding-top: 15px;padding-bottom: 15px;"
    >
      <div class="col-12 col-md-4">
        <div
          class="embed-responsive embed-responsive-16by9"
          style="border-radius: 15px;"
        >
          <iframe
            class="embed-responsive-item"
            src="https://www.youtube.com/embed/3DON8CDspYg"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div
          class="embed-responsive embed-responsive-16by9"
          style="border-radius: 15px;"
        >
          <iframe
            class="embed-responsive-item"
            src="https://www.youtube.com/embed/sv9Y2AEy5yE"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
    <div
      class="row justify-content-center"
      style="padding-top: 15px;padding-bottom: 15px;"
    >
      <div class="col-12 col-md-4 ">
        <div
          class="embed-responsive embed-responsive-16by9"
          style="border-radius: 15px;"
        >
          <iframe
            src="https://player.vimeo.com/video/460813324"
            frameborder="0"
            allow="autoplay; fullscreen"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <div class="col-12 col-md-4 ">
        <div
          class="embed-responsive embed-responsive-16by9"
          style="border-radius: 15px;"
        >
          <iframe
            src="https://player.vimeo.com/video/461591215"
            frameborder="0"
            allow="autoplay; fullscreen"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-4 ">
        <div
          class="embed-responsive embed-responsive-16by9"
          style="border-radius: 15px;"
        >
          <iframe
            src="https://player.vimeo.com/video/461597103"
            frameborder="0"
            allow="autoplay; fullscreen"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <div class="col-12 col-md-4 ">
        <div
          class="embed-responsive embed-responsive-16by9"
          style="border-radius: 15px;"
        >
          <iframe
            src="https://player.vimeo.com/video/461589683"
            frameborder="0"
            allow="autoplay; fullscreen"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>

    <div class="row justify-content-center pt-5">
      <div class="col-12 col-md-4" style="padding-top: 15px;">
        <p style="text-align: center;">¡Únete a nuestras redes sociales!</p>
        <hr />
        <ul class="social nostyle inline text-white p-0">
          <li>
            <a
              href="https://www.facebook.com/ComunidadCulturaUNAM/"
              class="text-white d-block text-decoration-none transition"
              ><i class="fab fa-facebook ico-sos" aria-hidden="true"></i
            ></a>
          </li>
          <li>
            <a
              href="https://twitter.com/c_culturaunam"
              class="text-white d-block text-decoration-none transition"
              ><i class="fab fa-twitter ico-sos" aria-hidden="true"></i
            ></a>
          </li>
          <li>
            <a
              href="https://vimeo.com/comunidadculturaunam"
              class="text-white d-block text-decoration-none transition"
              ><i class="fab fa-vimeo-v ico-sos" aria-hidden="true"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/c_culturaunam/"
              class="text-white d-block text-decoration-none transition"
              ><i class="fab fa-instagram ico-sos" aria-hidden="true"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div ng-show="showing === 1">
    <div class="row justify-content-center" style="padding-top: 20px;">
      <div class="col-12 col-md-8">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="pregunta1">
              <h2 class="mb-0">
                <button
                  class="btn-link btn-block text-left preg"
                  data-toggle="collapse"
                  data-target="#collapse1"
                  aria-expanded="true"
                  aria-controls="collapse1"
                >
                  <p>¿Qué es Puntos CulturaUNAM?</p>
                </button>
              </h2>
            </div>

            <div
              id="collapse1"
              class="collapse show"
              aria-labelledby="pregunta1"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <ul>
                  <li>
                    Es un Programa creado por CulturaUNAM que te otorga puntos
                    para asistir de manera gratuita a conciertos, museos,
                    funciones de danza, teatro, cursos, conferencias y comprar
                    libros. Contarás con 500 puntos al inicio de cada semestre.
                  </li>
                  <li>
                    Para obtener tus puntos ingresa tus datos personales y
                    número de cuenta vigente en la plataforma. Una vez
                    registrado podrás conocer la cartelera disponible, ver tu
                    saldo y descubrir con qué actividades puedes obtener más
                    puntos.
                  </li>
                  <li>
                    Si no te puedes inscribir, el sistema te dará la opción de
                    adjuntar los documentos que te identifican como alumno de la
                    UNAM. Ya que estén validados, se te notificará por correo
                    electrónico cuando esté resuelto el problema.
                  </li>
                  <li>
                    Si la validación falla, escribe un correo a
                    atencion@comunidad.cultura.unam.mx, con tu nombre completo y
                    número de cuenta. Te responderemos a la brevedad.
                  </li>
                  <li>
                    Para recuperar tu contraseña ve a la página de inicio de la
                    plataforma y sigue las indicaciones para obtener una nueva.
                    Si no funciona, escribe un correo a
                    atencion@comunidad.cultura.unam.mx
                  </li>
                  <li>
                    Cuando ingreses puedes consultar la cartelera que está
                    ordenada de manera alfabética y por disciplina. En cada
                    imagen se indica fecha y disponibilidad. El valor en puntos
                    estará referido con el punto azul
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="pregunta2">
              <h2 class="mb-0">
                <button
                  class=" btn-link btn-block text-left preg collapsed"
                  data-toggle="collapse"
                  data-target="#collapse2"
                  aria-expanded="false"
                  aria-controls="collapse2"
                >
                  <p>¿Cómo puedo adquirir mis entradas?</p>
                </button>
              </h2>
            </div>
            <div
              id="collapse2"
              class="collapse"
              aria-labelledby="pregunta2"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <ol>
                  <li>
                    Revisa tu saldo, cada evento tiene un costo en puntos.
                  </li>
                  <li>
                    Selecciona con un clic la actividad que haya sido de tu
                    interés.
                  </li>
                  <li>
                    Ingresa y si quieres boletos, da clic en Adquirir 1 boleto.
                    En automático, el valor en puntos se debitará de tu saldo.
                  </li>
                  <li>
                    Si tu saldo es suficiente y quieres adquirir otro boleto
                    para un acompañante, tendrás que repetir el proceso.
                  </li>
                </ol>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="pregunta3">
              <h2 class="mb-0">
                <button
                  class=" btn-link btn-block text-left preg collapsed"
                  data-toggle="collapse"
                  data-target="#collapse3"
                  aria-expanded="false"
                  aria-controls="collapse3"
                >
                  <p>¿Mi pase sirve para varias personas?</p>
                </button>
              </h2>
            </div>
            <div
              id="collapse3"
              class="collapse"
              aria-labelledby="pregunta3"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <p>
                  Cada boleto que compres es individual y tiene un número de
                  folio diferente que es revisado por taquilla, deberás imprimir
                  todos y cada uno de los pases que compraste y presentarlos en
                  taquilla.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="pregunta4">
              <h2 class="mb-0">
                <button
                  class="btn-link btn-block text-left preg collapsed"
                  data-toggle="collapse"
                  data-target="#collapse4"
                  aria-expanded="false"
                  aria-controls="collapse4"
                >
                  <p>¿Qué diferencia hay entre pase y boleto?</p>
                </button>
              </h2>
            </div>

            <div
              id="collapse4"
              class="collapse"
              aria-labelledby="pregunta4"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <p>
                  Pase - método tradicional por el que tienes acceso a los
                  eventos y lo imprimes directo en tu agenda. Boleto – es
                  utilizado para eventos que se realizan en recintos de la Zona
                  Cultural y te llega directamente a tu correo electrónico.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="pregunta5">
              <h2 class="mb-0">
                <button
                  class="btn-link btn-block text-left preg collapsed"
                  data-toggle="collapse"
                  data-target="#collapse5"
                  aria-expanded="false"
                  aria-controls="collapse5"
                >
                  <p>¿Porque tengo que imprimir mi pase o boleto?</p>
                </button>
              </h2>
            </div>

            <div
              id="collapse5"
              class="collapse"
              aria-labelledby="pregunta5"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <p>
                  Tienes que depositar el documento en las urnas para comprobar
                  tu asistencia. Es muy importante imprimir tu pase a más tardar
                  3 días antes del evento, de lo contrario, la opción imprimir
                  vale desaparecerá.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="pregunta6">
              <h2 class="mb-0">
                <button
                  class="btn-link btn-block text-left preg collapsed"
                  data-toggle="collapse"
                  data-target="#collapse6"
                  aria-expanded="false"
                  aria-controls="collapse6"
                >
                  <p>¿Cuántos boletos puedo adquirir?</p>
                </button>
              </h2>
            </div>

            <div
              id="collapse6"
              class="collapse"
              aria-labelledby="pregunta6"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <p>
                  Los que quieras siempre y cuando tengas el saldo suficiente
                  para hacerlo.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="pregunta7">
              <h2 class="mb-0">
                <button
                  class="btn-link btn-block text-left preg collapsed"
                  data-toggle="collapse"
                  data-target="#collapse7"
                  aria-expanded="false"
                  aria-controls="collapse7"
                >
                  <p>¿Cuánto tiempo tengo para comprar mis boletos?</p>
                </button>
              </h2>
            </div>

            <div
              id="collapse7"
              class="collapse"
              aria-labelledby="pregunta7"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <p>
                  48 horas antes del evento, con excepción de cine y danza en
                  los cuales tienes hasta 24 horas antes para obtener tu pase.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="pregunta8">
              <h2 class="mb-0">
                <button
                  class="btn-link btn-block text-left preg collapsed"
                  data-toggle="collapse"
                  data-target="#collapse8"
                  aria-expanded="false"
                  aria-controls="collapse8"
                >
                  <p>¿Cómo obtengo mis boletos o entradas?</p>
                </button>
              </h2>
            </div>

            <div
              id="collapse8"
              class="collapse"
              aria-labelledby="pregunta8"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <p>
                  a) Al hacer clic en el botón que diga imprimir pase b) Puedes
                  recibir un correo electrónico con tus boletos. Esta modalidad
                  aplica para Sala Nezahualcóyotl, Teatro Juan Ruíz de Alarcón,
                  Foro Sor Juana Inés de la Cruz, Sala Miguel Covarrubias, Sala
                  Carlos Chávez, Anfiteatro Simón Bolívar y Salas de Cine. c)
                  Cualquiera de los dos deberás imprimirlo y depositarlo en las
                  urnas de comunidad.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="pregunta9">
              <h2 class="mb-0">
                <button
                  class="btn-link btn-block text-left preg collapsed"
                  data-toggle="collapse"
                  data-target="#collapse9"
                  aria-expanded="false"
                  aria-controls="collapse9"
                >
                  <p>¿Cómo hago para cancelar mis boletos?</p>
                </button>
              </h2>
            </div>

            <div
              id="collapse9"
              class="collapse"
              aria-labelledby="pregunta9"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <p>No hay cancelaciones ni reembolsos.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="pregunta10">
              <h2 class="mb-0">
                <button
                  class="btn-link btn-block text-left preg collapsed"
                  data-toggle="collapse"
                  data-target="#collapse10"
                  aria-expanded="false"
                  aria-controls="collapse10"
                >
                  <p>
                    Ya tengo mi PASE o BOLETO, ¿a qué hora debo llegar al
                    recinto?
                  </p>
                </button>
              </h2>
            </div>

            <div
              id="collapse10"
              class="collapse"
              aria-labelledby="pregunta10"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <p>
                  Es muy importante llegar de 30 a 40 minutos antes, de lo
                  contrario, los perderás (no hay reembolso) y la taquilla los
                  liberará. Cuando se trata de un evento gratuito, deberás
                  llegar 30 minutos antes.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="pregunta11">
              <h2 class="mb-0">
                <button
                  class="btn-link btn-block text-left preg collapsed"
                  data-toggle="collapse"
                  data-target="#collapse11"
                  aria-expanded="false"
                  aria-controls="collapse11"
                >
                  <p>
                    ¿Qué hago si el evento se canceló, se pospuso o se modificó
                    de último momento?
                  </p>
                </button>
              </h2>
            </div>

            <div
              id="collapse11"
              class="collapse"
              aria-labelledby="pregunta11"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <p>
                  a) Envíanos un correo con tu nombre, número de cuenta y los
                  datos del evento (nombre, fecha, hora y recinto, o una foto de
                  tu pase impreso) a atencion@comunidad.cultura.unam.mx b)
                  Escribe en tu comentario lo que sucedió con el evento y
                  nosotros nos encargaremos de devolverte los puntos que
                  utilizaste.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="pregunta12">
              <h2 class="mb-0">
                <button
                  class="btn-link btn-block text-left preg collapsed"
                  data-toggle="collapse"
                  data-target="#collapse12"
                  aria-expanded="false"
                  aria-controls="collapse12"
                >
                  <p>
                    ¿Qué pasa si compro con mis puntos y no asisto a uno o
                    varios eventos?
                  </p>
                </button>
              </h2>
            </div>

            <div
              id="collapse12"
              class="collapse"
              aria-labelledby="pregunta12"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <p>
                  Primera inasistencia: Recibirás un correo informativo. A
                  partir de la segunda inasistencia se te descontarán 100 puntos
                  por cada actividad que no asistas.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="pregunta13">
              <h2 class="mb-0">
                <button
                  class="btn-link btn-block text-left preg collapsed"
                  data-toggle="collapse"
                  data-target="#collapse13"
                  aria-expanded="false"
                  aria-controls="collapse13"
                >
                  <p>
                    Al adquirir el pase me aparece una ventana que dice que voy
                    a ser redireccionado a la boletera de culturaUNAM ¿qué hago?
                  </p>
                </button>
              </h2>
            </div>

            <div
              id="collapse13"
              class="collapse"
              aria-labelledby="pregunta13"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <p>
                  Serás redireccionado para realizar tu compra en la boletera de
                  culturaUNAM, recuerda que solo puedes comprar con puntos y
                  recibirás tus boletos en tu correo electrónico, no olvides
                  imprimirlos.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="pregunta14">
              <h2 class="mb-0">
                <button
                  class="btn-link btn-block text-left preg collapsed"
                  data-toggle="collapse"
                  data-target="#collapse14"
                  aria-expanded="false"
                  aria-controls="collapse14"
                >
                  <p>
                    Si me aparece una ventana de boletera, ¿cómo puedo adquirir
                    las entradas?
                  </p>
                </button>
              </h2>
            </div>

            <div
              id="collapse14"
              class="collapse"
              aria-labelledby="pregunta14"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <p>
                  • En "Tipo de boleto", selecciona la opción que tiene un costo
                  (recuerda que vas a pagar con tus puntos) e indica el número
                  de boletos que vas a adquirir. • Da clic en "Agregar al
                  carrito". • Marca la casilla de verificación. • Revisa que los
                  datos de tu reservación sean correctos y lee con atención las
                  indicaciones de la plataforma. • Da clic en "Continuar". • Al
                  momento de proporcionar los datos de usuario es indispensable
                  que proporciones la misma información de registro con la que
                  te diste de alta en Comunidad Cultura UNAM: DEBES USAR EL
                  MISMO CORREO ELECTRÓNICO Y LA MISMA CONTRASEÑA, DE LO
                  CONTRARIO NO PODRÁS HACER LA COMPRA CON TUS PUNTOS. • Revisa
                  la información del método de entrega y da clic en "Continuar".
                  • Coloca la información que se te solicita, como si estuvieras
                  ingresando a tu cuenta de Comunidad CulturaUNAM. • Revisa que
                  la información sea correcta. • Lee la información de Aviso de
                  privacidad y Términos de uso y selecciona la casilla. • Por
                  último, da clic en "Finaliza tu orden". • Recuerda revisar las
                  bandejas de spam y correo no deseado. El correo deberá
                  llegarte de inmediato.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="pregunta15">
              <h2 class="mb-0">
                <button
                  class="btn-link btn-block text-left preg collapsed"
                  data-toggle="collapse"
                  data-target="#collapse15"
                  aria-expanded="false"
                  aria-controls="collapse15"
                >
                  <p>¿Cómo obtengo más puntos?</p>
                </button>
              </h2>
            </div>

            <div
              id="collapse15"
              class="collapse"
              aria-labelledby="pregunta15"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <p>
                  a) Haciendo comentarios sobre el evento al que asististe. b)
                  Encontrarás en la plataforma actividades marcadas con un punto
                  magenta. Si escribes reseñas de dichos eventos, se te abonarán
                  30 puntos de manera automática. c) Las actividades marcadas
                  con punto verde generan puntos por asistencia, imprime tu pase
                  y deposítalo en las urnas de comunidad.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="pregunta16">
              <h2 class="mb-0">
                <button
                  class="btn-link btn-block text-left preg collapsed"
                  data-toggle="collapse"
                  data-target="#collapse16"
                  aria-expanded="false"
                  aria-controls="collapse16"
                >
                  <p>
                    ¿Puedo escribir un comentario por cada boleto que adquirí?
                  </p>
                </button>
              </h2>
            </div>

            <div
              id="collapse16"
              class="collapse"
              aria-labelledby="pregunta16"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <p>No, los comentarios son por un evento, no por boleto.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="pregunta17">
              <h2 class="mb-0">
                <button
                  class="btn-link btn-block text-left preg collapsed"
                  data-toggle="collapse"
                  data-target="#collapse17"
                  aria-expanded="false"
                  aria-controls="collapse17"
                >
                  <p>¿Cuándo debo entregar mi reseña?</p>
                </button>
              </h2>
            </div>

            <div
              id="collapse17"
              class="collapse"
              aria-labelledby="pregunta17"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <p>
                  Publica tu reseña no más tarde de 72 horas después del evento.
                  Nos interesa mucho saber tu opinión. Si tienes dudas sobre los
                  criterios, consulta el Código de Ética y las características
                  de la reseña.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="pregunta18">
              <h2 class="mb-0">
                <button
                  class="btn-link btn-block text-left preg collapsed"
                  data-toggle="collapse"
                  data-target="#collapse18"
                  aria-expanded="false"
                  aria-controls="collapse18"
                >
                  <p>¿Qué es el Medallero?</p>
                </button>
              </h2>
            </div>

            <div
              id="collapse18"
              class="collapse"
              aria-labelledby="pregunta18"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <p>
                  Envíanos un correo mínimo 48 horas antes de la función
                  solicitada con tu nombre y número de cuenta a:
                  atencion@comunidad.cultura.unam.mx y te abonaremos los puntos
                  correspondientes al boleto de tu acompañante.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="pregunta19">
              <h2 class="mb-0">
                <button
                  class="btn-link btn-block text-left preg collapsed"
                  data-toggle="collapse"
                  data-target="#collapse19"
                  aria-expanded="false"
                  aria-controls="collapse19"
                >
                  <p>
                    ¿Cómo invito a otra persona si estoy en Medallero sin que
                    debite mi tarjeta?
                  </p>
                </button>
              </h2>
            </div>

            <div
              id="collapse19"
              class="collapse"
              aria-labelledby="pregunta19"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <p>
                  Si asistes cuatro veces a una misma disciplina como danza,
                  teatro o música y entregas las reseñas correspondientes, en
                  automático ingresas al Medallero. Podrás tener un invitado a
                  partir de ese momento y hasta finalizar el año escolar, para
                  los eventos que decidas.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="pregunta20">
              <h2 class="mb-0">
                <button
                  class="btn-link btn-block text-left preg collapsed"
                  data-toggle="collapse"
                  data-target="#collapse20"
                  aria-expanded="false"
                  aria-controls="collapse20"
                >
                  <p>¿Dónde recojo mis libros o revistas?</p>
                </button>
              </h2>
            </div>

            <div
              id="collapse20"
              class="collapse"
              aria-labelledby="pregunta20"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <p>En la dirección que aparece en tu pase.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="pregunta21">
              <h2 class="mb-0">
                <button
                  class="btn-link btn-block text-left preg collapsed"
                  data-toggle="collapse"
                  data-target="#collapse21"
                  aria-expanded="false"
                  aria-controls="collapse21"
                >
                  <p>¿Cuánto tiempo tengo para recoger mis libros?</p>
                </button>
              </h2>
            </div>

            <div
              id="collapse21"
              class="collapse"
              aria-labelledby="pregunta21"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <p>
                  Respeta la fecha de entrega que te indica tu pase, recuerda
                  que después de ella no se entregará tu adquisición.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="pregunta22">
              <h2 class="mb-0">
                <button
                  class="btn-link btn-block text-left preg collapsed"
                  data-toggle="collapse"
                  data-target="#collapse22"
                  aria-expanded="false"
                  aria-controls="collapse22"
                >
                  <p>¿No encontraste respuesta a tu pregunta?</p>
                </button>
              </h2>
            </div>

            <div
              id="collapse22"
              class="collapse"
              aria-labelledby="pregunta22"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <p>
                  Si tienes algún problema con tu cuenta o alguna duda cuya
                  respuesta no está en este documento, por favor escríbenos a
                  atencion@comunidad.cultura.unam.mx. Leemos y contestamos todos
                  los correos que llegan.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="showing === 2"></div>
  </div>
  <style>
    /****** Generic Elements ******/
    ul.nostyle {
      list-style-type: none;
    }
    ul.inline li {
      display: inline-block;
    }
    .ico-sos {
      font-size: 40px;
      color: rgb(254, 99, 8);
    }
    .preg {
      border: 0;
    }
  </style>
</div>
