<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <h1>3 ER. CONGRESO INTERNACIONAL</h1>
        </div>
    </div>
    <hr>
    
<div class="row portafolio justify-content-center">
  <div class="col-12 col-md-12">
            <div class="row justify-content-center">
              <div class="contenedor-imagen col-12 col-lg-10">
                        <img src="public_html/img/slider-p/agenda-y-participa.jpg" class="br-15 img-fluid image" alt="Registro"/>
                </div>
            </div>
  </div>
     <div class="col-12 col-md-10" style="padding-top: 15px;">
      <h2>Haz clic para conocer el programa y los talleres </h2>
       <hr/>
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-6 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/slider-p/programa-3er-congreso-internacional.pdf" target="_blank" title="Registro">
                        <img src="public_html/img/slider-p/congreso-internacional-programa.jpg" class="br-15 img-fluid image" alt="Registro"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-6 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/slider-p/talleres-3er.-congreso-internacional.jpg" target="_blank" title="Registro">
                        <img src="public_html/img/slider-p/congreso-internacional-talleres.jpg" class="br-15 img-fluid image" alt="Registro"/>
                    </a>
                </div>
            </div>
        </div>
    <div class="col-12 col-md-10">
      <hr>
            <div class="row justify-content-center">
              <div class="contenedor-imagen col-12 col-lg-12">
                        <img src="public_html/img/slider-p/requisitos-para-obtener-tu-constancia-digital.jpg" class="br-15 img-fluid image" alt="Registro"/>
                </div>
            </div>
  </div>
</div>
</div>

