<style>
    .formatos a {
        color: #007bff;
        text-decoration-line: underline;
    }

    .formatos h6 {
        margin-top: 25px;
        margin-bottom: 0px;
    }

    .formatos hr {
        margin-top: 5px;
    }

    @media (max-width: 720px) {
        .email {
            font-size: 12px;
        }
    }

    .descargas {
        text-transform: uppercase;
    }
</style>
<div class="container content formatos servicios-escolares-ac">
    <hr>
    <div class="row encabezado">
        <div class="col-lg-12 encabezado-titulo animated bounceInUp">
            <h1>PROCESOS DE ELECCIÓN DE CONSEJEROS UNIVERSITARIOS Y CONSEJEROS TÉCNICOS (REPRESENTANTES DEL ALUMNADO)
            </h1>
        </div>
    </div>
    <hr>
    <div class="row portafolio justify-content-center">
        <!--alumnado-->
        <div class="contenedor-imagen col-12 col-lg-10">
            <h2 class="pt-5 pb-3">CONSEJO UNIVERSITARIO PARA ALUMNADO</h2>
            <hr>
            <!-- despegable padre -->
            <div class="card">
                <div class="card-header" ng-click="showing = '0'">
                    <p><strong>ELECCIÓN DE REPRESENTANTES DEL ALUMNADO ANTE EL H. CONSEJO UNIVERSITARIO
                            2022-2024</strong></p>
                </div>
                <div class="card-body" ng-show="showing === '0'">
                    <!-- despegable padre inicio-->
                    <a href="public_html/documents/elecciones/cu/conv_cu_alum.pdf" target="_blank">
                        <p>CONVOCATORIA</p>
                    </a>
                    <h6>LISTADO DE ELEGIBLES</h6>
                    <hr>
                    <ul>
                        <li><a href="public_html/documents/elecciones/cu/cu_list_eleg_alum_arq.pdf"
                                target="_blank">ARQUITECTURA Y DISEÑO INDUSTRIAL</a></li>
                        <li><a href="public_html/documents/elecciones/cu/cu_list_eleg_alum_cp.pdf"
                                target="_blank">RELACIONES INTERNACIONALES, SOCIOLOGÍA Y COMUNICACIÓN Y PERIODISMO
                                (CIENCIAS POLÍTICAS)</a></li>
                        <li><a href="public_html/documents/elecciones/cu/cu_list_eleg_alum_der.pdf"
                                target="_blank">DERECHO</a></li>
                        <li><a href="public_html/documents/elecciones/cu/cu_list_eleg_alum_eco.pdf"
                                target="_blank">ECONOMÍA</a></li>
                        <li><a href="public_html/documents/elecciones/cu/cu_list_eleg_alum_fil.pdf"
                                target="_blank">PEDAGOGÍA</a></li>
                        <li><a href="public_html/documents/elecciones/cu/cu_list_eleg_alum_ing.pdf"
                                target="_blank">INGENIERÍAS</a></li>
                        <li><a href="public_html/documents/elecciones/cu/cu_list_eleg_alum_pda.pdf"
                                target="_blank">PLANIFICACIÓN PARA EL DESARROLLO AGROPECUARIO</a></li>
                    </ul>
                    <h6>PADRÓN DE ELECTORES</h6>
                    <hr>
                    <ul>
                        <li><a href="public_html/documents/elecciones/cu/cu_pad_elec_alum_arq.pdf"
                                target="_blank">ARQUITECTURA Y DISEÑO INDUSTRIAL</a></li>
                        <li><a href="public_html/documents/elecciones/cu/cu_pad_elec_alum_cp.pdf"
                                target="_blank">RELACIONES INTERNACIONALES, SOCIOLOGÍA Y COMUNICACIÓN Y PERIODISMO
                                (CIENCIAS POLÍTICAS)</a></li>
                        <li><a href="public_html/documents/elecciones/cu/cu_pad_elec_alum_der.pdf"
                                target="_blank">DERECHO</a></li>
                        <li><a href="public_html/documents/elecciones/cu/cu_pad_elec_alum_eco.pdf"
                                target="_blank">ECONOMÍA</a></li>
                        <li><a href="public_html/documents/elecciones/cu/cu_pad_elec_alum_fil.pdf"
                                target="_blank">PEDAGOGÍA</a></li>
                        <li><a href="public_html/documents/elecciones/cu/cu_pad_elec_alum_ing.pdf"
                                target="_blank">INGENIERÍAS</a></li>
                        <li><a href="public_html/documents/elecciones/cu/cu_pad_elec_alum_pda.pdf"
                                target="_blank">PLANIFICACIÓN PARA EL DESARROLLO AGROPECUARIO</a></li>
                    </ul>
                    <a href="public_html/documents/elecciones/cu/cu_res_alum.pdf" target="_blank">
                        <p>RESULTADOS</p>
                    </a>
                    <a href="https://elecciones.consejo.unam.mx/material_cu.php" target="_blank">
                        <p>FORMATOS</p>
                    </a>
                </div><!-- despegable padre fin-->
            </div>
            <div class="card">
                <div class="card-header" ng-click="showing = '1'">
                    <p><strong>ELECCIÓN DE REPRESENTANTES DEL ALUMNADO DEL ÁREA DE LAS CIENCIAS FÍSICO-MATEMÁTICAS Y DE
                            LAS INGENIERÍAS DEL CONJUNTO DE LAS FACULTADES DE ESTUDIOS SUPERIORES ANTE EL H. CONSEJO
                            UNIVERSITARIO PARA EL PERIODO 2022-2024</strong></p>
                </div>
                <div class="card-body" ng-show="showing === '1'">
                    <ul>
                        <li><a href="public_html/documents/elecciones/cu/conv_cu_alum_conj_fmi.pdf"
                                target="_blank">CONVOCATORIA</a></li>
                        <li><a href="public_html/documents/elecciones/cu/cu_list_eleg_alum_conj_fmi.pdf"
                                target="_blank">LISTADO DE ELEGIBLES</a></li>
                        <li><a href="public_html/documents/elecciones/cu/cu_pad_elec_alum_conj_fmi.pdf"
                                target="_blank">PADRÓN DE ELECTORES</a></li>
                        <li><a href="https://elecciones.consejo.unam.mx/material_cu.php" target="_blank">FORMATOS</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header" ng-click="showing = '2'">
                    <p><strong>ELECCIÓN DE REPRESENTANTES DEL ALUMNADO DEL ÁREA DE LAS CIENCIAS SOCIALES DEL CONJUNTO DE
                            LAS FACULTADES DE ESTUDIOS SUPERIORES ANTE EL H. CONSEJO UNIVERSITARIO PARA EL PERIODO
                            2022-2024</strong></p>
                </div>
                <div class="card-body" ng-show="showing === '2'">
                    <ul>
                        <li><a href="public_html/documents/elecciones/cu/conv_cu_alum_conj_cs.pdf"
                                target="_blank">CONVOCATORIA</a></li>
                        <li><a href="public_html/documents/elecciones/cu/cu_list_eleg_alum_conj_cs.pdf"
                                target="_blank">LISTADO DE ELEGIBLES</a></li>
                        <li><a href="public_html/documents/elecciones/cu/cu_pad_elec_alum_conj_cs.pdf"
                                target="_blank">PADRÓN DE ELECTORES</a></li>
                        <li><a href="https://elecciones.consejo.unam.mx/material_cu.php" target="_blank">FORMATOS</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header" ng-click="showing = '3'">
                    <p><strong>ELECCIÓN DE REPRESENTANTES DEL ALUMNADO DEL ÁREA DE LAS HUMANIDADES Y ARTES DEL CONJUNTO
                            DE LAS FACULTADES DE ESTUDIOS SUPERIORES ANTE EL H. CONSEJO UNIVERSITARIO PARA EL PERIODO
                            2022-2024</strong></p>
                </div>
                <div class="card-body" ng-show="showing === '3'">
                    <ul>
                        <li><a href="public_html/documents/elecciones/cu/conv_cu_alum_conj_ha.pdf"
                                target="_blank">CONVOCATORIA</a></li>
                        <li><a href="public_html/documents/elecciones/cu/cu_list_eleg_alum_conj_ha.pdf"
                                target="_blank">LISTADO DE ELEGIBLES</a></li>
                        <li><a href="public_html/documents/elecciones/cu/cu_pad_elec_alum_conj_ha.pdf"
                                target="_blank">PADRÓN DE ELECTORES</a></li>
                        <li><a href="https://elecciones.consejo.unam.mx/material_cu.php" target="_blank">FORMATOS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row portafolio justify-content-center">
        <div class="contenedor-imagen col-12 col-lg-10">
            <h2 class="pt-5 pb-3" >CONSEJO TÉCNICO PARA ALUMNADO</h2>
            <hr>
            <!-- despegable padre -->
            <div class="card formatos">
                <div class="card-header" ng-click="showing = '7'">
                    <p><strong>ELECCIÓN DE CONSEJEROS TÉCNICOS REPRESENTANTES DEL ALUMNADO DE LA FACULTAD DE ESTUDIOS
                            SUPERIORES ARAGÓN PERIODO 2022-2024</strong></p>
                </div>
                <div class="card-body" ng-show="showing === '7'">
                    <!-- despegable padre inicio-->
                    <a href="public_html/documents/elecciones/ct/conv_ct_alum.pdf" target="_blank">
                        <h6>CONVOCATORIA</h6>
                    </a>
                    <h6>LISTADO DE ELEGIBLES</h6>
                    <hr>
                    <ul>
                        <li><a href="public_html/documents/elecciones/ct/ct_list_eleg_alum_arq.pdf"
                                target="_blank">ARQUITECTURA Y DISEÑO INDUSTRIAL</a></li>
                        <li><a href="public_html/documents/elecciones/ct/ct_list_eleg_alum_cp.pdf"
                                target="_blank">RELACIONES INTERNACIONALES, SOCIOLOGÍA Y COMUNICACIÓN Y PERIODISMO
                                (CIENCIAS POLÍTICAS)</a></li>
                        <li><a href="public_html/documents/elecciones/ct/ct_list_eleg_alum_der.pdf"
                                target="_blank">DERECHO</a></li>
                        <li><a href="public_html/documents/elecciones/ct/ct_list_eleg_alum_eco.pdf"
                                target="_blank">ECONOMÍA</a></li>
                        <li><a href="public_html/documents/elecciones/ct/ct_list_eleg_alum_fil.pdf"
                                target="_blank">PEDAGOGÍA</a></li>
                        <li><a href="public_html/documents/elecciones/ct/ct_list_eleg_alum_ing.pdf"
                                target="_blank">INGENIERÍAS</a></li>
                        <li><a href="public_html/documents/elecciones/ct/ct_list_eleg_alum_pda.pdf"
                                target="_blank">PLANIFICACIÓN PARA EL DESARROLLO AGROPECUARIO</a></li>
                    </ul>
                    <h6>PADRÓN DE ELECTORES</h6>
                    <hr>
                    <ul>
                        <li><a href="public_html/documents/elecciones/ct/ct_pad_elec_alum_arq.pdf"
                                target="_blank">ARQUITECTURA Y DISEÑO INDUSTRIAL</a></li>
                        <li><a href="public_html/documents/elecciones/ct/ct_pad_elec_alum_cp.pdf"
                                target="_blank">RELACIONES INTERNACIONALES, SOCIOLOGÍA Y COMUNICACIÓN Y PERIODISMO
                                (CIENCIAS POLÍTICAS)</a></li>
                        <li><a href="public_html/documents/elecciones/ct/ct_pad_elec_alum_der.pdf"
                                target="_blank">DERECHO</a></li>
                        <li><a href="public_html/documents/elecciones/ct/ct_pad_elec_alum_eco.pdf"
                                target="_blank">ECONOMÍA</a></li>
                        <li><a href="public_html/documents/elecciones/ct/ct_pad_elec_alum_fil.pdf"
                                target="_blank">PEDAGOGÍA</a></li>
                        <li><a href="public_html/documents/elecciones/ct/ct_pad_elec_alum_ing.pdf"
                                target="_blank">INGENIERÍAS</a></li>
                        <li><a href="public_html/documents/elecciones/ct/ct_pad_elec_alum_pda.pdf"
                                target="_blank">PLANIFICACIÓN PARA EL DESARROLLO AGROPECUARIO</a></li>
                    </ul>
                    <a href="public_html/documents/elecciones/ct/ct_res_alum.pdf" target="_blank">
                        <h6>RESULTADOS</h6>
                    </a>
                    <h6>FORMATOS</h6>
                    <hr>
                    <ul class="descargas">
                        <li>Solicitud de registro<a href="public_html/documents/elecciones/ct/sol_reg.docx"
                                download="sol_reg.docx"> Descargar Archivo</a></li>
                        <li>Designación de representante<a href="public_html/documents/elecciones/ct/desig_rep.docx"
                                download="desig_rep.docx"> Descargar Archivo</a></li>
                        <li>Aceptación de candidatura<a href="public_html/documents/elecciones/ct/acep_candidatura.docx"
                                download="acep_candidatura.docx"> Descargar Archivo</a></li>
                        <li>Solicitud de ajuste a la lista de elegibles<a
                                href="public_html/documents/elecciones/ct/ajuste_list_eleg.docx"
                                download="ajuste_list_eleg.docx"> Descargar Archivo</a></li>

                        <li>Solicitud de ajuste al padrón de electores<a
                                href="public_html/documents/elecciones/ct/ajuste_pad_elec.docx"
                                download="ajuste_pad_elec.docx"> Descargar Archivo</a></li>
                        <li>Escrito recurso reconsideración<a href="public_html/documents/elecciones/ct/rec_recons.docx"
                                download="rec_recons.docx"> Descargar Archivo</a></li>
                        <li>Escrito recurso impugnación<a href="public_html/documents/elecciones/ct/rec_impug.docx"
                                download="rec_impug.docx"> Descargar Archivo</a></li>
                    </ul>
                </div><!-- despegable padre fin-->
            </div>
        </div>
    </div>


    <div class="row portafolio justify-content-center">
        <div class="contenedor-imagen col-12 col-lg-10">
            <h2 class="pt-5 pb-3" >CONSEJO ACADÉMICO DE ÁREA PARA ALUMNADO</h2>
            <hr>
            <div class="card">
                <div class="card-header" ng-click="showing = '8'">
                    <p><strong>ELECCIÓN DE CONSEJERAS ACADÉMICAS Y CONSEJEROS ACADÉMICOS DE ÁREA REPRESENTANTES DEL
                            ALUMNADO DE LICENCIATURA DE LA FES ARAGÓN ANTE EL CONSEJO ACADÉMICO DEL ÁREA DE LAS CIENCIAS
                            FÍSICO-MATEMÁTICAS Y DE LAS INGENIERÍAS PARA EL PERIODO 2022-2024</strong></p>
                </div>
                <div class="card-body" ng-show="showing === '8'">
                    <!-- despegable padre inicio-->
                    <a href="public_html/documents/elecciones/ca/conv_ca_alum_fmi.pdf" target="_blank">
                        <h6>CONVOCATORIA</h6>
                    </a>
                    <a href="public_html/documents/elecciones/ca/ca_list_eleg_alum_ing_fmi.pdf" target="_blank">
                        <h6>LISTADO DE ELEGIBLES (INGENIERÍAS)</h6>
                    </a>
                    <a href="public_html/documents/elecciones/ca/ca_pad_elec_alum_ing_fmi.pdf" target="_blank">
                        <h6>PADRÓN DE ELECTORES (INGENIERÍAS)</h6>
                    </a>
                    <a href="public_html/documents/elecciones/ca/ca_res_alum_ing_fmi.pdf" target="_blank">
                        <h6>RESULTADOS</h6>
                    </a>
                    <h6>FORMATOS</h6>
                    <hr>
                    <ul class="descargas">
                        <li>Solicitud de registro de fórmula<a
                                href="public_html/documents/elecciones/ca/alum_sol_reg_form_fmi.doc"
                                download="alum_sol_reg_form_fmi.doc"> Descargar Archivo</a></li>
                        <li>Solicitud de registro de representante de fórmula<a
                                href="public_html/documents/elecciones/ca/alum_sol_reg_rep_form_fmi.doc"
                                download="alum_sol_reg_rep_form_fmi.doc"> Descargar Archivo</a></li>
                        <li>Solicitud de registro de representante-observador de casilla<a
                                href="public_html/documents/elecciones/ca/alum_sol_reg_rep_obs_fmi.doc"
                                download="alum_sol_reg_rep_obs_fmi.doc"> Descargar Archivo</a></li>
                        <li>Constancia de registro de fórmula<a
                                href="public_html/documents/elecciones/ca/alum_cons_reg_form_fmi.doc"
                                download="alum_cons_reg_form_fmi.doc"> Descargar Archivo</a></li>
                        <li>Constancia de negativa de registro de fórmula<a
                                href="public_html/documents/elecciones/ca/alum_cons_neg_reg_form_fmi.doc"
                                download="alum_cons_neg_reg_form_fmi.doc"> Descargar Archivo</a></li>
                        <li>Constancia de modificación de negativa de registro de fórmula<a
                                href="public_html/documents/elecciones/ca/alum_cons_mod_neg_reg_form_fmi.doc"
                                download="alum_cons_mod_neg_reg_form_fmi.doc"> Descargar Archivo</a></li>
                        <li>Constancia de confirmación de negativa de registro de fórmula<a
                                href="public_html/documents/elecciones/ca/alum_cons_conf_neg_reg_form_fmi.doc"
                                download="alum_cons_conf_neg_reg_form_fmi.doc"> Descargar Archivo</a></li>
                        <li>Constancia de acreditación de representante de fórmula<a
                                href="public_html/documents/elecciones/ca/alum_cons_acr_rep_form_fmi.doc"
                                download="alum_cons_acr_rep_form_fmi.doc"> Descargar Archivo</a></li>
                        <li>Solicitud de ajuste al listado de elegibles<a
                                href="public_html/documents/elecciones/ca/alum_ajuste_list_eleg_fmi.doc"
                                download="alum_ajuste_list_eleg_fmi.doc"> Descargar Archivo</a></li>
                        <li>Autorización de ajuste al listado de elegibles<a
                                href="public_html/documents/elecciones/ca/alum_aut_ajus_list_eleg_fmi.doc"
                                download="alum_aut_ajus_list_eleg_fmi.doc"> Descargar Archivo</a></li>
                        <li>Negativa de ajuste al listado de elegibles<a
                                href="public_html/documents/elecciones/ca/alum_neg_ajus_list_eleg_fmi.doc"
                                download="alum_neg_ajus_list_eleg_fmi.doc"> Descargar Archivo</a></li>
                        <li>Solicitud de ajuste al padrón de electores<a
                                href="public_html/documents/elecciones/ca/alum_ajuste_pad_elec_fmi.doc"
                                download="alum_ajuste_pad_elec_fmi.doc"> Descargar Archivo</a></li>
                        <li>Autorización de ajuste al padrón de electores<a
                                href="public_html/documents/elecciones/ca/alum_aut_ajus_pad_elec_fmi.doc"
                                download="alum_aut_ajus_pad_elec_fmi.doc"> Descargar Archivo</a></li>
                        <li>Negativa de ajuste al padrón de electores<a
                                href="public_html/documents/elecciones/ca/alum_neg_ajus_pad_elec_fmi.doc"
                                download="alum_neg_ajus_pad_elec_fmi.doc"> Descargar Archivo</a></li>
                        <li>Acta de cierre de casilla<a
                                href="public_html/documents/elecciones/ca/alum_act_cierre_cas_fmi.doc"
                                download="alum_act_cierre_cas_fmi.doc"> Descargar Archivo</a></li>
                        <li>Acta de incidentes<a href="public_html/documents/elecciones/ca/alum_act_incid_fmi.doc"
                                download="alum_act_incid_fmi.doc"> Descargar Archivo</a></li>
                        <li>Acta de instalación de casilla<a
                                href="public_html/documents/elecciones/ca/alum_act_inst_cas_fmi.doc"
                                download="alum_act_inst_cas_fmi.doc"> Descargar Archivo</a></li>
                        <li>Acta de cómputo total<a href="public_html/documents/elecciones/ca/alum_act_comp_tot_fmi.doc"
                                download="alum_act_comp_tot_fmi.doc"> Descargar Archivo</a></li>
                        <li>Escrito de inconformidad<a
                                href="public_html/documents/elecciones/ca/alum_esc_inconf_fmi.doc"
                                download="alum_esc_inconf_fmi.doc"> Descargar Archivo</a></li>
                        <li>Instructivo de casilla electrónica<a
                                href="public_html/documents/elecciones/ca/alum_inst_cas_elec_fmi.doc"
                                download="alum_inst_cas_elec_fmi.doc"> Descargar Archivo</a></li>
                    </ul>
                </div><!-- despegable padre fin-->
            </div>
            <div class="card">
                <div class="card-header" ng-click="showing = '9'">
                    <p><strong>ELECCIÓN DE CONSEJERAS ACADÉMICAS Y CONSEJEROS ACADÉMICOS DE ÁREA REPRESENTANTES DEL
                            ALUMNADO DE LICENCIATURA DE LA FES ARAGÓN ANTE EL CONSEJO ACADÉMICO DEL ÁREA DE LAS CIENCIAS
                            SOCIALES PARA EL PERIODO 2022-2024</strong></p>
                </div>
                <div class="card-body" ng-show="showing === '9'">
                    <!-- despegable padre inicio-->
                    <a href="public_html/documents/elecciones/ca/conv_ca_alum_cs.pdf" target="_blank">
                        <h6>CONVOCATORIA</h6>
                    </a>
                    <h6>LISTADO DE ELEGIBLES</h6>
                    <hr>
                    <ul>
                        <li><a href="public_html/documents/elecciones/ca/ca_list_eleg_alum_cp_cs.pdf"
                                target="_blank">RELACIONES INTERNACIONALES, SOCIOLOGÍA Y COMUNICACIÓN Y PERIODISMO
                                (CIENCIAS POLÍTICAS)</a></li>
                        <li><a href="public_html/documents/elecciones/ca/ca_list_eleg_alum_der_cs.pdf"
                                target="_blank">DERECHO</a></li>
                        <li><a href="public_html/documents/elecciones/ca/ca_list_eleg_alum_eco_cs.pdf"
                                target="_blank">ECONOMÍA</a></li>
                        <li><a href="public_html/documents/elecciones/ca/ca_list_eleg_alum_pda_cs.pdf"
                                target="_blank">PLANIFICACIÓN PARA EL DESARROLLO AGROPECUARIO</a></li>
                    </ul>
                    <h6>PADRÓN DE ELECTORES</h6>
                    <hr>
                    <ul>
                        <li><a href="public_html/documents/elecciones/ca/ca_pad_elec_alum_cp_cs.pdf"
                                target="_blank">RELACIONES INTERNACIONALES, SOCIOLOGÍA Y COMUNICACIÓN Y PERIODISMO
                                (CIENCIAS POLÍTICAS)</a></li>
                        <li><a href="public_html/documents/elecciones/ca/ca_pad_elec_alum_der_cs.pdf"
                                target="_blank">DERECHO</a></li>
                        <li><a href="public_html/documents/elecciones/ca/ca_pad_elec_alum_eco_cs.pdf"
                                target="_blank">ECONOMÍA</a></li>
                        <li><a href="public_html/documents/elecciones/ca/ca_pad_elec_alum_pda_cs.pdf"
                                target="_blank">PLANIFICACIÓN PARA EL DESARROLLO AGROPECUARIO</a></li>
                    </ul>
                    <a href="public_html/documents/elecciones/ca/ca_res_alum_cs.pdf" target="_blank">
                        <h6>RESULTADOS</h6>
                    </a>
                    <h6>FORMATOS</h6>
                    <hr>
                    <ul class="descargas">
                        <li>Solicitud de registro de fórmula<a
                                href="public_html/documents/elecciones/ca/alum_sol_reg_form_cs.doc"
                                download="alum_sol_reg_form_cs.doc"> Descargar Archivo</a></li>
                        <li>Solicitud de registro de representante de fórmula<a
                                href="public_html/documents/elecciones/ca/alum_sol_reg_rep_form_cs.doc"
                                download="alum_sol_reg_rep_form_cs.doc"> Descargar Archivo</a></li>
                        <li>Solicitud de registro de representante-observador de casilla<a
                                href="public_html/documents/elecciones/ca/alum_sol_reg_rep_obs_cs.doc"
                                download="alum_sol_reg_rep_obs_cs.doc"> Descargar Archivo</a></li>
                        <li>Constancia de registro de fórmula<a
                                href="public_html/documents/elecciones/ca/alum_cons_reg_form_cs.doc"
                                download="alum_cons_reg_form_cs.doc"> Descargar Archivo</a></li>
                        <li>Constancia de negativa de registro de fórmula<a
                                href="public_html/documents/elecciones/ca/alum_cons_neg_reg_form_cs.doc"
                                download="alum_cons_neg_reg_form_cs.doc"> Descargar Archivo</a></li>
                        <li>Constancia de modificación de negativa de registro de fórmula<a
                                href="public_html/documents/elecciones/ca/alum_cons_mod_neg_reg_form_cs.doc"
                                download="alum_cons_mod_neg_reg_form_cs.doc"> Descargar Archivo</a></li>
                        <li>Constancia de confirmación de negativa de registro de fórmula<a
                                href="public_html/documents/elecciones/ca/alum_cons_conf_neg_reg_form_cs.doc"
                                download="alum_cons_conf_neg_reg_form_cs.doc"> Descargar Archivo</a></li>
                        <li>Constancia de acreditación de representante de fórmula<a
                                href="public_html/documents/elecciones/ca/alum_cons_acr_rep_form_cs.doc"
                                download="alum_cons_acr_rep_form_cs.doc"> Descargar Archivo</a></li>
                        <li>Solicitud de ajuste al listado de elegibles<a
                                href="public_html/documents/elecciones/ca/alum_ajuste_list_eleg_cs.doc"
                                download="alum_ajuste_list_eleg_cs.doc"> Descargar Archivo</a></li>
                        <li>Autorización de ajuste al listado de elegibles<a
                                href="public_html/documents/elecciones/ca/alum_aut_ajus_list_eleg_cs.doc"
                                download="alum_aut_ajus_list_eleg_cs.doc"> Descargar Archivo</a></li>
                        <li>Negativa de ajuste al listado de elegibles<a
                                href="public_html/documents/elecciones/ca/alum_neg_ajus_list_eleg_cs.doc"
                                download="alum_neg_ajus_list_eleg_cs.doc"> Descargar Archivo</a></li>
                        <li>Solicitud de ajuste al padrón de electores<a
                                href="public_html/documents/elecciones/ca/alum_ajuste_pad_elec_cs.doc"
                                download="alum_ajuste_pad_elec_cs.doc"> Descargar Archivo</a></li>
                        <li>Autorización de ajuste al padrón de electores<a
                                href="public_html/documents/elecciones/ca/alum_aut_ajus_pad_elec_cs.doc"
                                download="alum_aut_ajus_pad_elec_cs.doc"> Descargar Archivo</a></li>
                        <li>Negativa de ajuste al padrón de electores<a
                                href="public_html/documents/elecciones/ca/alum_neg_ajus_pad_elec_cs.doc"
                                download="alum_neg_ajus_pad_elec_cs.doc"> Descargar Archivo</a></li>
                        <li>Acta de cierre de casilla<a
                                href="public_html/documents/elecciones/ca/alum_act_cierre_cas_cs.doc"
                                download="alum_act_cierre_cas_cs.doc"> Descargar Archivo</a></li>
                        <li>Acta de incidentes<a href="public_html/documents/elecciones/ca/alum_act_incid_cs.doc"
                                download="alum_act_incid_cs.doc"> Descargar Archivo</a></li>
                        <li>Acta de instalación de casilla<a
                                href="public_html/documents/elecciones/ca/alum_act_inst_cas_cs.doc"
                                download="alum_act_inst_cas_cs.doc"> Descargar Archivo</a></li>
                        <li>Acta de cómputo total<a href="public_html/documents/elecciones/ca/alum_act_comp_tot_cs.doc"
                                download="alum_act_comp_tot_cs.doc"> Descargar Archivo</a></li>
                        <li>Escrito de inconformidad<a href="public_html/documents/elecciones/ca/alum_esc_inconf_cs.doc"
                                download="alum_esc_inconf_cs.doc"> Descargar Archivo</a></li>
                        <li>Instructivo de casilla electrónica<a
                                href="public_html/documents/elecciones/ca/alum_inst_cas_elec_cs.doc"
                                download="alum_inst_cas_elec_cs.doc"> Descargar Archivo</a></li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header" ng-click="showing = '10'">
                    <p><strong>ELECCIÓN DE CONSEJERAS ACADÉMICAS Y CONSEJEROS ACADÉMICOS DE ÁREA REPRESENTANTES DEL
                            ALUMNADO DE LICENCIATURA DE LA FES ARAGÓN ANTE EL CONSEJO ACADÉMICO DEL ÁREA DE LAS
                            HUMANIDADES Y ARTES PARA EL PERIODO 2022-2024</strong></p>
                </div>
                <div class="card-body" ng-show="showing === '10'">
                    <!-- despegable padre inicio-->
                    <a href="public_html/documents/elecciones/ca/conv_ca_alum_ha.pdf" target="_blank">
                        <h6>CONVOCATORIA</h6>
                    </a>
                    <h6>LISTADO DE ELEGIBLES</h6>
                    <hr>
                    <ul>
                        <li><a href="public_html/documents/elecciones/ca/ca_list_eleg_alum_arq_ha.pdf"
                                target="_blank">ARQUITECTURA Y DISEÑO INDUSTRIAL</a></li>
                        <li><a href="public_html/documents/elecciones/ca/ca_list_eleg_alum_fil_ha.pdf"
                                target="_blank">PEDAGOGÍA</a></li>
                    </ul>
                    <h6>PADRÓN DE ELECTORES</h6>
                    <hr>
                    <ul>
                        <li><a href="public_html/documents/elecciones/ca/ca_pad_elec_alum_arq_ha.pdf"
                                target="_blank">ARQUITECTURA Y DISEÑO INDUSTRIAL</a></li>
                        <li><a href="public_html/documents/elecciones/ca/ca_pad_elec_alum_fil_ha.pdf"
                                target="_blank">PEDAGOGÍA</a></li>
                    </ul>
                    <a href="public_html/documents/elecciones/ca/ca_res_alum_ha.pdf" target="_blank">
                        <h6>RESULTADOS</h6>
                    </a>
                    <h6>FORMATOS</h6>
                    <hr>
                    <ul class="descargas">
                        <li>Solicitud de registro de fórmula<a
                                href="public_html/documents/elecciones/ca/alum_sol_reg_form_ha.doc"
                                download="alum_sol_reg_form_ha.doc"> Descargar Archivo</a></li>
                        <li>Solicitud de registro de representante de fórmula<a
                                href="public_html/documents/elecciones/ca/alum_sol_reg_rep_form_ha.doc"
                                download="alum_sol_reg_rep_form_ha.doc"> Descargar Archivo</a></li>
                        <li>Solicitud de registro de representante-observador de casilla<a
                                href="public_html/documents/elecciones/ca/alum_sol_reg_rep_obs_ha.doc"
                                download="alum_sol_reg_rep_obs_ha.doc"> Descargar Archivo</a></li>
                        <li>Constancia de registro de fórmula<a
                                href="public_html/documents/elecciones/ca/alum_cons_reg_form_ha.doc"
                                download="alum_cons_reg_form_ha.doc"> Descargar Archivo</a></li>
                        <li>Constancia de negativa de registro de fórmula<a
                                href="public_html/documents/elecciones/ca/alum_cons_neg_reg_form_ha.doc"
                                download="alum_cons_neg_reg_form_ha.doc"> Descargar Archivo</a></li>
                        <li>Constancia de modificación de negativa de registro de fórmula<a
                                href="public_html/documents/elecciones/ca/alum_cons_mod_neg_reg_form_ha.doc"
                                download="alum_cons_mod_neg_reg_form_ha.doc"> Descargar Archivo</a></li>
                        <li>Constancia de confirmación de negativa de registro de fórmula<a
                                href="public_html/documents/elecciones/ca/alum_cons_conf_neg_reg_form_ha.doc"
                                download="alum_cons_conf_neg_reg_form_ha.doc"> Descargar Archivo</a></li>
                        <li>Constancia de acreditación de representante de fórmula<a
                                href="public_html/documents/elecciones/ca/alum_cons_acr_rep_form_ha.doc"
                                download="alum_cons_acr_rep_form_ha.doc"> Descargar Archivo</a></li>
                        <li>Solicitud de ajuste al listado de elegibles<a
                                href="public_html/documents/elecciones/ca/alum_ajuste_list_eleg_ha.doc"
                                download="alum_ajuste_list_eleg_ha.doc"> Descargar Archivo</a></li>
                        <li>Autorización de ajuste al listado de elegibles<a
                                href="public_html/documents/elecciones/ca/alum_aut_ajus_list_eleg_ha.doc"
                                download="alum_aut_ajus_list_eleg_ha.doc"> Descargar Archivo</a></li>
                        <li>Negativa de ajuste al listado de elegibles<a
                                href="public_html/documents/elecciones/ca/alum_neg_ajus_list_eleg_ha.doc"
                                download="alum_neg_ajus_list_eleg_ha.doc"> Descargar Archivo</a></li>
                        <li>Solicitud de ajuste al padrón de electores<a
                                href="public_html/documents/elecciones/ca/alum_ajuste_pad_elec_ha.doc"
                                download="alum_ajuste_pad_elec_ha.doc"> Descargar Archivo</a></li>
                        <li>Autorización de ajuste al padrón de electores<a
                                href="public_html/documents/elecciones/ca/alum_aut_ajus_pad_elec_ha.doc"
                                download="alum_aut_ajus_pad_elec_ha.doc"> Descargar Archivo</a></li>
                        <li>Negativa de ajuste al padrón de electores<a
                                href="public_html/documents/elecciones/ca/alum_neg_ajus_pad_elec_ha.doc"
                                download="alum_neg_ajus_pad_elec_ha.doc"> Descargar Archivo</a></li>
                        <li>Acta de cierre de casilla<a
                                href="public_html/documents/elecciones/ca/alum_act_cierre_cas_ha.doc"
                                download="alum_act_cierre_cas_ha.doc"> Descargar Archivo</a></li>
                        <li>Acta de incidentes<a href="public_html/documents/elecciones/ca/alum_act_incid_ha.doc"
                                download="alum_act_incid_ha.doc"> Descargar Archivo</a></li>
                        <li>Acta de instalación de casilla<a
                                href="public_html/documents/elecciones/ca/alum_act_inst_cas_ha.doc"
                                download="alum_act_inst_cas_ha.doc"> Descargar Archivo</a></li>
                        <li>Acta de cómputo total<a href="public_html/documents/elecciones/ca/alum_act_comp_tot_ha.doc"
                                download="alum_act_comp_tot_ha.doc"> Descargar Archivo</a></li>
                        <li>Escrito de inconformidad<a href="public_html/documents/elecciones/ca/alum_esc_inconf_ha.doc"
                                download="alum_esc_inconf_ha.doc"> Descargar Archivo</a></li>
                        <li>Instructivo de casilla electrónica<a
                                href="public_html/documents/elecciones/ca/alum_inst_cas_elec_ha.doc"
                                download="alum_inst_cas_elec_ha.doc"> Descargar Archivo</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>