<div class="container content">
    <hr>
    <div class="row encabezado">
        <div class="col-lg-12 encabezado-titulo animated bounceInUp">
            <h1>PROCESOS DE ELECCIÓN DE CONSEJEROS UNIVERSITARIOS (REPRESENTANTES DE LAS Y LOS TÉCNICOS ACADÉMICOS)</h1>
        </div>
    </div>
    <hr>
    <div class="portafolio">
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-12 col-lg-4">
                    <a href="public_html/documents/elecciones/tec-acad/tec-acad-fis-mat.pdf" target="_blank" title="Convocatoria">
                        <img src="public_html/img/slider-p/votaciones/tec-acad-fis-mat.jpg" class="br-15 img-fluid image" alt="Convocatoria"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-12 col-lg-4">
                    <a href="public_html/documents/elecciones/tec-acad/tec-acad-cien-soc.pdf" target="_blank" title="Convocatoria">
                        <img src="public_html/img/slider-p/votaciones/tec-acad-cien-soc.jpg" class="br-15 img-fluid image" alt="Convocatoria"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-12 col-lg-4">
                    <a href="public_html/documents/elecciones/tec-acad/tec-acad-hum-art.pdf" target="_blank" title="Convocatoria">
                        <img src="public_html/img/slider-p/votaciones/tec-acad-hum-art.jpg" class="br-15 img-fluid image" alt="Convocatoria"/>
                    </a>
                </div>
            </div>
    </div>
</div>