<div class="container content">
    <hr>
    <div class="row encabezado">
        <div class="col-lg-12 encabezado-titulo animated bounceInUp">
            <h1>Convocatoria AWS-UNAM</h1>
        </div>
    </div>
    <hr>
    <div class="row portafolio justify-content-center">
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="https://proyectosnube.tic.unam.mx/convocatoria.html" target="_blank" title="Convocatoria AWS-UNAM">
                        <img src="public_html/img/slider-p/convocatoria-aws-unam.png" class="br-15 img-fluid image" alt="Convocatoria AWS-UNAM"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="https://bit.ly/3OOfcOK" target="_blank" title="Registro AWS-UNAM">
                        <img src="public_html/img/slider-p/registro-aws-unam.png" class="br-15 img-fluid image" alt="Registro AWS-UNAM"/>
                    </a>
                </div>
        </div>
    </div>
</div>