<div class="container content">
    <hr>
    <div class="row encabezado">
        <div class="col-lg-12 encabezado-titulo animated bounceInUp">
            <h1>Convocatorias Fundacion UNAM</h1>
        </div>
    </div>
    <hr>
    <div class="row portafolio justify-content-center">
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/slider_principal/convocatoria_premio_bal-unam_2022.pdf" target="_blank" title="Premio BAL-UNAM Ciencias de la Tierra 2022">
                        <img src="public_html/img/slider-p/convocatoria_premio_bal-unam_2022.jpg" class="br-15 img-fluid image" alt="Premio BAL-UNAM Ciencias de la Tierra 2022"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/slider_principal/premio_educacion_financiera2022.pdf" target="_blank" title="Premio Educación Financiera 2022">
                        <img src="public_html/img/slider-p/premio_educacion_financiera2022.jpg" class="br-15 img-fluid image" alt="Premio Educación Financiera 2022"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/slider_principal/convocatoria_afirme.pdf" target="_blank" title="Premio AFIRME 2022">
                        <img src="public_html/img/slider-p/convocatoria_afirme.jpg" class="br-15 img-fluid image" alt="Premio AFIRME 2022"/>
                    </a>
                </div>
        </div>
    </div>
</div>