<div class="container content">
    <hr>
    <div class="row encabezado">
        <div class="col-lg-12 encabezado-titulo animated bounceInUp">
            <h1>Convocatoria de Posgrado en Ciencias Políticas y Sociales</h1>
        </div>
    </div>
    <hr>
    <div class="row portafolio justify-content-center">
        <div class="col-12 col-md-10">
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-10 col-lg-4 p-10 m-0 br-15">
                    <a href="http://www.politicas.posgrado.unam.mx/sitio/convocat.php" target="_blank" title="Doctorado en economía">
                        <img src="public_html/img/slider_principal/conv1-politicas.jpg" class="br-15 img-fluid image" alt="Doctorado en economía"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-10 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/convocatoria-posgado/conv1-politicas.pdf" target="_blank" title="Doctorado en pedagogía">
                        <img src="public_html/img/slider_principal/conv-politicas.jpg" class="br-15 img-fluid image" alt="Doctorado en pedagogía"/>
                    </a>
                </div>    
            </div>
        </div>
    </div>
</div>