<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <i class="icono-secciones icon-actividades-culturales"></i> <h1>Convocatorias Actividades Culturales</h1>
        </div>
    </div>
    <hr>
    
    <div class="row justify-content-center">
        <div class="col-10">
        <h2>Día de Muertos</h2>
        <hr/>
        </div>
        </div>
    
    <div class="row portafolio">
        <div class="row galeria justify-content-center">
            <div class="contenedor-imagen col-5 col-lg-2 p-10 m-0 br-15">
                <a href="public_html/documents/convocatoria/desfile-de-catrinas-vivientes.pdf" target="_blank" title="Desfile de catrinas vivientes">
                    <img src="public_html/img/convocatoria/desfile-de-catrinas-vivientes.jpg" class="br-15 img-fluid image" alt="Desfile de catrinas vivientes"/>
                </a>
            </div>
            <div class="contenedor-imagen col-5 col-lg-2 p-10 m-0 br-15">
                <a href="public_html/documents/convocatoria/muestra-de-ofrendas.pdf" target="_blank" title="Muestra de ofrendas">
                    <img src="public_html/img/convocatoria/muestra-de-ofrendas.jpg" class="br-15 img-fluid image" alt="Muestra de ofrendas"/>
                </a>
            </div>
            <div class="contenedor-imagen col-5 col-lg-2 p-10 m-0 br-15">
                <a href="public_html/documents/convocatoria/catrinas-vivientes.pdf" target="_blank" title="Catrinas vivientes">
                    <img src="public_html/img/convocatoria/catrinas-vivientes.jpg" class="br-15 img-fluid image" alt="Catrinas vivientes"/>
                </a>
            </div>
            <div class="contenedor-imagen col-5 col-lg-2 p-10 m-0 br-15">
                <a href="public_html/documents/convocatoria/calaveras-literarias.pdf" target="_blank"title="Calaveras literarias">
                    <img src="public_html/img/convocatoria/calaveras-literarias.jpg" class="br-15 img-fluid image" alt="Calaveras literarias"/>
                </a>
            </div>
            <div class="contenedor-imagen col-5 col-lg-2 p-10 m-0 br-15">
                <a href="public_html/documents/convocatoria/tzontlis-craneos.pdf" target="_blank" title="Tzontlis (craneos)">
                    <img src="public_html/img/convocatoria/tzontlis-craneos.jpg" class="br-15 img-fluid image" alt="Tzontlis (craneos)"/>
                </a>
            </div>
        </div>
    
</div>
    
    <div class="row justify-content-center">
        <div class="col-8 col-lg-2">
        <h2>Pastorelas</h2>
        <hr/>
        </div>
        </div>
    
    <div class="portafolio">
        <div class="row galeria justify-content-center">
            <div class="contenedor-imagen col-5 col-lg-2 p-10 m-0 br-15">
                <a href="public_html/documents/convocatoria/pastorelas.pdf"  target="_blank" title="Pastorelas">
                    <img src="public_html/img/convocatoria/pastorelas.jpg" class="br-15 img-fluid image" alt="Pastorelas"/>
                </a>
            </div>
        </div>
    
</div>

