<style>
  .btn-block {
    border: 0px;
  }
</style>

<div class="container content">
  <hr>
  <div class="row encabezado">
    <div class="col-lg-12 encabezado-titulo animated bounceInUp">
      <h1>Convocatorias Art. 51</h1>
    </div>
  </div>
  <hr>
  <div class="row portafolio justify-content-center">
    <div class="col-12 col-md-10 pt-4">
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="convocatoria1">
            <h2 class="mb-0">
              <button class="btn-link btn-block text-left preg" data-toggle="collapse" data-target="#collapse1"
                aria-expanded="true" aria-controls="collapse1">
                <p>Profesores de Carrera, 13 septiembre de 2022</p>
              </button>
            </h2>
          </div>

          <div id="collapse1" class="collapse show" aria-labelledby="convocatoria1" data-parent="#accordionExample">
            <div class="card-body">
              <ul>
                  <li><a target="_blank"
                    href="public_html/documents/convocatorias_art_51/septiembre_2022/convocatoria-rrii.pdf">Profesor de
                    Carrera Asociado “C” tiempo completo, adscrito a la Carrera de Relaciones Internacionales en el área de Estudios Globales </a></li>
              </ul>
            </div>
          </div>
          <div class="card-header" id="convocatoria2">
            <h2 class="mb-0">
              <button class="btn-link btn-block text-left preg" data-toggle="collapse" data-target="#collapse2"
                aria-expanded="true" aria-controls="collapse2">
                <p>Técnicos Académicos, 13 de septiembre de 2022</p>
              </button>
            </h2>
          </div>
          <div id="collapse2" class="collapse show" aria-labelledby="convocatoria2" data-parent="#accordionExample">
            <div class="card-body">
              <ul>
                <li> <a target="_blank" href="public_html/documents/convocatorias_art_51/septiembre_2022/tecnico-academico-asociado-c-tiempo-completo-area-electrica-adscripcion-iee.pdf">Técnico Académico Asociado “C” tiempo completo en el área Eléctrica, con adscripción a la Carrera de Ingeniería Eléctrica Electrónica</a></li>
                <li> <a target="_blank" href="public_html/documents/convocatorias_art_51/septiembre_2022/tecnico-academico-asociado-c-tiempo-completo-area-control-adscripcion-iee.pdf">Técnico Académico Asociado “C” tiempo completo en el área Control, con adscripción a la Carrera de Ingeniería Eléctrica Electrónica</a></li>
              </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div>
    <ul class="list-group texto pt-5 pb-5">
      <li class="list-group-item active" style="color: #000;">Formatos oficiales</li>
      <li class="list-group-item"> <a target="_blank"
          href="public_html/documents/menu-rapido/portal-docente/formatos-oficiales/carta-responsiva-art-51.docx" download="carta-responsiva-art-51.docx"> Carta Responsiva Art. 51</a></li>
      <li class="list-group-item"> <a target="_blank"
          href="public_html/documents/menu-rapido/portal-docente/formatos-oficiales/carta-de-protesta-art-51.docx" download="carta-de-protesta-art-51.docx"> Carta de Protesta Art. 51</a></li>
      <li class="list-group-item"> <a target="_blank"
          href="public_html/documents/menu-rapido/portal-docente/formatos-oficiales/relacion-pormenorizada-de-documentos.pdf">Relación
          Pormenorizada de Documentos (Punto 10 de Requisitos y de Participación)</a></li>
    </ul>
  </div>
</div>