<div class="container content">
    <hr>
    <div class="row encabezado">
        <div class="col-lg-12 encabezado-titulo animated bounceInUp">
            <h1>Curso en línea Retorno Seguro a Actividades Presenciales de la Comunidad Estudiantil de la UNAM</h1>
        </div>
    </div>
    <hr>
    <div class="row portafolio justify-content-center">
        <div class="col-12 col-md-7">
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/curso_retorno/instructivo_curso.pdf" target="_blank" title="Instructivo">
                        <img src="public_html/img/slider-p/curso_retorno/instructivo_curso.png" class="br-15 img-fluid image" alt="Instructivo"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="https://capacitacionspasu.unam.mx/moodle/" target="_blank" title="Registro">
                        <img src="public_html/img/slider-p/curso_retorno/registro_curso.png" class="br-15 img-fluid image" alt="Registro"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>