<div class="container content">
    <hr>
    <div class="row encabezado">
        <div class="col-lg-12 encabezado-titulo animated bounceInUp">
            <h1>11ª Expo Futuro Profesional 2021</h1>
        </div>
    </div>
    <hr>
    <div class="row portafolio justify-content-center">
        <div class="col-12 col-md-11">
            <div class="row justify-content-center">
                <div class="contenedor-imagen col-12 col-lg-10">
                        <img src="public_html/img/slider-p/11-expo-futuro-profesional-2021.jpg" class="br-15 img-fluid image" alt="Convocatorias de Posgrado"/>
                </div>
            </div>
        </div>
        <div class="col-10 col-md-9">
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-12 col-lg-10">
                    <a href="public_html/documents/slider_principal/11-expo-futuro-profesional-2021.pdf" target="_blank" title="Convocatorias de Posgrado">
                        <img src="public_html/img/slider-p/expofuturo-programa.jpg" class="br-15 img-fluid image" alt="Convocatorias de Posgrado"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>