<style>
    .botones .iconoh {
        display: block;
        padding: 15px;
    }

    .botones .btn-cat p{
    padding-top: 10px;
    position: relative;
    top: 0px;
}

.botones .btn-cat p {
    padding-bottom: 10px;
}
.pt-1 li{
padding-bottom: 3px;
}
</style>

<div class="container content">
    <hr>
    <div class="row encabezado">
        <div class="col-lg-12 encabezado-titulo animated bounceInUp">
            <h1>Expo Futuro Profesional 2022</h1>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center botones">
        <div class="col-12 col-md-11">
            <div class="row justify-content-center">
                <div class="contenedor-imagen col-12 col-lg-10">
                        <img src="public_html/img/slider_principal/banner_expo_futuro_2022.jpg" class="br-15 img-fluid image" alt="Expo Futuro Profesional 2022"/>
                </div>
            </div>
        </div>

    </div>
    <div class="row justify-content-center botones pt-4">
        <div class="col-12 col-sm-12 col-md-4 btn-cat">
            <a class="category" href="public_html/documents/slider_principal/cartel_expofuturo_2022.pdf" target="_blank" title="Cartel Expo Futuro 2022">
            <div class="icon iconoh far fa-file-pdf">
            </div>
            <p>Cartel</p>
            </a>
        </div>
            <div class="col-12 col-sm-12 col-md-4 btn-cat btnp">
                <a class="category" href="public_html/documents/slider_principal/programa_expofuturo_2022.pdf" target="_blank" title="Programa Expo Futuro 2022">
                <div class="icon iconoh far fa-file-pdf">
                </div>
                <p>Programa</p>
                </a>
        </div>
    </div>
    
</div>