<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <h1>PRIMERA FERIA UNIVERSITARIA DE PROTECCIÓN CIVIL</h1>
        </div>
    </div>
    <hr>
    <div class="row portafolio justify-content-center">
        <div class="row galeria justify-content-center">
            <div class="contenedor-imagen col-5 col-lg-4 br-15">
                <a href="public_html/documents/slider-p/feria-de-la-proteccion-civil-cartel.pdf" target="_blank" title="Feria de la Protección Civil ¡Cartel!">
                    <img src="public_html/img/slider-p/feria-de-la-proteccion-civil-cartel.jpg" class="br-15 img-fluid image" alt="Feria de la Protección Civil ¡Cartel!"/>
                </a>
            </div>
            <div class="contenedor-imagen col-5 col-lg-4 br-15">
                <a href="" target="_blank" title="Feria de la Protección Civil ¡Programa!">
                    <img src="public_html/img/slider-p/feria-de-la-proteccion-civil-programa.jpg" class="br-15 img-fluid image" alt="Feria de la Protección Civil ¡Programa!"/>
                </a>
            </div>
            
        </div>
    </div>
</div>
