
<div class="container content">
    <hr>
    <div class="row encabezado">
        <div class="col-lg-12 encabezado-titulo">
            <i class="icono-encabezado icon-desarrollo-de-web"></i> <h1>Secciones</h1>
        </div>
    </div>
<hr>
    <section class="gallery-block compact-gallery">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-12 col-lg-12 item zoom-on-hover">
                    <a class="lightbox" href="http://www.aragon.unam.mx/fes-aragon/#!/seccion/fes-aragon">
                        <img class="img-fluid image" src="public_html/img/secciones/img1.jpg">
                        <span class="description">
                            <span class="description-body">Planificación para el Desarrollo Agropecuario</span>
                        </span>
                    </a>
                </div>
                <div class="col-md-6 col-lg-2 item zoom-on-hover">
                    <a class="lightbox" href="http://www.aragon.unam.mx/fes-aragon/#!/seccion/fes-aragon">
                        <img class="img-fluid image" src="public_html/img/secciones/img1.jpg">
                        <span class="description">
                            <p class="description-heading">Lorem Ipsum</p>
                        </span>
                    </a>
                </div>
                <div class="col-md-6 col-lg-2 item zoom-on-hover">
                    <a class="lightbox" href="public_html/img/secciones/image2.jpg">
                        <img class="img-fluid image" src="public_html/img/secciones/img1.jpg">
                        <span class="description">
                            <p class="description-heading">Lorem Ipsum</p>
                        </span>
                    </a>
                </div>
                <div class="col-md-6 col-lg-2 item zoom-on-hover">
                    <a class="lightbox" href="public_html/img/secciones/image3.jpg">
                        <img class="img-fluid image" src="public_html/img/secciones/img1.jpg">
                        <span class="description">
                            <p class="description-heading">Lorem Ipsum</p>
                        </span>
                    </a>
                </div>
                <div class="col-md-6 col-lg-2 item zoom-on-hover">
                    <a class="lightbox" href="public_html/img/secciones/image4.jpg">
                        <img class="img-fluid image" src="public_html/img/secciones/img1.jpg">
                        <span class="description">
                            <p class="description-heading">Lorem Ipsum</p>
                        </span>
                        </a>
                    </div>
                <div class="col-md-6 col-lg-2 item zoom-on-hover">
                    <a class="lightbox" href="public_html/img/secciones/image5.jpg">
                        <img class="img-fluid image" src="public_html/img/secciones/img1.jpg">
                        <span class="description">
                            <p class="description-heading">Lorem Ipsum</p>
                        </span>
                    </a>
                </div>
                <div class="col-md-6 col-lg-2 item zoom-on-hover">
                    <a class="lightbox" href="public_html/img/secciones/image6.jpg">
                        <img class="img-fluid image" src="public_html/img/secciones/img1.jpg">
                        <span class="description">
                            <p class="description-heading">Lorem Ipsum</p>
                        </span>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item zoom-on-hover">
                    <a class="lightbox" href="public_html/img/secciones/image7.jpg">
                        <img class="img-fluid image" src="public_html/img/secciones/img1.jpg">
                        <span class="description">
                            <p class="description-heading">Lorem Ipsum</p>
                        </span>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item zoom-on-hover">
                    <a class="lightbox" href="public_html/img/secciones/image8.jpg">
                        <img class="img-fluid image" src="public_html/img/secciones/img1.jpg">
                        <span class="description">
                            <p class="description-heading">Lorem Ipsum</p>
                        </span>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item zoom-on-hover">
                    <a class="lightbox" href="public_html/img/secciones/image9.jpg">
                        <img class="img-fluid image" src="public_html/img/secciones/img1.jpg">
                        <span class="description">
                            <p class="description-heading">Lorem Ipsum</p>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
