<div class="container content">
    <hr>
    <div class="row encabezado">
        <div class="col-lg-12 encabezado-titulo animated bounceInUp">
            <h1>Grupos de reflexión</h1>
        </div>
    </div>
    <hr>
    <div class="row portafolio justify-content-center">
        <div class="col-12 col-md-7">
            <h2>Docentes</h2>
            <hr/>
            <div class="row galeria justify-content-center">
            <div class="row justify-content-center">
                <div class="contenedor-imagen col-12 col-lg-8">
                    <a href="public_html/documents/grupos-de-reflexion/cartel-grupos-de-reflexion-para-docentes.pdf" target="_blank" title="cartel">
                        <img src="public_html/img/grupos-de-reflexion/docentes-cartel.jpg" class="br-15 img-fluid image" alt="cartel"/>
                    </a>
                </div>
            </div>
                <div class="contenedor-imagen col-6 col-lg-4 p-10 m-0 br-15">
                    <a href="https://bit.ly/3aAwlHH" target="_blank" title="Registro">
                        <img src="public_html/img/grupos-de-reflexion/nuevas-formas-de-relacionarse-en-pareja-registro.jpg" class="br-15 img-fluid image" alt="Registro"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-7" style="padding-top: 15px;">
            <h2>Estudiantes</h2>
            <hr/>
            <div class="row galeria justify-content-center">
            <div class="row justify-content-center">
                <div class="contenedor-imagen col-12 col-lg-8">
                    <a href="public_html/documents/grupos-de-reflexion/cartel-grupos-de-reflexion-para-estudiantes.pdf" target="_blank" title="cartel">
                        <img src="public_html/img/grupos-de-reflexion/estudiantes-cartel.jpg" class="br-15 img-fluid image" alt="cartel"/>
                    </a>
                </div>
            </div>
                <div class="contenedor-imagen col-6 col-lg-4 p-10 m-0 br-15">
                    <a href="https://bit.ly/315xxj8" target="_blank" title="Registro">
                        <img src="public_html/img/grupos-de-reflexion/nuevas-formas-de-relacionarse-en-pareja.jpg" class="br-15 img-fluid image" alt="Registro"/>
                    </a>
                </div>
        </div>

    </div>
</div>