<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <h1>Aplicación del Instrumento de Percepción del Estudiante en la Práctica Docente Semestre 2024-1</h1>
        </div>
    </div>
    <hr>
    <div class="portafolio">
        <div class="row justify-content-center">
            <div class="col-12 col-md-5">
                    <p style="text-align:center;margin-bottom: 8px;">Comunidad Académica</p>
                <div class="row galeria justify-content-center">
                    <div class="contenedor-imagen col-6 col-md-5">
                        <a href="public_html/documents/slider-p/que-hacer-en-caso-de-incumplimiento-del-comunicado.pdf"
                            target="_blank" title="Comunicado para evitar el uso">
                            <img src="public_html/img/slider-p/que-hacer-en-caso-de-incumplimiento-del-comunicado.png"
                                class="br-15 img-fluid image" alt="Comunicado para evitar el uso" />
                        </a>
                    </div>
                    <div class="contenedor-imagen col-6 col-md-5">
                        <a href="public_html/documents/slider-p/comunicado-para-evitar-el-uso.pdf" target="_blank"
                            title="Comunicado para evitar el uso">
                            <img src="public_html/img/slider-p/comunicado-para-evitar-el-uso.jpg"
                                class="br-15 img-fluid image" alt="Comunicado para evitar el uso" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5">
                    <p style="text-align:center;margin-bottom: 8px;">Comunidad Estudiantil</p>
                <div class="row galeria justify-content-center">
                    <div class="contenedor-imagen col-6 col-md-5">
                        <a href="public_html/documents/slider-p/procedimiento-para-la-aplicacion-del-instrumento.pdf"
                            target="_blank" title="Procedimientos para la aplicación del instrumento">
                            <img src="public_html/img/slider-p/procedimientos-para-la-aplicacion-del-instrumento.jpg"
                                class="br-15 img-fluid image" alt="Procedimientos para la aplicación del instrumento" />
                        </a>
                    </div>
                    <div class="contenedor-imagen col-6 col-md-5">
                        <a href="public_html/documents/slider-p/como-retroalimentar-a-tus-profesores.pdf"
                            target="_blank" title="Comunicado para evitar el uso">
                            <img src="public_html/img/slider-p/como-retroalimentar-a-tus-profesores.png"
                                class="br-15 img-fluid image" alt="Comunicado para evitar el uso" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10 col-md-6" style="padding:  0;margin-top: 15px;">
                <p style="text-align: center;margin-bottom: 0px;">Enlace para la Aplicación del Instrumento de
                    Percepción del Estudiante en la Práctica Docente</p>
                <p style="text-align: center;">(Carreras con Actividades Académicas)</p>
            </div>
        </div>
        <div class="row galeria justify-content-center">
            <div class="contenedor-imagen col-10 col-md-3">
                <a href="https://informatica.aragon.unam.mx/evaluacion1.1/Login.php" target="_blank" title="presencial">
                    <img src="public_html/img/slider-p/presencial.png" class="br-15 img-fluid image" alt="presencial" />
                </a>
            </div>
            <div class="contenedor-imagen col-10 col-md-3">
                <a href="https://informatica.aragon.unam.mx/evaluacion2.1/Login.php" target="_blank" title="SUAyED">
                    <img src="public_html/img/slider-p/suayed.png" class="br-15 img-fluid image" alt="SUAyED" />
                </a>
            </div>
        </div>
        <div class="row galeria justify-content-center">
            <div class="contenedor-imagen col-10 col-md-4">
                <a href="http://132.248.44.93:8080/OEP/" target="_blank"
                    title="Buzón para atención de dudas y comentarios">
                    <img src="public_html/img/slider-p/buzon-para-atencion-de-dudas-y-comentarios.jpg"
                        class="br-15 img-fluid image" alt="Buzón para atención de dudas y comentarios" />
                </a>
            </div>
            <div class="contenedor-imagen col-10 col-md-2">
                <a href="public_html/documents/slider-p/como-usar-el-buzon.pdf" target="_blank"
                    title="Buzón para atención de dudas y comentarios">
                    <img src="public_html/img/slider-p/como-usar-el-buzon.jpg" class="br-15 img-fluid image"
                        alt="Buzón para atención de dudas y comentarios" />
                </a>
            </div>
        </div>

    </div>
</div>