<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-12">
            <h1>Listado de profesores y profesoras</h1>
        </div>
    </div>
    <hr>
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-12 col-lg-11" style="padding-bottom: 20px;">
                    <a href="public_html/documents/listados-de-profesores/info_listado.pdf" target="_blank" title="Listado de profesores y profesoras">
                        <img src="public_html/documents/listados-de-profesores/info_listado.jpg" class="br-15 img-fluid image" alt="Listado de profesores y profesoras"/>
                    </a>
                </div>
    </div>
    <div class="row justify-content-center botones" style="padding-top: 25px;">
        <div class="col-12 col-lg-11 pt-4">
            <h2>Ciencias Físico-Matemáticas y de las Ingenierías</h2>
            <hr>
            <div class="row">
                <div class="col-12 col-md-4 btn-cat">
                    <a class="category" target="_blank" href="public_html/documents/listados-de-profesores/ingenieria-civil.pdf" title="Ingeniería Civil">
                        <div class="icon icon-ingenieria-civil">
                        </div>
                        <p>Ingeniería Civil</p>
                    </a>
                </div>
                <div class="col-12 col-md-4 btn-cat">
                    <a class="category" target="_blank" href="public_html/documents/listados-de-profesores/ingenieria-en-computacion.pdf" title="Ingeniería en Computación">
                        <div class="icon icon-ingenieria-en-computacion">
                        </div>
                        <p>Ingeniería en Computación</p>
                    </a>
                </div>
                <div class="col-12 col-md-4 btn-cat">
                    <a class="category" target="_blank" href="public_html/documents/listados-de-profesores/ingenieria-electrica-electronica.pdf" title="Ingeniería Eléctrica Electrónica">
                        <div class="icon icon-ingenieria-electrica-electronica">
                        </div>
                        <p>Ingeniería Eléctrica Electrónica</p>
                    </a>
                </div>
                <div class="col-12 col-md-4 btn-cat">
                    <a class="category" target="_blank" href="public_html/documents/listados-de-profesores/ingenieria-industrial.pdf" title="Ingeniería Industrial">
                        <div class="icon icon-ingenieria-industrial">
                        </div>
                        <p>Ingeniería Industrial</p>
                    </a>
                </div>
                <div class="col-12 col-md-4 btn-cat">
                    <a class="category" target="_blank" href="public_html/documents/listados-de-profesores/ingenieria-mecanica.pdf" title="Ingeniería Mecánica">
                        <div class="icon icon-ingenieria-mecanica">
                        </div>
                        <p>Ingeniería Mecánica</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center botones" style="padding-top: 25px;">
        <div class="col-12 col-lg-11 pt-4">
            <h2>Ciencias Sociales</h2>
            <hr>
            <div class="row justify-content-star">
                <div class="col-12 col-md-4 btn-cat">
                    <a class="category" target="_blank" href="public_html/documents/listados-de-profesores/comunicacion-y-periodismo.pdf" title="Comunicación y Periodismo">
                        <div class="icon icon-comunicacion-y-peridismo">
                        </div>
                        <p>Comunicación y Periodismo</p>
                    </a>
                </div>
                <div class="col-12 col-md-4 btn-cat">
                    <a class="category" target="_blank" href="public_html/documents/listados-de-profesores/derecho.pdf" title="Derecho">
                        <div class="icon icon-derecho">
                        </div>
                        <p>Derecho</p>
                    </a>
                </div>
                <div class="col-12 col-md-4 btn-cat">
                    <a class="category" target="_blank" href="public_html/documents/listados-de-profesores/economia.pdf" title="Economía">
                        <div class="icon icon-economia">
                        </div>
                        <p>Economía</p>
                    </a>
                </div>
                <div class="col-12 col-md-4 btn-cat">
                    <a class="category" target="_blank" href="public_html/documents/listados-de-profesores/planificacion-para-el-desarrollo-agropecuario.pdf" title="Planificación para el Desarrollo Agropecuario">
                        <div class="icon icon-planificacion-para-el-desarrollo-agropecuario">
                        </div>
                        <p>Planificación para el Desarrollo Agropecuario</p>
                    </a>
                </div>
                <div class="col-12 col-md-4 btn-cat">
                    <a class="category" target="_blank" href="public_html/documents/listados-de-profesores/relaciones-internacionales.pdf" title="Relaciones Internacionales">
                        <div class="icon icon-relaciones-internacionales">
                        </div>
                        <p>Relaciones Internacionales</p>
                    </a>
                </div>
                <div class="col-12 col-md-4 btn-cat">
                    <a class="category" target="_blank" href="public_html/documents/listados-de-profesores/sociologia.pdf" title="Sociología">
                        <div class="icon icon-sociologia">
                        </div>
                        <p>Sociología</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center botones" style="padding-top: 25px;">
        <div class="col-12 col-lg-11 pt-4">
            <h2>Humanidades y Artes</h2>
            <hr>
            <div class="row justify-content-star">
                <div class="col-12 col-md-4 btn-cat">
                    <a class="category" target="_blank" href="public_html/documents/listados-de-profesores/arquitectura.pdf" title="Arquitectura">
                        <div class="icon icon-arquitectura">
                        </div>
                        <p>Arquitectura</p>
                    </a>
                </div>
                <div class="col-12 col-md-4 btn-cat">
                    <a class="category" target="_blank" href="public_html/documents/listados-de-profesores/diseno-industrial.pdf" title="Dise&ntilde;o industrial">
                        <div class="icon icon-diseno-industrial">
                        </div>
                        <p>Diseño Industrial</p>
                    </a>
                </div>
                <div class="col-12 col-md-4 btn-cat">
                    <a class="category" target="_blank" href="public_html/documents/listados-de-profesores/pedagogia.pdf" title="Pedagog&iacute;a">
                        <div class="icon icon-pedagogia">
                        </div>
                        <p>Pedagogía</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center botones" style="padding-top: 25px;">
        <div class="col-12 col-lg-11 pt-4 pb-4">
            <h2>Sistema Universidad Abierta y Educación a Distancia</h2>
            <hr>
            <div class="row justify-content-star">
                <div class="col-12 col-md-4 btn-cat">
                    <a class="category" target="_blank" href="public_html/documents/listados-de-profesores/derecho-sua.pdf" title="Derecho SUAyED">
                        <div class="icon icon-derecho-suayed">
                        </div>
                        <p>Derecho SUAyED</p>
                    </a>
                </div>
                <div class="col-12 col-md-4 btn-cat">
                    <a class="category" target="_blank" href="public_html/documents/listados-de-profesores/economia-sua.pdf" title="Econom&iacute;a SUAyED">
                        <div class="icon icon-economia-suayed">
                        </div>
                        <p>Economía SUAyED</p>
                    </a>
                </div>
                <div class="col-12 col-md-4 btn-cat">
                    <a class="category" target="_blank" href="public_html/documents/listados-de-profesores/relaciones-internacionales-sua.pdf" title="Relaciones Internacionales SUAyED">
                        <div class="icon icon-relaciones-internacionales-suayed">
                        </div>
                        <p>Relaciones Internacionales SUAyED</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .botones .iconoh {
        display: block;
        padding: 15px;
    }

    .botones .btn-cat p{
    padding-top: 10px;
    position: relative;
    top: 0px;
}
   
    @media (min-width: 768px) {
        .btn-cat {
            max-width: 31.333333%;
        }
    }



    .botones .btn-cat {
        margin: 5px;
        border: 1px solid #d3af6d;
        color: red;
        padding: 0px;
    }

    .botones .btn-cat .icon {
        position: relative;
        top: 3px;
        font-size: 50px;
        margin: 0px auto 0px;
        text-align: center;
    }


    .botones .btn-cat p {
        position: relative;
        top: -13px;
        margin: 0px;
        font-size: 13px;
        text-align: center;
    }

    .botones .btn-cat a {
        color: #255981;
    }

    .botones .btn-cat:hover {
        background-color: #255981;
    }

    .botones .btn-cat a:hover {
        color: #fff;
    }



    .tarj-pre {
        margin: 5px;
        padding: 0;
        width: 248;
        height: 165;
        background: #000;
    }

    .tarj-pre .image {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .tarj-pre .image img {
        width: 100%;
        transition: .5s;
    }

    .tarj-pre:hover .image img {
        opacity: .5;
        transform: translateX(30%);
        /*100%*/
    }

    .tarj-pre .deta-pre {
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        /*100%*/
        height: 100%;
        background: #ffc107;
        transition: .5s;
        transform-origin: left;
        transform: perspective(2000px) rotateY(-90deg);
    }

    .tarj-pre:hover .deta-pre {
        transform: perspective(2000px) rotateY(0deg);
    }

    .tarj-pre .deta-pre .center {
        padding: 20px;
        text-align: center;
        background: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .tarj-pre .deta-pre .center h1 {
        margin: 0;
        padding: 0;
        color: #ff3636;
        line-height: 20px;
        font-size: 20px;
        text-transform: uppercase;
    }

    .tarj-pre .deta-pre .center h1 span {
        font-size: 14px;
        color: #262626;
    }

    .tarj-pre .deta-pre .center p {
        margin: 0px 0;
        padding: 0;
        color: #262626;
        font-size: 13px;
    }

    .img-responsable {
        width: 100px;
        margin-bottom: 10px;
    }

    @media (min-width: 992px) {
        .tarj-ult {
            margin-right: 26px;
        }
    }

    @media (max-width: 768px) {

        .img-responsable {
            width: 250px;

        }
    }

    @media (max-width: 576px) {

        .img-responsable {
            width: 155px;

        }
    }
</style>