<div class="container content">
    <hr />
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <h1>MATERIAL DE APOYO A LA DOCENCIA</h1>
        </div>
    </div>
    <hr />
    <div class="portafolio">
        <div class="row galeria justify-content-center">
            <div class="col-10 mb-2">
                <h2>INTEGRACI&Oacute;N NUM&Eacute;RICA</h2>
                <hr />
            </div>
            <div class="contenedor-imagen col-10 col-md-2 br-15 mb-md-4">
                <a href="public_html/documents/oferta_academica/ingenieria/integracion-numerica-temario.pdf" target="_blank" title="Integraci&oacute;n num&eacute;rica">
                    <img src="public_html/img/oferta_academica/ingenieria/integracion-numerica-temario.jpg" class="img-fluid imagen" alt="Integraci&oacute;n num&eacute;rica"/>
                </a>
            </div>
            <div class="contenedor-imagen col-10 col-md-2 br-15 mb-md-4">
                <a href="public_html/documents/oferta_academica/ingenieria/integracion-numerica-material.zip" target="_blank" title="Integraci&oacute;n num&eacute;ricarica">
                    <img src="public_html/img/oferta_academica/ingenieria/integracion-numerica-material-descargable.jpg" class="img-fluid imagen" alt="Integraci&oacute;n num&eacute;rica"/>
                </a>
            </div>
            <div class="col-10 col-md-4 m-3 mb-md-4">
                <div>MATERIAL AUDIOVISUAL</div>
                <ul>
                    <li>
                        <a href="https://youtu.be/Z3C341IMMx4" target="_blank" title="Integraci&oacute;n num&eacute;ricarica - Nivel 1">
                            Integraci&oacute;n num&eacute;ricarica - Nivel 1
                        </a>
                    </li>
                    <li>
                        <a href="https://youtu.be/Oyj7euLTP_I" target="_blank" title="Integraci&oacute;n num&eacute;ricarica - 1er Caso">
                            Integraci&oacute;n num&eacute;ricarica - 1er Caso
                        </a>
                    </li>
                    <li>
                        <a href="https://youtu.be/N47KX1qoIPU" target="_blank" title="Integraci&oacute;n num&eacute;ricarica - 2do Caso">
                            Integraci&oacute;n num&eacute;ricarica - 2do Caso
                        </a>
                    </li>
                    <li>
                        <a href="https://youtu.be/SrVDxL1p430" target="_blank" title="Integraci&oacute;n num&eacute;ricarica - 3er Caso">
                            Integraci&oacute;n num&eacute;ricarica - 3er Caso
                        </a>
                    </li>
                    <li>
                        <a href="https://youtu.be/rbyEVNSvUoY" target="_blank" title="Integraci&oacute;n num&eacute;ricarica - 4to Caso">
                            Integraci&oacute;n num&eacute;ricarica - 4to Caso
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-10 mb-2">
                <h2>ECUACIONES DIFERENCIALES</h2>
                <hr />
            </div>
            <div class="contenedor-imagen col-10 col-md-2 br-15 mb-md-4">
                <a href="public_html/documents/oferta_academica/ingenieria/ecuaciones-diferenciales-temario.pdf" target="_blank" title="Ecuaciones Diferenciales">
                    <img src="public_html/img/oferta_academica/ingenieria/ecuaciones-diferenciales-temario.jpg" class="img-fluid imagen" alt="Ecuaciones Diferenciales"/>
                </a>
            </div>
            <div class="contenedor-imagen col-10 col-md-2 br-15 mb-md-4">
                <a href="public_html/documents/oferta_academica/ingenieria/ecuaciones-diferenciales-material.zip" target="_blank" title="Ecuaciones Diferenciales">
                    <img src="public_html/img/oferta_academica/ingenieria/ecuaciones-diferenciales-material-descargable.jpg" class="img-fluid imagen" alt="Ecuaciones Diferenciales"/>
                </a>
            </div>
            <div class="col-10 col-md-4 m-3 mb-md-4">
                <div>MATERIAL AUDIOVISUAL</div>
                <ul>
                    <li>
                        <a href="https://youtu.be/hVUGLZJcafk" target="_blank" title="Ecuaciones Diferenciales">
                            Ecuaciones diferenciales - Caso 1 al 5
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-10 mb-2">
                <h2>SOLUCI&Oacute;N NUM&Eacute;RICA DE ECUACIONES ALGEBRAICAS Y TRASCENDENTES</h2>
                <hr />
            </div>
            <div class="contenedor-imagen col-10 col-md-2 br-15 mb-md-4">
                <a href="public_html/documents/oferta_academica/ingenieria/solucion-numerica-de-ecuaciones-algebraicas-y-trascendentes-temario.pdf" target="_blank" title="Soluci&oacute;n num&eacute;rica de ecuaciones algebraicas y trascendentes">
                    <img src="public_html/img/oferta_academica/ingenieria/solucion-numerica-de-ecuaciones-algebraicas-y-trascendentes-temario.jpg" class="img-fluid imagen" alt="Soluci&oacute;n num&eacute;rica de ecuaciones algebraicas y trascendentes"/>
                </a>
            </div>
            <div class="contenedor-imagen col-10 col-md-2 br-15 mb-md-4">
                <a href="public_html/documents/oferta_academica/ingenieria/solucion-numerica-de-ecuaciones-algebraicas-y-trascendentes-material.zip" target="_blank" title="Soluci&oacute;n num&eacute;rica de ecuaciones algebraicas y trascendentes">
                    <img src="public_html/img/oferta_academica/ingenieria/solucion-numerica-de-ecuaciones-algebraicas-y-trascendentes-material-descargable.jpg" class="img-fluid imagen" alt="Soluci&oacute;n num&eacute;rica de ecuaciones algebraicas y trascendentes"/>
                </a>
            </div>
            <div class="col-10 col-md-4 m-3 mb-md-4">
                <div>MATERIAL AUDIOVISUAL</div>
                <ul>
                    <li>
                        <a href="https://youtu.be/Ef54xQRGKUY" target="_blank" title="Soluci&oacute;n num&eacute;rica de ecuaciones algebraicas y trascendentes">
                            Soluci&oacute;n num&eacute;rica de ecuaciones algebraicas y trascendentes
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-10 mb-2">
                <h2>SISTEMAS LINEALES</h2>
                <hr />
            </div>
            <div class="contenedor-imagen col-10 col-md-2 br-15 mb-md-4">
                <a href="public_html/documents/oferta_academica/ingenieria/sistemas-lineales-temario.pdf" target="_blank" title="Sistemas Lineales">
                    <img src="public_html/img/oferta_academica/ingenieria/sistemas-lineales-temario.jpg" class="img-fluid imagen" alt="Sistemas Lineales"/>
                </a>
            </div>
            <div class="contenedor-imagen col-10 col-md-2 br-15 mb-md-4">
                <a href="public_html/documents/oferta_academica/ingenieria/sistemas-lineales-material.zip" target="_blank" title="Sistemas Lineales">
                    <img src="public_html/img/oferta_academica/ingenieria/sistemas-lineales-material-descargable.jpg" class="img-fluid imagen" alt="Sistemas Lineales"/>
                </a>
            </div>
            <div class="col-10 col-md-4 m-3 mb-md-4">
                <div>MATERIAL AUDIOVISUAL</div>
                <ul>
                    <li>
                        <a href="https://youtu.be/tOdr0I-rAdM" target="_blank" title="Sistemas Lineales">
                            Sistemas Lineales
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-10 mb-2">
                <h2>INTERPOLACI&Oacute;N</h2>
                <hr />
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="contenedor-imagen col-10 col-md-2 br-15 mb-md-4">
                        <a href="public_html/documents/oferta_academica/ingenieria/interpolacion-temario.pdf" target="_blank" title="Interpolaci&oacute;n">
                            <img src="public_html/img/oferta_academica/ingenieria/sistemas-lineales-temario.jpg" class="img-fluid imagen" alt="Interpolaci&oacute;n"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>