<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <h1>Plataformas</h1>
        </div>
    </div>
    <hr>
    <div class="portafolio">
        <div class="row galeria justify-content-center">      
            <div class="contenedor-imagen col-10 col-md-2 br-15 ">
                <a href="public_html/documents/slider_principal/Manual-de-usuario-google-meet.pdf" target="_blank" title="Revista Digital de Posgrado ¡convocatoria!">
                    <img src="public_html/img/slider-p/Manual-de-usuario-google-meet.jpg" class="br-15 img-fluid image" alt="Revista Digital de Posgrado ¡convocatoria!"/>
                </a>
            </div>
            <div class="contenedor-imagen col-10 col-md-2 br-15 ">
                <a href="preguntas-frecuentes-de-alumnos.pdf" target="_blank" title="Revista Digital de Posgrado ¡revista!">
                    <img src="public_html/img/slider-p/preguntas-frecuentes-de-alumnos.jpg" class="br-15 img-fluid image" alt="Revista Digital de Posgrado ¡revista!"/>
                </a>
            </div>
         </div>
     </div>
    <div class="portafolio">
        <div class="row galeria justify-content-center">
        <div class="col-12 col-md-11">
        <h2>Manuales de usuario para profesores</h2>
        <hr> 
        </div>       
            <div class="contenedor-imagen col-10 col-md-2 br-15 ">
                <a href="public_html/documents/slider_principal/para-realizar-videoconferencias.pdf" target="_blank" title="Revista Digital de Posgrado ¡convocatoria!">
                    <img src="public_html/img/slider-p/para-realizar-videoconferencias.jpg" class="br-15 img-fluid image" alt="Revista Digital de Posgrado ¡convocatoria!"/>
                </a>
            </div>
            <div class="contenedor-imagen col-10 col-md-2 br-15 ">
                <a href="para-usar-las-aulas-virtuales.pdf" target="_blank" title="Revista Digital de Posgrado ¡revista!">
                    <img src="public_html/img/slider-p/para-usar-las-aulas-virtuales.jpg" class="br-15 img-fluid image" alt="Revista Digital de Posgrado ¡revista!"/>
                </a>
            </div>
            <div class="contenedor-imagen col-10 col-md-2 br-15 ">
                <a href="para-consultar-listas-de-alumnos-inscritos.pdf" target="_blank" title="Revista Digital de Posgrado ¡revista!">
                    <img src="public_html/img/slider-p/para-consultar-listas-de-alumnos-inscritos.jpg" class="br-15 img-fluid image" alt="Revista Digital de Posgrado ¡revista!"/>
                </a>
            </div>
         </div>
     </div>
</div>
