<div class="container content">
    <hr>
    <div class="row encabezado">
        <div class="col-lg-12 encabezado-titulo animated bounceInUp">
            <h1>Presea 2020</h1>
        </div>
    </div>
    <hr>
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-lg-3">
                    <a href="public_html/documents/slider-p/convocatoria-presea-2020.pdf" target="_blank" title="convocatoria-presea-2020">
                        <img src="public_html/img/slider-p/conv.jpg" class="br-15 img-fluid image" alt="convocatoria-presea-2020"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-lg-3">
                    <a href="public_html/documents/slider-p/ficha-de-registro-presea-2020.pdf" target="_blank" title="ficha-de-registros">
                        <img src="public_html/img/slider-p/ficha-de-registros.jpg" class="br-15 img-fluid image" alt="ficha-de-registros"/>
                    </a>
                </div>
            </div>
</div>