<div class="container content">
    <hr>
    <div class="row encabezado">
        <div class="col-lg-12 encabezado-titulo animated bounceInUp">
            <h1>CONSEJEROS UNIVERSITARIOS (REPRESENTANTES DEL PROFESORADO, DE LAS Y LOS TÉCNICOS ACADÉMICOS Y DEL ALUMNADO), CONSEJEROS ACADÉMICOS (REPRESENTANTES DEL PROFESORADO Y DEL ALUMNADO) Y CONSEJEROS TÉCNICOS (REPRESENTANTES DEL ALUMNADO)</h1>
        </div>
    </div>
    <hr>
    <div class="row portafolio justify-content-center">
            <div class="row galeria justify-content-center">
                    <div class="contenedor-imagen col-12 col-lg-8">
                            <a href="public_html/documents/slider-p/vota.pdf" target="_blank" title="Vota">
                                <img src="public_html/img/slider-p/votaciones/vota2.png" class="br-15 img-fluid image" alt="Convocatoria"/>
                            </a>
                        </div>
                <div class="contenedor-imagen col-12 col-lg-4">
                    <a ui-sref="cons_uni" target="_blank" title="Convocatoria">
                        <img src="public_html/img/slider-p/votaciones/proceso-de-eleccion-profesorado.jpg" class="br-15 img-fluid image" alt="Convocatoria"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-12 col-lg-4">
                    <a ui-sref="cons_tec" target="_blank" title="Convocatoria">
                        <img src="public_html/img/slider-p/votaciones/proceso-de-eleccion-alumnado.jpg" class="br-15 img-fluid image" alt="Convocatoria"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-12 col-lg-4">
                    <a ui-sref="cons_uni_tec" target="_blank" title="Convocatoria">
                        <img src="public_html/img/slider-p/votaciones/representantes-de-las-y-los-tecnicos-academicos.jpg" class="br-15 img-fluid image" alt="Convocatoria"/>
                    </a>
                </div>
            </div>
    </div>
</div>