<div class="container content">
    <hr>
    <div class="row encabezado">
        <div class="col-lg-12 encabezado-titulo animated bounceInUp">
            <h1>Programas Estrategicos</h1>
        </div>
    </div>
    <hr>
    <div class="row portafolio">
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-5 col-lg-2 br-15">
                    <a href="public_html/documents/slider-p/prog/dcfmi-pe-2020-2024.pdf" target="_blank" title="Doctorado">
                        <img src="public_html/img/slider-p/prog/dcfmi.jpg" class="br-15 img-fluid image" alt="Doctorado"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-2 br-15">
                    <a href="public_html/documents/slider-p/prog/dcs-pe-2020-2024.pdf" target="_blank" title="Doctorado">
                        <img src="public_html/img/slider-p/prog/dcs.jpg" class="br-15 img-fluid image" alt="Doctorado"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-2 br-15">
                    <a href="public_html/documents/slider-p/prog/dha-pe-2020-2024.pdf" target="_blank" title="Doctorado">
                        <img src="public_html/img/slider-p/prog/dha.jpg" class="br-15 img-fluid image" alt="Doctorado"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-2 br-15">
                    <a href="public_html/documents/slider-p/prog/depi-2020-2024.pdf" target="_blank" title="Doctorado">
                        <img src="public_html/img/slider-p/prog/depi.jpg" class="br-15 img-fluid image" alt="Doctorado"/>
                    </a>
                </div>
            </div>

        <div class="col-12 ">
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-5 col-lg-2 br-15">
                    <a href="public_html/documents/slider-p/prog/duacyd-pe-2020-2024.pdf" target="_blank" title="Doctorado">
                        <img src="public_html/img/slider-p/prog/duacyd.jpg" class="br-15 img-fluid image" alt="Doctorado"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-2 br-15">
                    <a href="public_html/documents/slider-p/prog/ec-pe-2020-2024.pdf" target="_blank" title="Doctorado">
                        <img src="public_html/img/slider-p/prog/ec.jpg" class="br-15 img-fluid image" alt="Doctorado"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-2 br-15">
                    <a href="public_html/documents/slider-p/prog/cle-pe-2020-2024.pdf" target="_blank" title="Doctorado">
                        <img src="public_html/img/slider-p/prog/cle.jpg" class="br-15 img-fluid image" alt="Doctorado"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 ">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <hr>
            </div>
        </div>
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-5 col-lg-2 br-15">
                    <a href="public_html/documents/slider-p/prog/secretaria-academica-pe-2020-2024.pdf" target="_blank" title="Doctorado">
                        <img src="public_html/img/slider-p/prog/secretaria-academica.jpg" class="br-15 img-fluid image" alt="Doctorado"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-2 br-15">
                    <a href="public_html/documents/slider-p/prog/secretaria-administrativa-pe-2020-2024.pdf" target="_blank" title="Doctorado">
                        <img src="public_html/img/slider-p/prog/secretaria-administrativa.jpg" class="br-15 img-fluid image" alt="Doctorado"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-2 br-15">
                    <a href="public_html/documents/slider-p/prog/svyd-pe-2020-2024.pdf" target="_blank" title="Doctorado">
                        <img src="public_html/img/slider-p/prog/svyd.jpg" class="br-15 img-fluid image" alt="Doctorado"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <hr>
            </div>
        </div>
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-5 col-lg-2 br-15">
                    <a href="public_html/documents/slider-p/prog/crs-pe-2020-2024.pdf" target="_blank" title="Doctorado">
                        <img src="public_html/img/slider-p/prog/crs.jpg" class="br-15 img-fluid image" alt="Doctorado"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-2 br-15">
                    <a href="public_html/documents/slider-p/prog/cg-pe-2020-2024.pdf" target="_blank" title="Doctorado">
                        <img src="public_html/img/slider-p/prog/cg.jpg" class="br-15 img-fluid image" alt="Doctorado"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-2 br-15">
                    <a href="public_html/documents/slider-p/prog/cifi-pe-2020-2024.pdf" target="_blank" title="Doctorado">
                        <img src="public_html/img/slider-p/prog/cifi.jpg" class="br-15 img-fluid image" alt="Doctorado"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 ">
         <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <hr>
            </div>
        </div>
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-5 col-lg-2 br-15">
                    <a href="public_html/documents/slider-p/prog/cima-pe-2020-2024.pdf" target="_blank" title="Doctorado">
                        <img src="public_html/img/slider-p/prog/cima.jpg" class="br-15 img-fluid image" alt="Doctorado"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-2 br-15">
                    <a href="public_html/documents/slider-p/prog/cta-pe-2020-2024.pdf" target="_blank" title="Doctorado">
                        <img src="public_html/img/slider-p/prog/cta.jpg" class="br-15 img-fluid image" alt="Doctorado"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 ">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <hr>
            </div>
        </div>
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-5 col-lg-2 br-15">
                    <a href="public_html/documents/slider-p/prog/ceiiu-pe-2020-2024.pdf" target="_blank" title="Doctorado">
                        <img src="public_html/img/slider-p/prog/ceiiu.jpg" class="br-15 img-fluid image" alt="Doctorado"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-2 br-15">
                    <a href="public_html/documents/slider-p/prog/csl-pe-2020-2024.pdf" target="_blank" title="Doctorado">
                        <img src="public_html/img/slider-p/prog/csl.jpg" class="br-15 img-fluid image" alt="Doctorado"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 ">
         <div class="row justify-content-center">
            <div class="col-12 col-lg-4">
                <hr>
            </div>
        </div>
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-5 col-lg-2 br-15">
                    <a href="public_html/documents/slider-p/prog/ueu-pe-2020-2024.pdf" target="_blank" title="Doctorado">
                        <img src="public_html/img/slider-p/prog/ueu.jpg" class="br-15 img-fluid image" alt="Doctorado"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>