<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <h1>Informes y evaluación de profesores</h1>
        </div>
    </div>
    <hr>
    <div class="portafolio" style="margin-bottom: 10px;">
        <div class="contenedor-imagen col-12" style="text-align:center;">
            <h2>Sistema para ingresar a los Informes de Profesores 2024-I</h2>
        </div>
        <div class="row galeria justify-content-center">        
            <div class="contenedor-imagen col-10 col-md-2">
                <a href="http://132.248.44.97/wcronos/profesores/posgrado/" target="_blank" title="Sistema para ingresar a los Informes de Profesores">
                    <img src="public_html/img/slider-p/posgrado.jpg" class="br-15 img-fluid image" alt="Sistema para ingresar a los Informes de Profesores"/>
                </a>
            </div>
            <div class="contenedor-imagen col-10 col-md-2">
                <a href="http://132.248.44.97/wcronos/profesores/asignatura/index.php" target="_blank" title="Sistema para ingresar a los Informes de Profesores">
                    <img src="public_html/img/slider-p/asignatura.jpg" class="br-15 img-fluid image" alt="Sistema para ingresar a los Informes de Profesores"/>
                </a>
            </div>
            <div class="contenedor-imagen col-10 col-md-2">
                <a href="http://132.248.44.97/wcronos/profesores/actividades/" target="_blank" title="Sistema para ingresar a los Informes de Profesores">
                    <img src="public_html/img/slider-p/actividades.jpg" class="br-15 img-fluid image" alt="Sistema para ingresar a los Informes de Profesores"/>
                </a>
            </div>
         </div>
     </div>
     <div class="row justify-content-center"> 
        <div class="col-10 col-md-6">
               <hr>
           </div>
       </div>
     <div class="portafolio" style="margin-bottom: 10px;">
         <div class="contenedor-imagen col-12" style="text-align:center;">
             <h2>Reportes 2024-I</h2>
         </div>
         <div class="row galeria justify-content-center">        
             <div class="contenedor-imagen col-10 col-md-2">
                 <a href="https://informatica.aragon.unam.mx/profesor1.1/Login.php" target="_blank" title="Reportes Escolarizado Profesores 2024-I">
                     <img src="public_html/img/slider-p/escolarizado.png" class="br-15 img-fluid image" alt="Reportes Escolarizado Profesores 2024-I"/>
                 </a>
             </div>
             <div class="contenedor-imagen col-10 col-md-2">
                 <a href="https://informatica.aragon.unam.mx/profesor2.1/Login.php" target="_blank" title="Reportes Sistema Universidad Abierta 2023-2">
                     <img src="public_html/img/slider-p/sua.png" class="br-15 img-fluid image" alt="Reportes Sistema Universidad Abierta 2023-2"/>
                 </a>
             </div>
          </div>
      </div>
     <div class="row justify-content-center"> 
     <div class="col-10 col-md-6">
            <hr>
        </div>
    </div>
     <div class="portafolio">
        <div class="contenedor-imagen col-12" style="text-align:center;">
             <h2>Sistema de Evaluación de Profesores 2024-I</h2>
        </div>
        <div class="row galeria justify-content-center">        
            <div class="contenedor-imagen col-10 col-md-2">
                <a href="https://informatica.aragon.unam.mx/evaluacion3.1/Login.php" target="_blank" title="Bienvenido al Sistema de Evaluación de Profesores Posgrado 2021-2">
                    <img src="public_html/img/slider-p/evaluacion-de-Profesores-Posgrado.jpg" class="br-15 img-fluid image" alt="Bienvenido al Sistema de Evaluación de Profesores Posgrado 2021-2"/>
                </a>
            </div>
         </div>
     </div>
 </div>
