<div class="container content">
    <hr>
    <div class="row encabezado">
        <div class="col-lg-12 encabezado-titulo animated bounceInUp">
            <h1>Convocatoria para el Reconocimiento en el sistema nacional de investigadoras e investigadores 2024</h1>
        </div>
    </div>
    <hr>
    <div class="row portafolio justify-content-center">
        <div class="col-12 col-md-7">
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-5 col-lg-5 p-10 m-0 br-15">
                    <a href="public_html/documents/sni/convocatoria-reconocimiento-sni.pdf" target="_blank" title="Convocatoria">
                        <img src="public_html/img/slider-p/sni/convocatoria.png" class="br-15 img-fluid image" alt="Convocatoria"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-5 p-10 m-0 br-15">
                    <a href="public_html/documents/sni/reglas-de-operacion-reconocimiento-sni.pdf" target="_blank" title="Reglas">
                        <img src="public_html/img/slider-p/sni/reglas.png" class="br-15 img-fluid image" alt="Reglas"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>