<div class="container content">
    <hr>
    <div class="row encabezado">
        <div class="col-lg-12 encabezado-titulo animated bounceInUp">
            <h1>Video Institucional de Bienvenida UNAM</h1>
        </div>
    </div>
    <hr>
        <div class="row galeria justify-content-center pt-3 pb-3">
            <div class="col-12 col-lg-10">
                <div class="embed-responsive embed-responsive-16by9" style="border-radius: 15px;">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CSIPEtG47QE" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
</div>

<style>
@media (min-width: 320px) { .videounam{
    width: 235px;
    height:270px;
}
}
    @media (min-width: 575.98px) { .videounam{
    width: 361px;
    height:427px;
}
}
    @media (min-width: 767.98px) { .videounam{
    width: 511px;
    height:727px;
}
}

    @media (min-width: 991.98px) { 
    .videounam{
    width: 711px;
    height:727px;
}
}

     @media (min-width: 1199.98px) { 
.videounam{
    width: 860px;
    height:720px;
}
      }
</style>
