<div class="container content">
    <hr>
    <div class="row encabezado">
        <div class="col-lg-12 encabezado-titulo animated bounceInUp">
            <h1>Procesos de elección</h1>
        </div>
    </div>
    <hr>
    <div class="row portafolio justify-content-center">
        <div class="col-12 col-md-7">
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/conv_alum_cu.pdf" target="_blank" title="Convocatoria">
                        <img src="public_html/img/slider-p/votaciones/conv_alum_cu.png" class="br-15 img-fluid image" alt="Convocatoria"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/convocatoria_rep_profesorado.pdf" target="_blank" title="Convocatoria">
                        <img src="public_html/img/slider-p/votaciones/conv_prof_cu.png" class="br-15 img-fluid image" alt="Convocatoria"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/conv_alum_ct.pdf" target="_blank" title="Convocatoria">
                        <img src="public_html/img/slider-p/votaciones/conv_alum_ct.png" class="br-15 img-fluid image" alt="Convocatoria"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
<!--    <div class="row justify-content-center">
        <div class="col-12 col-md-8 encabezado" style="padding-bottom: 15px; padding-top: 15px;">
            <a target="_blank" href="public_html/documents/votaciones/padron_electores.pdf">
            <img src="public_html/img/slider-p/votaciones/padron.png" class="br-15 img-fluid image" alt="Padrón"/>
            </a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 encabezado" style="padding-bottom: 15px; padding-top: 15px;">
            <a target="_blank" href="public_html/documents/votaciones/listado_elegibles.pdf">
            <img src="public_html/img/slider-p/votaciones/listado.png" class="br-15 img-fluid image" alt="Listado"/>
            </a>
        </div>
    </div>
 -->
    <br>
    <br>
    <br>
    <h1 style= "text-align: center">ELECCIÓN DE CONSEJEROS UNIVERSITARIOS REPRESENTANTES DEL ALUMNADO</h1>
    <hr>
    <br>
    <h2>Padrón de electores</h2>
    <br>
    <div class="row portafolio justify-content-center">
        <div class="col-12 col-md-7">
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_elec_arq_di.pdf" target="_blank" title="Listado Electores Arquitectura y Diseño Industrial">
                        <img src="public_html/img/slider-p/votaciones/arq_di.png" class="br-15 img-fluid image" alt="Listado Electores Arquitectura y Diseño Industrial"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_elec_rri_soc_cyp.pdf" target="_blank" title="Listado Electores RRII, Sociología y Comunicación y Periodismo">
                        <img src="public_html/img/slider-p/votaciones/rri_soc_cyp.png" class="br-15 img-fluid image" alt="Listado Electores RRII, Sociología y Comunicación y Periodismo"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_elec_derecho.pdf" target="_blank" title="Listado Electores Derecho">
                        <img src="public_html/img/slider-p/votaciones/derecho.png" class="br-15 img-fluid image" alt="Listado Electores Derecho"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_elec_economia.pdf" target="_blank" title="Listado Electores Economía">
                        <img src="public_html/img/slider-p/votaciones/economia.png" class="br-15 img-fluid image" alt="Listado Electores Economía"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_elec_pedagogia.pdf" target="_blank" title="Listado Electores Pedagogía">
                        <img src="public_html/img/slider-p/votaciones/pedagogia.png" class="br-15 img-fluid image" alt="Listado Electores Pedagogía"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_elec_ingenierias.pdf" target="_blank" title="Listado Electores Ingenierías">
                        <img src="public_html/img/slider-p/votaciones/ingenierias.png" class="br-15 img-fluid image" alt="Listado Electores Ingenierías"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_elec_pda.pdf" target="_blank" title="Listado Electores PDA">
                        <img src="public_html/img/slider-p/votaciones/pda.png" class="br-15 img-fluid image" alt="Listado Electores PDA"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <h2>Listado de elegibles</h2>
    <br>
    <div class="row portafolio justify-content-center">
        <div class="col-12 col-md-7">
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_eleg_arq_di.pdf" target="_blank" title="Listado Electores Arquitectura y Diseño Industrial">
                        <img src="public_html/img/slider-p/votaciones/arq_di.png" class="br-15 img-fluid image" alt="Listado Electores Arquitectura y Diseño Industrial"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_eleg_rri_soc_cyp.pdf" target="_blank" title="Listado Electores RRII, Sociología y Comunicación y Periodismo">
                        <img src="public_html/img/slider-p/votaciones/rri_soc_cyp.png" class="br-15 img-fluid image" alt="Listado Electores RRII, Sociología y Comunicación y Periodismo"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_eleg_derecho.pdf" target="_blank" title="Listado Electores Derecho">
                        <img src="public_html/img/slider-p/votaciones/derecho.png" class="br-15 img-fluid image" alt="Listado Electores Derecho"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_eleg_economia.pdf" target="_blank" title="Listado Electores Economía">
                        <img src="public_html/img/slider-p/votaciones/economia.png" class="br-15 img-fluid image" alt="Listado Electores Economía"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_eleg_pedagogia.pdf" target="_blank" title="Listado Electores Pedagogía">
                        <img src="public_html/img/slider-p/votaciones/pedagogia.png" class="br-15 img-fluid image" alt="Listado Electores Pedagogía"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_eleg_ingenierias.pdf" target="_blank" title="Listado Electores Ingenierías">
                        <img src="public_html/img/slider-p/votaciones/ingenierias.png" class="br-15 img-fluid image" alt="Listado Electores Ingenierías"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_eleg_pda.pdf" target="_blank" title="Listado Electores PDA">
                        <img src="public_html/img/slider-p/votaciones/pda.png" class="br-15 img-fluid image" alt="Listado Electores PDA"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <h5>Correo electrónico: consejerosuniversitarios@aragon.unam.mx</h5>
    <br>
    <h1 style= "text-align: center">ELECCIÓN DE CONSEJEROS TÉCNICOS REPRESENTANTES DEL ALUMNADO</h1>
    <hr>
    <br>
    <h2>Padrón de electores</h2>
    <br>
    <div class="row portafolio justify-content-center">
        <div class="col-12 col-md-7">
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_elec_arq_di2.pdf" target="_blank" title="Listado Elegibles Arquitectura y Diseño Industrial">
                        <img src="public_html/img/slider-p/votaciones/arq_di2.png" class="br-15 img-fluid image" alt="Listado Elegibles Arquitectura y Diseño Industrial"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_elec_rri_soc_cyp2.pdf" target="_blank" title="Listado Elegibles RRII, Sociología y Comunicación y Periodismo">
                        <img src="public_html/img/slider-p/votaciones/rri_soc_cyp2.png" class="br-15 img-fluid image" alt="Listado Elegibles RRII, Sociología y Comunicación y Periodismo"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_elec_derecho2.pdf" target="_blank" title="Listado Elegibles Derecho">
                        <img src="public_html/img/slider-p/votaciones/derecho2.png" class="br-15 img-fluid image" alt="Listado Electores Derecho"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_elec_economia2.pdf" target="_blank" title="Listado Elegibles Economía">
                        <img src="public_html/img/slider-p/votaciones/economia2.png" class="br-15 img-fluid image" alt="Listado Elegibles Economía"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_elec_pedagogia2.pdf" target="_blank" title="Listado Elegibles Pedagogía">
                        <img src="public_html/img/slider-p/votaciones/pedagogia2.png" class="br-15 img-fluid image" alt="Listado Elegibles Pedagogía"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_elec_ingenierias2.pdf" target="_blank" title="Listado Elegibles Ingenierías">
                        <img src="public_html/img/slider-p/votaciones/ingenierias2.png" class="br-15 img-fluid image" alt="Listado Elegibles Ingenierías"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_elec_pda2.pdf" target="_blank" title="Listado Elegibles PDA">
                        <img src="public_html/img/slider-p/votaciones/pda2.png" class="br-15 img-fluid image" alt="Listado Elegibles PDA"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <h2>Listado de elegibles</h2>
    <br>
    <div class="row portafolio justify-content-center">
        <div class="col-12 col-md-7">
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_eleg_arq_di2.pdf" target="_blank" title="Listado Elegibles Arquitectura y Diseño Industrial">
                        <img src="public_html/img/slider-p/votaciones/arq_di2.png" class="br-15 img-fluid image" alt="Listado Elegibles Arquitectura y Diseño Industrial"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_eleg_rri_soc_cyp2.pdf" target="_blank" title="Listado Elegibles RRII, Sociología y Comunicación y Periodismo">
                        <img src="public_html/img/slider-p/votaciones/rri_soc_cyp2.png" class="br-15 img-fluid image" alt="Listado Elegibles RRII, Sociología y Comunicación y Periodismo"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_eleg_derecho2.pdf" target="_blank" title="Listado Elegibles Derecho">
                        <img src="public_html/img/slider-p/votaciones/derecho2.png" class="br-15 img-fluid image" alt="Listado Electores Derecho"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_eleg_economia2.pdf" target="_blank" title="Listado Elegibles Economía">
                        <img src="public_html/img/slider-p/votaciones/economia2.png" class="br-15 img-fluid image" alt="Listado Elegibles Economía"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_eleg_pedagogia2.pdf" target="_blank" title="Listado Elegibles Pedagogía">
                        <img src="public_html/img/slider-p/votaciones/pedagogia2.png" class="br-15 img-fluid image" alt="Listado Elegibles Pedagogía"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_eleg_ingenierias2.pdf" target="_blank" title="Listado Elegibles Ingenierías">
                        <img src="public_html/img/slider-p/votaciones/ingenierias2.png" class="br-15 img-fluid image" alt="Listado Elegibles Ingenierías"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/votaciones/list_eleg_pda2.pdf" target="_blank" title="Listado Elegibles PDA">
                        <img src="public_html/img/slider-p/votaciones/pda2.png" class="br-15 img-fluid image" alt="Listado Elegibles PDA"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <h5>Correo electrónico: consejerostecnicos@aragon.unam.mx</h5>
</div>