<style>
  .btn-block {
    border: 0px;
  }
</style>

<div class="container content">
  <hr>
  <div class="row encabezado">
    <div class="col-lg-12 encabezado-titulo animated bounceInUp">
      <h1>Ingreso de Personal Académico de Tiempo Completo</h1>
    </div>
  </div>
  <hr>
  <div class="row portafolio justify-content-center">
    <div class="col-12 col-md-10 pt-4">
      <div class="accordion" id="accordionExample">
        <div class="card">
          <!--<div class="card-header" id="convocatoria1">
            <h2 class="mb-0">
              <button class="btn-link btn-block text-left preg" data-toggle="collapse" data-target="#collapse1"
                aria-expanded="true" aria-controls="collapse1">
                <p>Septiembre 13, 2022</p>
              </button>
            </h2>
          </div>

          <div id="collapse1" class="collapse show" aria-labelledby="convocatoria1" data-parent="#accordionExample">
            <div class="card-body">
              <ul>
                  <li><a target="_blank"
                    href="public_html/documents/concursos/septiembre_2022/convocatoria-rrii.pdf">Profesor de
                    Carrera Asociado “C” tiempo completo, adscrito a la Carrera de Relaciones Internacionales en el área de Estudios Globales </a></li>
              </ul>
            </div>
          </div>-->
          <div class="card-header" id="conv-noviembre-13-23">
            <h2 class="mb-0">
              <button class="btn-link btn-block text-left preg" data-toggle="collapse" data-target="#collapse1"
                aria-expanded="true" aria-controls="collapse1">
                <p>Noviembre 13, 2023</p>
              </button>
            </h2>
          </div>

          <div id="collapse1" class="collapse show" aria-labelledby="conv-noviembre-13-23"
            data-parent="#accordionExample">
            <div class="card-body">
              <ul>
                <li> <a target="_blank"
                    href="public_html/documents/menu-rapido/portal-docente/convocatorias-13-10-23.pdf">
                    Consulta las convocatorias</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="conv-diciembre-01-22">
            <h2 class="mb-0">
              <button class=" btn-link btn-block text-left preg collapsed" data-toggle="collapse"
                data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                <p>Diciembre 1, 2022</p>
              </button>
            </h2>
          </div>
          <div id="collapse2" class="collapse" aria-labelledby="conv-diciembre-01-22" data-parent="#accordionExample">
            <div class="card-body">
              <ul>
                <li> <a target="_blank"
                    href="public_html/documents/menu-rapido/portal-docente/convocatorias-1-12-22.pdf">
                    Consulta las convocatorias</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="conv-mayo-30-22">
            <h2 class="mb-0">
              <button class=" btn-link btn-block text-left preg collapsed" data-toggle="collapse"
                data-target="#collapse-conv-13-10-23" aria-expanded="false" aria-controls="collapse-conv-13-10-23">
                <p>Mayo 30, 2022</p>
              </button>
            </h2>
          </div>
          <div id="collapse-conv-13-10-23" class="collapse" aria-labelledby="conv-mayo-30-22"
            data-parent="#accordionExample">
            <div class="card-body">
              <ul>
                <li><a target="_blank"
                    href="public_html/documents/concursos/mayo_2022/convocatoria-economia.pdf">Profesor de
                    Carrera Asociado “B” tiempo completo, adscrito a la Carrera de Economía SUAyED en el área de
                    Economía
                    Internacional </a></li>
                <li><a target="_blank" href="public_html/documents/concursos/mayo_2022/convocatoria-cta-dm.pdf">Profesor
                    de
                    Carrera Asociado “B” tiempo completo, adscrito al Centro Tecnológico Aragón en el área de Diseño
                    Mecánico </a></li>
                <li><a target="_blank" href="public_html/documents/concursos/mayo_2022/convocatoria-cyp.pdf">Profesor de
                    Carrera Asociado “C” tiempo completo, adscrito a la Carrera de Comunicación y Periodismo en el
                    área de Televisión</a></li>
                <li><a target="_blank" href="public_html/documents/concursos/mayo_2022/convocatoria-pda.pdf">Profesor de
                    Carrera Asociado “C” tiempo completo, adscrito a la Carrera de Planificación para el Desarrollo
                    Agropecuario en el área de Planeación </a> </li>
                <li><a target="_blank"
                    href="public_html/documents/concursos/mayo_2022/convocatoria-sociologia.pdf">Profesor de
                    Carrera Asociado “C” tiempo completo, adscrito a la Carrera de Sociología en el área de
                    Instituciones y Procesos Sociales </a> </li>
                <li><a target="_blank" href="public_html/documents/concursos/mayo_2022/convocatoria-cta-cm.pdf">Profesor
                    de
                    Carrera Asociado “C” tiempo completo, adscrito al Centro Tecnológico Aragón en el área de
                    Comportamiento de Materiales </a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="conv-sep-5-19">
            <h2 class="mb-0">
              <button class=" btn-link btn-block text-left preg collapsed" data-toggle="collapse"
                data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                <p>Septiembre 5, 2019</p>
              </button>
            </h2>
          </div>
          <div id="collapse3" class="collapse" aria-labelledby="conv-sep-5-19" data-parent="#accordionExample">
            <div class="card-body">
              <ul>
                <li> <a target="_blank"
                    href="public_html/documents/concursos/septiembre_2019/convocatoria-interino-cta.pdf">Profesor de
                    Carrera Asociado “C” tiempo completo, interino, en el área Medición e Instrumentación con
                    adscripción al Centro Tecnológico Aragón</a></li>
                <li> <a target="_blank"
                    href="public_html/documents/concursos/septiembre_2019/convocatoria-interino-ingindustrial.pdf">Profesor
                    de Carrera Asociado “C” tiempo completo, interino, en el área Sistemas Productivos con adscripción a
                    la Carrera de Ingeniería Industrial</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="conv-enero-29-18">
            <h2 class="mb-0">
              <button class=" btn-link btn-block text-left preg collapsed" data-toggle="collapse"
                data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                <p>Enero 29, 2018</p>
              </button>
            </h2>
          </div>
          <div id="collapse4" class="collapse" aria-labelledby="conv-enero-29-18" data-parent="#accordionExample">
            <div class="card-body">
              <ul>
                <li> <a target="_blank"
                    href="public_html/documents/concursos/enero_2018/profesor-carrera-asociado-c-tiempo-completo-interino-area-administracion-industrial.pdf">Profesor
                    de Carrera Asociado “C” tiempo completo, interino, en el área Administración Industrial, con
                    adscripción a la carrera de Ingeniería Industrial, con número de plaza 77606-33</a></li>
                <li> <a target="_blank"
                    href="public_html/documents/concursos/enero_2018/profesor-carrera-asociado-c-tiempo-completo-interino-area-civil.pdf">Profesor
                    de Carrera Asociado “C” tiempo completo, interino, en el área Civil, con adscripción a la carrera de
                    Derecho, con número de plaza 77609-23</a></li>
                <li> <a target="_blank"
                    href="public_html/documents/concursos/enero_2018/profesor-carrera-asociado-c-tiempo-completo-interino-area-comunicaciones.pdf">Profesor
                    de Carrera Asociado “C” tiempo completo, interino, en el área de Comunicaciones, con adscripción a
                    la carrera de Ingeniería Eléctrica Electrónica, con número de plaza 75393-52</a></li>
                <li> <a target="_blank"
                    href="public_html/documents/concursos/enero_2018/profesor-carrera-asociado-c-tiempo-completo-interino-area-constitucional.pdf">Profesor
                    de Carrera Asociado “C” tiempo completo, interino, en el área Constitucional, con adscripción a la
                    carrera de Derecho, con número de plaza 77608-93</a></li>
                <li> <a target="_blank"
                    href="public_html/documents/concursos/enero_2018/profesor-carrera-asociado-c-tiempo-completo-interino-area-diseno-arquitectonico-integral.pdf">Profesor
                    de Carrera Asociado “C” tiempo completo, interino, en el área Diseño Arquitectónico Integral,
                    subárea Expresión, con adscripción a la carrera de Arquitectura, con número de plaza 23769-07</a>
                </li>
                <li> <a target="_blank"
                    href="public_html/documents/concursos/enero_2018/profesor-carrera-asociado-c-tiempo-completo-interino-area-tratamiento-de-la-informacion.pdf">Profesor
                    de Carrera Asociado “C” tiempo completo, interino, en el área Tratamiento de la Información, con
                    adscripción a la carrera de Ingeniería en Computación, con número de plaza 63622-89</a></li>
                <li> <a target="_blank"
                    href="public_html/documents/concursos/enero_2018/profesor-carrera-asociado-c-tiempo-completo-interino-investigacion-pedagogica.pdf">Profesor
                    de Carrera Asociado “C” tiempo completo, interino, en la Línea Eje de Investigación Pedagógica, con
                    adscripción a la Carrera de Pedagogía, con número de plaza 77612-10</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="conv-agos-28-17">
            <h2 class="mb-0">
              <button class=" btn-link btn-block text-left preg collapsed" data-toggle="collapse"
                data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                <p>Agosto 28, 2017</p>
              </button>
            </h2>
          </div>
          <div id="collapse5" class="collapse" aria-labelledby="conv-agos-28-17" data-parent="#accordionExample">
            <div class="card-body">
              <ul>
                <li> <a target="_blank"
                    href="public_html/documents/concursos/agosto_2017/profesor-carrera-asociado-b-tiempo-completo-interino-area-metodologica-adscripcion-cyp-numero-plaza-23746-13.pdf">Profesor
                    de Carrera Asociado “B” tiempo completo, interino, en el área Metodológica, con adscripción a la
                    Carrera de Comunicación y Periodismo, con número de plaza 23746-13</a></li>
                <li> <a target="_blank"
                    href="public_html/documents/concursos/agosto_2017/profesor-carrera-asociado-c-tiempo-completo-interino-area-civil-adscripcion-der-numero-plaza-23779-04.pdf">Profesor
                    de Carrera Asociado “C” tiempo completo, interino, en el área Civil, con adscripción a la Carrera de
                    Derecho, con número de plaza 23779-04</a></li>
                <li> <a target="_blank"
                    href="public_html/documents/concursos/agosto_2017/profesor-carrera-asociado-c-tiempo-completo-interino-area-constitucional-adscripcion-der-numero-plaza-77607-63.pdf">Profesor
                    de Carrera Asociado “C” tiempo completo, interino, en el área Constitucional, con adscripción a la
                    Carrera de Derecho, con número de plaza 77607-63</a></li>
                <li> <a target="_blank"
                    href="public_html/documents/concursos/agosto_2017/profesor-carrera-asociado-c-tiempo-completo-interino-area-desarrollo-integral-proyectos-subarea-diseno-integral-adscripcion-carrera-dis-ind-numero-plaza-77611-80.pdf">Profesor
                    de Carrera Asociado “C” tiempo completo, interino, en el área Desarrollo Integral de Proyectos,
                    subárea Diseño Integral, con adscripción a la Carrera de Diseño Industrial, con número de plaza
                    77611-80</a></li>
                <li> <a target="_blank"
                    href="public_html/documents/concursos/agosto_2017/profesor-carrera-asociado-c-tiempo-completo-interino-area-electronica-adscripcion-iee-numero-plaza-23772-94.pdf">Profesor
                    de Carrera Asociado “C” tiempo completo, interino, en el área Electrónica, con adscripción a la
                    Carrera de Ingeniería Eléctrica Electrónica, con número de plaza 23772-94</a></li>
                <li> <a target="_blank"
                    href="public_html/documents/concursos/agosto_2017/profesor-carrera-asociado-c-tiempo-completo-interino-area-estructuras-adscripcion-ici-numero-plaza-77605-03.pdf">Profesor
                    de Carrera Asociado “C” tiempo completo, interino, en el área Estructuras, con adscripción a la
                    Carrera de Ingeniería Civil, con número de plaza 77605-03</a></li>
                <li> <a target="_blank"
                    href="public_html/documents/concursos/agosto_2017/profesor-carrera-asociado-c-tiempo-completo-interino-area-programacion-e-ingenieria-software-adscripcion-ico-numero-plaza-77604-73.pdf">Profesor
                    de Carrera Asociado “C” tiempo completo, interino, en el área Programación e Ingeniería de Software,
                    con adscripción a la Carrera de Ingeniería en Computación, con número de plaza 77604-73</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <ul class="list-group texto pt-5 pb-5">
        <li class="list-group-item active" style="color: #000;">Formatos oficiales <br> </li>
        <li class="list-group-item"> 1. Solicitud de inscripción
          (<a target="_blank" class="btn-link"
            href="public_html/documents/menu-rapido/portal-docente/formatos-profesores-de-carrera/solicitud-de-inscripcion-carrera.pdf">PDF</a>)
          (<a target="_blank" class="btn-link"
            href="public_html/documents/menu-rapido/portal-docente/formatos-profesores-de-carrera/solicitud-de-inscripcion-carrera.docx"
            download="sol_insc.docx">Word</a>)
        </li>
        <li class="list-group-item">2. Carta de aceptación para recibir notificaciones
          (<a target="_blank" class="btn-link"
            href="public_html/documents/menu-rapido/portal-docente/formatos-profesores-de-carrera/carta-de-aceptacion-para-recibir-notificaciones-carrera.pdf">PDF</a>)
          (<a target="_blank" class="btn-link"
            href="public_html/documents/menu-rapido/portal-docente/formatos-profesores-de-carrera/carta-de-aceptacion-para-recibir-notificaciones-carrera.docx"
            download="carta_notif.docx">Word</a>)
        </li>
        <li class="list-group-item"> 3. Carta protesta de decir la verdad
          (<a target="_blank" class="btn-link"
            href="public_html/documents/menu-rapido/portal-docente/formatos-profesores-de-carrera/carta-protesta-de-decir-verdad-carrera.pdf">PDF</a>)
          (<a target="_blank" class="btn-link"
            href="public_html/documents/menu-rapido/portal-docente/formatos-profesores-de-carrera/carta-protesta-de-decir-verdad-carrera.docx"
            download="carta_protesta.docx">Word</a>)
        </li>
        <li class="list-group-item"> 4. Carta de confidencialidad
          (<a target="_blank" class="btn-link"
            href="public_html/documents/menu-rapido/portal-docente/formatos-profesores-de-carrera/carta-de-confidencialidad-carrera.pdf">PDF</a>)
          (<a target="_blank" class="btn-link"
            href="public_html/documents/menu-rapido/portal-docente/formatos-profesores-de-carrera/carta-de-confidencialidad-carrera.docx"
            download="carta_conf.docx">Word</a>)
        </li>
        <li class="list-group-item"> 5. Carta responsiva
          (<a target="_blank" class="btn-link"
            href="public_html/documents/menu-rapido/portal-docente/formatos-profesores-de-carrera/carta-responsiva-carrera.pdf">PDF</a>)
          (<a target="_blank" class="btn-link"
            href="public_html/documents/menu-rapido/portal-docente/formatos-profesores-de-carrera/carta-responsiva-carrera.docx"
            download="carta_resp.docx">Word</a>)
        </li>
        <li class="list-group-item"> 6. Relación pormenorizada de documentos entregados
          (<a target="_blank" class="btn-link"
            href="public_html/documents/menu-rapido/portal-docente/formatos-profesores-de-carrera/relacion-pormenorizada-de-documentos-enviados-carrera.pdf">PDF</a>)
          (<a target="_blank" class="btn-link"
            href="public_html/documents/menu-rapido/portal-docente/formatos-profesores-de-carrera/relacion-pormenorizada-de-documentos-enviados-carrera.docx"
            download="rel_doc.docx">Word</a>)
        </li>
        <li class="list-group-item"> 7. Instrucciones para obtener la FEU
          (<a target="_blank" class="btn-link"
            href="public_html/documents/menu-rapido/portal-docente/formatos-profesores-de-carrera/instrucciones-para-obtener-la-feu-carrera.pdf">PDF</a>)
        </li>
      </ul>
      <div>
        <h2 style="text-align: center;">Aviso de Privacidad Simplificado</h2>
        <p>La Facultad de Estudios Superiores Aragón de la UNAM, es responsable del tratamiento de sus datos personales
          para el registro de usted en su calidad de concursante dentro del presente Concurso de Oposición para Ingreso
          o Abierto.</p>
        <p>Para cumplir las finalidades necesarias anteriormente descritas u otras aquellas exigidas legalmente o por
          las autoridades competentes podrá transferir sus datos personales. Podrá ejercer sus derechos ARCO en la
          Unidad de Transparencia de la UNAM, o a través de la Plataforma Nacional de Transparencia (<a class="btn-link"
            target="_blank"
            href="http://www.plataformadetransparencia.org.mx/">http://www.plataformadetransparencia.org.mx/</a>).</p>
        <p>El aviso de privacidad integral se puede consultar en el sitio web: <a target="_blank" class="btn-link"
            ui-sref="main">https://www.aragon.unam.mx/fes-aragon/#!/inicio</a>"</p>
      </div>
    </div>
  </div>
</div>