<style>
  .btn-block {
    border: 0px;
  }
</style>

<div class="container content">
  <hr>
  <div class="row encabezado">
    <div class="col-lg-12 encabezado-titulo animated bounceInUp">
      <h1>Concursos de Asignatura</h1>
    </div>
  </div>
  <hr>
  <div class="row portafolio justify-content-center">
    <div class="col-12 col-md-10 pt-4">
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="convocatoria1">
            <h2 class="mb-0">
              <button class="btn-link btn-block text-left preg" data-toggle="collapse" data-target="#collapse1"
                aria-expanded="true" aria-controls="collapse1">
                <p>Octubre 19, 2023</p>
              </button>
            </h2>
          </div>

          <div id="collapse1" class="collapse show" aria-labelledby="convocatoria1" data-parent="#accordionExample">
            <div class="card-body">
              <ul>
                <li> <a target="_blank"
                    href="public_html/documents/slider_principal/conv-19-oct.pdf">
                    Programa para Promover la Definitividad del Personal Académico de Asignatura</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
            <div class="card-header" id="convocatoria2">
              <h2 class="mb-0">
                <button class=" btn-link btn-block text-left preg collapsed" data-toggle="collapse"
                  data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <p>Septiembre 28, 2023</p>
                </button>
              </h2>
            </div>
            <div id="collapse2" class="collapse" aria-labelledby="convocatoria2" data-parent="#accordionExample">
              <div class="card-body">
                  <ul>
                      <li> <a target="_blank"
                          href="public_html/documents/slider_principal/convocatoria-programa-definitividad.pdf">
                          Programa para Promover la Definitividad del Personal Académico de Asignatura</a></li>
                    </ul>

              </div>
            </div>
          </div>
        <div class="card">
          <div class="card-header" id="convocatoria2a">
            <h2 class="mb-0">
              <button class=" btn-link btn-block text-left preg collapsed" data-toggle="collapse"
                data-target="#collapse2a" aria-expanded="false" aria-controls="collapse2a">
                <p>Enero 5, 2023</p>
              </button>
            </h2>
          </div>
          <div id="collapse2a" class="collapse" aria-labelledby="convocatoria2a" data-parent="#accordionExample">
            <div class="card-body">
              <ul>
                <li> <a target="_blank"
                  href="public_html/documents/menu-rapido/portal-docente/convocatorias-1-01-23.pdf">
                  Concurso de oposición abierto. Definitividad de asignatura</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="convocatoria3">
            <h2 class="mb-0">
              <button class=" btn-link btn-block text-left preg collapsed" data-toggle="collapse"
                data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                <p>Diciembre 1, 2022</p>
              </button>
            </h2>
          </div>
          <div id="collapse3" class="collapse" aria-labelledby="convocatoria3" data-parent="#accordionExample">
            <div class="card-body">
              <ul>
                <li> <a target="_blank"
                    href="public_html/documents/menu-rapido/portal-docente/convocatorias-1-12-22.pdf">
                    Consulta las convocatorias</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="convocatoria4">
            <h2 class="mb-0">
              <button class=" btn-link btn-block text-left preg collapsed" data-toggle="collapse"
                data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                <p>Octubre 14, 2019</p>
              </button>
            </h2>
          </div>
          <div id="collapse4" class="collapse" aria-labelledby="convocatoria4" data-parent="#accordionExample">
            <div class="card-body">
              <ul>
                <li> <a target="_blank"
                    href="public_html/documents/concursos/octubre_2019/conv-asig-fis-mat-def.pdf">Convocatoria de
                    Profesor de Asignatura de Ciencias Físico-Matemáticas y de las Ingenierías</a></li>
                <li> <a target="_blank"
                    href="public_html/documents/concursos/octubre_2019/conv-asig-cie-soc-def.pdf">Convocatoria de
                    Profesor de Asignatura de Ciencias Sociales</a></li>
                <li> <a target="_blank"
                    href="public_html/documents/concursos/octubre_2019/conv-asig-hum-art-def.pdf">Convocatoria de
                    Profesor de Asignatura de Humanidades y Artes</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="convocatoria5">
            <h2 class="mb-0">
              <button class=" btn-link btn-block text-left preg collapsed" data-toggle="collapse"
                data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                <p>Mayo 21, 2018</p>
              </button>
            </h2>
          </div>
          <div id="collapse5" class="collapse" aria-labelledby="convocatoria5" data-parent="#accordionExample">
            <div class="card-body">
              <ul>
                <li> <a target="_blank" href="public_html/documents/concursos/mayo_2018/conv-asig-cien-soc.pdf">Profesor
                    de Asignatura Asociado “A” definitivo, en el área de Ciencias Sociales.</a></li>
                <li> <a target="_blank"
                    href="public_html/documents/concursos/mayo_2018/conv-asig-fisic-mat.pdf">Profesor de Asignatura “A”
                    definitivo, en el área de Físico-Matemáticas.</a></li>
                <li> <a target="_blank" href="public_html/documents/concursos/mayo_2018/conv-asig-hum-art.pdf">Profesor
                    de Asignatura “A” definitivo, en el área de Humanidades y Artes.</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <ul class="list-group texto pt-5 pb-5">
        <li class="list-group-item active" style="color: #000;" >Formatos oficiales <br> </li> 
        <li class="list-group-item"> <a target="_blank" href="public_html/documents/menu-rapido/portal-docente/formatos-profesores-de-asignatura/solicitud-de-inscripcion-asignatura.pdf">Solicitud de inscripción </a></li>
        <li class="list-group-item"> <a target="_blank" href="public_html/documents/menu-rapido/portal-docente/formatos-profesores-de-asignatura/carta-de-aceptacion-para-recibir-notificaciones-asignatura.pdf">Carta de aceptación para recibir notificaciones</a></li>
        <li class="list-group-item"> <a target="_blank" href="public_html/documents/menu-rapido/portal-docente/formatos-profesores-de-asignatura/carta-protesta-de-decir-verdad-asignatura.pdf">Carta protesta de decir la verdad</a></li>
        <li class="list-group-item"> <a target="_blank" href="public_html/documents/menu-rapido/portal-docente/formatos-profesores-de-asignatura/carta-de-confidencialidad-asignatura.pdf">Carta de confidencialidad</a></li>
        <li class="list-group-item"> <a target="_blank" href="public_html/documents/menu-rapido/portal-docente/formatos-profesores-de-asignatura/carta-responsiva-asignatura.pdf">Carta responsiva</a></li>
        <li class="list-group-item"> <a target="_blank" href="public_html/documents/menu-rapido/portal-docente/formatos-profesores-de-asignatura/relacion-pormenorizada-de-documentos-entregados-asignatura.pdf">Relación pormenorizada de documentos entregados</a></li>
        <li class="list-group-item"> <a target="_blank" href="public_html/documents/menu-rapido/portal-docente/formatos-profesores-de-asignatura/instrucciones-para-obtener-la-feu-asignatura.pdf">Instrucciones para obtener la FEU</a></li>
       </ul>
       <div>
        <h2 style="text-align: center;">Aviso de Privacidad Simplificado</h2>
        <p>La Facultad de Estudios Superiores Aragón de la UNAM, es responsable del tratamiento de sus datos personales para el registro de usted en su calidad de concursante dentro del presente Concurso de Oposición para Ingreso o Abierto.</p>
        <p>Para cumplir las finalidades necesarias anteriormente descritas u otras aquellas exigidas legalmente o por las autoridades competentes podrá transferir sus datos personales. Podrá ejercer sus derechos ARCO en la Unidad de Transparencia de la UNAM, o a través de la Plataforma Nacional de Transparencia (<a class="btn-link" target="_blank" href="http://www.plataformadetransparencia.org.mx/">http://www.plataformadetransparencia.org.mx/</a>).</p>
        <p>El aviso de privacidad integral se puede consultar en el sitio web: <a target="_blank" class="btn-link" ui-sref="main" >https://www.aragon.unam.mx/fes-aragon/#!/inicio</a>"</p>
       </div>
    </div>
  </div>
</div>