<style>
    .btn-block {
        border: 0px;
    }
    </style>
    
    <div class="container content">
    <hr>
    <div class="row encabezado">
        <div class="col-lg-12 encabezado-titulo animated bounceInUp">
            <h1>Concurso de Personal Académico de Tiempo Completo</h1>
        </div>
    </div>
    <hr>
    <div class="row portafolio justify-content-center">
            <div class="col-12 col-md-10 pt-4">
            <div class="accordion" id="accordionExample">
                    <div class="card">
                      <div class="card-header" id="convocatoria1">
                        <h2 class="mb-0">
                          <button class="btn-link btn-block text-left preg" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                            <p>Febrero 14 , 2022</p>
                          </button>
                        </h2>
                      </div>
                  
                      <div id="collapse1" class="collapse show" aria-labelledby="convocatoria1" data-parent="#accordionExample">
                        <div class="card-body">
                            <a target="_blank" class="boton-registro btn btn-secondary btn-sm boton-header" style="white-space: inherit;" href="public_html/documents/concursos/c-c/convocatorias.pdf" target="_blank" title="Convocatorias">Convocatorias 02/2022</a>                           <h2 class="pt-4" >Formatos</h2>
                            <hr>
                          <ul>
                            <li> <a target="_blank" href="public_html/documents/concursos/c-c/solicitud-de-inscripcion.pdf">Solicitud de inscripción</a></li>
                            <li> <a target="_blank" href="public_html/documents/concursos/c-c/carta-de-confidencialidad.pdf">Carta de confidencialidad</a></li>
                            <li> <a target="_blank" href="public_html/documents/concursos/c-c/protesta-de-verdad.pdf">Protesta de verdad</a></li>
                            <li> <a target="_blank" href="public_html/documents/concursos/c-c/cv.pdf">CV</a></li>
                            <li> <a target="_blank" href="public_html/documents/concursos/c-c/carta-de-aceptacion-de-notificaciones.pdf">Carta de aceptación de notificaciones</a></li>
                            <li> <a target="_blank" href="public_html/documents/concursos/c-c/carta-responsiva.pdf">Carta responsiva</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="convocatoria2">
                        <h2 class="mb-0">
                          <button class=" btn-link btn-block text-left preg collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                           <p>Septiembre 05 , 2019</p>
                          </button>
                        </h2>
                      </div>
                      <div id="collapse2" class="collapse" aria-labelledby="convocatoria2" data-parent="#accordionExample">
                        <div class="card-body">
                                <ul>
                                        <li> <a target="_blank" href="public_html/documents/concursos/septiembre_2019/convocatoria-interino-cta.pdf">Profesor de Carrera Asociado “C” tiempo completo, interino, en el área Medición e Instrumentación con adscripción al Centro Tecnológico Aragón</a></li>
                                        <li> <a target="_blank" href="public_html/documents/concursos/septiembre_2019/convocatoria-interino-ingindustrial.pdf">Profesor de Carrera Asociado “C” tiempo completo, interino, en el área Sistemas Productivos con adscripción a la Carrera de Ingeniería Industrial</a></li>
                                 </ul>
                                 
                        </div>
                      </div>
                    </div>
                    <div class="card">
                            <div class="card-header" id="convocatoria3">
                              <h2 class="mb-0">
                                <button class=" btn-link btn-block text-left preg collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse2">
                                 <p>Enero 29, 2018</p>
                                </button>
                              </h2>
                            </div>
                            <div id="collapse3" class="collapse" aria-labelledby="convocatoria3" data-parent="#accordionExample">
                              <div class="card-body">
                                      <ul>
                                              <li> <a target="_blank" href="public_html/documents/concursos/enero_2018/profesor-carrera-asociado-c-tiempo-completo-interino-area-administracion-industrial.pdf">Profesor de Carrera Asociado “C” tiempo completo, interino, en el área Administración Industrial, con adscripción a la carrera de Ingeniería Industrial, con número de plaza 77606-33</a></li>
                                              <li> <a target="_blank" href="public_html/documents/concursos/enero_2018/profesor-carrera-asociado-c-tiempo-completo-interino-area-civil.pdf">Profesor de Carrera Asociado “C” tiempo completo, interino, en el área Civil, con adscripción a la carrera de Derecho, con número de plaza 77609-23</a></li>
                                              <li> <a target="_blank" href="public_html/documents/concursos/enero_2018/profesor-carrera-asociado-c-tiempo-completo-interino-area-comunicaciones.pdf">Profesor de Carrera Asociado “C” tiempo completo, interino, en el área de Comunicaciones, con adscripción a la carrera de Ingeniería Eléctrica Electrónica, con número de plaza 75393-52</a></li>
                                              <li> <a target="_blank" href="public_html/documents/concursos/enero_2018/profesor-carrera-asociado-c-tiempo-completo-interino-area-constitucional.pdf">Profesor de Carrera Asociado “C” tiempo completo, interino, en el área Constitucional, con adscripción a la carrera de Derecho, con número de plaza 77608-93</a></li>
                                              <li> <a target="_blank" href="public_html/documents/concursos/enero_2018/profesor-carrera-asociado-c-tiempo-completo-interino-area-diseno-arquitectonico-integral.pdf">Profesor de Carrera Asociado “C” tiempo completo, interino, en el área Diseño Arquitectónico Integral, subárea Expresión, con adscripción a la carrera de Arquitectura, con número de plaza 23769-07</a></li>
                                              <li> <a target="_blank" href="public_html/documents/concursos/enero_2018/profesor-carrera-asociado-c-tiempo-completo-interino-area-tratamiento-de-la-informacion.pdf">Profesor de Carrera Asociado “C” tiempo completo, interino, en el área Tratamiento de la Información, con adscripción a la carrera de Ingeniería en Computación, con número de plaza 63622-89</a></li>
                                              <li> <a target="_blank" href="public_html/documents/concursos/enero_2018/profesor-carrera-asociado-c-tiempo-completo-interino-investigacion-pedagogica.pdf">Profesor de Carrera Asociado “C” tiempo completo, interino, en la Línea Eje de Investigación Pedagógica, con adscripción a la Carrera de Pedagogía, con número de plaza 77612-10</a></li>
                                      </ul>
                              </div>
                            </div>
                          </div>
                              <div class="card">
                                    <div class="card-header" id="convocatoria5">
                                      <h2 class="mb-0">
                                        <button class=" btn-link btn-block text-left preg collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse2">
                                         <p>Agosto 28, 2017</p>
                                        </button>
                                      </h2>
                                    </div>
                                    <div id="collapse5" class="collapse" aria-labelledby="convocatoria5" data-parent="#accordionExample">
                                      <div class="card-body">
                                              <ul>
                                                    <li> <a target="_blank" href="public_html/documents/concursos/agosto_2017/profesor-carrera-asociado-b-tiempo-completo-interino-area-metodologica-adscripcion-cyp-numero-plaza-23746-13.pdf">Profesor de Carrera Asociado “B” tiempo completo, interino, en el área Metodológica, con adscripción a la Carrera de Comunicación y Periodismo, con número de plaza 23746-13</a></li>
                                                    <li> <a target="_blank" href="public_html/documents/concursos/agosto_2017/profesor-carrera-asociado-c-tiempo-completo-interino-area-civil-adscripcion-der-numero-plaza-23779-04.pdf">Profesor de Carrera Asociado “C” tiempo completo, interino, en el área Civil, con adscripción a la Carrera de Derecho, con número de plaza 23779-04</a></li>
                                                    <li> <a target="_blank" href="public_html/documents/concursos/agosto_2017/profesor-carrera-asociado-c-tiempo-completo-interino-area-constitucional-adscripcion-der-numero-plaza-77607-63.pdf">Profesor de Carrera Asociado “C” tiempo completo, interino, en el área Constitucional, con adscripción a la Carrera de Derecho, con número de plaza 77607-63</a></li>
                                                    <li> <a target="_blank" href="public_html/documents/concursos/agosto_2017/profesor-carrera-asociado-c-tiempo-completo-interino-area-desarrollo-integral-proyectos-subarea-diseno-integral-adscripcion-carrera-dis-ind-numero-plaza-77611-80.pdf">Profesor de Carrera Asociado “C” tiempo completo, interino, en el área Desarrollo Integral de Proyectos, subárea Diseño Integral, con adscripción a la Carrera de Diseño Industrial, con número de plaza 77611-80</a></li>
                                                    <li> <a target="_blank" href="public_html/documents/concursos/agosto_2017/profesor-carrera-asociado-c-tiempo-completo-interino-area-electronica-adscripcion-iee-numero-plaza-23772-94.pdf">Profesor de Carrera Asociado “C” tiempo completo, interino, en el área Electrónica, con adscripción a la Carrera de Ingeniería Eléctrica Electrónica, con número de plaza 23772-94</a></li>
                                                    <li> <a target="_blank" href="public_html/documents/concursos/agosto_2017/profesor-carrera-asociado-c-tiempo-completo-interino-area-estructuras-adscripcion-ici-numero-plaza-77605-03.pdf">Profesor de Carrera Asociado “C” tiempo completo, interino, en el área Estructuras, con adscripción a la Carrera de Ingeniería Civil, con número de plaza 77605-03</a></li>
                                                    <li> <a target="_blank" href="public_html/documents/concursos/agosto_2017/profesor-carrera-asociado-c-tiempo-completo-interino-area-programacion-e-ingenieria-software-adscripcion-ico-numero-plaza-77604-73.pdf">Profesor de Carrera Asociado “C” tiempo completo, interino, en el área Programación e Ingeniería de Software, con adscripción a la Carrera de Ingeniería en Computación, con número de plaza 77604-73</a></li>                                              </ul>
                                      </div>
                                    </div>
                                  </div>
                </div>
            </div>
</div>
</div>