<div class="container content">
    <hr>
    <div class="row encabezado">
        <div class="col-lg-12 encabezado-titulo animated bounceInUp">
            <i class="icono-secciones icon-titulacion-05" style="position: relative;top: 8px;"></i>  <h1>COMUNIDAD EGRESADA</h1>
            <a class="float-right boton-registro btn btn-secondary btn-sm boton-header" href="https://docs.google.com/forms/d/e/1FAIpQLSf4l9oE1tRj0oloYR72MotvP8r_xzk44bX7etaP74jX220Dhw/viewform" target="_blank" title="Reg&iacute;strate">Reg&iacute;strate</a>
        </div>
    </div>
    <hr>
    <div class="row portafolio justify-content-center">
        <div class="row galeria justify-content-center">
            <div class="contenedor-imagen col-5 col-lg-3 br-15">
                <a ui-sref="becas" title="Becas">
                    <img src="public_html/img/vida_universitaria/egresados/becas.jpg" class="img-fluid imagen" alt="Becas"/>
                </a>
            </div>
            <div class="contenedor-imagen col-5 col-lg-3 br-15">
                <a ui-sref="bolsa_trabajo" title="Bolsa de Trabajo">
                    <img src="public_html/img/vida_universitaria/egresados/bolsa-de-trabajo.jpg" class="img-fluid imagen" alt="Bolsa de Trabajo"/>
                </a>
            </div>
        </div>
    </div>
    <div class="row portafolio">
        <div class="col-12 col-md-6">
            <h2>Oferta Acad&eacute;mica</h2>
            <hr/>
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a ui-sref="educacion_continua" title="Educaci&oacute;n Continua">
                        <img src="public_html/img/vida_universitaria/egresados/educacion-continua.jpg" class="br-15 img-fluid image" alt="Educaci&oacute;n Continua"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a ui-sref="posgrado" title="Posgrados">
                        <img src="public_html/img/vida_universitaria/egresados/posgrado.jpg" class="br-15 img-fluid image" alt="Posgrados"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <h2>Tr&aacute;mites</h2>
            <hr/>
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a ui-sref="titulacion_fesar" title="Titulaci&oacute;n">
                        <img src="public_html/img/vida_universitaria/egresados/titulacion.jpg" class="br-15 img-fluid imagen" alt="Titulaci&oacute;n"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-4 p-10 m-0 br-15">
                    <a href="http://aragon.dgae.unam.mx/info/tramEgre.html" target="_blank" title="CISE">
                        <img src="public_html/img/vida_universitaria/egresados/cise.jpg" class="br-15 img-fluid image" alt="CISE"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <h2>Servicios</h2>
    <hr/>
    <div class="row portafolio">
        <div class="row galeria justify-content-center">
            <div class="contenedor-imagen col-5 col-lg-2 p-10 m-0 br-15">
                <a ui-sref="biblioteca" title="Biblioteca">
                    <img src="public_html/img/vida_universitaria/egresados/biblioteca.jpg" class="br-15 img-fluid image" alt="Biblioteca"/>
                </a>
            </div>
            <div class="contenedor-imagen col-5 col-lg-2 p-10 m-0 br-15">
                <a ui-sref="computo_fesar" title="Servicios de C&oacute;mputo">
                    <img src="public_html/img/vida_universitaria/egresados/servicio-de-computo.jpg" class="br-15 img-fluid image" alt="Servicios de C&oacute;mputo"/>
                </a>
            </div>
            <div class="contenedor-imagen col-5 col-lg-2 p-10 m-0 br-15">
                <a ui-sref="servicios_comunidad" title="Servicios a la Comunidad">
                    <img src="public_html/img/vida_universitaria/egresados/servicios-a-la-comunidad.jpg" class="br-15 img-fluid image" alt="Servicios a la Comunidad"/>
                </a>
            </div>
            <div class="contenedor-imagen col-5 col-lg-2 p-10 m-0 br-15">
                <a ui-sref="extension_universitaria" title="Extensi&oacute;n Universitaria">
                    <img src="public_html/img/vida_universitaria/egresados/extension-universitaria.jpg" class="br-15 img-fluid image" alt="Extensi&oacute;n Universitaria"/>
                </a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center pb-5">
        <a class="boton-registro btn btn-secondary btn-sm" style="min-width: 30%" ui-sref="todxs_somos_aragon" title="Somos Arag&oacute;n">Somos Arag&oacute;n</a>
    </div>
</div>
