<!-- Extensi&oacute;n Universitaria -->
<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
           <i class="icono-secciones icon-extencion-universitaria" style="position: relative;top: 4px;"></i> <h1> &nbsp; Extensi&oacute;n Universitaria</h1>
        </div>
    </div>
    <hr>
    <div class="row portafolio">

        <div class="col-12 col-lg-9">
            <p>La Unidad de Extensión Universitaria tiene como objetivo primordial promover y coordinar eventos artísticos, culturales, deportivos, recreativos y académicos que coadyuven en la formación integral de estudiantes. Esta labor se extiende al personal académico y administrativo, así como de la comunidad circundante y de la sociedad en general.</p>        
            <p>Dentro de las funciones de la Unidad se encuentra:</P>
            <ul>
                <li>coordinar y apoyar, actividades y programas artísticos y culturales en general que involucren el apoyo interinstitucional;</li>
                <li>elaborar y supervisar los programas necesarios para promover las actividades artísticas, culturales, deportivas y de extensión académica del plantel;</li>
                <li>coordinar la adecuada administración de la infraestructura, de los recursos humanos, materiales y de equipo en general con el cual cuenta la Unidad, con la finalidad de brindar el mejor desempeño en las actividades que realiza;</li>
                <li>supervisar el cumplimiento de las normas y reglamentos aplicables a la extensión universitaria, leyes federales y en materia deportiva, cultural y de servicios.</li>
            </ul> 
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-5 col-lg-5 br-15">
                    <a ui-sref="actividades_culturales" title="Actividades culturales">
                        <img src="public_html/img/vida_universitaria/extension_universitaria/actividades-culturales.jpg" class="img-fluid imagen br-15" alt="Actividades Culturales"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-5 br-15">
                    <a ui-sref="actividades_deportivas" title="Actividades deportivas">
                        <img src="public_html/img/vida_universitaria/extension_universitaria/actividades-deportivas.jpg" class="img-fluid imagen br-15" alt="Actividades Deportivas"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 seccion-informacion portafolio">
            <strong>Responsable</strong>
            <p class="texto-pleca nombre-responsable">Gloria Enríquez Marín </p>
            <img class="d-flex justify-content-center rounded-circle img-responsable" src="public_html/img/primera_respuesta/genero/gloria-enriquez-marin.jpg" alt=""/>
            <p><strong>Horario</strong></p>
            <p>De lunes a viernes de 9:30 a 13:30 h y de 16:00 a 20:00 h</p>
            <p><strong>Tel&eacute;fono(s)</strong></p>
            <p style="margin-bottom: 0px;">55 5623 0222</p> <p>Ext. 39200</p>
            <p><strong>Correo electr&oacute;nico</strong></p>
            <p class="fs-12"><a class="link-a" href="mailto:extensionuniversitaria@aragon.unam.mx" title="correo-electronico">extensionuniversitaria@aragon.unam.mx</a></p>
            <p><strong>¡&Uacute;nete a nuestro Facebook!</strong></p>
            <a target="_blank" href="https://www.facebook.com/Extensi%C3%B3n-Universitaria-FES-Arag%C3%B3n-178855336172055/" class="icon-facebook-official facebook-becas" title="Facebook"> </a>
            <div class="galeria">
                    <a class="contenedor-imagen "target="_blank" href="#!/seccion/extension-universitaria"><img class="justify-content-center img-fluid " alt="Noticias" src="public_html/img/noticias/seccion-de-noticias.png"></a>
                 </div>
        </div>
    </div>
</div>


