<!-- #HechoenAragon -->
<div class="container content portafolio">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <i class="icono-secciones icon-hecho-en-aragon-3" style="font-size: 31px; position: relative;top: 2px;"></i>
            <h1> HechoenAragon</h1>
        </div>
    </div>
    <hr>
    <div class="row galeria justify-content-center">
        <div class="col-12 col-md-8 pt-5">
            <div class="contenedor-imagen encabezado">
                <a target="_blank" ui-sref="tenochtitlan">
                    <img src="public_html/img/slider_principal/recorrido_tenochtitlan.jpg" class="br-15 img-fluid image"
                        alt="Recorrido Virtual Tenochtitlan" />
                </a>
            </div>
        </div>
        <div class="col-12 col-lg-8 pt-5 pb-5">
            <ul class="list-group texto-tabla">
                <li class="list-group-item active">Noticias</li>
                <li class="list-group-item"><a target="_blank"
                        href="public_html/documents/vida_universitaria/hechoenaragon/arquitectura.pdf"
                        title="Diseño arquitectónico a prueba de sismos y Talento aragonés: primer y tercer lugar en certamen universitario">Diseño
                        arquitectónico a prueba de sismos <br> Talento aragonés: primer y tercer lugar en certamen
                        universitario</a></li>

                <li class="list-group-item"><a target="_blank"
                        href="public_html/documents/vida_universitaria/hechoenaragon/culturales.pdf"
                        title="Festival de Día de Muertos: tradiciones que perduran">Festival de Día de Muertos:
                        tradiciones
                        que perduran</a></li>

                <li class="list-group-item"><a target="_blank"
                        href="public_html/documents/vida_universitaria/hechoenaragon/economia.pdf"
                        title="Marcando huella en España con investigación económica sobre TLCAN">Marcando huella en
                        España con investigación económica sobre TLCAN</a></li>

                <li class="list-group-item"><a target="_blank"
                        href="public_html/documents/vida_universitaria/hechoenaragon/ingenieria-civil.pdf"
                        title="De los hábitos nacen los triunfos">De los hábitos nacen los triunfos</a></li>

                <li class="list-group-item"><a target="_blank"
                        href="public_html/documents/vida_universitaria/hechoenaragon/ingenieria-mecanica.pdf"
                        title="Innovación desde la ciencia">Innovación desde la ciencia</a></li>

                <li class="list-group-item"><a target="_blank"
                        href="public_html/documents/vida_universitaria/hechoenaragon/ingenieria-mecanica-2.pdf"
                        title="La vocación del robot">La vocación del robot</a></li>

                <li class="list-group-item"><a target="_blank"
                        href="public_html/documents/vida_universitaria/hechoenaragon/ingenieria-en-computacion.pdf"
                        title="Una mirada social desde las ingenierías">Una mirada social desde las ingenierías</a></li>
            </ul>
        </div>
    </div>
</div>

</div>
<!-- fin HechoenAragon -->