<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-12">
            <h1>Vida universitaria</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <p>La FES Arag&oacute;n reafirma su compromiso con la comunidad universitaria y pone a su disposici&oacute;n
                las siguientes &aacute;reas y programas:</p>
            <ul>
                <li>
                    Extensi&oacute;n Universitaria que cuenta con la impartici&oacute;n de talleres en donde
                    podr&aacute;n aprender artes musicales, esc&eacute;nicas y visuales, y desarrollar actividades
                    deportivas y recreativas en espacios como el gimnasio, las canchas de parquet, voleibol, basquetbol,
                    f&uacute;tbol r&aacute;pido y la pista de atletismo.
                </li>
                <li>
                    Servicios a la Comunidad fomenta acciones encaminadas al cuidado de la salud y actividades
                    c&iacute;vicas, con la implementaci&oacute;n de asesoramiento cursos y talleres de desarrollo humano
                    y autocuidado que garanticen el bienestar de la comunidad aragonesa.
                </li>
                <li>
                    Valores UNAM y Hecho en Arag&oacute;n promueven los valores de la m&aacute;xima casa de estudios y
                    difunden los logros, reconocimientos y proyectos acad&eacute;micos que llevan a cabo integrantes de
                    nuestra comunidad.
                </li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center botones" style="padding-top: 25px;">
        <div class="col-12 col-lg-11">
            <h2>Servicios</h2>
            <hr>
            <div class="row justify-content-star">
                <div class="col-12 col-md-5 col-lg-5 col-xl-4 btn-cat btn-sec">
                    <a class="category" ui-sref="egresados" title="Comunidad Egresada">
                        <div class="icon icon-titulacion-05">
                        </div>
                        <p>Comunidad Egresada</p>
                    </a>
                </div>
                <div class="col-12 col-md-5 col-lg-5 col-xl-4 btn-cat btn-sec">
                    <a class="category" ui-sref="extension_universitaria" title="Extensi&oacute;n Universitaria">
                        <div class="icon icon-extencion-universitaria">
                        </div>
                        <p>Extensión Universitaria</p>
                    </a>
                </div>
                <div class="col-12 col-md-5 col-lg-5 col-xl-4 btn-cat btn-sec">
                    <a class="category" ui-sref="servicios_comunidad" title="Servicios a la Comunidad">
                        <div class="icon icon-servicio-a-la-comunidad">
                        </div>
                        <p>Servicios a la Comunidad</p>
                    </a>
                </div>
                <div class="col-12 col-md-5 col-lg-5 col-xl-4 btn-cat btn-sec">
                    <a class="category" ui-sref="valores_unam({tag:'esmiderecho'})" title="#ValoresUNAM">
                        <div class="icon icon-todxs-somos-unam">
                        </div>
                        <p>#ValoresUNAM</p>
                    </a>
                </div>
                <div class="col-12 col-md-5 col-lg-5 col-xl-4 btn-cat btn-sec">
                    <a class="category" ui-sref="hecho_en_aragon" title="#HechoEnAragon">
                        <div class="icon icon-hecho-en-aragon-3">
                        </div>
                        <p>#HechoEnAragon</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>