<style>
.dir h2{
        font-size: 19px;
} 
</style>
<!-- Direcci&oacute;n-->
<div class="container content dir">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
           <i style="font-size: 44px;" class="far fa-folder-open"></i>   
           <h1>Primera gesti&oacute;n</h1>
        </div>
    </div>
    <hr>
    <div class="row portafolio  justify-content-center style="margin-bottom: 15px;">
        <div class="col-12 col-lg-9 texto pleca">
            <div class="row galeria">
                <div class="col-12 col-lg-6 pt-3">
                    <h2>4<sup>to</sup> informe de actividades 2019-2020</h2>
                     <div class="contenedor-imagen">
                        <a href="public_html/documents/nuestra_facultad/direccion/informe-de-actividades-2019-2020.pdf" target="_blank" title="4to informe de actividades 2019-2020">
                            <img src="public_html/img/nuestra_facultad/direccion/informe-2019-2020.jpg" class="img-fluid imagen" alt="4to informe de actividades 2019-2020"/>
                        </a>
                      </div>   
                </div>
            </div>
            <hr/> 
            <h2 class="pt-3">3<sup>er</sup> informe de actividades 2018-2019</h2> 
            <div class="row galeria">
                <div class="contenedor-imagen col-12 col-lg-5">
                    <a href="public_html/documents/nuestra_facultad/direccion/informe-de-actividades-2018-2019.pdf" target="_blank" title="3er informe de actividades 2018-2019">
                        <img src="public_html/img/nuestra_facultad/direccion/informe-2018-2019.jpg" class="img-fluid imagen" alt="3er informe de actividades 2018-2019"/>
                    </a>
                </div>
                <div class="col-12 col-lg-5" style="padding-top: 11px;">
                    <div class="embed-responsive embed-responsive-16by9" style="border-radius: 15px;">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PSrkFz8_lOM" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <hr> 
            <h2 class="pt-3" >2<sup>do</sup> informe de actividades 2017-2018</h2> 
            <div class="row galeria">
                <div class="contenedor-imagen col-12 col-lg-5">
                    <a href="public_html/documents/nuestra_facultad/direccion/informe-de-actividades-2017-2018.pdf" target="_blank" title="2do informe de actividades 2017-2018">
                        <img src="public_html/img/nuestra_facultad/direccion/informe-2017-2018.jpg" class="img-fluid imagen" alt="2do informe de actividades 2017-2018"/>
                    </a>
                </div>
                <div class="col-12 col-lg-5" style="padding-top: 11px;">
                    <div class="embed-responsive embed-responsive-16by9" style="border-radius: 15px;">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/U0bWaL2FxGs" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <hr>   
            <div class="row galeria pt-3">
                <div class="col-12 col-lg-6">
                    <h2>1<sup>er</sup> informe de actividades 2016-2017</h2>
                     <div class="contenedor-imagen">
                        <a href="public_html/documents/nuestra_facultad/direccion/informe-de-actividades.pdf" target="_blank" title="1er informe de actividades 2016-2017">
                            <img src="public_html/img/nuestra_facultad/direccion/informe.jpg" class="img-fluid imagen" alt="1er informe de actividades 2016-2017"/>
                        </a>
                      </div>   
                </div>
            </div>
            <hr>
            <div class="row galeria pt-3">
                <div class="col-12 col-lg-6">
                    <h2>Plan de desarrollo 2016-2020</h2> 
                    <div class="contenedor-imagen">
                    <a href="public_html/documents/nuestra_facultad/direccion/plan-de-desarrollo.pdf" target="_blank" title="Plan de desarrollo">
                        <img src="public_html/img/nuestra_facultad/direccion/plan-desarrollo.jpg" class="img-fluid imagen" alt="Plan de desarrollo"/>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>