<style>
        .mainmenu li i {
        font-size: 25px;
        position: absolute;
        margin-left: -30px;
        margin-top: -1px;
        color: #fff;
        }
        .mainmenu li span {
        position: relative;
        float: left;
        font-size: 12px;
        color: #000;
    }
    .mainmenu li {
        float: left;
        display: block;
        padding: 5px;
        cursor: pointer;
    }
    .nav-link {
        display: block;
        padding: .5rem .5rem;
        padding-top: 0.5rem;
        padding-right: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
    }
    .lema{
        text-align: justify;
        color: #255880;
    }
    .img-fluid{
        border-radius: 15px;
    }
    .container .yout {
        font-size: 36px;
    }
    .icono-secciones{
    color: #255981;
    }
    @media screen and (max-width: 454px) {
    .mainmenu li {
        width: 44%;
        padding: 0px;
        text-align: left;
    }
    .lema{
        padding-right: 15px;
        padding-left: 15px;
    }
       
    }
    .boton-header {
         margin-top: 0px !important;
         margin-bottom: 16px;
    }
    .icono-secciones {
        font-size: 50px;
        width: 20%;
        /* color: #599e35;*/
    }
    .seccion{
        border-bottom: 2px solid #d2ae6c;
        padding-bottom: 0px;
    }
    hr {
        background-color: #255880;
    }
    
    .botones .btn-cat {
      border: 1px solid #d3af6d;
      color: red;
    }
    
    .botones .btn-cat .icon {
        position: relative;
        top: 12px;
        font-size: 50px;
        margin: 0px auto 0px;
        text-align: center;
    }
    
    
    .botones .btn-cat p{
        font-size: 13px;
        text-align: center;
    }
    .botones .btn-cat a{
        color: #255981;
      }
    
    .botones .btn-cat:hover{
      background-color: #255981;
    }
    
    .botones .btn-cat a:hover {
        color: #fff;
    }
    </style> 
    <div class="container content servicios-escolares-ac">
            <hr>
            <div class="row pleca-secciones">
                <div class="col-lg-12 secciones">
                    <i class="icono-secciones icon-cfmi" style="position: relative;top: 9px;"></i><h1>CIENCIAS FÍSICO-MATEMÁTICAS Y DE LAS INGENIERÍAS</h1>
                </div>
            </div>
            <hr>
        <div class="row justify-content-center align-items-center" style="padding-top: 20px;">
                <div class="col-12 col-md-10 secciones" style="margin-bottom: 10px;">
            <div class="seccion"><i class="icono-secciones icon-ingenieria-civil"></i><h1 class="mw-50 ng-binding">INGENIERÍA CIVIL</h1></div>
            </div>
            <div class="col-12 col-md-5">
                    <img class="img-fluid" src="public_html/img/orientaton-unam/ingeneriacivil.jpg" alt="INGENIERÍA EN CIVIL">
                </div>
            <div class="col-12 col-md-5" style="padding-top: 20px">
                <a class="boton-registro btn btn-secondary btn-sm boton-header" href="public_html/documents/orientaton-unam/escolarizado/mapa-ing-civil.pdf" target="_blank" title="Mapa Curricular">Mapa Curricular</a>
                 <div class="card mb-2">
                     <div class="card-header" ng-click="(card_selected === 3 ? card_selected = 0 : card_selected = 3)">
                            Perfil de ingreso
                     </div>
                     <div class="card-body" ng-show="card_selected === 3">
                        <p>La comunidad estudiantil aspirante deberá concluir el bachillerato en el Área de Ciencias Físico-Matemáticas,tener una fuerte formación en Física y Matemáticas, y conocimientos básicos de Química. Se requerirá además, que tenga facilidad para la planeación y dirección de trabajos en grupo, interés científico, técnico y administrativo, capacidad de análisis y síntesis, inclinación para la solución de problemas y capacidad para la toma de decisiones, apoyado en su conocimiento.</p>
                        <p>Para valorar los conocimientos y habilidades de los alumnos de primer ingreso, se lleva a cabo un examen diagnóstico institucional, el cual permite conocer las deficiencias de su formación previa. Con el resultado de los exámenes, se programan actividades extracurriculares que permitan minimizar esas deficiencias y mejorar el tránsito de los alumnos por la licenciatura. Entre esas actividades podemos mencionar: cursos de Física y Matemáticas para grupos de primer ingreso, y programa de asesorías para asignaturas con alto índice de reprobación.</p>
                        </div>
                 </div>
                 <div class="card mb-2">
                        <div class="card-header" ng-click="(card_selected === 4 ? card_selected = 0 : card_selected = 4)">
                                Perfil de egreso
                        </div>
                        <div class="card-body" ng-show="card_selected === 4">
                           <p>La comunidad egresada estará capacitada para planear, diseñar, construir, administrar, mantener y operar obras para el desarrollo urbano, rural, industrial, habitacional y de la infraestructura del país, procurando el mejor aprovechamiento de los recursos materiales y financieros en beneficio de la sociedad.</p>
                           <p>Debe poseer conocimientos de física, matemáticas y química que le permitan lograr la comprensión de las ciencias de la ingeniería civil; entender los fundamentos de estructuras, geotecnia, hidráulica, construcción, ambiental y sistemas y transportes que le permitan proponer soluciones a los problemas propios de la profesión; aplicar las herramientas de la computación y de la comunicación gráfica en los proyectos de ingeniería civil; tener conocimientos generales de administración y evaluación de proyectos, y conocer la sociedad en la que desarrollará sus actividades.</p>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center" style="padding-top: 25px;">
                <div class="col-12 col-md-5 secciones">
                    <div class="seccion"><i class="icono-secciones icon-youtube yout"></i><h1 class="mw-50 ng-binding">¡Checa nuestro video!</h1></div>
                 </div>
                 <div class="col-12 col-md-5">
                    <div class="embed-responsive embed-responsive-16by9" style="padding-top: 20px; border-radius: 15px;">
                        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/-UX-GGMZytA" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        <hr>
        <div class="row justify-content-center align-items-center" style="padding-top: 20px;">
                <div class="col-12 col-md-10 secciones" style="margin-bottom: 10px;">
            <div class="seccion"><i class="icono-secciones icon-ingenieria-en-computacion"></i><h1 class="mw-50 ng-binding">INGENIERÍA EN COMPUTACIÓN</h1></div>
            </div>
            <div class="col-12 col-md-5">
                    <img class="img-fluid" src="public_html/img/orientaton-unam/ingenieriacomputacion.jpg" alt="INGENIERÍA EN COMPUTACIÓN">
                </div>
            <div class="col-12 col-md-5" style="padding-top: 20px">
                <a class="boton-registro btn btn-secondary btn-sm boton-header" href="public_html/documents/orientaton-unam/escolarizado/mapa-ing-computacion.pdf" target="_blank" title="Mapa Curricular">Mapa Curricular</a>
                 <div class="card mb-2">
                     <div class="card-header" ng-click="(card_selected === 1 ? card_selected = 0 : card_selected = 1)">
                            Perfil de ingreso
                     </div>
                     <div class="card-body" ng-show="card_selected === 1">
                        <p>La comunidad estudiantil que desee ingresar a la Licenciatura de Ingeniería en Computación, además de haber cursado preferentemente el área Físico Matemáticas, o similar en el Bachillerato, es deseable que tenga las siguientes características:</p>
                        <ul>
                            <li>Conocimientos:</li>
                                 <ul>
                                     <li>Matemáticas, física y computación</li>
                                     <li>Idioma inglés (comprensión de lectura)</li>
                                 </ul>
                            <li>Habilidades:</li>
                                  <ul>
                                     <li>Pensamiento lógico matemático</li>
                                     <li>Sistematización de actividades, constancia y orden en los trabajos emprendidos</li>
                                 </ul>
                            <li>Aptitudes:</li>
                                  <ul>
                                     <li>Análisis de problemas</li>
                                 </ul>
                            <li>Interés:</li>
                                  <ul>
                                     <li>Recopilación de datos e investigación</li>
                                 </ul>
                            <li>Actitudes:</li>
                                  <ul>
                                     <li>Actividades extra clase como laboratorios, desarrollo de aplicaciones, entre otras</li>
                                 </ul>
                        </ul>
                     </div>
                 </div>
                 <div class="card mb-2">
                        <div class="card-header" ng-click="(card_selected === 2 ? card_selected = 0 : card_selected = 2)">
                                Perfil de egreso
                        </div>
                        <div class="card-body" ng-show="card_selected === 2">
                           <p>La comunidad egresada de la Licenciatura de Ingeniería en Computación contará con lo siguiente:</p>
                           <ul>
                               <li>Conocimientos:</li>
                                  <ul>
                                       <li>Matemáticas, para modelar y resolver problemas reales</li>
                                       <li>Empresariales, para crear, mantener y hacer crecer organizaciones</li>
                                       <li>Software y hardware, para analizar, diseñar, construir, implantar, mejorar y mantener sistemas computacionales y redes de computadoras</li>
                                       <li>Procesamiento de los datos, para obtener información útil para la toma de decisiones en todos los niveles</li>
                                       <li>Seguridad, para resguardar la información de las organizaciones</li>
                                       <li>Idioma inglés, nivel B1 en el Marco Común Europeo de Referencia para las Lenguas</li>
                                   </ul>
                               <li>Habilidades:</li>
                                   <ul>
                                       <li>Dirigir organizaciones o liderar su propio negocio</li>
                                       <li>Crear empresas, mantenerlas y hacerlas crecer</li>
                                       <li>Ofrecer soluciones creativas e innovadoras a problemas reales</li>
                                       <li>Resguardar la información ante ataques maliciosos</li>
                                       <li>Promover el uso responsable de los recursos informáticos</li>
                                   </ul>
                               <li>Aptitudes:</li>
                                    <ul>
                                        <li>Buscar soluciones proactivas a problemas emergentes</li>
                                        <li>Actualizarse de manera constante, de acuerdo con los avances tecnológicos y profesionales de la disciplina</li>
                                        <li>Lograr soluciones prácticas a problemas planteados</li>
                                    </ul>
                               <li>Valores:</li>
                                   <ul>
                                        <li>Compromiso y responsabilidad, para resolver problemas que atiendan necesidades específicas de la sociedad, respetando siempre a los individuos y al medio ambiente</li>
                                        <li>Creatividad e Innovación, para desarrollar soluciones creativas e innovadoras, capaces de adaptarse a las circunstancias
                                        <li>Honestidad, para poner siempre el conocimiento al servicio de la sociedad</li>
                                    </ul>     
                           </ul>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center" style="padding-top: 25px;">
                <div class="col-12 col-md-5 secciones">
                    <div class="seccion"><i class="icono-secciones icon-youtube yout"></i><h1 class="mw-50 ng-binding">¡Checa nuestro video!</h1></div>
                 </div>
                 <div class="col-12 col-md-5">
                    <div class="embed-responsive embed-responsive-16by9" style="padding-top: 20px; border-radius: 15px;">
                        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/hI3vvGqRxjg" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        <hr>
        <div class="row justify-content-center align-items-center" style="padding-top: 20px;">
                <div class="col-12 col-md-10 secciones" style="margin-bottom: 10px;">
                <div class="seccion"><i class="icono-secciones icon-ingenieria-electrica-electronica"></i><h1 class="mw-50 ng-binding">INGENIERÍA ELÉCTRICA ELECTRÓNICA</h1></div>
            </div>
            <div class="col-12 col-md-5">
                    <img class="img-fluid" src="public_html/img/orientaton-unam/ingenieriaelectrica.jpg" alt="INGENIERÍA ELÉCTRICA ELECTRÓNICA">
                </div>
            <div class="col-12 col-md-5" style="padding-top: 20px">
                <a class="boton-registro btn btn-secondary btn-sm boton-header" href="public_html/documents/orientaton-unam/escolarizado/mapa-ing-electrica.pdf" target="_blank" title="Mapa Curricular">Mapa Curricular</a>
                 <div class="card mb-2">
                     <div class="card-header" ng-click="(card_selected === 5 ? card_selected = 0 : card_selected = 5)">
                            Perfil de ingreso
                     </div>
                     <div class="card-body" ng-show="card_selected === 5">
                        <p>La comunidad aspirante, además de haber cursado el bachillerato en el área físico-matemática, deberá contar con sólidos conocimientos de física, química y matemáticas. Asimismo, es deseable que posea:</p>
                        <ul>
                            <li>Aptitud para detectar, definir y aplicar el razonamiento científico al estudio y solución de problemas prácticos en el campo de la física y en especial de los fenómenos eléctricos</li>
                            <li>Capacidad para dirigir el trabajo en equipo</li>
                            <li>Habilidad en el manejo de diferentes fuentes bibliográficas y lenguajes de computación</li>
                            <li>Inventiva y creatividad</li>
                            <li>Actitud responsable, positiva y emprendedora, que le permita realizar con seguridad y confianza las tareas que implica el ejercicio profesional</li>
                            <li>Comprensión de lectura de un idioma extranjero, preferentemente el inglés</li>
                        </ul>
                        </div>
                 </div>
                 <div class="card mb-2">
                        <div class="card-header" ng-click="(card_selected === 6 ? card_selected = 0 : card_selected = 6)">
                                Perfil de egreso
                        </div>
                        <div class="card-body" ng-show="card_selected === 6">
                           <p>La comunidad egresada de la Licenciatura en Ingeniería Eléctrica Electrónica utilizará los conocimientos de las ciencias exactas, matemáticas, administrativas y de ingeniería para desarrollar su actividad profesional en aspectos tales como: el diseño y rediseño de sistemas electrónicos, el manejo e implantación de sistemas de control industrial, el manejo y administración de sistemas de telecomunicaciones, además de la generación y transmisión de energía eléctrica. Esta formación le permitirá participar activamente en las diversas ramas de la ingeniería y responder a las necesidades productivas y de servicios que requiere la sociedad.</p>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center" style="padding-top: 25px;">
                <div class="col-12 col-md-5 secciones">
                    <div class="seccion"><i class="icono-secciones icon-youtube yout"></i><h1 class="mw-50 ng-binding">¡Checa nuestro video!</h1></div>
                 </div>
                 <div class="col-12 col-md-5">
                    <div class="embed-responsive embed-responsive-16by9" style="padding-top: 20px; border-radius: 15px;">
                        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/tKF45pIudM0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        <hr>
        <div class="row justify-content-center align-items-center" style="padding-top: 20px;">
                <div class="col-12 col-md-10 secciones" style="margin-bottom: 10px;">
            <div class="seccion"><i class="icono-secciones icon-ingenieria-industrial"></i><h1 class="mw-50 ng-binding">INGENIERÍA INDUSTRIAL</h1></div>
            </div>
            <div class="col-12 col-md-5">
                    <img class="img-fluid" src="public_html/img/orientaton-unam/ingenieriaindustrial.jpg" alt="INGENIERÍA INDUSTRIAL">
            </div>
            <div class="col-12 col-md-5" style="padding-top: 20px">
                    <a class="boton-registro btn btn-secondary btn-sm boton-header" href="public_html/documents/orientaton-unam/escolarizado/mapa-ing-industrial.pdf" target="_blank" title="Mapa Curricular">Mapa Curricular</a>

                    <div class="card mb-2">
                            <div class="card-header" ng-click="(card_selected === 7 ? card_selected = 0 : card_selected = 7)">
                                    Perfil de ingreso
                            </div>
                            <div class="card-body" ng-show="card_selected === 7">
                               <p>La comunidad estudiantil aspirante a esta carrera debe tener conocimientos sólidos en el Área de Ciencias Físico-Matemáticas, aptitud para definir y aplicar el razonamiento científico al estudio y solución de problemas prácticos en el campo de la física, así como interés en temas relacionados con la industria, dilemas organizacionales, liderazgo y trabajo en equipo, además del conocimiento y comprensión de un idioma extranjero, preferentemente el inglés.</p>
                            </div>
                        </div>
                        
                    <div class="card mb-2">
                     <div class="card-header" ng-click="(card_selected === 8 ? card_selected = 0 : card_selected = 8)">
                            Perfil de egreso
                     </div>
                     <div class="card-body" ng-show="card_selected === 8">
                        <p>La comunidad egresada de esta Carrera será capaz de realizar trabajos de planeación y control de la producción, análisis y control de presupuestos, procesamiento de datos, control de inventarios, programación y ejecución de mantenimiento industrial, capacitación de personal para mejorar la productividad, técnicas de optimización, administración de operaciones, evaluación y viabilidad de proyectos, análisis y mejora de procesos industriales, así como el diseño, construcción y mantenimiento de productos y equipos.</p>
                    </div>
                 </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center" style="padding-top: 25px;">
                <div class="col-12 col-md-5 secciones">
                    <div class="seccion"><i class="icono-secciones icon-youtube yout"></i><h1 class="mw-50 ng-binding">¡Checa nuestro video!</h1></div>
                 </div>
                 <div class="col-12 col-md-5">
                    <div class="embed-responsive embed-responsive-16by9" style="padding-top: 20px; border-radius: 15px;">
                        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/N_8D3063w4k" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        <hr>
        <div class="row justify-content-center align-items-center" style="padding-top: 20px;">
                <div class="col-12 col-md-10 secciones" style="margin-bottom: 10px;">
            <div class="seccion"><i class="icono-secciones icon-ingenieria-mecanica"></i><h1 class="mw-50 ng-binding">INGENIERÍA MECÁNICA</h1></div>
            </div>
            <div class="col-12 col-md-5">
                    <img class="img-fluid" src="public_html/img/orientaton-unam/ingenieriamecanica.jpg" alt="INGENIERÍA MECÁNICA">
            </div>
            <div class="col-12 col-md-5" style="padding-top: 20px">
                <a class="boton-registro btn btn-secondary btn-sm boton-header" href="public_html/documents/orientaton-unam/escolarizado/mapa-ing-mecanica.pdf" target="_blank" title="Mapa Curricular">Mapa Curricular</a>
                
                 <div class="card mb-2">
                     <div class="card-header" ng-click="(card_selected === 9 ? card_selected = 0 : card_selected = 9)">
                            Perfil de ingreso
                     </div>
                     <div class="card-body" ng-show="card_selected === 9">
                        <p>La comunidad aspirante deberá contar con:</p>
                        <ul>
                            <li>conocimientos sólidos de fÍsica, quÍmica y matemáticas;</li>
                            <li>aptitud para detectar, definir y aplicar el razonamiento cientÍfico al estudio y la solución de problemas prácticos, en el campo de la fÍsica y en especial de la mecánica;</li>
                            <li>capacidad para dirigir el trabajo en equipo;</li>
                            <li>habilidad en el manejo de diferentes fórmulas y lenguajes de computación;</li>
                            <li>inventiva y creatividad;</li>
                            <li>actitud responsable, positiva y emprendedora, a fin de realizar con seguridad y confianza sus labores;</li>
                            <li>lectura y comprensión del idioma inglés.</li>
                        </ul>
                        </div>
                 </div>
                 <div class="card mb-2">
                        <div class="card-header" ng-click="(card_selected === 10 ? card_selected = 0 : card_selected = 10)">
                                Perfil de egreso
                        </div>
                        <div class="card-body" ng-show="card_selected === 10">
                           <p>La comunidad profesional de la IngenierÍa Mecánica tendrá conocimientos de ciencias exactas, administrativas y de la ingenierÍa para desarrollarse en las áreas de diseño de sistemas, dispositivos electromecánicos, selección y análisis de fallas en los materiales, procesos térmicos y de fluidos, asÍ como la manufactura de maquinaria industrial. Esta formación le permitirá participar activamente en las diversas ramas de la ingenierÍa y responder a las necesidades productivas y de servicios que requiere la sociedad.</p>
                           <p>Nuestra comunidad egresada desempeña un papel importante en el desarrollo de la economÍa. Fortalece la micro, pequeña y mediana empresa mediante el diseño de dispositivos, productos y tecnologÍa, el estudio de las nuevas técnicas de manufactura, análisis energéticos, asÍ como la capacitación y la administración.</p>
                           <p>También contará con conocimientos que le permitirán emprender estudios de posgrado que lo mantendrán actualizado con respecto a los constantes avances en las técnicas y tecnologÍas de esta disciplina.</p>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center" style="padding-top: 25px;">
                <div class="col-12 col-md-5 secciones">
                    <div class="seccion"><i class="icono-secciones icon-youtube yout"></i><h1 class="mw-50 ng-binding">¡Checa nuestro video!</h1></div>
                 </div>
                 <div class="col-12 col-md-5">
                    <div class="embed-responsive embed-responsive-16by9" style="padding-top: 20px; border-radius: 15px;">
                        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/_qbS0cHL2kM" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

    </div>