<style>
    .mainmenu li i {
    font-size: 25px;
    position: absolute;
    margin-left: -30px;
    margin-top: -1px;
    color: #fff;
    }
    .mainmenu li span {
    position: relative;
    float: left;
    font-size: 12px;
    color: #000;
}
.mainmenu li {
    float: left;
    display: block;
    padding: 5px;
    cursor: pointer;
}
.nav-link {
    display: block;
    padding: .5rem .5rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
}
.lema{
    text-align: justify;
    color: #255880;
}
.img-fluid{
    border-radius: 15px;
}
.container .yout {
    font-size: 36px;
}
.icono-secciones{
    color: #255981;
    }
@media screen and (max-width: 454px) {
.mainmenu li {
    width: 44%;
    padding: 0px;
    text-align: left;
}
.lema{
    padding-right: 15px;
    padding-left: 15px;
}
   
}
.boton-header {
     margin-top: 0px !important;
     margin-bottom: 16px;
}
.icono-secciones {
    font-size: 50px;
    width: 20%;
    /* color: #599e35;*/
}
.seccion{
    border-bottom: 2px solid #d2ae6c;
    padding-bottom: 0px;
}
hr {
    background-color: #255880;
}

.botones .btn-cat {
  border: 1px solid #d3af6d;
  color: red;
}

.botones .btn-cat .icon {
    position: relative;
    top: 12px;
    font-size: 50px;
    margin: 0px auto 0px;
    text-align: center;
}


.botones .btn-cat p{
    font-size: 13px;
    text-align: center;
}
.botones .btn-cat a{
    color: #255981;
  }

.botones .btn-cat:hover{
  background-color: #255981;
}

.botones .btn-cat a:hover {
    color: #fff;
}
</style> 
<div class="container content servicios-escolares-ac">
        <hr>
        <div class="row pleca-secciones">
            <div class="col-lg-12 secciones">
                <i class="icono-secciones icon-hya" style="position: relative;top: 9px;"></i><h1>HUMANIDADES Y ARTES</h1>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center align-items-center" style="padding-top: 20px;">
            <div class="col-12 col-md-10 secciones" style="margin-bottom: 10px;">
            <div class="seccion"><i class="icono-secciones icon-arquitectura"></i><h1 class="mw-50 ng-binding">ARQUITECTURA</h1></div>
            </div>
            <div class="col-12 col-md-5">
                <img class="img-fluid" src="public_html/img/orientaton-unam/arquitectura.jpg" alt="ARQUITECTURA">
            </div>
            <div class="col-12 col-md-5" style="padding-top: 20px">
                 <a class="boton-registro btn btn-secondary btn-sm boton-header" href="public_html/documents/orientaton-unam/escolarizado/mapa-arquitectura.pdf" target="_blank" title="Mapa Curricular">Mapa Curricular</a>
                 <div class="card mb-2">
                     <div class="card-header" ng-click="(card_selected === 1 ? card_selected = 0 : card_selected = 1)">
                        Perfil de ingreso
                     </div>
                     <div class="card-body" ng-show="card_selected === 1">
                        <p>La comunidad aspirante deberá contar con:</p>
                        <ul>
                            <li>nivel medio superior concluido;</li>
                            <li>amplia creatividad;</li>
                            <li>manejo de herramientas algebraicas;</li>
                            <li>habilidad para el dibujo técnico y arquitectónico;</li>
                            <li>sociabilidad;</li>
                            <li>habilidad para el trabajo en ambientes colaborativos;</li>
                        </ul>
                     </div>
                 </div>
                 <div class="card mb-2">
                    <div class="card-header" ng-click="(card_selected === 2 ? card_selected = 0 : card_selected = 2)">
                        Perfil de egreso
                    </div>
                    <div class="card-body" ng-show="card_selected === 2">
                       <p>La formación profesional se concibe como una práctica inscrita en la dinámica social, y se caracteriza más por amplios conocimientos, dominio de métodos y conceptos que por sólo la acumulación de información. También, contempla habilidades y actitudes que en su conjunto delimitan una práctica profesional, por lo que la comunidad egresada de la carrera de Arquitectura debe contar con elementos formativos para:</p>
                       <ul>
                           <li>diseñar, concebir, determinar y realizar todo espacio-forma que satisfaga las necesidades de las personas en su dualidad física y espiritual, desde el plano individual y como integrantes de una comunidad;</li>
                           <li>sustentar la concepción del Diseño Arquitectónico en su concepto integral;</li>
                           <li>fundamentar la relación y desarrollo de los procesos y sistemas constructivos de los espacios-forma arquitectónicos;</li>
                           <li>seleccionar el tipo de estructura y el diseño de los elementos estructurales de los espacios-forma arquitectónicos;</li>
                           <li>establecer la concepción y determinación de las necesidades y elementos para el funcionamiento hidrosanitario, eléctrico y de combustibles, así como para el control luminoso, térmico y acústico de todo espacio-forma;</li>
                           <li>organizar y estructurar todos los procesos que integran el diseño y la realización de los espacios arquitectónicos y urbanos;</li>
                           <li>cimentar el diseño arquitectónico integral en su contexto urbano en una planeación normativa;</li>
                           <li>reconocer que la creatividad de profesionales de la Arquitectura responde a una formación liberal como personas en su dualidad espiritual y ética.</li>
                       </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center" style="padding-top: 25px;">
            <div class="col-12 col-md-5 secciones">
                <div class="seccion"><i class="icono-secciones icon-youtube yout"></i><h1 class="mw-50 ng-binding">¡Checa nuestro video!</h1></div>
             </div>
             <div class="col-12 col-md-5">
                <div class="embed-responsive embed-responsive-16by9" style="padding-top: 20px; border-radius: 15px;">
                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/qyrABW7zr_0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center align-items-center" style="padding-top: 20px;">
                <div class="col-12 col-md-10 secciones" style="margin-bottom: 10px;">
            <div class="seccion"><i class="icono-secciones icon-diseno-industrial"></i><h1 class="mw-50 ng-binding">DISEÑO INDUSTRIAL</h1></div>
            </div>
            <div class="col-12 col-md-5">
                    <img class="img-fluid" src="public_html/img/orientaton-unam/disenoindustrial.jpg" alt="DISEÑO INDUSTRIAL">
            </div>
            <div class="col-12 col-md-5" style="padding-top: 20px">
                <a class="boton-registro btn btn-secondary btn-sm boton-header" href="public_html/documents/orientaton-unam/escolarizado/mapa-diseño-industrial.pdf" target="_blank" title="Mapa Curricular">Mapa Curricular</a>
                 <div class="card mb-2">
                     <div class="card-header" ng-click="(card_selected === 3 ? card_selected = 0 : card_selected = 3)">
                            Perfil de ingreso
                     </div>
                     <div class="card-body" ng-show="card_selected === 3">
                        <p><strong></strong></p>
                        <p>La comunidad aspirante deberá:</p>
                        <ul>
                            <li>poseer el hábito de la observación (pensamiento racional);</li>
                            <li>tener la curiosidad innata para investigar los objetos que nos rodean, sus formas, materiales, mecanismos, procesos, etc. (pensamiento deductivo);</li>
                            <li>asumir una actitud de interés ante la problemática ambiental (pensamiento creativo);</li>
                            <li>poseer ciertas habilidades manuales, tanto al operar herramientas sencillas, como al transformar los materiales con ingenio y paciencia;</li>
                            <li>tener una disposición natural para representar mediante lenguajes gráficos (capacidad espacial, experimental y comunicativa);</li>
                            <li>tener una actitud tolerante y flexible ante las críticas hacia su trabajo (juicio de autoevaluación);</li>
                            <li>ser capaz de desenvolverse en situaciones que no estén claramente definidas (capacidad de autogestión);</li>
                            <li>tener sensibilidad natural ante manifestaciones culturales como la música, el teatro, la danza, la pintura, la escultura, la poesía (sensibilidad artística);</li>
                            <li>preocuparse constantemente por las personas y la comunidad (responsabilidad social y ecológica).</li>
                        </ul>
                     </div>
                 </div>
                 <div class="card mb-2">
                        <div class="card-header" ng-click="(card_selected === 4 ? card_selected = 0 : card_selected = 4)">
                                Perfil de egreso
                        </div>
                        <div class="card-body" ng-show="card_selected === 4"><a class="boton-registro btn btn-secondary btn-sm boton-header" href="public_html/documents/orientaton-unam/escolarizado/mapa-diseño-industrial.pdf" target="_blank" title="Mapa Curricular">Mapa Curricular</a>
                           <p>La comunidad egresada de la carrera de Diseño Industrial contará con conocimientos sobre:</p>
                           <ul>
                               <li>el manejo de la forma, la relación óptima que se establece entre usuario-objeto, la geometría, técnicas para desarrollar y comunicar las ideas por diversos medios;</li>
                               <li>los materiales y sus procesos de transformación, fenómenos físicos y sus aplicaciones, matemáticas y cálculo;</li>
                               <li>evolución de la forma a través del tiempo, sus influencias sociales, culturales y tecnológicas;</li>
                               <li>estilos y tendencias;</li>
                               <li>diversos métodos y técnicas para observar, investigar, organizar y sintetizar información aplicable a la solución de problemas de diseño;</li>
                               <li>el contexto socioeconómico, planeación, administración, contabilidad, productividad y calidad. Propiedad intelectual e industrial;</li>
                               <li>redacción de documentos específicos y especializados;</li>
                               <li>conocimientos básicos de un idioma diferente al español;</li>
                               <li>algunos campos especializados como el de mobiliario, ergonomía, artesanías mexicanas, museografía, diseño de espacios comerciales.</li>
                           </ul>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center" style="padding-top: 25px;">
                <div class="col-12 col-md-5 secciones">
                    <div class="seccion"><i class="icono-secciones icon-youtube yout"></i><h1 class="mw-50 ng-binding">¡Checa nuestro video!</h1></div>
                 </div>
                 <div class="col-12 col-md-5">
                    <div class="embed-responsive embed-responsive-16by9" style="padding-top: 20px; border-radius: 15px;">
                        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/MpxY_OEiBPU" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
        </div>
        <hr>
        <div class="row justify-content-center align-items-center" style="padding-top: 20px;">
            <div class="col-12 col-md-10 secciones" style="margin-bottom: 10px;">
                 <div class="seccion"><i class="icono-secciones icon-pedagogia"></i><h1 class="mw-50 ng-binding">PEDAGOGÍA</h1></div>
            </div>
            <div class="col-12 col-md-5">
                    <img class="img-fluid" src="public_html/img/orientaton-unam/pedagogia.jpg" alt="PEDAGOGÍA">
            </div>
            <div class="col-12 col-md-5" style="padding-top: 20px">
                <a class="boton-registro btn btn-secondary btn-sm boton-header" href="public_html/documents/orientaton-unam/escolarizado/mapa-pedagogia.pdf" target="_blank" title="Mapa Curricular">Mapa Curricular</a>
                 <div class="card mb-2">
                     <div class="card-header" ng-click="(card_selected === 5 ? card_selected = 0 : card_selected = 5)">
                            Perfil de ingreso
                     </div>
                     <div class="card-body" ng-show="card_selected === 5">
                        <p>La comunidad aspirante deberá desarrollar su aprendizaje a partir del hábito por la lectura, el pensamiento abstracto y la capacidad de análisis y síntesis. Ésto le permitirá integrar conocimientos, aptitudes y habilidades necesarias para explicar los fenómenos educativos desde una perspectiva pedagógica. De igual forma, tendrá que realizar prácticas reflexivas y creativas que le ayuden a generar una postura ante la realidad educativa.</p>                        
                     </div>
                 </div>
                 <div class="card mb-2">
                        <div class="card-header" ng-click="(card_selected === 6 ? card_selected = 0 : card_selected = 6)">
                             Perfil de egreso
                        </div>
                        <div class="card-body" ng-show="card_selected === 6">
                          <p><strong>Perfil de egreso</strong></p>
                           <p>La comunidad egresada de la licenciatura en Pedagogía será capaz de: diseñar, ejecutar y evaluar proyectos académicos, de capacitación y actualización laboral;</p>
                           <ul>
                               <li>Explicar y proponer soluciones a problemas educativos concretos en nuestra sociedad.</li>
                               <li>Dar asesorías pedagógicas en investigaciones y estudios con respecto a los distintos niveles y modalidades de la práctica educativa.</li>
                           </ul>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center" style="padding-top: 25px;">
                <div class="col-12 col-md-5 secciones">
                    <div class="seccion"><i class="icono-secciones icon-youtube yout"></i><h1 class="mw-50 ng-binding">¡Checa nuestro video!</h1></div>
                 </div>
                 <div class="col-12 col-md-5">
                    <div class="embed-responsive embed-responsive-16by9" style="padding-top: 20px; border-radius: 15px;">
                        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/-oJqsCPNZqI" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
        </div>
    </div>