<style>
        .mainmenu li i {
        font-size: 25px;
        position: absolute;
        margin-left: -30px;
        margin-top: -1px;
        color: #fff;
        }
        .mainmenu li span {
        position: relative;
        float: left;
        font-size: 12px;
        color: #000;
    }
    .mainmenu li {
        float: left;
        display: block;
        padding: 5px;
        cursor: pointer;
    }
    .nav-link {
        display: block;
        padding: .5rem .5rem;
        padding-top: 0.5rem;
        padding-right: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
    }
    .lema{
        text-align: justify;
        color: #255880;
    }
    .img-fluid{
        border-radius: 15px;
    }
    .container .yout {
        font-size: 36px;
    }
    .icono-secciones{
    color: #255981;
    }
    @media screen and (max-width: 454px) {
    .mainmenu li {
        width: 44%;
        padding: 0px;
        text-align: left;
    }
    .lema{
        padding-right: 15px;
        padding-left: 15px;
    }
       
    }
    .boton-header {
         margin-top: 0px !important;
         margin-bottom: 16px;
    }
    .icono-secciones {
        font-size: 50px;
        width: 20%;
        /* color: #599e35;*/
    }
    .seccion{
        border-bottom: 2px solid #d2ae6c;
        padding-bottom: 0px;
    }
    hr {
        background-color: #255880;
    }
    
    .botones .btn-cat {
      border: 1px solid #d3af6d;
      color: red;
    }
    
    .botones .btn-cat .icon {
        position: relative;
        top: 12px;
        font-size: 50px;
        margin: 0px auto 0px;
        text-align: center;
    }
    
    
    .botones .btn-cat p{
        font-size: 13px;
        text-align: center;
    }
    .botones .btn-cat a{
        color: #255981;
      }
    
    .botones .btn-cat:hover{
      background-color: #255981;
    }
    
    .botones .btn-cat a:hover {
        color: #fff;
    }
    </style> 
    <div class="container content servicios-escolares-ac">
            <hr>
            <div class="row pleca-secciones">
                <div class="col-lg-12 secciones">
                    <i class="icono-secciones icon-posgrados" style="position: relative;top: 9px;"></i><h1>POSGRADO</h1>
                </div>
            </div>
            <hr>
        <div class="row justify-content-center align-items-center" style="padding-top: 20px;">
                <div class="col-12 col-md-5 secciones">
                        <div class="seccion"><i class="icono-secciones icon-youtube yout"></i><h1 class="mw-50 ng-binding">¡Checa nuestro video!</h1></div>
                </div>
            <div class="col-md-5">
                <div class="embed-responsive embed-responsive-16by9" style="border-radius: 15px;">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/Zfz9JpUGRR0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-12 col-md-10" style="padding-top: 20px">
                 <div class="card mb-2">
                     <div class="card-header" ng-click="(card_selected === 18 ? card_selected = 0 : card_selected = 18)">
                         ESPECIALIZACIÓN EN DERECHO
                     </div>
                     <div class="card-body" ng-show="card_selected === 18">
                        <p><strong>Objetivo general del plan de estudios del programa</strong></p>
                        <p>En el caso del Programa Único de Especializaciones en Derecho, la FES Aragón es una entidad académica invitada, lo cual se traduce en que la comunidad estudiantil que ingresa a éste en nuestro plantel, cursa las asignaturas del Plan de Estudios en nuestras instalaciones; sin embargo, en lo que concierne a los trámites administrativos -como inscripción y reinscripción-, se llevan a cabo en la Facultad de Derecho.</p>
                        <a style="color: #0069d9;" target="_blank" href="http://derecho.posgrado.unam.mx/site_cpd/public/inicio">
                            <p>Programa de posgrado en derecho</p>
                        </a>
                     </div>
                 </div>
            </div>
            <div class="col-12 col-md-10" style="padding-top: 20px">
                 <div class="card mb-2">
                     <div class="card-header" ng-click="(card_selected === 19 ? card_selected = 0 : card_selected = 19)">
                         ESPECIALIZACIÓN EN PUENTES
                     </div>
                     <div class="card-body" ng-show="card_selected === 19">
                        <p><strong>Perfil de ingreso</strong></p>
                        <p>La especialización en Puentes se dirige a profesionales en Ingeniería Civil y comunidad egresada de licenciaturas afines al plan de estudios. Está dirigida a aquellas persona que laboran en el campo de las vías terrestres y tienen el interés de especializarse en esta disciplina. Se debe tener conocimientos sólidos en las áreas de hidráulica y geotecnia, vías terrestres, estructuras, construcción y planeación.</p>
                        <p><strong>Perfil de egreso</strong></p>
                        <p>La comunidad egresada contará con los conocimientos para:</p>
                        <ul>
                            <li>planear, coordinar y evaluar estudios previos para el proyecto de puentes;</li>
                            <li>seleccionar el tipo de puente, elaborar el proyecto geométrico y estético;</li>
                            <li>realizar cálculos hidráulicos y el diseño geotécnico;</li>
                            <li>realizar cálculos estructurales y el proyecto ejecutivo de puentes;</li>
                            <li>supervisar la construcción de puentes y de control de calidad;</li>
                            <li>detectar problemas que se presenten en el comportamiento de los puentes y las medidas preventivas o correctivas necesarias, así como supervisar tareas de rehabilitación correspondientes.</li>
                        </ul>
                        <p><strong>Campos del Conocimiento</strong></p>
                        <p>Un puente es una obra plena de ingeniería en donde intervienen diversos campos del conocimiento, por lo que la comunidad especialista en puentes debe saber todo lo relacionado con:</p>
                        <ol>
                            <li>proyecto y construcción de vías terrestres;</li>
                            <li>localización y trazo geométrico de caminos;</li>
                            <li>estudios de drenaje;</li>
                            <li>hidrología e hidráulica;</li>
                            <li>topografía;</li>
                            <li>geología y geotecnia;</li>
                            <li>comportamiento de suelos;</li>
                            <li>estabilidad de taludes;</li>
                            <li>movimiento de tierras;</li>
                            <li>diseño y construcción de pavimentos;</li>
                            <li>ingeniería de tránsito;</li>
                            <li>mecánica de materiales;</li>
                            <li>análisis y diseño estructural;</li>
                            <li>ingeniería sísmica;</li>
                            <li>ingeniería experimental;</li>
                            <li>operación, mantenimiento y conservación de estructuras;</li>
                            <li>impacto ambiental;</li>
                            <li>construcción, planeación, administración y organización de obras;</li>
                            <li>legislación.</li>
                        </ol>
                        <a class="boton-registro btn btn-secondary btn-sm boton-header" href="public_html/documents/orientaton-unam/posgrado/mapa-puentes.pdf" target="_blank" title="Mapa Curricular">Mapa Curricular</a>
                     </div>
                 </div>
            </div>
            <div class="col-12 col-md-10" style="padding-top: 20px">
                 <div class="card mb-2">
                     <div class="card-header" ng-click="(card_selected === 20 ? card_selected = 0 : card_selected = 20)">
                         MAESTRÍA EN ARQUITECTURA
                     </div>
                     <div class="card-body" ng-show="card_selected === 20">
                        <p><strong>Perfil de ingreso</strong></p>
                        <p></p>
                        <ul>
                        <li>conocimiento sobre procesos evolutivos de la arquitectura, relacionados con los factores sociales, ambientales, históricos, tecnológicos y su relación con los asentamientos urbanos;</li>
                        <li>conocimiento sobre los fundamentos de teorías del diseño arquitectónico;</li>
                        <li>conocimiento sobre las problemáticas que determinan la variedad de temas de investigación relacionados con los campos de conocimiento específicos del ámbito profesional de la arquitectura;</li>
                        <li>conocimiento sobre las tendencias arquitectónicas contemporáneas;</li>
                        <li>conocimiento sobre el manejo de nuevas tecnologías de la información;</li>
                        <li>comprensión de lectura de una lengua diferente al español o a su lengua materna;</li>
                        <li>capacidad para identificar y analizar metódicamente las posibles temáticas de trabajo para ubicarlas dentro de los campos de la investigación arquitectónica;</li>
                        <li>habilidad para expresar ideas de manera gráfica, oral y por escrito;</li>
                        <li>capacidad creativa;</li>
                        <li>búsqueda y adquisición de conocimientos nuevos relacionados con el quehacer arquitectónico;</li>
                        <li>disposición para la superación profesional, dedicación al estudio e interés para atender las demandas de la sociedad con ética profesional.</li>
                        <li>expresión para manifestar su decisión de abordar, personal y socialmente, nuevos retos intelectuales;</li>
                        <li>habilidad para el trabajo colectivo e interdisciplinario;</li>
                        <li>tolerancia ante la diversidad de opiniones discrepantes;</li>
                        <li>respeto a la institución y los individuos;</li>
                        <li>integridad y honestidad académica.</li>
                        </ul>
                        <p><strong>Perfil de egreso</strong></p>
                        <p>La comunidad egresada de la maestría en Arquitectura tendrá las siguientes características:</p>
                        <ul>
                        <li>conocimientos teóricos, conceptuales, metodológicos y humanistas de los procesos evolutivos de la Arquitectura y en particular del campo de conocimiento en el cual se formó la comunidad estudiantil;</li>
                        <li>conocimientos sobre herramientas especializadas para el manejo de fuentes documentales relacionadas con la teoría y práctica del diseño arquitectónico;</li>
                        <li>conocimientos sobre las tendencias arquitectónicas contemporáneas nacionales e internacionales;</li>
                        <li>capacidad para formular problemas y proyectos de investigación aplicada al ámbito profesional, en especial aquellos casos relacionados con el campo de conocimiento de la maestría;</li>
                        <li>capacidad de integración de conocimientos derivados de la investigación aplicada a los procesos de planeación y ejecución de la práctica profesional con resultados de excelencia;</li>
                        <li>capacidad de análisis, desarrollo y resolución, desde una perspectiva interdisciplinaria y multidisciplinaria de los diversos fenómenos de la Arquitectura, al aportar aspectos que incluyan referentes socialmente pertinentes e innovadores;</li>
                        <li>capacidad de revisión, evaluación y resolución de manera práctica de los problemas del campo profesional mediante el uso de principios teóricos y herramientas metodológicas de investigación aplicada arquitectónica;</li>
                        <li>capacidad para la elaboración de proyectos de investigación originales y para generar conocimientos innovadores e incursionar al doctorado;</li>
                        <li>capacidad para comunicar clara y fluidamente, de manera oral y escrita sobre los conocimientos e ideas propias;</li>
                        <li>capacidad para resolver de manera original problemas complejos con otras formas de pensamiento, con el fin de avanzar en el descubrimiento de paradigmas nuevos de la Arquitectura con responsabilidad social y ambiental;</li>
                        <li>apertura a los conocimientos y autonomía intelectual generados en otras disciplinas con potencial de aplicación a la Arquitectura e interacción desde la visión arquitectónica con otros campos de conocimiento;</li>
                        <li>respeto a opiniones ante la crítica y diferencias expresadas en las diversas posturas del fenómeno arquitectónico;</li>
                        </ul>
                        <p><strong>Campos del Conocimiento</strong></p>
                        <p>En la Facultad de Estudios Superiores Aragón, se imparten los siguientes campos de conocimiento:</p>
                        <ol>
                            <li>Diseño arquitectónico</li>
                            <li>Tecnologías</li>
                        </ol>
                        <a class="boton-registro btn btn-secondary btn-sm boton-header" href="public_html/documents/orientaton-unam/posgrado/mapa-maestria-arquitectura.pdf" target="_blank" title="Mapa Curricular">Mapa Curricular</a>
                     </div>
                 </div>
            </div>
            <div class="col-12 col-md-10" style="padding-top: 20px">
                 <div class="card mb-2">
                     <div class="card-header" ng-click="(card_selected === 21 ? card_selected = 0 : card_selected = 21)">
                         MAESTRÍA EN DERECHO
                     </div>
                     <div class="card-body" ng-show="card_selected === 21">
                        <p><strong>Perfil de ingreso</strong></p>
                        <p>ra ingresar a la maestría en Derecho, la comunidad aspirante deberá poseer habilidades para el análisis, discusión y generación de textos especializados y problematizar temas de investigación jurídica.</p>
                        <p><strong>Perfil de egreso</strong></p>
                        <p>La comunidad egresada contará con conocimientos jurídicos de frontera y habilidades para asesorar, formular o proponer proyectos de optimización del funcionamiento de diversas instancias del sistema jurídico nacional, con una actitud analítica, crítica y creativa en la solución de los problemas jurídicos nacionales. Como resultado de su formación estará capacitada para realizar estudios de su disciplina y coadyuvar en la integración de grupos de investigación.</p>
                        <p><strong>Campos del Conocimiento</strong></p>
                        <p>Los campos del conocimiento que abarca el programa de maestría en Derecho son:</p>
                        <ol>
                            <li>Derecho Administrativo;</li>
                            <li>Derecho Ambiental;</li>
                            <li>Derecho Civil;</li>
                            <li>Derecho Constitucional;</li>
                            <li>Derecho de la Administración y Procuración de Justicia;</li>
                            <li>Derecho de la Información;</li>
                            <li>Derecho de la Propiedad Intelectual;</li>
                            <li>Derecho de Menores;</li>
                            <li>Derecho del Comercio Exterior;</li>
                            <li>Derecho Electoral;</li>
                            <li>Derecho Empresarial;</li>
                            <li>Derecho Familiar;</li>
                            <li>Derecho Financiero;</li>
                            <li>Derecho Fiscal;</li>
                            <li>Derecho Internacional Privado;</li>
                            <li>Derecho Internacional Público;</li>
                            <li>Derecho Laboral;</li>
                            <li>Derecho Notarial y Registral;</li>
                            <li>Derecho Penal;</li>
                            <li>Derecho Derecho Social;</li>
                            <li>Derechos Humanos;</li>
                            <li>filosofía del Derecho;</li>
                            <li>género y Derecho;</li>
                            <li>Sistema de Responsabilidad de Servidores públicos.</li>
                        </ol>
                        <a class="boton-registro btn btn-secondary btn-sm boton-header" href="public_html/documents/orientaton-unam/posgrado/mapa-maestria-derecho.pdf" target="_blank" title="Mapa Curricular">Mapa Curricular</a>
                     </div>
                 </div>
            </div>
            <div class="col-12 col-md-10" style="padding-top: 20px">
                 <div class="card mb-2">
                     <div class="card-header" ng-click="(card_selected === 22 ? card_selected = 0 : card_selected = 22)">
                         MAESTRÍA EN ECONOMÍA
                     </div>
                     <div class="card-body" ng-show="card_selected === 22">
                        <p><strong>Perfil de ingreso</strong></p>
                        <p>La comunidad aspirante a cursar este plan de estudios deberá poseer las habilidades básicas que proporciona la licenciatura, así como la experiencia previa mínima indispensable para continuar con estudios de maestría. En consecuencia, deberá haber egresado de la licenciatura en economía o de otra carrera afín; en todos los casos deberá demostrar que posee los conocimientos básicos de lógica matemática, manejo apropiado del lenguaje, conocimientos básicos en economía e interés por la disciplina. De igual forma, deberá mostrar vocación y aptitudes para emprender tareas de investigación económica, con un interés lo suficientemente claro en alguno de los campos que comprende el programa.</p>
                        <p><strong>Perfil de egreso</strong></p>
                        <p>La comunidad egresada tendrá un conocimiento amplio y plural de los fundamentos teóricos de la disciplina, y en particular del campo de conocimiento elegido, así como destreza para utilizar los diferentes métodos de la economía aplicada y capacidad para tomar decisiones en cualquiera de los ámbitos en los que se desempeñe laboralmente, además debe hacer aportaciones al avance de la disciplina y su ejercicio profesional.</p>
                        <p><strong>Campos del Conocimiento</strong></p>
                        <p>En la Facultad de Estudios Superiores Aragón por ser entidad académica participante se imparten los siguientes:</p>
                        <ol>
                            <li>Economía de los recursos naturales y desarrollo sustentable;</li>
                            <li>Economía financiera;</li>
                            <li>Economía pública;</li>
                            <li>teoría y método de la Economía.</li>
                        </ol>
                        <a class="boton-registro btn btn-secondary btn-sm boton-header" href="public_html/documents/orientaton-unam/posgrado/mapa-maestria-economia.pdf" target="_blank" title="Mapa Curricular">Mapa Curricular</a>
                     </div>
                 </div>
            </div>
            <div class="col-12 col-md-10" style="padding-top: 20px">
                 <div class="card mb-2">
                     <div class="card-header" ng-click="(card_selected === 23 ? card_selected = 0 : card_selected = 23)">
                         MAESTRÍA EN INGENIERÍA
                     </div>
                     <div class="card-body" ng-show="card_selected === 23">
                        <p><strong>Perfil de ingreso</strong></p>
                        <p>La comunidad aspirante a ingresar a la maestría en Ingeniería de este programa deberá tener:</p>
                        <ul>
                        <li>conocimientos básicos en física y matemáticas, así como conocimientos generales en el campo al que desea ingresar;</li>
                        <li>conocimiento sobre programas y paquetes de cómputo relacionados con el campo de conocimiento de su interés;</li>
                        <li>comprensión de textos técnicos y especializados de ingeniería en inglés;</li>
                        <li>buena comprensión de lectura, así como capacidad de análisis y síntesis;</li>
                        <li>redacción correcta en español;</li>
                        <li>entendimiento el contexto social y económico del país en el que se ejerce la actividad profesional;</li>
                        <li>capacidad crítica y ser capaz de definir problemas que requieran de ingeniería;</li>
                        <li>aptitud de adaptarse a situaciones nuevas;</li>
                        <li>capacidad de análisis con respecto a las nuevas tecnologías;</li>
                        <li>cualidades personales necesarias que le permitan adaptarse a un medio ambiente de trabajo extremo;</li>
                        <li>mentalidad abierta al uso de la tecnología y a la innovación educativa, como herramientas que puedan potenciar su aprendizaje;</li>
                        <li>disposición para el trabajo en equipo.</li>
                        </ul>
                        <p><strong>Perfil de egreso</strong></p>
                        <p>En términos generales la comunidad egresada de la maestría en Ingeniería:</p>
                        <ul>
                        <li>contará con conocimientos, habilidades y actitudes que le permite iniciarse en la investigación y el ejercicio profesional;</li>
                        <li>habrá adquirido un conocimiento sólido y actual en el campo de conocimiento, y en particular campo disciplinario que hayan cursado;</li>
                        <li>dominará un amplio conjunto de métodos y técnicas fundamentales, teóricas y experimentales de su campo de conocimiento y disciplinario;</li>
                        <li>será capaz de apoyar el desarrollo de estudios y proyectos de investigación básica y aplicada, así como plantear estrategias para su realización, en los ámbitos académico, industrial, productivo y de servicios;</li>
                        <li>trabajará en equipo y en grupos inter y multidisciplinarios;</li>
                        <li>manejará de manera crítica información científica y técnica de fuentes especializadas de actualidad;</li>
                        <li>será capaz de atender problemas de análisis en el campo de conocimiento, y en particular en el campo disciplinario elegido, considerando las habilidades adquiridas en el transcurso de sus estudios;</li>
                        <li>tendrá la capacidad de discernir así como plantear soluciones para resolver problemas complejos en el campo de conocimiento;</li>
                        <li>podrá proponer soluciones prácticas y realizables, que garanticen la sustentabilidad del medio ambiente basadas en la información científica y tecnológica disponible;</li>
                        <li>podrá participar en asesorías, consultorías, en el desarrollo de nuevas tecnologías y en la investigación básica y aplicada;</li>
                        <li>podrá crear con actitud innovadora nuevas fuentes de empleo;</li>
                        <li>tendrá capacidad de comunicación oral y escrita;</li>
                        <li>tendrá capacidad para trabajar en equipo.</li>
                        </ul>
                        <p><strong>Campos del Conocimiento</strong></p>
                        <p>El campo de conocimiento que se imparte en la FES Aragón es:</p>
                        <ul>
                        <li>Ingeniería en Sistemas.</li>
                        </ul>
                        <a class="boton-registro btn btn-secondary btn-sm boton-header" href="public_html/documents/orientaton-unam/posgrado/mapa-maestria-ingenieria.pdf" target="_blank" title="Mapa Curricular">Mapa Curricular</a>
                     </div>
                 </div>
            </div>
            <div class="col-12 col-md-10" style="padding-top: 20px">
                 <div class="card mb-2">
                     <div class="card-header" ng-click="(card_selected === 24 ? card_selected = 0 : card_selected = 24)">
                         MAESTRÍA EN PEDAGOGÍA
                     </div>
                     <div class="card-body" ng-show="card_selected === 24">
                        <p><strong>Perfil de ingreso</strong></p>
                        <p>La comunidad aspirante que pretenda ingresar al plan de estudios de la maestría en Pedagogía deberá demostrar tanto en su proyecto de investigación, como en la entrevista los siguientes conocimientos, habilidades y actitudes:</p>
                        <ul>
                            <li>capacidad crítica, de discernimiento, de abstracción de análisis y síntesis.</li>
                            <li>Habilidades de expresión oral y escrita;</li>
                            <li>Dominio del idioma español y expresión precisa y clara del mismo a nivel individual y grupal;</li>
                            <li>Competencia en la búsqueda y análisis de información y en la sistematización de datos;</li>
                            <li>Capacidad para identificar problemas relacionados con el ámbito educativo.</li>
                        </ul>
                        <p><strong>Perfil de egreso</strong></p>
                        <p>Al egresar de esta maestría la comunidad estudiantil será capaz de:</p>
                         <ul>
                             <li>Identificar problemáticas relacionadas con el ámbito educativo, a fin de construir objetos de estudio significativos para el campo de la Pedagogía;</li>
                             <li>Poseer conocimientos y habilidades sólidos en las actividades relacionadas con la investigación educativa;</li>
                             <li>Demostrar el manejo de enfoques teóricos y estrategias encaminadas al trabajo de la gestión y la docencia.</li>
                             <li>Contar con la habilidad para elaborar informes académicos y de intervención.</li>
                             <li>Diseñar propuestas de intervención para la solución de los variados y complejos problemas educativos y pedagógicos vigentes en el ámbito nacional e internacional.</li>
                         </ul>
                         <p><strong>Campos del Conocimiento</strong></p>
                         <P>El plan de estudios tiene cuatro campos de conocimiento, los cuales son:</P>
                         <ul>
                             <li>docencia;</li>
                             <li>políticas educativas y gestión académica;</li>
                             <li>educación y diversidad cultural;</li>
                             <li>construcción de saberes pedagógicos.</li>
                         </ul>
                         <a class="boton-registro btn btn-secondary btn-sm boton-header" href="public_html/documents/orientaton-unam/posgrado/mapa-maestria-pedagogia.pdf" target="_blank" title="Mapa Curricular">Mapa Curricular</a>
                     </div>
                 </div>
            </div>
            <div class="col-12 col-md-10" style="padding-top: 20px">
                 <div class="card mb-2">
                     <div class="card-header" ng-click="(card_selected === 25 ? card_selected = 0 : card_selected = 25)">
                         MAESTRÍA EN POLÍTICA CRIMINAL
                     </div>
                     <div class="card-body" ng-show="card_selected === 25">
                        <p><strong>Perfil de ingreso</strong></p>
                        <p>Para ingresar a la maestría en Política Criminal, la comunidad aspirante deberá poseer habilidades para el análisis, discusión y generación de textos especializados en ciencias jurídicas y del control social, para problematizarlos como temas de investigación.</p>
                        <p><strong>Perfil de egreso</strong></p>
                        <p>La comunidad egresada contará con conocimientos de frontera del control social y habilidades para asesorar, formular o proponer políticas públicas en materia criminal y de seguridad, con una actitud analítica, crítica y creativa en la solución de los problemas de la agenda nacional. Como resultado de su formación, estará capacitada para realizar estudios inter, multi y transdisciplinarios, además de coadyuvar en la integración de grupos de investigación.</p>
                        <p><strong>Campos del Conocimiento</strong></p>
                        <p>La Política Criminal es entendida como la parte de la política general de control que desarrolla el Estado y que se manifiesta a través de diversas políticas públicas, para prevenir las alteraciones del orden social y mantener en niveles de tolerabilidad los índices de transgresión de la norma.</p>
                        <p>Se identifica a la Política Criminal como aquella relacionada en la última de sus instancias con el Derecho Penal, el discurso de la prevención sostenido en las leyes y en el discurso del Estado ha quedado sin credibilidad, por lo que es tiempo de cambiar la estrategia; los diagnósticos que detectaban las posibles alteraciones sociales a futuro y daban cuenta de las deficiencias jurídicas han quedado rebasados.</p>
                        <p>En el presente, las metas a alcanzar con este campo del conocimiento consisten en proponer políticas públicas (económicas y sociales), así como medidas de política criminal, en el campo del Derecho Penal, a través de las cuales la delincuencia pueda mantenerse dentro de límites tolerables y las autoridades actúen en un marco de respeto a las garantías propias de un Estado democrático de Derecho.</p>
                        <a class="boton-registro btn btn-secondary btn-sm boton-header" href="public_html/documents/orientaton-unam/posgrado/mapa-politica-criminal.pdf" target="_blank" title="Mapa Curricular">Mapa Curricular</a>
                     </div>
                 </div>
            </div>
            <div class="col-12 col-md-10" style="padding-top: 20px">
                 <div class="card mb-2">
                     <div class="card-header" ng-click="(card_selected === 26 ? card_selected = 0 : card_selected = 26)">
                         DOCTORADO EN ARQUITECTURA
                     </div>
                     <div class="card-body" ng-show="card_selected === 26">
                        <p><strong>Perfil de ingreso</strong></p>
                        <p>La comunidad aspirante a ingresar al doctorado en Arquitectura deberá tener los siguientes conocimientos:</p>
                        <ul>
                        <li>aspectos teórico-conceptuales pertinentes para formular proyectos viables de investigación original;</li>
                        <li>bases teóricas, sólidas y rigurosas en la disciplina de estudio;</li>
                        <li>instrumentos especializados para el manejo de fuentes documentales.</li>
                        </ul>
                        <p>Asimismo, deberá tener las siguientes habilidades y competencias:</p>
                        <ul>
                        <li>formular problemas de investigación con interrogantes sugerentes, originales y factibles de ser resueltas;</li>
                        <li>expresar actitud, interés y experiencia en las labores propias de la investigación;</li>
                        <li>revelar cualidades tolerantes ante la crítica y las diferencias, expresadas en las diversas posturas del fenómeno arquitectónico;</li>
                        <li>interesarse por la generación de nuevos conocimientos.</li>
                        </ul>
                        <p><strong>Perfil de egreso</strong></p>
                        <p>La comunidad egresada del doctorado en Arquitectura deberá:</p>
                        <ul>
                        <li>conocer a profundidad los aspectos teórico-metodológicos adecuados para desarrollar proyectos originales de investigación;</li>
                        <li>mostrar el empleo de un riguroso razonamiento abstracto, uso del lenguaje correcto y comprensión de textos, así como una buena interpretación de los hechos que le permitan comprobar diversas hipótesis a partir de argumentaciones originales;</li>
                        <li>tener la capacidad de encontrar e interpretar de forma original las fuentes de información de primera mano;</li>
                        <li>demostrar que posee una sólida formación académica y capacidad para la investigación y el descubrimiento de los límites en el conocimiento de la arquitectura;</li>
                        <li>contar con la capacidad de organizar y participar productivamente con grupos interdisciplinarios de investigación;</li>
                        <li>mostrar cualidades y actitudes de tolerancia para entender y debatir los diversos enfoques a su investigación con el fin de profundizar razonadamente en la discusión y defensa de sus ideas y propuestas.</li>
                        </ul>
                        <p><strong>Campos del Conocimiento</strong></p>
                        <ol>
                        <li>teoría y crítica de la arquitectura;</li>
                        <li>paradigmas en la comunicación y la enseñanza de la arquitectura;</li>
                        <li>producción arquitectónica;</li>
                        <li>pensamiento y producción científica-tecnológica de la Arquitectura;</li>
                        <li>Arquitectura, medio ambiente y sustentabilidad;</li>
                        <li>expresión y representación arquitectónica;</li>
                        <li>Arquitectura histórica y patrimonio;</li>
                        <li>Arquitectura y habitabilidad;</li>
                        <li>Arquitectura y territorio;</li>
                        <li>conocimiento transdisciplinario en la arquitectura.</li>
                        </ol>
                     </div>
                 </div>
            </div>
            <div class="col-12 col-md-10" style="padding-top: 20px">
                 <div class="card mb-2">
                     <div class="card-header" ng-click="(card_selected === 27 ? card_selected = 0 : card_selected = 27)">
                         DOCTORADO EN DERECHO
                     </div>
                     <div class="card-body" ng-show="card_selected === 27">
                        <p><strong>Perfil de ingreso</strong></p>
                        <p>Para ingresar al doctorado, la comunidad aspirante debe poseer habilidades para el análisis, discusión y generación de textos originales y especializados en la línea de su investigación. Además, deberá contar con una sólida formación metodológica que le permita identificar problemas jurídicos relevantes.</p>
                        <p><strong>Perfil de egreso</strong></p>
                        <p>La comunidad egresada contará con conocimientos jurídicos de frontera y habilidades argumentativas científicas para la generación de conocimiento nuevo, mediante la investigación original, con una alta capacidad para diseñar, coordinar, emprender, dirigir y participar en la investigación básica y aplicada, interactuando con otras comunidades profesionales en ciencias sociales, orientándose a la solución de los problemas jurídicos de la agenda nacional.</p>
                        <p><strong>Campos del Conocimiento</strong></p>
                        <p>La actividad fundamental de los estudios de doctorado consiste en la investigación original en alguno de los campos de conocimiento del Derecho. Adicionalmente y de forma complementaria, se realizarán otras actividades académicas, tales como: cursos, docencia, estancias de investigación, seminarios o talleres; que estarán orientadas a una formación académica y profesional, tanto en los conocimientos generales de la disciplina como en los específicos del campo de interés del alumno, que lo preparen para obtener la candidatura al grado.</p>
                        <p>Actualmente, en la FES Aragón, se imparten los siguientes campos de conocimiento:</p>
                        <ol>
                        <li>Derecho Constitucional</li>
                        <li>Derecho Penal</li>
                        </ol>
                     </div>
                 </div>
            </div>
            <div class="col-12 col-md-10" style="padding-top: 20px">
                 <div class="card mb-2">
                     <div class="card-header" ng-click="(card_selected === 28 ? card_selected = 0 : card_selected = 28)">
                         DOCTORADO EN ECONOMÍA
                     </div>
                     <div class="card-body" ng-show="card_selected === 28">
                        <p><strong>Perfil de ingreso</strong></p>
                        <p>La comunidad aspirante deberá:</p>
                        <ul>
                        <li>tener conocimientos sólidos y demostrar que cuenta con las habilidades de investigación indispensables para desarrollar y concluir con éxito su investigación;</li>
                        <li>ser capaz de preparar un proyecto de investigación que contemple un tema de frontera en la ciencia económica, conocer la bibliografía pertinente, incorporar una hipótesis, describir la metodología para probarla y plantear un plan de trabajo factible para su desarrollo  en un lapso de cuatro años.</li>
                        </ul>
                        <a class="boton-registro btn btn-secondary btn-sm boton-header" href="public_html/documents/orientaton-unam/posgrado/mapa-rrii-sua.pdf" target="_blank" title="Mapa Curricular">Mapa Curricular</a>
                        <p><strong>Perfil de egreso</strong></p>
                        <p>La comunidad egresada tendrá capacidad para realizar investigación de frontera y estará calificada para desempeñarse profesionalmente en cualquier ámbito laboral, dada su competencia teórica, metodológica y técnica.</p>
                        <p><strong>Campos del Conocimiento</strong></p>
                        <p>En la FES Aragón, por ser entidad académica participante se imparten los siguientes campos de conocimiento:</p>
                        <ol>
                        <li>Economía financiera;</li>
                        <li>teoría y método de la Economía;</li>
                        <li>Economía de los recursos naturales y desarrollo sustentable;</li>
                        <li>Economía pública.</li>
                        </ol>
                     </div>
                 </div>
            </div>
            <div class="col-12 col-md-10" style="padding-top: 20px">
                 <div class="card mb-2">
                     <div class="card-header" ng-click="(card_selected === 29 ? card_selected = 0 : card_selected = 29)">
                         DOCTORADO EN PEDAGOGÍA
                     </div>
                     <div class="card-body" ng-show="card_selected === 29">
                        <p><strong>Perfil de ingreso</strong></p>
                        <p>La comunidad aspirante que pretenda ingresar al plan de estudios del doctorado en Pedagogía deberá contar con un bagaje disciplinario amplio y sólido, con una formación previa para el campo educativo o en uno afín y reunir las condiciones académicas para desarrollar investigación original.</p>
                        <p>Además, deberá demostrar en el anteproyecto de investigación que presenta, las siguientes habilidades:</p>
                        <ol>
                        <li>redacción clara;</li>
                        <li>capacidad de argumentación;</li>
                        <li>capacidad crítica de discernimiento, de abstracción y de síntesis;</li>
                        <li>competencia en la búsqueda y análisis de información y en la sistematización de datos.</li>
                        </ol>
                        <a class="boton-registro btn btn-secondary btn-sm boton-header" href="public_html/documents/orientaton-unam/posgrado/mapa-rrii-sua.pdf" target="_blank" title="Mapa Curricular">Mapa Curricular</a>
                        <p><strong>Perfil de egreso</strong></p>
                        <p>La comunidad egresada tendrá las habilidades para la investigación original tales como:</p>
                        <ol>
                        <li>búsqueda de información por todos los medios disponibles;</li>
                        <li>elección un tema de investigación de acuerdo con la problemática identificada;</li>
                        <li>desarrollo de categorías conceptuales y analíticas;</li>
                        <li>construcción de líneas teóricas vinculadas con su objeto de estudio;</li>
                        <li>elaboración de un diseño metodológico que incluya la selección de técnicas y elaboración de instrumentos para la obtención del material de campo y sistematización, organización, análisis e interpretación de datos.</li>
                        </ol>
                        <p>Con respecto al ámbito disciplinario, este plan de estudios propicia una formación sólida que le permite reconocer la complejidad y la multireferencialidad de lo educativo.</p>
                        <p><strong>Perfil de egreso</strong></p>
                        <p>El plan de estudios tiene cuatro campos de conocimiento, los cuales son:</p>
                        <p>Las líneas de investigación orientadas al doctorado tienen como objetivo analizar las particularidades de lo educativo como objeto de conocimiento. Estas son:</p>
                        <ol>
                        <li>docencia;</li>
                        <li>políticas educativas y gestión académica;</li>
                        <li>educación y diversidad cultural;</li>
                        <li>construcción de saberes pedagógicos.</li>
                        </ol>
                        <ul>
                        <li>antropología cultural y educación;</li>
                        <li>teoría y desarrollo curricular, didáctica, evaluación y comunicación;</li>
                        <li>política, economía y planeación educativas;</li>
                        <li>epistemología y metodología de la investigación pedagógica;</li>
                        <li>filosofía de la educación y teorías pedagógicas;</li>
                        <li>historia de la educación y la pedagogía;</li>
                        <li>desarrollo humano y aprendizaje;</li>
                        <li>sistemas educativos formales y no formales;</li>
                        <li>sociología de la educación.</li>
                        </ul>
                     </div>
                 </div>
            </div>
        </div>
        <hr> 
    </div>