<style>
        .mainmenu li i {
        font-size: 25px;
        position: absolute;
        margin-left: -30px;
        margin-top: -1px;
        color: #fff;
        }
        .mainmenu li span {
        position: relative;
        float: left;
        font-size: 12px;
        color: #000;
    }
    .mainmenu li {
        float: left;
        display: block;
        padding: 5px;
        cursor: pointer;
    }
    .nav-link {
        display: block;
        padding: .5rem .5rem;
        padding-top: 0.5rem;
        padding-right: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
    }
    .lema{
        text-align: justify;
        color: #255880;
    }
    .img-fluid{
        border-radius: 15px;
    }
    .container .yout {
        font-size: 36px;
    }
    .icono-secciones{
    color: #255981;
    }
    @media screen and (max-width: 454px) {
    .mainmenu li {
        width: 44%;
        padding: 0px;
        text-align: left;
    }
    .lema{
        padding-right: 15px;
        padding-left: 15px;
    }
       
    }
    .boton-header {
         margin-top: 0px !important;
         margin-bottom: 16px;
    }
    .icono-secciones {
        font-size: 50px;
        width: 20%;
        /* color: #599e35;*/
    }
    .seccion{
        border-bottom: 2px solid #d2ae6c;
        padding-bottom: 0px;
    }
    hr {
        background-color: #255880;
    margin-top: 35px;
    margin-bottom: 35px;
    }
    
    .botones .btn-cat {
      border: 1px solid #d3af6d;
      color: red;
    }
    
    .botones .btn-cat .icon {
        position: relative;
        top: 12px;
        font-size: 50px;
        margin: 0px auto 0px;
        text-align: center;
    }
    
    
    .botones .btn-cat p{
        font-size: 13px;
        text-align: center;
    }
    .botones .btn-cat a{
        color: #255981;
      }
    
    .botones .btn-cat:hover{
      background-color: #255981;
    }
    
    .botones .btn-cat a:hover {
        color: #fff;
    }
    </style> 
    <div class="container content servicios-escolares-ac">
            <hr>
            <div class="row pleca-secciones">
                <div class="col-lg-12 secciones">
                    <i class="icono-secciones icon-simbolo-de-la-sumision-del-directorio" style="position: relative;top: 9px;"></i><h1>Servicios</h1>
                </div>
            </div>
            <hr>
        <div class="row justify-content-center align-items-center" style="padding-top: 20px;">
            <div class="col-12 col-md-4 secciones">
            <div class="seccion"><i class="icono-secciones icon-genero"></i><h1 class="mw-50 ng-binding">¿Qué es género?</h1></div>
            </div>
            <div class="col-md-4">
                <div class="embed-responsive embed-responsive-16by9" style="border-radius: 15px;">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/XiwCyV6CWrM" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <hr> 
        <div class="row justify-content-center align-items-center" style="padding-top: 20px;">
            <div class="col-md-4">
                <div class="embed-responsive embed-responsive-16by9" style="border-radius: 15px;">
                   <iframe class="embed-responsive-item" src="//www.youtube.com/embed/PJgVedBfiWg" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-12 col-md-4 secciones">
            <div class="seccion"><i class="icono-secciones icon-protecion-civil"></i><h1 class="mw-50 ng-binding">Protección Civil</h1></div>
            </div>
            
        </div>
        <hr> 
        <div class="row justify-content-center align-items-center" style="padding-top: 20px;">
            <div class="col-12 col-md-4 secciones">
            <div class="seccion"><i class="icono-secciones icon-servicio-a-la-comunidad"></i><h1 class="mw-50 ng-binding">Servicios a la Comunidad</h1></div>
            </div>
            <div class="col-md-4">
                <div class="embed-responsive embed-responsive-16by9" style="border-radius: 15px;">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/J6aCGvm1sps" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <hr> 
        <div class="row justify-content-center align-items-center" style="padding-top: 20px;">
                <div class="col-md-4">
                        <div class="embed-responsive embed-responsive-16by9" style="border-radius: 15px;">
                        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/4PalKK8hhzw" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    
            <div class="col-12 col-md-4 secciones">
               <div class="seccion"><i class="icono-secciones icon-unidad-juridica"></i><h1 class="mw-50 ng-binding">Oficina Jurídica</h1></div>
            </div>
        </div>
       <hr> 
        <div class="row justify-content-center align-items-center" style="padding-top: 20px;">
            <div class="col-12 col-md-4 secciones">
            <div class="seccion"><i class="icono-secciones icon-centro-de-lenguas"></i><h1 class="mw-50 ng-binding">Centro de Lenguas</h1></div>
            </div>
            <div class="col-md-4">
                <div class="embed-responsive embed-responsive-16by9" style="border-radius: 15px;">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/_oIYZ3B30eg" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <hr> 
        <div class="row justify-content-center align-items-center" style="padding-top: 20px;">
            <div class="col-md-4">
                <div class="embed-responsive embed-responsive-16by9" style="border-radius: 15px;">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/tNObqFhXTo8" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-12 col-md-4 secciones">
                    <div class="seccion"><i class="icono-secciones icon-extencion-universitaria"></i><h1 class="mw-50 ng-binding">Unidad de Extensión Universitaria</h1></div>
            </div>
        </div>
        <hr> 
        <div class="row justify-content-center align-items-center" style="padding-top: 20px;">
            <div class="col-12 col-md-4 secciones">
            <div class="seccion"><i class="icono-secciones icon-cise"></i><h1 class="mw-50 ng-binding">Centro Integral de Servicios Estudiantiles (CISE)</h1></div>
            </div>
            <div class="col-md-4">
                <div class="embed-responsive embed-responsive-16by9" style="border-radius: 15px;">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/Wv_tbtfRP5g" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center align-items-center" style="padding-top: 20px;">
            <div class="col-md-4">
                <div class="embed-responsive embed-responsive-16by9" style="border-radius: 15px;">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ReEPhzbISeM" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-12 col-md-4 secciones">
            <div class="seccion"><i class="icono-secciones"></i><h1 class="mw-50 ng-binding">Campaña Súmate contra el acoso</h1></div>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center align-items-center" style="padding-top: 20px;">
            <div class="col-12 col-md-4 secciones">
            <div class="seccion"><i class="icono-secciones"></i><h1 class="mw-50 ng-binding">Convocatoria PEPASIG y procedimiento</h1></div>
            </div>
            <div class="col-md-4">
                <div class="embed-responsive embed-responsive-16by9" style="border-radius: 15px;">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/gYUSjpj8ayY" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

    </div>