<style>
    .mainmenu li i {
    font-size: 25px;
    position: absolute;
    margin-left: -30px;
    margin-top: -1px;
    color: #fff;
    }
    .mainmenu li span {
    position: relative;
    float: left;
    font-size: 12px;
    color: #000;
}
.mainmenu li {
    float: left;
    display: block;
    padding: 5px;
    cursor: pointer;
}
.nav-link {
    display: block;
    padding: .5rem .5rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
}
.lema{
    text-align: justify;
    color: #255880;
}
.img-fluid{
    border-radius: 15px;
}
.container .yout {
    font-size: 36px;
}
.icono-secciones{
    color: #255981;
    }
@media screen and (max-width: 454px) {
.mainmenu li {
    width: 44%;
    padding: 0px;
    text-align: left;
}
.lema{
    padding-right: 15px;
    padding-left: 15px;
}
   
}
.boton-header {
     margin-top: 0px !important;
     margin-bottom: 16px;
}
.icono-secciones {
    font-size: 50px;
    width: 20%;
    /* color: #599e35;*/
}
.seccion{
    border-bottom: 2px solid #d2ae6c;
    padding-bottom: 0px;
}
hr {
    background-color: #255880;
}

.botones .btn-cat {
  border: 1px solid #d3af6d;
  color: red;
}

.botones .btn-cat .icon {
    position: relative;
    top: 12px;
    font-size: 50px;
    margin: 0px auto 0px;
    text-align: center;
}


.botones .btn-cat p{
    font-size: 13px;
    text-align: center;
}
.botones .btn-cat a{
    color: #255981;
  }

.botones .btn-cat:hover{
  background-color: #255981;
}

.botones .btn-cat a:hover {
    color: #fff;
}
</style> 
<div class="container content servicios-escolares-ac">
        <hr>
        <div class="row pleca-secciones">
            <div class="col-lg-12 secciones">
                <i class="icono-secciones icon-suayed" style="position: relative;top: 9px;"></i><h1>SUAyED</h1>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-10 secciones" style="margin-bottom: 10px;">
            <div class="seccion"><i class="icono-secciones icon-derecho-suayed"></i><h1 class="mw-50 ng-binding">DERECHO SUAyED</h1></div>
            </div>
            <div class="col-12 col-md-5">
                <img class="img-fluid" src="public_html/img/orientaton-unam/derechosuayed.jpg" alt="45 aniversario">
            </div>
            <div class="col-12 col-md-5" style="">
                 <a class="boton-registro btn btn-secondary btn-sm boton-header" href="public_html/documents/orientaton-unam/suayed/mapa-derecho-sua.pdf" target="_blank" title="Mapa Curricular">Mapa Curricular</a>

                 <div class="card mb-2">
                     <div class="card-header" ng-click="(card_selected === 1 ? card_selected = 0 : card_selected = 1)">
                        Perfil de ingreso
                     </div>
                     <div class="card-body" ng-show="card_selected === 1">
                        <p><strong></strong></p>
                        <p>La comunidad estudiantil que desee inscribirse al plan de estudios de la carrera de Derecho de la FES Aragón debe poseer las siguientes características:</p>
                        <ul>
                            <li>mantener interés constante por el estudio;</li>
                            <li>tener capacidad de pensamiento abstracto de análisis y de síntesis;</li>
                            <li>ser disciplinado;</li>
                            <li>actuar con decoro y respeto;</li>
                            <li>tener capacidad persuasiva conciliatoria;</li>
                            <li>tener respeto por la dignidad humana;</li>
                            <li>contar con habilidad para interrelacionarse;</li>
                            <li>tener sentido de organización;</li>
                            <li>ser responsable;</li>
                            <li>saber cuestionar y generar conocimientos inherentes al desarrollo del país;</li>
                            <li>ser sujeto partícipe en el proceso de enseñanza-aprendizaje;</li>
                            <li>tener deseo de superación;</li>
                            <li>tener inclinación para la profesión de Licenciado en Derecho;</li>
                            <li>tener dedicación;</li>
                            <li>contar con actitud crítica y dialéctica;</li>
                            <li>poseer un criterio ético y deontológico.</li>
                        </ul>
                        </div>
                 </div>
                 <div class="card mb-2">
                    <div class="card-header" ng-click="(card_selected === 2 ? card_selected = 0 : card_selected = 2)">
                        Perfil de egreso
                    </div>
                    <div class="card-body" ng-show="card_selected === 2">
                       <p><strong>Perfil de egreso</strong></p>
                       <p>La comunidad egresada de la carrera en Derecho contará con una visión dinámica del fenómeno jurídico, dotada de las herramientas intelectuales que le permitirán encauzar todo el orden normativo y poner su saber al servicio de la comunidad. Será un promotor de cambio para mejorar el orden social.</p>
                       <p>Asimismo, utilizará los conocimientos de la Ciencia del Derecho para la defensa de intereses de los particulares ante los órganos judiciales o en la organización legislativa y administrativa del gobierno. Se le puede asimilar como abogado, negociante o consejero.</p>
                       <p>En los casos del ejercicio de la profesión libre, también puede y debe enfrentarse al gobierno, cuando éste haya transgredido el derecho de los particulares o haya infringido las leyes tutelares de la Nación, con objeto de defender los intereses legítimos de los gobernados y del Estado mexicano.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center" style="padding-top: 25px;">
            <div class="col-12 col-md-5 secciones">
                <div class="seccion"><i class="icono-secciones icon-youtube yout"></i><h1 class="mw-50 ng-binding">¡Checa nuestro video!</h1></div>
             </div>
             <div class="col-12 col-md-5">
                <div class="embed-responsive embed-responsive-16by9" style="padding-top: 20px; border-radius: 15px;">
                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/fm31WwL1mZc" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <hr> 
        <div class="row justify-content-center align-items-center" style="padding-top: 20px;">
            <div class="col-12 col-md-10 secciones" style="margin-bottom: 10px;">
            <div class="seccion"><i class="icono-secciones icon-economia-suayed"></i><h1 class="mw-50 ng-binding">ECONOMÍA SUAyED</h1></div>
            </div>
            <div class="col-12 col-md-5">
                <img class="img-fluid" src="public_html/img/orientaton-unam/economiasuayed.jpg" alt="ECONOMÍA SUAyED">
            </div>
            <div class="col-12 col-md-5" style="padding-top: 20px">
                <a class="boton-registro btn btn-secondary btn-sm boton-header" href="public_html/documents/orientaton-unam/suayed/mapa-economia-sua.pdf" target="_blank" title="Mapa Curricular">Mapa Curricular</a>
                 <div class="card mb-2">
                     <div class="card-header" ng-click="(card_selected === 3 ? card_selected = 0 : card_selected = 3)">
                        Perfil de ingreso
                     </div>
                     <div class="card-body" ng-show="card_selected === 3">
                        <p>El estudiante que desee inscribirse al plan de estudios de la licenciatura en Economía de la FES Aragón debe tener: habilidad en el manejo de los métodos cuantitativos, disposición para trabajar en grupo, alta disposición para la lectura y sensibilidad para orientar su interés por los problemas nacionales.</p>
                        <p>El estudiante de nuevo ingreso, por tanto, debe tener conocimientos de álgebra, álgebra lineal, cálculo diferencial e integral, matemáticas financieras, estadística, historia universal y de México, buena redacción y ortografía, geografía física y humana además de principios básicos de contabilidad.</p>
                        </div>
                 </div>
                 <div class="card mb-2">
                    <div class="card-header" ng-click="(card_selected === 4 ? card_selected = 0 : card_selected = 4)">
                        Perfil de egreso
                    </div>
                    <div class="card-body" ng-show="card_selected === 4">
                       <p>El egresado de la Licenciatura en Economía tendrá una sólida formación teórica, diversificada y actualizada, de tal manera que sea capaz de discernir entre las diferentes corrientes de pensamiento económico, comprender la génesis de cada una de ellas y su contexto histórico, así como su aplicación tanto a los hechos macroeconómicos como a los microeconómicos.</p>
                       <p>Tendrá un suficiente manejo de métodos y técnicas de investigación y capacidad de abstracción, puesto que la labor de investigación es un elemento indispensable para su desarrollo profesional.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center" style="padding-top: 25px;">
            <div class="col-12 col-md-5 secciones">
                <div class="seccion"><i class="icono-secciones icon-youtube yout"></i><h1 class="mw-50 ng-binding">¡Checa nuestro video!</h1></div>
             </div>
             <div class="col-12 col-md-5">
                <div class="embed-responsive embed-responsive-16by9" style="padding-top: 20px; border-radius: 15px;">
                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/OcpToXnJG3Y" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <hr> 
        <div class="row justify-content-center align-items-center" style="padding-top: 20px;">
            <div class="col-12 col-md-10 secciones" style="margin-bottom: 10px;">
               <div class="seccion"><i class="icono-secciones icon-relaciones-internacionales-suayed"></i><h1 class="mw-50 ng-binding">RELACIONES INTERNACIONALES SUAyED</h1></div>
            </div>
            <div class="col-12 col-md-5">
                <img class="img-fluid" src="public_html/img/orientaton-unam/relacionesinternacionales-suayed.jpg" alt="RELACIONES INTERNACIONALES SUAyED">
            </div>
            <div class="col-12 col-md-5" style="padding-top: 20px">
                <a class="boton-registro btn btn-secondary btn-sm boton-header" href="public_html/documents/orientaton-unam/suayed/mapa-rrii-sua.pdf" target="_blank" title="Mapa Curricular">Mapa Curricular</a>
                 <div class="card mb-2">
                     <div class="card-header" ng-click="(card_selected === 5 ? card_selected = 0 : card_selected = 5)">
                        Perfil de ingreso
                     </div>
                     <div class="card-body" ng-show="card_selected === 5">
                        <p><strong>Perfil de ingreso</strong></p>
                        <p>Es deseable que los aspirantes a esta licenciatura tengan habilidad para el manejo de la política, economía e historia, entre otras, así como disposición para trabajar en el ámbito mundial y contar con sólidos conocimientos sobre los acontecimientos a nivel nacional e internacional.</p>
                        <p>Por otra parte, los alumnos deberán cumplir con los requisitos establecidos en conformidad al Reglamento General de Inscripciones de la UNAM, además es necesario haber aprobado satisfactoriamente el bachillerato.</p>
                        </div>
                 </div>
                 <div class="card mb-2">
                    <div class="card-header" ng-click="(card_selected === 6 ? card_selected = 0 : card_selected = 6)">
                        Perfil de egreso
                    </div>
                    <div class="card-body" ng-show="card_selected === 6">
                       <p>El egresado de la licenciatura en Relaciones Internacionales tendrá la capacidad de entender, analizar y diagnosticar la esencia, origen y solución de los fenómenos, procesos y tendencias mundiales, regionales y nacionales, al comprender los factores políticos, económicos, sociales y culturales que intervienen en el desarrollo de posibles escenarios y sus consecuencias.</p>
                       <p>El internacionalista lleva en el plan de estudios áreas de preespecialización, por lo que dispondrá de conocimientos teórico-metodológicos y prácticos constituidos en una herramienta para su inserción al campo laboral en los sectores público y privado, así como, en la continuación de estudios de posgrado.</p>
                    </div>
                </div>
            </div>
        </div>
    <div class="row justify-content-center align-items-center" style="padding-top: 25px;">
        <div class="col-12 col-md-5 secciones">
            <div class="seccion"><i class="icono-secciones icon-youtube yout"></i><h1 class="mw-50 ng-binding">¡Checa nuestro video!</h1></div>
         </div>
         <div class="col-12 col-md-5">
            <div class="embed-responsive embed-responsive-16by9" style="padding-top: 20px; border-radius: 15px;">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/HlzzFmhrkYg" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>