<div class="container content">
    <hr>
    <div class="row encabezado">
        <div class="col-lg-12 encabezado-titulo animated bounceInUp">
            <h1>Transparencia</h1>
        </div>
    </div>
    <hr>
    <div class="row portafolio justify-content-center">
        <div class="col-10 col-md-5">
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen">
                    <a href="public_html/transparencia/insegpub.pdf" target="_blank" title="Transparencia">
                        <img src="public_html/img/slider-p/transparencia1.png" class="br-15 img-fluid image" alt="Transparencia"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-10 col-md-5">
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen">
                    <a href="public_html/transparencia/resolclasif.pdf" target="_blank" title="Transparencia">
                        <img src="public_html/img/slider-p/transparencia2.png" class="br-15 img-fluid image" alt="Transparencia"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-10 col-md-5">
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen">
                    <a href="public_html/transparencia/terminos-servicio-google.pdf" target="_blank" title="Transparencia">
                        <img src="public_html/img/slider-p/transparencia3.png" class="br-15 img-fluid image" alt="Transparencia"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>