<div class="container content">
    <hr>
    <div class="row encabezado">
        <div class="col-lg-12 encabezado-titulo animated bounceInUp">
            <h1>Premio Rotoplas-FUNAM 2021 1ª Edición</h1>
        </div>
    </div>
    <hr>
    <div class="row portafolio justify-content-center">
        <div class="col-12 col-md-11">
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-12 col-lg-11">
                    <a href="public_html/documents/slider-p/premio-rotoplas-funam-cartel.jpg" target="_blank" title="Premio Rotoplas-FUNAM">
                        <img src="public_html/img/slider-p/premio-rotoplas-funam-cartel.jpg" class="br-15 img-fluid image" alt="Premio Rotoplas-FUNAM"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-10 col-md-5">
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen">
                    <a href="public_html/documents/slider-p/premio-rotoplas-funam-convocatoria.pdf" target="_blank" title="Premio Rotoplas-FUNAM">
                        <img src="public_html/img/slider-p/premio-rotoplas-funam-convocatoria.jpg" class="br-15 img-fluid image" alt="Premio Rotoplas-FUNAM"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-10 col-md-5">
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen">
                    <a href="https://fundacionunam.org.mx/PremioRotoplasFUNAM2021/index.php?q=datos_tesis" target="_blank" title="Premio Rotoplas-FUNAM">
                        <img src="public_html/img/slider-p/premio-rotoplas-funam-registro.jpg" class="br-15 img-fluid image" alt="Premio Rotoplas-FUNAM"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-10">
                <div class="row galeria justify-content-center">
                    <div class="col-12 col-md-10" style="padding-bottom: 15px;">
                            <div class="embed-responsive embed-responsive-16by9" style="border-radius: 15px;">
                                <video width="900" poster="public_html/img/slider-p/premio-rotoplas-funam.png" src="public_html/img/slider-p/rotoplas2021b.mp4" controls>
                                </video>       
                            </div>
                    </div> 
                </div>
        </div>
    </div>
</div>