<div class="container content">
    <hr>
    <div class="row encabezado">
        <div class="col-lg-12 encabezado-titulo animated bounceInUp">
            <h1>Auditor&Iacute;as</h1>
        </div>
    </div>
    <hr>
    <div class="table-responsive-sm mb-5">
        <h2>Resumen de auditor&iacute;as desde el 2018</h2>
        <table class="table table-striped texto-pleca fs-13">
            <thead class="thead-dark text-center">
                <tr>
                    <th colspan="4">AUDITORÍAS INTERNAS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><em>PERIODO</em></td>
                    <td><em>AUDITOR&Iacute;A</em></td>
                    <td class="text-center"><em>N&Uacute;MERO DE OBSERVACIONES</em></td>
                    <td class="text-center"><em>RESULTADOS</em></td>
                </tr>
                <tr>
                    <td>Del 1° de abril de 2007 al 31 de marzo de 2008</td>
                    <td>Informe 130/HGV/2009</td>
                    <td class="text-center">31</td>
                    <td class="text-center"><a href="public_html/documents/nuestra_facultad/audint2.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></td>
                </tr>
                <tr>
                    <td>Del 1° de febrero de 2001 al 31 de enero de 2012</td>
                    <td>Informe 064/HGV/2019</td>
                    <td class="text-center">20</td>
                    <td class="text-center"><a href="public_html/documents/nuestra_facultad/audint1.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></td>
                </tr>
                <tr>
                    <td>Del 1° de agosto de 2017 al 31 de julio de 2018</td>
                    <td>AINT/0077/2019</td>
                    <td class="text-center">1</td>
                    <td class="text-center"><a href="public_html/documents/nuestra_facultad/audint3.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive-sm mb-5">
        <table class="table table-striped texto-pleca fs-13">
            <thead class="thead-dark text-center">
                <tr>
                    <th colspan="4">AUDITORÍAS EXTERNAS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><em>PERIODO</em></td>
                    <td><em>AUDITOR&Iacute;A</em></td>
                    <td class="text-center"><em>N&Uacute;MERO DE OBSERVACIONES</em></td>
                    <td class="text-center"><em>RESULTADOS</em></td>
                </tr>
                <tr>
                    <td>2018</td>
                    <td>NMX-CC-9001-IMNC-2015/ISO 9001:2015</td>
                    <td class="text-center">No aplica</td>
                    <td class="text-center"><a href="public_html/documents/nuestra_facultad/audext.pdf" target="_blank"><i class="fas fa-file-pdf"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
