<!-- Unidad Jur&iacute;dica -->
<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <i class="icono-secciones icon-unidad-juridica"></i> <h1 class="mw-50">Oficina Jur&iacute;dica</h1>
            <a class="float-right boton-registro btn btn-secondary btn-sm boton-header" href="https://goo.gl/forms/5k9tt91BldfCCNsI3" target="_blank" title="&iquest;Tienes alguna denuncia?">&iquest;Tienes alguna denuncia?</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-lg-9">
            <p>La Oficina Jur&iacute;dica de la FES Arag&oacute;n se encarga de procurar atenci&oacute;n a aquellos asuntos jur&iacute;dicos en los cuales nuestra instituci&oacute;n sea parte, observando en todo momento la legislaci&oacute;n universitaria. </p>
            <hr>
            <div class="row galeria justify-content-center">
                <div class="col-12 col-lg-6">
                    <div class="embed-responsive embed-responsive-16by9" style="border-radius: 15px;">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4PalKK8hhzw" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <hr>
            <p><strong>Entre sus funciones est&aacute;n:</strong> </p>
            <ul>
                <li>Coordinar y participar en todos aquellos procedimientos judiciales en los que la FES Arag&oacute;n se encuentre involucrada.</li>
                <li>Vigilar y aplicar el correcto desarrollo de la legislaci&oacute;n universitaria entre alumnos, acad&eacute;micos y trabajadores.</li>
                <li>Sistematizar y gestionar todos aquellos asuntos jur&iacute;dicos, acad&eacute;micos y administrativos entre la FES Arag&oacute;n y organismos universitarios, as&iacute; como con organismos del gobierno Federal.</li>
                <li>Desarrollar los juicios, procesos y actos jur&iacute;dicos en los que tenga alg&uacute;n inter&eacute;s la Universidad o la entidad acad&eacute;mica.</li>
                <li>Asesorar y brindar el apoyo necesario en materia jur&iacute;dica al titular de la FES Arag&oacute;n.</li>
                <li>Realizar todas aquellas funciones o actividades que encomiende el Abogado General.</li>
                <li>Llevar un control y registro detallado de cada uno de los procesos e informar al Abogado General de ello.</li>
                <li>Realizaci&oacute;n de los procedimientos por indisciplina universitaria, tanto de la comunidad estudiantil como de acad&eacute;micos y trabajadores, y si es necesario en alg&uacute;n caso, la remisi&oacute;n al Tribunal Universitario.</li>
            </ul>
            <hr>
            <h2>Legislaci&oacute;n universitaria</h2>
            <p>Creadas por el Consejo Universitario en virtud de las facultades que le confiere la Ley Org&aacute;nica, la legislaci&oacute;n universitaria es el sistema de disposiciones de distinta jerarqu&iacute;a y especialidad que representan el inicio y fin de la actuaci&oacute;n de los miembros de la comunidad universitaria. </p>
            <p>En nuestra legislaci&oacute;n encontramos normas, derechos, obligaciones, responsabilidades, instancias, procedimientos y, en general, todo un sistema jur&iacute;dico que enmarca, defiende y preserva los altos intereses y valores de esta m&aacute;xima Casa de Estudios.</p>
            <p>La legislaci&oacute;n universitaria puede ser encontrada en la p&aacute;gina del Consejo de la UNAM as&iacute; como la Oficina de la Abogada General de la UNAM y la Defensor&iacute;a de los Derechos Universitarios. </p>

            <hr>
            <h2>Protocolos espec&iacute;ficos</h2>
            <p>Se brinda Atenci&oacute;n y asesor&iacute;a a la comunidad universitaria, tanto acad&eacute;mica, estudiantil y administrativa, por diversos conflictos:</p>
            <ul>
                <li>Incidencias, dentro y fuera de las instalaciones de la Facultad
                    <ul>
                        <li>Acudir a la Oficina Jur&iacute;dica, para brindar la asesor&iacute;a, atenci&oacute;n, apoyo y en su caso, de ser necesario seguimiento y el acompa&ntilde;amiento correspondiente.</li>
                        <li>Se canaliza a la persona para que reciba atenci&oacute;n m&eacute;dica y psicol&oacute;gica, en caso de requerirlo.</li>
                        <li>Levantamiento de actas de comparecencia voluntaria por hechos presumiblemente constitutivos de violaciones a las disposiciones de la legislaci&oacute;n universitaria, y su consiguiente procedimiento.</li>
                    </ul>
                </li>
                <li>Asuntos de Violencia de G&eacute;nero
                    <ul>
                        <li>Acudir a la Oficina Jur&iacute;dica, para brindar la atenci&oacute;n, apoyo y seguimiento correspondiente, instrument&aacute;ndose el acta de hechos, en la cual se manifiesta lo que ocurri&oacute; de forma detallada; se activa el Protocolo para la Atenci&oacute;n de Casos de Violencia de G&eacute;nero en la UNAM.</li>
                        <li>Se  brinda acompa&ntilde;amiento a las personas que consideren haber sido v&iacute;ctimas de violencia de g&eacute;nero desde la presentaci&oacute;n de la queja hasta la conclusi&oacute;n del procedimiento (sea este formal o alternativo). </li>
                        <li>Se canaliza a la persona para que reciba atenci&oacute;n psicol&oacute;gica y en su caso atenci&oacute;n m&eacute;dica. Asimismo se da intervenci&oacute;n a la Unidad para la Atenci&oacute;n y Seguimiento de Denuncias dentro de la UNAM (UNAD).</li>
                    </ul>
                </li>
            </ul>

            <div class=" col-12 col-lg-9 owl-carousel owl-theme ml-a mr-a" style="z-index: 0;margin-top: 8px;">
                <div class="item conte-img carousel-portal-docente">
                    <a href="http://igualdaddegenero.unam.mx/wp-content/uploads/2016/08/version-amigable-protocolo-de-actuacion-en-casos-de-violencia-de-genero.pdf" target="_blank" title="Protocolo para la atenci&oacute;n de violencia de g&eacute;nero">
                        <img src="public_html/img/primera_respuesta/unidad_juridica/img-1.jpg" class="img-fluid image" alt="Protocolo para la atenci&oacute;n de violencia de g&eacute;nero"/>
                        <div class="overlay bg-blue br-15">
                            <div class="text">Protocolo para la atenci&oacute;n de violencia de g&eacute;nero</div>
                        </div>
                    </a>
                </div>
                <div class="item conte-img carousel-portal-docente">
                    <a href="http://www.ibt.unam.mx/computo/pdfs/protocolo-de-actuacion-en-casos-de-violencia-de-genero.pdf" target="_blank" title="Protocolo para la atenci&oacute;n de violencia de g&eacute;nero">
                        <img src="public_html/img/primera_respuesta/unidad_juridica/img-2.jpg" class="img-fluid image" alt="Protocolo para la atenci&oacute;n de violencia de g&eacute;nero"/>
                        <div class="overlay bg-blue br-15">
                            <div class="text">Protocolo para la atenci&oacute;n de violencia de g&eacute;nero</div>
                        </div>
                    </a>
                </div>
                <div class="item conte-img carousel-portal-docente">
                    <a href="http://cieg.unam.mx/" target="_blank" title="Centro de investigaci&oacute;n y estudios de g&eacute;nero">
                        <img src="public_html/img/primera_respuesta/unidad_juridica/img-3.jpg" class="img-fluid image" alt="Centro de investigaci&oacute;n y estudios de g&eacute;nero"/>
                        <div class="overlay bg-blue br-15">
                            <div class="text">Centro de investigaci&oacute;n y estudios de g&eacute;nero</div>
                        </div>
                    </a>
                </div>
                <div class="item conte-img carousel-portal-docente">
                    <a href="https://www.bienvenidafi.unam.mx/reglamentos/Reglamento_Inscripciones.pdf" target="_blank" title="Reglamento general de inscripciones">
                        <img src="public_html/img/primera_respuesta/unidad_juridica/img-4.jpg" class="img-fluid image" alt="Reglamento general de inscripciones"/>
                        <div class="overlay bg-blue br-15">
                            <div class="text">Reglamento general de inscripciones</div>
                        </div>
                    </a>
                </div>
                <div class="item conte-img carousel-portal-docente">
                    <a href="http://abogadogeneral.unam.mx/PDFS/COMPENDIO/162-1.PDF" target="_blank" title="Reglamento general de &eacute;xamenes">
                        <img src="public_html/img/primera_respuesta/unidad_juridica/img-5.jpg" class="img-fluid image" alt="Reglamento general de &eacute;xamenes"/>
                        <div class="overlay bg-blue br-15">
                            <div class="text">Reglamento general de &eacute;xamenes</div>
                        </div>
                    </a>
                </div>
                <div class="item conte-img carousel-portal-docente">
                    <a href="https://consejo.unam.mx/legislaci%C3%B3n-universitaria/41-legislaci%C3%B3n/comisiones/90-tribunal-universitario-y-comisi%C3%B3n-de-honor" target="_blank" title="Reglamento del tribunal universitario">
                        <img src="public_html/img/primera_respuesta/unidad_juridica/img-6.jpg" class="img-fluid image" alt="Reglamento del tribunal universitario"/>
                        <div class="overlay bg-blue br-15">
                            <div class="text">Reglamento del tribunal universitario</div>
                        </div>
                    </a>
                </div>
                <div class="item conte-img carousel-portal-docente">
                    <a href="http://www.abogadogeneral.unam.mx/legislacion/abogen/documento.html?doc_id=1" target="_blank" title="Estatuto general de la UNAM">
                        <img src="public_html/img/primera_respuesta/unidad_juridica/img-7.jpg" class="img-fluid image" alt="Estatuto general de la UNAM"/>
                        <div class="overlay bg-blue br-15">
                            <div class="text">Estatuto general de la UNAM</div>
                        </div>
                    </a>
                </div>
                <div class="item conte-img carousel-portal-docente">
                    <a href="http://www.abogadogeneral.unam.mx/legislacion/abogen/documento.html?doc_id=15" target="_blank" title="Ley org&aacute;nica de la UNAM">
                        <img src="public_html/img/primera_respuesta/unidad_juridica/img-8.jpg" class="img-fluid image" alt="Ley org&aacute;nica de la UNAM"/>
                        <div class="overlay bg-blue br-15">
                            <div class="text">Ley org&aacute;nica de la UNAM</div>
                        </div>
                    </a>
                </div>
                <div class="item conte-img carousel-portal-docente">
                    <a href="http://www.ddu.unam.mx/dduweb/" target="_blank" title="Defensor&iacute;a de los derechos universitarios">
                        <img src="public_html/img/primera_respuesta/unidad_juridica/img-9.jpg" class="img-fluid image" alt="Defensor&iacute;a de los derechos universitarios"/>
                        <div class="overlay bg-blue br-15">
                            <div class="text">Defensor&iacute;a de los derechos universitarios</div>
                        </div>
                    </a>
                </div>
                <div class="item conte-img carousel-portal-docente">
                    <a href="http://132.248.83.187/UNAD/" target="_blank" title="Unidad para la atencion y seguimiento de denuncias">
                        <img src="public_html/img/primera_respuesta/unidad_juridica/img-10.jpg" class="img-fluid image" alt="Unidad para la atencion y seguimiento de denuncias"/>
                        <div class="overlay bg-blue br-15">
                            <div class="text">Unidad para la atencion y seguimiento de denuncias</div>
                        </div>
                    </a>
                </div>
                <div class="item conte-img carousel-portal-docente">
                    <a href="https://consejo.unam.mx/legislaci%C3%B3n-universitaria" target="_blank" title="Legislaci&oacute;n universitaria">
                        <img src="public_html/img/primera_respuesta/unidad_juridica/img-11.jpg" class="img-fluid image" alt="Legislaci&oacute;n universitaria"/>
                        <div class="overlay bg-blue br-15">
                            <div class="text">Legislaci&oacute;n universitaria</div>
                        </div>
                    </a>
                </div>
                <div class="item conte-img carousel-portal-docente">
                    <a href="http://www.abogadogeneral.unam.mx/" target="_blank" title="Oficina de la abogada general">
                        <img src="public_html/img/primera_respuesta/unidad_juridica/img-12.jpg" class="img-fluid image" alt="Oficina de la abogada general"/>
                        <div class="overlay bg-blue br-15">
                            <div class="text">Oficina de la abogada general</div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
        <div class="col-12 col-lg-3 seccion-informacion">
            <strong>Responsable</strong>
            <p>Aldo Gonz&aacute;lez Guti&eacute;rrez</p>
            <img class="d-flex justify-content-center rounded-circle img-responsable" src="public_html/img/primera_respuesta/unidad_juridica/aldo-gonzalez-gutierrez.jpg" alt="Aldo Gonz&aacute;lez Guti&eacute;rrez" />
            <strong> Horario </strong>
            <p>De lunes a viernes de 9:00 a 21:00 h</p>
            <strong> Tel&eacute;fono(s)</strong>
            <p>55 5623 0222 Ext. 30848</p>
            <strong> Correo electr&oacute;nico</strong>
            <p class="fs-12"><a class="link-a" href="mailto:oficinajuridica@aragon.unam.mx" title="correo-electronico">oficinajuridica@aragon.unam.mx</a></p>
        </div>
    </div>
</div> <!-- fin Unidad Jur&iacute;dica -->

