<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <svg class="icon-encabezado">
                <use xlink:href="public_html/img/logos/prevencion-y-seguridad-universitaria.svg#prevencion-y-seguridad-universitaria"
                    alt="Prevención y seguridad universitaria" />
            </svg>
            <h1>Prevenci&oacute;n y seguridad universitaria</h1>
        </div>
    </div>
    <hr>
    <div class="row portafolio">
        <div class="col-12 col-lg-9 ">
            <h2 class="pb-3 pt-3">Sendero Seguro FES Aragón</h2>
            <p class="pb-3" >La FES Aragón pertenece al programa universitario permanente “Sendero Seguro” en el cual se busca
                brindar mayor protección a la comunidad, de manera coordinada con los distintos niveles de gobierno.
                Como parte de este programa, patrullas municipales y estatales supervisan los recorridos del metro
                Nezahualcóyotl e Impulsora a la Facultad y viceversa, ya sea en el transporte público o peatonalmente.
            </p>
            <hr>
            <h2 class="pb-3 pt-3" >Transporte Seguro FES Aragón</h2>
            <p>La comunidad estudiantil, académica y trabajadora puede hacer uso del Transporte Seguro para trasladarse
                de manera tranquila de la estación del metro Impulsora (las unidades de transporte se encuentran debajo
                del puente)
                a la Bahía Vehicular (a un costado de la Clínica Odontológica) dentro de la Facultad y regresar del
                mismo modo.</p>

            <p>Este transporte busca beneficiar a todos los aragoneses, al disminuir los riesgos –y los costos– que
                implican desplazarse,
                pues se logró una tarifa preferencial de 6 pesos, con el apoyo de la Ruta 47 de Nezahualcóyotl. Está
                disponible durante
                el ciclo escolar en un horario de lunes a viernes: de 6:30 a 22:15 h y los sábados de 6:30 a 15:15 h.
            </p>

            <p>Para hacer uso de esta ruta se deberá presentar credencial o en el caso de las y los estudiantes de nuevo
                ingreso su tira de
                materias. También hay disponibles unidades de servicio exclusivo para mujeres.</p>
            <div class="row galeria justify-content-center">
                <div class="col-12 col-lg-6">
                    <div class="embed-responsive embed-responsive-16by9" style="border-radius: 15px;">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/sJx6_lCHr3s/" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="row galeria  justify-content-center pb-5 pt-3">
                <div class="contenedor-imagen  col-12 col-lg-4">
                    <a  target="_blank" href="public_html/documents/primera_respuesta/primera-respuesta/ruta-sendero-seguro.pdf">
                        <img class="img-fluid"
                            src="public_html/img/primera_respuesta/proteccion-civil/ruta-sendero-seguro.jpg"
                            alt="Ruta sendero seguro"/>
                    </a>
                </div>
                <div class="contenedor-imagen  col-12 col-lg-4">
                    <a  target="_blank" href="public_html/documents/primera_respuesta/primera-respuesta/transporte-seguro.pdf">
                        <img class="img-fluid"
                            src="public_html/img/primera_respuesta/proteccion-civil/transporte-seguro.jpg"
                            alt="Transporte seguro" />
                    </a>
                </div>
                <a class="boton-registro btn btn-secondary btn-sm boton-header" 
                href="public_html/documents/primera_respuesta/primera-respuesta/revision-post-sismica-2023.pdf" target="_blank" 
                title="Registro de acad&eacute;micos, administrativos y pasantes">Revisión Post sísmica de la FES Aragón</a>
                <a class="boton-registro btn btn-secondary btn-sm boton-header" 
                href="public_html/documents/primera_respuesta/primera-respuesta/resultados-encuesta-movilidad.pdf" target="_blank" 
                title="Registro de acad&eacute;micos, administrativos y pasantes">Resultados de la Encuesta de Movilidad FES Aragón</a>
            </div>
            <hr>
            <h2 class="pb-3 pt-3" >Ligas de interés</h2>
            <div class="row justify-content-center pb-5 pt-3">
                    <div class="col-12 col-lg-3">
                        <a target="_blank" href="https://consejo.unam.mx/comisiones/CES/ces.php">
                            <img class="img-fluid"
                                src="public_html/img/primera_respuesta/proteccion-civil/consejo-unam.png"
                                alt="Consejo UNAM"/>
                        </a>
                    </div>
                    <div class="col-12 col-lg-3">
                        <a target="_blank" href="https://smovilidad.edomex.gob.mx/marco_juridico">
                            <img class="img-fluid"
                                src="public_html/img/primera_respuesta/proteccion-civil/marco_juridico.png"
                                alt="Transporte seguro" />
                        </a>
                    </div>
                </div>
        </div>
        <div class="col-12 col-lg-3 seccion-informacion portafolio">
            <strong>Responsable</strong>
            <p>Adriana Brenda Ram&iacute;rez G&oacute;mez </p>
            <img class="d-flex justify-content-center rounded-circle img-responsable"
                src="public_html/img/primera_respuesta/proteccion-civil/adriana-brenda-ramirez-gomez.jpg"
                alt="Adriana Brenda Ram&iacute;rez G&oacute;mez" />
            <strong> Horario </strong>
            <p>De lunes a viernes de 9:00 a 15:00 h y de 17:00 a 21:00 h</p>
            <strong> Tel&eacute;fono(s)</strong>
            <p>55 5623 1058</p>
            <strong> Correo electr&oacute;nico</strong>
            <p class="fs-12"><a class="link-a" href="mailto:prevencionyseguridad@aragon.unam.mx"
                    title="correo-electronico">prevencionyseguridad@aragon.unam.mx</a></p>
            <div class="galeria">
                <a class="contenedor-imagen " target="_blank"
                    href="#!/seccion/prevencion-y-seguridad-universitaria"><img
                        class="justify-content-center img-fluid " alt="Noticias"
                        src="public_html/img/noticias/seccion-de-noticias.png"></a>
            </div>
        </div>
    </div>
</div>