<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <h1>PRIMERA RESPUESTA</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <p>Con el prop&oacute;sito de garantizar la seguridad y el bienestar de la comunidad universitaria, la FES
                Arag&oacute;n pone a su disposici&oacute;n v&iacute;as primarias de comunicaci&oacute;n en las que se
                puede reportar cualquier anomal&iacute;a, situaci&oacute;n de riesgo o emergencia que se presente en las
                instalaciones de la Facultad. Posteriormente, se canalizar&aacute; a las &aacute;reas de Servicio
                M&eacute;dico, Protecci&oacute;n Civil o Unidad Jur&iacute;dica.</p>
        </div>
    </div>
    <div class="row justify-content-center botones" style="padding-top: 25px;">
        <div class="col-12 col-lg-11">
                <h2>&Aacute;reas</h2>
                <hr>
            <div class="row justify-content-star">
                <div class="col-12 col-md-5 col-lg-5 col-xl-4 btn-cat btn-sec">
                    <a class="category" href="https://wa.me/c/5215580287264" title="Contacto de Emergencia">
                        <div class="icon icon-whatsapp">
                        </div>
                        <p>Contacto de Emergencia</p>
                    </a>
                </div>
                <div class="col-12 col-md-5 col-lg-5 col-xl-4 btn-cat btn-sec">
                    <a class="category" ui-sref="servicios_medicos" title="Servicios M&eacute;dicos">
                        <div class="icon icon-servicios-medicos">
                        </div>
                        <p>Servicios Médicos</p>
                    </a>
                </div>
                <div class="col-12 col-md-5 col-lg-5 col-xl-4 btn-cat btn-sec">
                    <a class="category" ui-sref="genero" title="G&eacute;nero">
                        <div class="icon icon-genero">
                        </div>
                        <p>Género</p>
                    </a>
                   
                </div>
                <div class="col-12 col-md-5 col-lg-5 col-xl-4 btn-cat btn-sec">
                    <a class="category" ui-sref="prevencion_y_seguridad_universitaria" title="Prevención y Seguridad Universitaria">
                        <svg class="icon">
                            <use xlink:href="public_html/img/logos/prevencion-y-seguridad-universitaria.svg#prevencion-y-seguridad-universitaria" alt="Prevención y seguridad universitaria"></use>
                        </svg>
                        <p>Prevención y Seguridad Universitaria</p>
                    </a>
                </div>
                <div class="col-12 col-md-5 col-lg-5 col-xl-4 btn-cat btn-sec">
                    <a class="category" ui-sref="oficina_juridica" title="Oficina Jur&iacute;dica">
                        <div class="icon icon-unidad-juridica">
                        </div>
                        <p>Oficina Jurídica</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>