<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
         <i class="icono-secciones icon-servicios-medicos"></i>   <h1>Servicios M&eacute;dicos</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-lg-9">
            <h2>Servicio m&eacute;dico</h2>
            <p>En la FES Arag&oacute;n encontrar&aacute;s Servicio m&eacute;dico, que te brindar&aacute; atenci&oacute;n de este tipo basada en un modelo de atenci&oacute;n integral de salud en un primer nivel de prevenci&oacute;n, el cual se orienta al fomento de la salud y la prevenci&oacute;n de riesgos.</p>
            <p>La principal funci&oacute;n del servicio m&eacute;dico es la asistencial, ya que se enfoca a dar consulta m&eacute;dica a los alumnos de la FES Arag&oacute;n, adem&aacute;s de atender y canalizar situaciones de urgencias m&eacute;dicas suscitadas en la comunidad universitaria. As&iacute; mismo, contempla una funci&oacute;n formativa ya que proporciona educaci&oacute;n para la salud, brinda asesor&iacute;as psicol&oacute;gicas, de alimentaci&oacute;n, sexualidad a los alumnos y fomenta estilos de vida saludables.</p>
            <hr>
            <div class="row galeria justify-content-center">
                <div class="col-12 col-lg-6">
                    <div class="embed-responsive embed-responsive-16by9" style="border-radius: 15px;">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yO2XC1TYAok" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <hr>
            <p><strong>En el Servicio m&eacute;dico puedes encontrar atenci&oacute;n de: </strong> </p>
            <ul>
                <li>Consulta m&eacute;dica</li>
                <li>Aplicaci&oacute;n de inyecciones</li>
                <li>Emisi&oacute;n de constancia de salud</li>
                <li>Atenci&oacute;n a urgencias m&eacute;dicas</li>
                <li>Asesor&iacute;a psicol&oacute;gica</li>
                <li>Seguimiento de los alumnos con factores de riesgo identificados en el Examen M&eacute;dico Automatizado</li>
            </ul>
            <p><strong>Nota sobre los requisitos: </strong></p>
            <p><strong>Para consulta: </strong> </p>
            <ul>
                <li>Credencial de la UNAM</li>
                <li>Registro en la computadora</li>
            </ul>
            <p><strong>Aplicaci&oacute;n de inyecciones:</strong> </p>
            <ul>
                <li>Credencial de la UNAM</li>
                <li>Receta del m&eacute;dico</li>
                <li>Medicamento</li>
                <li>Jeringa</li>
            </ul>
            <p><strong>Constancia de salud: </strong> </p>
            <ul>
                <li>Credencial de la UNAM</li>
                <li>Tipo de sangre de un estudio de laboratorio</li>
                <li>Carnet de citas m&eacute;dicas con las vacunas de T&eacute;tanos y Hepatitis B.</li>
            </ul>
            <hr>
            <h2>Seguro de salud para estudiantes</h2>
            <p>La comunidad estudiantil de la FES Arag&oacute;n tiene derecho a afiliarse como derechohabiente al IMSS, para garantizar su protecci&oacute;n m&eacute;dica.</p>
            <p>Con el objetivo de facilitar el acceso a los servicios de salud de nuestra comunidad estudiantil, aquellos que se registren como usuarios de este servicio m&eacute;dico, con el cual tendr&aacute;n acceso a atenci&oacute;n m&eacute;dica y acciones preventivas (como certificados de salud, vacunas, m&eacute;todos anticonceptivos, somatometr&iacute;a, signos vitales, papanicolaou) en Unidades de Medicina Familiar, as&iacute; como atenci&oacute;n hospitalaria en caso de urgencia.</p>
            <p>Los requisitos para este servicio son ser estudiante activo de la comunidad universitaria de la Facultad y estar inscrito m&iacute;nimo en una materia.</p>
            <p>Puedes darte de alta v&iacute;a electr&oacute;nica o directamente en las Unidades de Medicina Familiar. Para obtener tu n&uacute;mero de seguridad social puedes hacerlo v&iacute;a Internet, en la <a href="http://bit.ly/2cJhrkk" title="Seguridad Social"> p&aacute;gina </a> o bien, puedes acudir a tu Unidad de Medicina Familiar m&aacute;s cercana a tu domicilio con n&uacute;mero de seguridad social, comprobante de domicilio reciente, credencial vigente de la UNAM o INE, dos fotograf&iacute;as tama&ntilde;o infantil y constancia de estudios.</p>
            <p>Ante cualquier duda, acude a Servicios a la Comunidad.</p>
        </div>
        <div class="col-12 col-lg-3 seccion-informacion">
            <strong>Responsables</strong>
            <p class="texto-pleca nombre-responsable">Berenice Cano Santos</p>
            <img class="d-flex justify-content-center rounded-circle img-responsable" src="public_html/img/primera_respuesta/servicios-medicos/berenice-cano-santos.jpg" alt="Berenice Cano Santos" />
            <p class="texto-pleca nombre-responsable">Eulalio armas</p>
            <!--<img class="d-flex justify-content-center rounded-circle img-responsable" src="public_html/img/sin-foto.jpg" alt="Eulalio armas" />-->
            <p class="texto-pleca nombre-responsable">Blanca Ríos</p>
            <!--<img class="d-flex justify-content-center rounded-circle img-responsable" src="public_html/img/sinfoto.jpg" alt="Blanca Ríos" />-->
            <p class="texto-pleca nombre-responsable">sandra orduña</p>
            <!--<img class="d-flex justify-content-center rounded-circle img-responsable" src="public_html/img/sinfoto.jpg" alt="sandra orduña" />-->
            <strong>  Horario </strong>
            <p>De lunes a viernes de 9:00 a 15:00 h y de 17:00 a 20:30 h</p>
            <strong> Tel&eacute;fono(s)</strong>
            <p style="margin-bottom: 0px;">55 5623 0222</p> <p>Ext. 30995</p>
            <strong> Correo electr&oacute;nico</strong>
            <p class="fs-12"><a class="link-a" href="mailto:serviciomedico@aragon.unam.mx" title="correo-electronico">serviciomedico@aragon.unam.mx</a></p>
            <p class="fs-12"></p>
            <p><strong>¡&Uacute;nete a nuestro Facebook!</strong></p>
            <a target="_blank" href="https://www.facebook.com/FESAragon.servalacomunidad/" class="icon-facebook-official facebook-becas" title="Facebook"> </a>
        </div>
    </div>
</div> 
<!-- fin Servicios M&eacute;dicos -->





