<!-- Centro de Lenguas -->
<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <i class="icono-secciones icon-centro-de-lenguas" style="position: relative;top: 6px;padding-right: 0px;"></i> <h1 class="mw-50">&nbsp;Centro de Lenguas </h1>
            <a class="float-right boton-registro btn btn-secondary btn-sm boton-header" href="http://cle-aragon.unam.mx/" target="_blank" title="Plataforma acad&eacute;mica del CLe">Plataforma acad&eacute;mica del CLe</a>
        </div>
    </div>
    <hr>
    <div class="row mt-3">
        <div class="col-sm-12 col-md-3 col-lg-3 menu-carreras">
            <ul class="side-menu list-group text-left">
                <li class="list-group-item list-group-item-action" ng-class="showing === '0' ? 'active' : ''" ng-click="showing = '0'">Inicio</li>
                <li class="list-group-item list-group-item-action" ng-class="showing === '1' ? 'active' : ''" ng-click="showing = '1'">Cursos de idiomas</li>
                <!--<li class="list-group-item list-group-item-action" ng-class="showing === '7' ? 'active' : ''" ng-click="showing = '7'">Acuerdos</li>-->
                <li class="list-group-item list-group-item-action" ng-class="showing === '3' ? 'active' : ''" ng-click="showing = '3'">Requisitos de ingreso</li>
                <li class="list-group-item list-group-item-action" ng-class="showing === '4' ? 'active' : ''" ng-click="showing = '4'">Costos</li>
                <li class="list-group-item list-group-item-action" ng-class="showing === '5' ? 'active' : ''" ng-click="showing = '5'">Tr&aacute;mite de Constancias</li>
                <li class="list-group-item list-group-item-action" ng-class="showing === '6' ? 'active' : ''" ng-click="showing = '6'">Contacto</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-9 col-lg-9">
            <div class="content">
                <div ng-show="showing==='0'">
                    <h2>Presentaci&oacute;n</h2>
                    <hr>
                    <div class="row galeria justify-content-center">
                        <div class="col-12 col-lg-6">
                            <div class="embed-responsive embed-responsive-16by9" style="border-radius: 15px;">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_oIYZ3B30eg" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <p>El Centro de Lenguas de la FES Arag&oacute;n es un espacio de aprendizaje e intercambio intercultural que contribuye a la formaci&oacute;n de los estudiantes, egresados y comunidad en general, potencializando su perfil profesional al brindarles las herramientas comunicativas necesarias, tanto en la comprensi&oacute;n lectora como en el desarrollo de habilidades en distintos idiomas.</p>
                    <p>Adem&aacute;s, una de las principales actividades que realiza el Centro de Lenguas es la difusi&oacute;n de la cultura a trav&eacute;s de diversos eventos acad&eacute;micos como cursos, talleres, conferencias, exposiciones y muestras de cine-debate. Adem&aacute;s, se busca permanentemente conseguir experiencias de intercambio acad&eacute;mico y cultural que le permitan a nuestra comunidad ampliar su perspectiva del mundo as&iacute; como sensibilizarse ante el medio y sus necesidades, a trav&eacute;s de la informaci&oacute;n y el criterio que el aprendizaje de idiomas que se ofrece.</p>
                    <p>Los estudiantes de la <span class="caps">fes</span> Arag&oacute;n pueden solicitar, en el espacio principal del <span class="caps">cl</span>e, espacios de estudio para tutor&iacute;a y asesor&iacute;as entre pares.</p>
                </div>
                <div ng-show="showing==='1'">
                    <h2>Cursos de idiomas</h2>
                    <br>
                    <p> <strong>Comprensi&oacute;n de Lectura</strong> </p>
                    <p>La compresi&oacute;n lectora te permitir&aacute; desarrollar la habilidad de extraer la informaci&oacute;n de un texto escrito en una lengua extranjera exclusivamente. El Centro de Lenguas (<span class="caps">cl</span>e) Arag&oacute;n te ofrece los siguientes idiomas para este tipo de curso:</p>
                    <div class="table-responsive-sm">
                        <table class="table table-striped texto-pleca fs-13">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">IDIOMA</th>
                                    <th scope="col">TOTAL DE NIVELES</th>
                                    <th scope="col">Curso regular</th>
                                    <th scope="col">Curso intensivo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Franc&eacute;s</td>
                                    <td>2</td>
                                    <td>1 hora diaria de lunes a viernes</td>
                                    <td>2 horas diarias de lunes a viernes</td>
                                </tr>
                                <tr>
                                    <td>Italiano</td>
                                    <td>2</td>
                                    <td>1 hora diaria de lunes a viernes</td>
                                    <td>2 horas diarias de lunes a viernes</td>
                                </tr>
                                <tr>
                                    <td>Ingl&eacute;s</td>
                                    <td>3</td>
                                    <td>1 hora diaria de lunes a viernes</td>
                                    <td>2 horas diarias de lunes a viernes</td>
                                </tr>
                                <tr>
                                    <td>Lat&iacute;n</td>
                                    <td>3</td>
                                    <td><p>2 horas tres veces a la semana</p><p class="m-0">3 horas dos veces a la semana</p></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Portugu&eacute;s</td>
                                    <td>2</td>
                                    <td>1 hora diaria de lunes a viernes</td>
                                    <td>2 horas diarias de lunes a viernes</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p>Las inscripciones se realizan v&iacute;a electr&oacute;nica en el sitio del <span class="caps">cl</span>e Arag&oacute;n, para lo cual te sugerimos consultar la convocatoria. Es indispensable que te registres en el sistema previamente al d&iacute;a de las inscripciones, puesto que ese mismo d&iacute;a el sistema no lo permite.</p>
                    <p>El proceso de inscripci&oacute;n dura 30 minutos, en caso de exceder este tiempo, el sistema cerrar&aacute; autom&aacute;ticamente la sesi&oacute;n; las inscripciones se llevar&aacute;n a cabo de acuerdo con las siguientes especificaciones:</p>
                    <ul>
                        <li>Primera ronda, puede inscribirse:</li>
                        <ul>
                            <li>Alumnado de la <span class="caps">fes</span> Arag&oacute;n de nuevo ingreso al <span class="caps">cl</span>e</li>
                            <li>Comunidad estudiantil aprobada en alg&uacute;n curso ofertado por el <span class="caps">cl</span>e en el semestre inmediato anterior</li>
                        </ul>
                        <li>Segunda ronda, puede inscribirse:</li>
                        <ul>
                            <li>Comunidad <span class="caps">unam</span></li>
                            <li>P&uacute;blico en general</li>
                        </ul>
                    </ul>
                    <p><span class="caps">nota</span>: El <span class="caps">cl</span>e se reserva el derecho de hacer cambios de horario y grupos por razones administrativas.</p>
                    <hr>
                    <p> <strong>Posesi&oacute;n/Cuatro Habilidades</strong> </p>
                    <p>La posesi&oacute;n del idioma te permitir&aacute; desarrollar las habilidades de producci&oacute;n oral, producci&oacute;n escrita, comprensi&oacute;n auditiva y comprensi&oacute;n de lectura. El <span class="caps">cl</span>e te ofrece los siguientes idiomas para este tipo de curso:</p>
                    <div class="table-responsive-sm">
                        <table class="table table-striped texto-pleca fs-13">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">IDIOMA</th>
                                    <th scope="col">TOTAL DE NIVELES</th>
                                    <th scope="col">Curso regular</th>
                                    <th scope="col">Curso intensivo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Alem&aacute;n</td>
                                    <td>6</td>
                                    <td>1 hora diaria de lunes a viernes</td>
                                    <td>2 horas diarias de lunes a viernes</td>
                                </tr>
                                <tr>
                                    <td>Franc&eacute;s</td>
                                    <td>6</td>
                                    <td>1 hora diaria de lunes a viernes</td>
                                    <td>2 horas diarias de lunes a viernes</td>
                                </tr>
                                <tr>
                                    <td>Italiano</td>
                                    <td>6</td>
                                    <td>1 hora diaria de lunes a viernes</td>
                                    <td>2 horas diarias de lunes a viernes</td>
                                </tr>
                                <tr>
                                    <td>Ingl&eacute;s</td>
                                    <td>6</td>
                                    <td>1 hora diaria de lunes a viernes</td>
                                    <td>2 horas diarias de lunes a viernes</td>
                                </tr>
                                <tr>
                                    <td>Japon&eacute;s</td>
                                    <td>6</td>
                                    <td>1 hora diaria de lunes a viernes</td>
                                    <td>2 horas diarias de lunes a viernes</td>
                                </tr>
                                <tr>
                                    <td>Portugu&eacute;s</td>
                                    <td>5</td>
                                    <td>1 hora diaria de lunes a viernes</td>
                                    <td>2 horas diarias de lunes a viernes</td>
                                </tr>
                                <tr>
                                    <td>Ruso</td>
                                    <td>6</td>
                                    <td>1 hora diaria de lunes a viernes</td>
                                    <td>2 horas diarias de lunes a viernes</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p>Las inscripciones se realizan v&iacute;a electr&oacute;nica en el sitio del <span class="caps">cl</span>e, para lo cual te sugerimos consultar la convocatoria. Es indispensable que te registres en el sistema previamente al d&iacute;a de las inscripciones, puesto que ese mismo d&iacute;a el sistema no lo permite.</p>
                    <p>El proceso de inscripci&oacute;n dura 30 minutos, en caso de exceder este tiempo, el sistema cerrar&aacute; autom&aacute;ticamente la sesi&oacute;n; las inscripciones se llevar&aacute;n a cabo de acuerdo con las siguientes especificaciones:</p>
                    <ul>
                        <li>Primera ronda, puede inscribirse:</li>
                        <ul>
                            <li>Alumnado de la <span class="caps">fes</span> Arag&oacute;n de nuevo ingreso al <span class="caps">cl</span>e</li>
                            <li>Comunidad estudiantil aprobada en alg&uacute;n curso ofertado por el <span class="caps">cl</span>e en el semestre inmediato anterior</li>
                        </ul>
                        <li>Segunda ronda, puede inscribirse:</li>
                        <ul>
                            <li>Comunidad <span class="caps">unam</span></li>
                            <li>P&uacute;blico en General</li>
                        </ul>
                    </ul>
                    <p><span class="caps">nota</span>: El <span class="caps">cl</span>e se reserva el derecho de hacer cambios de horario y grupos por razones administrativas.</p>
                </div>
                <div ng-show="showing==='7'">
                    <h2>Acuerdos</h2>
                    <a class="boton-registro btn btn-secondary btn-sm boton-header" ng-href="public_html/documents/oferta_academica/cle-aleman.pdf" target="_blank" title="Alem&aacute;n">Alem&aacute;n</a>
                    <a class="boton-registro btn btn-secondary btn-sm boton-header" ng-href="public_html/documents/oferta_academica/cle-frances.pdf" target="_blank" title="Franc&eacute;s">Franc&eacute;s</a>
                    <a class="boton-registro btn btn-secondary btn-sm boton-header" ng-href="public_html/documents/oferta_academica/cle-ingles.pdf" target="_blank" title="Ingl&eacute;s">Ingl&eacute;s</a>
                    <a class="boton-registro btn btn-secondary btn-sm boton-header" ng-href="public_html/documents/oferta_academica/cle-italiano.pdf" target="_blank" title="Italiano">Italiano</a>
                    <a class="boton-registro btn btn-secondary btn-sm boton-header" ng-href="public_html/documents/oferta_academica/cle-japones.pdf" target="_blank" title="Japon&eacute;s">Japon&eacute;s</a>
                    <a class="boton-registro btn btn-secondary btn-sm boton-header" ng-href="public_html/documents/oferta_academica/cle-latin.pdf" target="_blank" title="Lat&iacute;n">Lat&iacute;n</a>
                    <a class="boton-registro btn btn-secondary btn-sm boton-header" ng-href="public_html/documents/oferta_academica/cle-portugues.pdf" target="_blank" title="Portugu&eacute;s">Portugu&eacute;s</a>
                    <a class="boton-registro btn btn-secondary btn-sm boton-header" ng-href="public_html/documents/oferta_academica/cle-ruso.pdf" target="_blank" title="Ruso">Ruso</a>
                </div>
                <div ng-show="showing==='3'">
                    <h2> Requisitos de ingreso </h2>
                    <ul>
                        <li>Ser alumno de la FES Arag&oacute;n, de segundo semestre en adelante</li>
                        <li>Ser mayor de edad (18 a&ntilde;os cumplidos con credencial de elector) para comunidad externa</li>
                        <li>Hacer el pago correspondiente en cajas de la FES Arag&oacute;n</li>
                        <li>Llenar el formulario e imprimir el comprobante de inscripci&oacute;n y, posteriormente, pagar en cajas de la <span class="caps">fes</span> Arag&oacute;n la cantidad correspondiente </li>
                        <li>El primer d&iacute;a de clases:</li>
                        <ul>
                            <li>Mostrar el comprobante de inscripci&oacute;n y entregar el recibo original del pago</li>
                            <li>Adem&aacute;s:</li>
                            <ul>
                                <li>Alumnos <span class="caps">fes</span> Arag&oacute;n: Presentar la tira de materias vigente e identificaci&oacute;n oficial con fotograf&iacute;a</li>
                                <li>Alumnos Egresados <span class="caps">fes</span> Arag&oacute;n: Entregar copia del historial acad&eacute;mico, entregar copia de la credencial de exalumno si es el caso y presentar identificaci&oacute;n oficial con fotograf&iacute;a</li>
                                <li>Alumnos comunidad externa: Entregar copia de credencial de elector (<span class="caps">ine</span> o <span class="caps">ife</span>)</li>
                                <li>Acad&eacute;micos y administrativos: Entregar copia de la credencial vigente de la <span class="caps">unam</span> y del &uacute;ltimo tal&oacute;n de pago</li>
                            </ul>
                        </ul>
                    </ul>
                    <p>NOTA: Identificaciones oficiales aceptadas en el CLE: credencial UNAM, credencial de exalumno, credencial de elector (INE O IFE), pasaporte vigente, cartilla militar o c&eacute;dula profesional.</p>
                </div>
                <div ng-show="showing==='4'">
                    <h2>Costos</h2>
                    <p>El pago se realiza en las cajas de la FES Arag&oacute;n posterior a la inscripci&oacute;n. </p>
                    <div class="table-responsive-sm">
                        <table class="table table-striped texto-pleca fs-13">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">CURSOS REGULARES</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Alumnos FES Arag&oacute;n (con tira de materias vigente)</td>
                                    <td>Cuota voluntaria</td>
                                </tr>
                                <tr>
                                    <td>Egresados FES Arag&oacute;n (con credencial de exalumno)</td>
                                    <td>$150.00</td>
                                </tr>
                                <tr>
                                    <td>Egresados FES Arag&oacute;n (sin credencial de exalumno)</td>
                                    <td>$300.00</td>
                                </tr>
                                <tr>
                                    <td>Alumnos Vigentes Comunidad UNAM*</td>
                                    <td>$300.00</td>
                                </tr>
                                <tr>
                                    <td>Egresados Comunidad UNAM (con credencial de exalumno**)</td>
                                    <td>$300.00</td>
                                </tr>
                                <tr>
                                    <td>Egresados Comunidad UNAM (sin credencial de exalumno)</td>
                                    <td>$600.00</td>
                                </tr>
                                <tr>
                                    <td>Comunidad Externa*</td>
                                    <td>$1200.00</td>
                                </tr>
                                <tr>
                                    <td>Acad&eacute;micos</td>
                                    <td>Exenci&oacute;n de cuota (presentando carta de solicitud de AAPAUNAM)</td>
                                </tr>
                                <tr>
                                    <td>Administrativos</td>
                                    <td>Exenci&oacute;n de cuota (presentando carta de solicitud de STUNAM)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p>*Mayores de 18 a&ntilde;os</p>
                    <p>**Tr&aacute;mite credencial exalumnos</p>
                    <div class="table-responsive-sm">
                        <table class="table table-striped texto-pleca fs-13">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">CURSOS INTENSIVOS</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Alumnos FES Arag&oacute;n (con tira de materias vigente)</td>
                                    <td>Cuota voluntaria</td>
                                </tr>
                                <tr>
                                    <td>Egresados FES Arag&oacute;n (con credencial de exalumno)</td>
                                    <td>$300.00</td>
                                </tr>
                                <tr>
                                    <td>Egresados FES Arag&oacute;n (sin credencial de exalumno)</td>
                                    <td>$600.00</td>
                                </tr>
                                <tr>
                                    <td>Alumnos Vigentes Comunidad UNAM*</td>
                                    <td>$600.00</td>
                                </tr>
                                <tr>
                                    <td>Egresados Comunidad UNAM (con credencial de exalumno**)</td>
                                    <td>$600.00</td>
                                </tr>
                                <tr>
                                    <td>Egresados Comunidad UNAM (sin credencial de exalumno)</td>
                                    <td>$1200.00</td>
                                </tr>
                                <tr>
                                    <td>Comunidad Externa*</td>
                                    <td>$2400.00</td>
                                </tr>
                                <tr>
                                    <td>Acad&eacute;micos</td>
                                    <td>Exenci&oacute;n de cuota (presentando carta de solicitud de AAPAUNAM)</td>
                                </tr>
                                <tr>
                                    <td>Administrativos</td>
                                    <td>Exenci&oacute;n de cuota (presentando carta de solicitud de STUNAM)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p>*Mayores de 18 a&ntilde;os</p>
                    <p>**Tr&aacute;mite credencial exalumnos</p>
                    <div class="table-responsive-sm">
                        <table class="table table-striped texto-pleca">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">MODALIDAD MIXTA</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Alumnos FES Arag&oacute;n (con tira de materias vigente)</td>
                                    <td>Cuota voluntaria</td>
                                </tr>
                                <tr>
                                    <td>Egresados FES Arag&oacute;n (con credencial de exalumno)</td>
                                    <td>$300.00</td>
                                </tr>
                                <tr>
                                    <td>Egresados FES Arag&oacute;n (sin credencial de exalumno)</td>
                                    <td>$600.00</td>
                                </tr>
                                <tr>
                                    <td>Alumnos Vigentes Comunidad UNAM*</td>
                                    <td>$600.00</td>
                                </tr>
                                <tr>
                                    <td>Egresados Comunidad UNAM (con credencial de exalumno**)</td>
                                    <td>$600.00</td>
                                </tr>
                                <tr>
                                    <td>Egresados Comunidad UNAM (sin credencial de exalumno)</td>
                                    <td>$1200.00</td>
                                </tr>
                                <tr>
                                    <td>Comunidad Externa*</td>
                                    <td>$2400.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p>*Mayores de 18 a&ntilde;os</p>
                    <p>**Tr&aacute;mite credencial exalumnos</p>
                    <div class="table-responsive-sm">
                        <table class="table table-striped texto-pleca fs-13">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">EX&Aacute;MENES</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Alumnos FES Arag&oacute;n (con tira de materias vigente)</td>
                                    <td>Cuota voluntaria</td>
                                </tr>
                                <tr>
                                    <td>Egresados FES Arag&oacute;n</td>
                                    <td>$150.00</td>
                                </tr>
                                <tr>
                                    <td>Egresados Comunidad UNAM</td>
                                    <td>$300.00</td>
                                </tr>
                                <tr>
                                    <td>Alumnos Comunidad UNAM**</td>
                                    <td>$300.00</td>
                                </tr>
                                <tr>
                                    <td>Comunidad Externa*</td>
                                    <td>$300.00</td>
                                </tr>
                                <tr>
                                    <td>Acad&eacute;micos</td>
                                    <td>Aportaci&oacute;n voluntaria</td>
                                </tr>
                                <tr>
                                    <td>Administrativos</td>
                                    <td>Aportaci&oacute;n voluntaria</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p>*Mayores de 18 a&ntilde;os</p>
                    <p>**Tr&aacute;mite credencial exalumnos</p>
                </div>
                <div ng-show="showing==='5'">
                    <h2> Tr&aacute;mite de Constancias</h2>
                    <p>Para comprobar el avance del estudio de un idioma se puede solicitar una constancia en el espacio que el <span class="caps">cl</span>e tiene dentro de las instalaciones de la Divisi&oacute;n de Universidad Abierta, Continua y a Distancia (<span class="caps">duacyd</span>). Los requisitos para solicitar una constancia son:</p>
                    <ul>
                        <li>Dos fotograf&iacute;as recientes, tamaño cartilla cuadrada de 4.5 x 3.5 cm, blanco y negro o a color, imagen n&iacute;tida, no escaneada (no puede ser la foto de otra foto, ni digital)</li>
                        <li>Historial de evaluaciones del <span class="caps">cl</span>e</li>
                        <li>El alumnado vigente debe presentar la tira de materias impresa, se puede obtener <a style="color: #0069d9;" target="_blank" href="http://aragon.dgae.unam.mx/" title="Servicios Escolares FES Aragón">aqu&iacute;</a></li>
                        <li>La comunidad egresada debe entregar el historial acad&eacute;mico de la licenciatura</li>
                        <li>La comunidad externa debe presentar la credencial del <span class="caps">ine</span></li>
                        <li>El alumnado de Educaci&oacute;n continua debe contar con la evaluaci&oacute;n de Educaci&oacute;n continua</li>
                        <li>El comprobante del pago correspondiente se efect&uacute;a en las cajas de la <span class="caps">fes</span> Arag&oacute;n</li>
                        <li>Para la comunidad estudiantil de la <span class="caps">fes</span> Arag&oacute;n con tira de materias vigente el tr&aacute;mite no tiene costo</li>
                        <li>Para la comunidad egresada de la <span class="caps">fes</span> Arag&oacute;n y la <span class="caps">unam</span>, comunidad <span class="caps">unam</span>, comunidad externa, comunidad acad&eacute;mica y administrativa, el costo de la constancia es de $100.00</li>                        
                    </ul>
                    <p>La entrega de constancias de idiomas ser&aacute; en un plazo de 15 d&iacute;as naturales a partir de la fecha de solicitud realizada por la persona interesada en el <span class="caps">cl</span>e.</p>
                </div>
                <div ng-show="showing==='6'">
                    <h2>Contacto</h2>
                    <div class="row pleca">
                        <div class="col-12 col-lg-4">
                            <h3>Responsable</h3>
                            <p class="texto-pleca nombre-responsable">V&iacute;ctor Andr&eacute;s Garc&iacute;a Cabral Mart&iacute;nez</p>
                            <img class="d-flex justify-content-center rounded-circle img-responsable" alt="V&iacute;ctor Andr&eacute;s Garc&iacute;a Cabral Mart&iacute;nez" src="public_html/img/oferta_academica/centro_lenguas/marco-alberto-soto-velasco.jpg"/>
                        </div>
                        <div class="col-12 col-lg-8 contacto">
                            <h3>Horario</h3>
                            <p style="margin-bottom: 0px;">De lunes a viernes de 09:00 a 14:00 y de 16:00 a 20:00 h</p>
                            <p>Sábado de 09:00 a 14:00 h</p>
                            <h3> Tel&eacute;fono(s)</h3>
                            <p>55 5623 0222 <br> Ext. 83036</p>
                            <h3> Correo electr&oacute;nico</h3>
                            <p class="fs-12">centrodelenguas@aragon.unam.mx</p>
                            <p><h3>¡&Uacute;nete a nuestro Facebook!</h3></p>
                            <a target="_blank" href="https://www.facebook.com/CentrodeLenguasFESAragon/  " title="facebook"><i class="icon-facebook-official facebook-becas"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>