<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <i class="icono-secciones icon-becas-1" style="position: relative;top: 9px"></i>
            <h1> Becas</h1>
        </div>
    </div>
    <hr>
    <div class="row fs-12">
        <div class="col-12 col-lg-9">
            <p>El área de Becas de la FES Aragón tiene como propósito orientar a la comunidad estudiantil que desee
                solicitar alguna beca económica a nivel licenciatura
                (siempre y cuando nuestra entidad esté convocada), independientemente de quién sea el donatario; ya sea
                la Universidad Nacional Autónoma de México (UNAM),
                Fundación UNAM, Consejo Mexiquense de Ciencia y Tecnología (COMECyT) del Estado de México, Becas Elisa
                Acuña adscritas a las becas Benito Juárez, etcétera</p>
            <P>Somos un enlace entre las instituciones que emiten las convocatorias y el estudiantado que
                soliciten la beca. Cabe señalar que la FES Aragón no
                otorga directamente los apoyos ni los pagos de los mismos.</P>
            <P>Existen diferentes tipos de becas que otorga nuestra Universidad a través de la Dirección General de
                Orientación y Atención Educativa (DGOAE),
                quienes son los encargados de publicar las convocatorias y dar el seguimiento correspondiente a los
                pagos de los beneficiarios. </P>
            <P>Nos encontramos ubicados en el Centro Integral de Servicios Estudiantiles (CISE), planta baja del
                edificio A-1. </P>

            <hr>
            <h2 class="pt-3 pb-2">Consideraciones generales</h2>
            <P>Las siguientes recomendaciones te servirán mucho cuando estés en el proceso de realizar una solicitud.
            </P>
            <div class="card">
                <div class="card-header cursor-pointer" ng-click="showing==='1'?showing=0:showing='1'">
                    <p><strong>Al pedir una beca</strong></p>
                </div>
                <div class="card-body" ng-show='showing==="1"'>
                    <ul>
                        <li>Lee con atención la convocatoria para conocer el objetivo del programa, los requisitos,
                            criterios de
                            priorización, restricciones, monto, duración del apoyo, procedimiento, compatibilidad,
                            periodo de
                            solicitudes y sistema en el que debes hacer la solicitud.</li>
                        <li>El procedimiento de solicitud de becas debe ser realizado en tiempo y forma de acuerdo con
                            la
                            convocatoria. Una vez terminado el trámite deberás conservar los acuses que expide el
                            sistema en el
                            que hiciste la solicitud, para cualquier posible aclaración posterior.</li>
                        <li>Haz los trámites con un margen de tiempo antes del cierre de la convocatoria para que, en
                            caso de
                            ser necesario, se pueda realizar la canalización pertinente.</li>
                        <li>Existen convocatorias de la UNAM como Grupos Vulnerables Provenientes de Zonas Marginadas
                            del País y
                            Becas de Titulación para comunidad egresada que solicitan realizar un procedimiento interno
                            en la Facultad,
                            este procedimiento se publicará en el Facebook del CISE FES Aragón.</li>
                        <li>Revisa constantemente la página en donde se publicó la convocatoria.</li>
                        <li>Es indispensable que los datos de contacto (teléfonos y correo electrónico) que capturas en
                            el
                            Sistema Integra al momento de hacer la solicitud de alguna beca sean actuales y no tengan
                            errores,
                            pues son el posible medio de comunicación que se tendrá contigo.</li>
                        <li>Mantente al pendiente del Facebook del CISE FES Aragón. Ya que ahí se publicarán avisos
                            antes, durante y
                            posteriores a la publicación de las convocatorias. Recuerda que las publicaciones de las
                            becas
                            económicas las puedes encontrar con el <i>hashtag</i> #AlertaDeBecasEconómicas.</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header cursor-pointer" ng-click="showing==='2'?showing=0:showing='2'">
                    <p><strong>Al obtener una beca</strong></p>
                </div>
                <div class="card-body" ng-show='showing==="2"'>
                    <ul>
                        <li>Si es una beca de la UNAM es importante revisar diario el Sistema Integra, ya que es el
                            medio por el cual
                            el Programa de Becas del que eres beneficiaria o beneficiario te enviará mensajes con
                            información importante
                            para los pagos. De preferencia que sea a través de una computadora, pero si es por medio del
                            celular
                            posiciónalo en horizontal para que visualices la pantalla completa. </li>
                        <li>Si es una beca de otra institución revisa tu correo electrónico por lo menos cuatro veces a
                            la semana,
                            ya que por este medio el Programa de Becas se comunicará contigo.</li>
                        <li>Sigue nuestra página en Facebook; de ser necesario se publicará y compartirán indicaciones
                            relevantes para las becarias y becarios.</li>
                    </ul>
                </div>
            </div>
            <hr>
            <h2 class="pt-3 pb-2">¿Dónde se publican las oportunidades de beca?</h2>
            <div class="card">
                <div class="card-header cursor-pointer" ng-click="showing==='4'?showing=0:showing='4'">
                    <p><strong>Becas de la UNAM</strong></p>
                </div>
                <div class="card-body" ng-show='showing==="4"'>
                    <ul>
                        <li>
                            <a class="link-a" target="_blank" href="https://www.becarios.unam.mx/Portal2018/"
                                title="Portal del Becario DGOAE - UNAM">Portal del Becario (DGOAE)</a>
                        </li>
                        <li>
                            <a class="link-a" target="_blank" href=" https://www.integra.unam.mx/"
                                title="Sistema Integra UNAM">Sistema
                                Integra UNAM</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header cursor-pointer" ng-click="showing==='5'?showing=0:showing='5'">
                    <p><strong>Becas de la Fundación UNAM (FUNAM)</strong></p>
                </div>
                <div class="card-body" ng-show='showing==="5"'>
                    <ul>
                        <li>
                            <a class="link-a" target="_blank"
                                href="https://www.fundacionunam.org.mx/funam/convocatorias/"
                                title="Convocatorias Fundación UNAM (FUNAM)">Convocatorias Fundación UNAM (FUNAM) </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header cursor-pointer" ng-click="showing==='6'?showing=0:showing='6'">
                    <p><strong>Beca del COMECyT del Estado de México</strong></p>
                </div>
                <div class="card-body" ng-show='showing==="6"'>
                    <ul>

                        <li>
                            <a class="link-a" target="_blank" href="https://comecyt.edomex.gob.mx/ciencias-edmex"
                                title="Beca Ciencia Estado de México">Beca Ciencia Estado de México</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header cursor-pointer" ng-click="showing==='7'?showing=0:showing='7'">
                    <p><strong>Becas Elisa Acuña del Gobierno Federal</strong></p>
                </div>
                <div class="card-body" ng-show='showing==="7"'>
                    <ul>
                        <li>
                            <a class="link-a" target="_blank"
                                href="https://www.gob.mx/becasbenitojuarez/articulos/becas-elisa-acuna"
                                title="Becas Elisa Acuña">Becas Elisa Acuña</a>
                        </li>
                        <li>
                            <a class="link-a" target="_blank" href="https://subes.becasbenitojuarez.gob.mx/"
                                title="Sistema Único de Beneficiarios de Educación Superior (SUBES):  ">Sistema Único de
                                Beneficiarios de Educación Superior (SUBES)</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <h2 class="pt-3 pb-2">Avisos</h2>
            <div class="card">
                <div class="card-header cursor-pointer" ng-click="showing==='8'?showing=0:showing='8'">
                    <p><strong>Dudas</strong></p>
                </div>
                <div class="card-body" ng-show='showing==="8"'>
                    <p>Para una mejor atención, revisa la siguiente imagen y comunícate al correo de la modalidad de
                        beca a la
                        que perteneces y también a
                        <a class="link-a" href="mailto:becas@aragon.unam.mx"
                            title="correo-electronico">becas@aragon.unam.mx</a>.
                        Recuerda incluir la información que se indica en el recuadro.
                    </p>
                    <div class="col-lg-9 pt-4 pb-4">
                        <a href="public_html/img/cise/becas/dudas.png" target="_blank">
                            <img class="img-fluid" src="public_html/img/cise/becas/dudas.png" alt="Dudas" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header cursor-pointer" ng-click="showing==='9'?showing=0:showing='9'">
                    <p><strong>Programa de Apoyo Nutricional (PAN)</strong></p>
                </div>
                <div class="card-body" ng-show='showing==="9"'>
                    <p class="m-0">Beneficiaria o beneficiario del PAN, si quieres enviar un comentario acerca del apoyo
                        recibido en
                        la
                        cafetería de la
                        DUACyD, la cual ha sido asignada para brindar la atención pertinente, es importante que envíes
                        desde tu
                        correo
                        @aragon una fotografía que apoye el comentario o sugerencia al buzón:
                    </p>
                    <p>
                        <a class="link-a" href="mailto:sugerenciasycomentarios.pan@aragon.unam.mx"
                            title="correo-electronico">sugerenciasycomentarios.pan@aragon.unam.mx</a>.
                    </p>
                    <p>¡Con ello daremos seguimiento a tu comentario!</p>
                    <div class="row galeria justify-content-center pt-3 pb-3">
                        <div class="col-12 col-lg-6">
                                <a target="_blank" href="public_html/documents/cise/programa-2024-II.pdf">
                                <img class="img-fluid"
                                src="public_html/img/cise/becas/programa-2024-II.png"
                                alt="Programa" />
                                </a>
                        </div>
                    </div>
                    <div class="row galeria justify-content-center pt-3 pb-3">
                        <div class="col-12 col-lg-6">
                                <a target="_blank" href="public_html/documents/cise/periodo-consumos.pdf">
                                <img class="img-fluid"
                                src="public_html/img/cise/becas/periodo-consumos.png"
                                alt="Periodo de Consumos" />
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-12 col-lg-3 seccion-informacion portafolio">
            <strong> Responsable </strong>
            <p class="texto-pleca nombre-responsable"> Mar&iacute;a Josefina Verde L&oacute;pez </p>
            <img class="d-flex justify-content-center rounded-circle img-responsable"
                src="public_html/img/cise/becas/maria-josefina-verde-lopez.jpg"
                alt="Mar&iacute;a Josefina Verde L&oacute;pez" />
            <strong> Horario </strong>
            <p>Turno Matutino: Lunes a viernes de 9:30 a 13:30 h</p>
            <p>Turno Vespertino: Lunes de 16:00 a 20:00 h y martes, miércoles y jueves de 16:00 a 18:00 h</p>
            <strong> Tel&eacute;fono(s)</strong>
            <p style="margin-bottom: 0px;">55 5623 0222</p>
            <p>Ext. 39218</p>
            <strong> Correo electr&oacute;nico</strong>
            <p class="fs-12"><a class="link-a" href="mailto:becas@aragon.unam.mx"
                    title="correo-electronico">becas@aragon.unam.mx</a></p>
            <p><strong>¡&Uacute;nete a nuestro Facebook!</strong></p>
            <a target="_blank" href="https://www.facebook.com/FESAragon.CISE/?fref=mentions"
                class="icon-facebook-official facebook-becas" title="Facebook"> </a>
            <!--
            <div class="galeria">
                <a class="contenedor-imagen "target="_blank" href="#!/seccion/becas"><img class="justify-content-center img-fluid " alt="Noticias" src="public_html/img/noticias/seccion-de-noticias.png"></a>
            </div>-->
        </div>
    </div>
</div>