<!-- Bolsa de Trabajo -->
<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <i class="icono-secciones icon-bolsa-de-trabajo" style="position: relative;top: 10px;"></i>
            <h1 class="mw-50">Bolsa de Trabajo </h1>
            <!-- <a class="float-right boton-registro btn btn-secondary btn-sm boton-header" href="http://bolsatrabajo.aragon.unam.mx/" target="_blank" title="Portal de empleo">Portal de empleo FES Arag&oacute;n UNAM</a> -->
        </div>
    </div>
    <hr>
    <div class="row" style="margin-bottom: 15px;">
        <div class="col-12 col-lg-9">
            <p>La Bolsa de Trabajo de la FES Arag&oacute;n se enfoca en ser el
                v&iacute;nculo entre las empresas u organizaciones con la comunidad estudiantil y
                egresada.&nbsp;</p>
            <p>Ofreciendo oportunidades de desarrollo profesional y facilitando una
                &oacute;ptima inserci&oacute;n laboral de la comunidad aragonesa.&nbsp;</p>
            <p>Nos enorgullece contar con una comunidad capacitada y con un gran perfil
                profesional, lista para incorporarse al sector laboral y crecer profesionalmente.</p>
            <hr>
            <h2 class="pt-3 pb-3">Capacitación</h2>
            <ul>
                <li>Cursos y Talleres
                    <p>Durante el periodo semestral e intersemestral el &aacute;rea de
                        Bolsa en conjunto con el sector empresarial imparten cursos y talleres enfocados al
                        desarrollo de competencias profesionales, como lo son el trabajo en equipo, la
                        comunicaci&oacute;n asertiva, el liderazgo, entre otras. </p>
                </li>
                <li>Asesor&iacute;a de CV y Entrevista de Trabajo
                    <p>Ambas se realizan de manera permanente, puede ser en l&iacute;nea
                        o presencial.</p>
                    <p>Su objetivo es dar a conocer las herramientas necesarias para que
                        la comunidad de la FES Arag&oacute;n tenga un perfil profesional de alto impacto.</p>
                </li>
            </ul>
            <hr>
            <h2 class="pt-3 pb-3">Reclutamiento</h2>
            <p>Las empresas u organizaciones interesadas en el perfil de la comunidad de
                Arag&oacute;n acuden a las instalaciones de la Facultad para dar a conocer la oferta de trabajo,
                poder realizar entrevista inicial y tener un acercamiento directo con las personas
                interesadas.</p>
            <hr>
            <h2 class="pt-3 pb-3">ExpoFuturo Profesional</h2>
            <p>Anualmente se realiza la feria de empleo <b>ExpoFuturo
                    Profesional</b>, con dos ediciones, primavera y oto&ntilde;o.
            </p>
            <p>El objetivo es generar un primer contacto entre la comunidad estudiantil y egresada con las empresas u
                organizaciones interesadas en dar a conocer su oferta de trabajo.</p>
            <hr>
            <h2 class="pt-3 pb-3">Prácticas Profesionales</h2>
            <p>La comunidad estudiantil y reci&eacute;n egresada puede realizar pr&aacute;cticas profesionales en las instancias receptoras.</p>
            <ul>
                <li>
                    <p><b>Comunidad Arag&oacute;n</b> te invitamos a revisar los
                        programas de pr&aacute;cticas profesionales vigentes a trav&eacute;s de la siguiente
                        liga:</p>
                    <p><a style="color: #0069d9;" target="_blank"
                            href="http://dgoae.unam.mx/PracticasProfesionales/practicantes.html">http://dgoae.unam.mx/PracticasProfesionales/practicantes.html</a>
                    </p>
                </li>
                <li>
                    <p><b>Instancias receptoras</b> el registro es a trav&eacute;s de la
                        siguiente liga: </p>
                    <p><a style="color: #0069d9;" target="_blank"
                            href="http://dgoae.unam.mx/PracticasProfesionales/instancias.html">http://dgoae.unam.mx/PracticasProfesionales/instancias.html</a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-12 col-lg-3 seccion-informacion portafolio">
            <strong>Responsable</strong>
            <p> Lilia Trejo Su&aacute;rez </p>
            <img class="d-flex justify-content-center rounded-circle img-responsable"
                src="public_html/img/cise/bolsa-de-trabajo/lilia-trejo-suarez.jpg" alt="Lilia Trejo Su&aacute;rez" />
            <strong> Horario </strong>
            <p>De lunes a viernes de 9:30 a 13:30 h y de 16:00 a 20:00 h</p>
            <strong> Tel&eacute;fono(s)</strong>
            <p style="margin-bottom: 0px;">55 5623 0222</p>
            <p>Ext. 30941</p>
            <strong> Correo electr&oacute;nico</strong>
            <p class="fs-12"><a class="link-a" href="mailto:bolsadetrabajo@aragon.unam.mx"
                    title="correo-electronico">bolsadetrabajo@aragon.unam.mx</a></p>
            <strong>Ubicaci&oacute;n</strong>
            <p class="fs-12">Nos ubicamos dentro del CISE</p>
            <p><strong>¡&Uacute;nete a nuestro Facebook y Linkedin!</strong></p>
            <a target="_blank" href="https://www.facebook.com/Bolsa-de-Trabajo-FES-Arag%C3%B3n-UNAM-1678432562410584/"
                title="Facebook">
                <img src="public_html/img/logos/facebook.png" alt="Facebook">
            </a>
            <a target="_blank" href="https://www.linkedin.com/company/bolsa-de-trabajo-fes-arag%C3%B3n/"
                title="Linkedin">
                <img src="public_html/img/logos/linkedin.png" alt="Linkedin">
            </a>
            <div class="galeria pt-3">
                <a class="contenedor-imagen " target="_blank" href="#!/seccion/bolsa-de-trabajo"><img
                        class="justify-content-center img-fluid " alt="Noticias"
                        src="public_html/img/noticias/seccion-de-noticias.png"></a>
            </div>
        </div>
    </div>
</div>
<!-- fin de Bolsa de Trabajo -->