<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-12">
            <i class="icono-secciones icon-cise"></i> <h1 class="mw-50" >CISE</h1>
            <a class="float-right boton-registro btn btn-secondary btn-sm boton-header" href="https://tramifes.aragon.unam.mx/" target="_blank" title="Plataforma TramiFES">Plataforma TramiFES</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <p>El Centro Integral de Servicios Estudiantiles (CISE) es una de las principales &aacute;reas de atenci&oacute;n a la comunidad universitaria, ya que en &eacute;l se realizan tr&aacute;mites de Servicios Escolares, Becas, Intercambio Acad&eacute;mico y Vinculaci&oacute;n, Servicio Social y Revisi&oacute;n de Estudios.</p>
        </div>
    </div>
    <div class="row justify-content-center botones" style="padding-top: 25px;">
            <div class="col-12 col-lg-11 sub">
                    <h2>Servicios</h2>
                    <hr />
                <div class="row justify-content-star">
                    <div class="col-12 col-md-5 col-lg-5 col-xl-4 btn-cat btn-sec">
                        <a class="category" ui-sref="servicios_escolares" title="Servicios Escolares">
                            <div class="icon icon-servicios-escolares">
                            </div>
                            <p>Servicios Escolares</p>
                        </a>
                    </div>
                    <div class="col-12 col-md-5 col-lg-5 col-xl-4 btn-cat btn-sec">
                        <a class="category" ui-sref="becas" title="Becas">
                            <div class="icon icon-becas-1">
                            </div>
                            <p>Becas</p>
                        </a>
                    </div>
                    <div class="col-12 col-md-5 col-lg-5 col-xl-4 btn-cat btn-sec">
                        <a class="category" ui-sref="tutorias" title="Tutor&iacute;as">
                            <div class="icon icon-tutorias">
                            </div>
                            <p>Tutorías</p>
                        </a>
                    </div>
                    <div class="col-12 col-md-5 col-lg-5 col-xl-4 btn-cat btn-sec">
                        <a class="category" ui-sref="intercambio_academico" title="Intercambio Acad&eacute;mico">
                            <div class="icon icon-intercambio-academico">
                            </div>
                            <p>Intercambio Académico</p>
                        </a>
                    </div>
                    <div class="col-12 col-md-5 col-lg-5 col-xl-4 btn-cat btn-sec">
                        <a class="category" ui-sref="servicio_social" title="Servicio Social">
                            <div class="icon icon-servicio-social">
                            </div>
                            <p>Servicio Social</p>
                        </a>
                    </div>
                    <div class="col-12 col-md-5 col-lg-5 col-xl-4 btn-cat btn-sec">
                        <a class="category" ui-sref="bolsa_trabajo" title="Bolsa de Trabajo">
                            <div class="icon icon-bolsa-de-trabajo">
                            </div>
                            <p>Bolsa de Trabajo</p>
                        </a>
                    </div>
                    <div class="col-12 col-md-5 col-lg-5 col-xl-4 btn-cat btn-sec">
                        <a class="category" ui-sref="revision_estudios" title="Revisi&oacute;n de Estudios">
                            <div class="icon icon-revision-de-estudios">
                            </div>
                            <p>Revisión de Estudios</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</div>