<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
           <i class="icono-secciones icon-intercambio-academico" style="position: relative;top: 6px;"></i> <h1> Intercambio Acad&eacute;mico</h1>
        </div>
    </div>
    <hr>

    <div class="row" style="margin-bottom: 15px;">
        <div class="col-12 col-lg-9">
            <p>El Departamento de Intercambio Acad&eacute;mico y Vinculaci&oacute;n adscrito a la Secretar&iacute;a de Vinculaci&oacute;n y Desarrollo de la FES Arag&oacute;n tiene una secci&oacute;n que se encarga espec&iacute;ficamente  de gestionar la movilidad nacional e internacional de alumnos, acad&eacute;micos y estudiantes visitantes.</p>

            <p >Los esfuerzos institucionales para promover la internacionalizaci&oacute;n de la UNAM son desarrollados por la Direcci&oacute;n General de Cooperaci&oacute;n e Internacionalizaci&oacute;n DGECI, creada en octubre  de 2009. En el caso de la movilidad nacional, esta se gestiona en el marco del Espacio Com&uacute;n para la Educaci&oacute;n Superior (ECOES).</p>

            <p>Nuestro Departamento tambi&eacute;n se encarga de apoyar a los interesados que realizan actividades de movilidad por medio instituciones externas, como la Secretar&iacute;a de Educaci&oacute;n P&uacute;blica, el Gobierno Federal o Estatal, el Instituto Mexicano de la Juventud y dem&aacute;s instancias p&uacute;blicas y privadas.</p>

            <p>Aquellos interesados pueden acudir a nuestra oficina para conocer m&aacute;s informaci&oacute;n sobre los programas de movilidad y registrarte con nosotros para recibir las convocatorias por correo electr&oacute;nico.</p>

            <hr>
            <h2>Programas de movilidad nacional</h2>
            <p>La movilidad con Instituciones de Educaci&oacute;n Superior Nacionales se gestiona en el marco del Espacio Com&uacute;n de Educaci&oacute;n Superior (ECOES).</p>
            <p>Aquellos alumnos interesados en realizar una estancia de un semestre en una universidad nacional, pueden realizarlo postul&aacute;ndose en las convocatorias que emite el ECOES de manera semestral en los primeros meses de cada periodo acad&eacute;mico.</p>
            <p>Requisitos generales:</p>
            <ul>
                <li>Ser alumno regular</li>
                <li>Contar con el 44% de cr&eacute;ditos al momento de la postulaci&oacute;n</li>
                <li>Contar con promedio m&iacute;nimo de 8.5</li>  
            </ul>
            <hr>
            <h2>Programas de movilidad internacional</h2>
            <p>La Universidad Nacional Aut&oacute;noma de M&eacute;xico cuenta con la Direcci&oacute;n General de Cooperaci&oacute;n e Internacionalizaci&oacute;n (DGECI), que se encarga de vincular a la Universidad con Instituciones de Educaci&oacute;n Superior Extranjeras desde el a&ntilde;o 2009.</p>
            <p>Por medio de los Convenios Generales de Movilidad de la UNAM, aquellos alumnos seleccionados pueden realizar un semestre en el extranjero y cursar asignaturas afines a su plan de estudios.</p>
            <p>Requisitos generales:</p>
            <ul>
                <li>Ser alumno regular</li>
                <li>Contar con el 44% de cr&eacute;ditos al momento de la postulaci&oacute;n</li>
                <li>Contar con promedio m&iacute;nimo de 8.5 o el establecido en la convocatoria</li>
                <li>En caso de solicitar un intercambio a una universidad no hispanoparlante deber&aacute;s contar con los siguientes certificados para idioma ingl&eacute;s: TOEFL IBT con al menos 80 puntos o IELTS 6.5 o B1 para los idiomas del Marco Com&uacute;n Europeo de Referencia para las Lenguas
                    Nota: Cada universidad establece su puntaje m&iacute;nimo, por lo cual en ocasiones es mayor a 80 puntos de TOEFL IBT, 6.5 de IELTS o B1 dentro del marco de referencia europeo y hay que cumplir con el mismo en el momento del registro en la Convocatoria.</li>
            </ul>
            <p>La Convocatoria General para la Movilidad Internacional a Nivel Licenciatura se publica cada semestre: en los meses de  mayo y/o junio o bien en octubre y/o noviembre.</p>
            <p>Tambi&eacute;n se emiten convocatorias espec&iacute;ficas de movilidad internacional para diferentes programas: </p>
            <ul>
                <li>Estancias de Investigaci&oacute;n por medio del Programa para la Capacitaci&oacute;n en M&eacute;todos en Investigaci&oacute;n SEP- UNAM- FUNAM. Este programa en el extranjero est&aacute; orientada a la adquisici&oacute;n, perfeccionamiento y/o actualizaci&oacute;n de habilidades, destrezas y conocimientos en investigaci&oacute;n para alumnos y egresados. Aquellos alumnos o reci&eacute;n egresados beneficiados podr&aacute;n realizar estancias de investigaci&oacute;n con un acad&eacute;mico en el extranjero con una duraci&oacute;n de cuatro a doce semanas. 
                </li>
                <li>Perfeccionamiento de idioma ingl&eacute;s. Por medio de los programas “Proyecta 10,000” y “Proyecta 100,000”, los participantes tienen la oportunidad de perfeccionar el idioma ingl&eacute;s en Canad&aacute; o Estados Unidos durante estancias de tres a cuatro semanas.</li>
                <li>Profundizaci&oacute;n de conocimientos. El Estado de M&eacute;xico publica su convocatoria “Becarias y Becarios de Excelencia”, que se dirige a aquellos alumnos interesados en tomar cursos de profundizaci&oacute;n de conocimientos en el extranjero. Aquellos interesados deber&aacute;n contar con un promedio m&iacute;nimo de 9.0 para Ingenier&iacute;as y 9.5 para Humanidades y Artes o Ciencias Sociales.</li>
            </ul>
            <hr>
            <h2>ExpoFuturo Profesional</h2>
            <p>Anualmente se realiza el evento de reclutamiento ExpoFuturo Profesional, cuyo objetivo es ofrecer opciones laborales, de intercambio y emprendimiento a los alumnos y egresados para integrarlos a los sectores educativo, productivo, p&uacute;blico o social.</p>
            <p>Las empresas e instituciones participantes tienen contacto con la comunidad UNAM, en donde reciben su informaci&oacute;n y pueden realizar entrevistas filtro.</p>
            <p>Previamente al evento la empresa puede acudir a las instalaciones del plantel para impartir una pl&aacute;tica y dar a conocer la empresa, as&iacute; como su proceso de selecci&oacute;n.</p>
            <p>La Direcci&oacute;n General de Cooperaci&oacute;n e Internacionalizaci&oacute;n de la UNAM publica en su p&aacute;gina los programas disponibles en este rubro: https://www.unaminternacional.unam.mx/</p>
            <hr>
            <h2>Informaci&oacute;n para estudiantes visitantes</h2>
            <p>Aquellos alumnos extranjeros interesados en cursar un semestre en nuestra Facultad, deber&aacute;n escribir un correo a fesar_intercambio@unam.mx para orientarlos en las gestiones de movilidad de alumnos visitantes y nacionales.</p>
            <hr>
            <h2>Informaci&oacute;n para acad&eacute;micos visitantes</h2>
            <p>Aquellos acad&eacute;micos extranjeros o nacionales interesados en realizar actividades acad&eacute;micas podr&aacute;n escribir un correo a: fesar_intercambio@unam.mx para orientarlos en las gestiones de movilidad coordinando dichas actividades con las &aacute;reas acad&eacute;micas correspondientes.</p>
            <hr>
            <ul class="list-group texto">
                <li class="list-group-item active">Enlaces de inter&eacute;s</li>
                <li class="list-group-item"><a target="_blank" href="https://www.unaminternacional.unam.mx/" title="Portal de cooperaci&oacute;n">Portal de Cooperaci&oacute;n e Internacionalizaci&oacute;n de la UNAM. </a></li>
                <li class="list-group-item"><a target="_blank" href="http://www.ecoes.unam.mx/" title="Espacio com&uacute;n para la educaci&oacute;n superior">Espacio Com&uacute;n para la Educaci&oacute;n Superior (ECOES).</a></li>
                <li class="list-group-item"><a target="_blank" href="https://www.gob.mx/amexcid/acciones-y-programas/oferta-para-mexicanos" title="Oferta de becas">Oferta de becas para Mexicanos ofrecida por la Agencia Mexicana de Cooperaci&oacute;n Internacional para el Desarrollo de la Secretar&iacute;a de Relaciones Exteriores. </a></li>
                <li class="list-group-item"><a target="_blank" href="http://www.imjuventud.gob.mx/pagina.php?pag_id=89" title="Becas del instituto mexicano de la juventud">Becas del Instituto Mexicano de la Juventud.  </a></li>
                <li class="list-group-item"><a target="_blank" href="https://www.nesolatinoamerica.org/becas/mexico/orange-tulip-scholarship" title="Programa de becas Orange Tulip scholarship">Programa de becas "Orange Tulip Scholarship”. </a></li>
            </ul>
        </div>
        <div class="col-12 col-lg-3 seccion-informacion portafolio">
            <strong>Responsable</strong>
            <p> Adriana Estefany Carbajal Ch&aacute;vez </p>
            <img class="d-flex justify-content-center rounded-circle img-responsable" alt="Adriana Estefany Carbajal Ch&aacute;vez" src="public_html/img/cise/intercambio-academico/adriana-estefany-carbajal-chavez.jpg"/>
            <strong>Horario</strong>
            <p>De lunes a viernes de 9:30 a 13:30 h y de 16:00 a 20:00 h</p>
            <strong>Tel&eacute;fono(s)</strong>
            <p style="margin-bottom: 0px;">55 5623 0222</p> <p>Ext. 30866</p>
            <strong>Correo electr&oacute;nico</strong>
            <p class="fs-12"><a class="link-a" href="mailto:intercambioacademico@aragon.unam.mx" title="correo-electronico">intercambioacademico@aragon.unam.mx</a></p>
            <p><strong>¡&Uacute;nete a nuestro Facebook!</strong></p>
            <a target="_blank" href="https://www.facebook.com/FESAragon.CISE/?fref=mentions" class="icon-facebook-official facebook-becas" title="Facebook"> </a>
            <div class="galeria">
                <a class="contenedor-imagen "target="_blank" href="#!/seccion/intercambio-academico"><img class="justify-content-center img-fluid " alt="Noticias" src="public_html/img/noticias/seccion-de-noticias.png"></a>
            </div>
        </div>
    </div>
</div>

