<!-- Servicio Socials -->
<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <i class="icono-secciones icon-servicio-social" style="position: relative;top: 6px;"></i><h1 class="mw-50"> &nbsp;Servicio Social</h1>
            <!-- <a class="float-right boton-registro btn btn-secondary btn-sm boton-header" href="http://132.248.44.97/serviciosocial/" target="_blank" title="Plataforma Servicio Social">Plataforma Servicio Social</a> -->
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-lg-9 servicios-escolares-ac">
            <p>El objetivo del Departamento de Servicio Social de la FES Arag&oacute;n es coordinar y supervisar el servicio social para promover la responsabilidad social de los alumnos y egresados de nuestra Facultad.</p>
            <p>Entre sus funciones est&aacute;n: </p>
            <ul>
                <li>Coordinar y dar seguimiento al registro y t&eacute;rmino del servicio social de los alumnos y egresados de la Facultad a trav&eacute;s del Sistema Automatizado de Servicio Social.</li>
                <li>Evaluar y autorizar los programas de servicio social, de los sectores p&uacute;blico y social, dirigidos a los alumnos de las carreras que se imparten en la Facultad.</li>
                <li>Coordinar y supervisar los programas de servicio social en los que participa la Facultad, conforme a los lineamientos establecidos en la convocatoria emitida por la Direcci&oacute;n General de Orientaci&oacute;n y Atenci&oacute;n Educativa (DGOAE) de la UNAM.</li>
                <li>Establecer vinculaci&oacute;n entre la Direcci&oacute;n General de Orientaci&oacute;n y Atenci&oacute;n Educativa (DGOAE) de la UNAM y las entidades receptoras de servicio social.</li>
                <li>Desarrollar estrategias para la difusi&oacute;n de los programas de servicio social de la instituci&oacute;n y de las entidades receptoras, as&iacute; como la orientaci&oacute;n sobre los tr&aacute;mites requeridos.</li>
                <li>Difundir y dar seguimiento a las convocatorias de premios y reconocimientos en el &aacute;mbito de servicio social.</li>
                <li>Realizar las actividades que designe la Secretar&iacute;a Acad&eacute;mica.</li>
            </ul>
            <!--
            <h2>Liberaci&oacute;n del Servicio Social</h2>
            <div class="card">
                <div class="card-header" ng-click="showing='0'">
                    <p><strong>Consideraciones generales</strong></p>
                </div>
                <div class="card-body" ng-show="showing==='0'">
                    <p>Antes de iniciar tu tr&aacute;mite para registro de servicio social deber&aacute;s consultar los programas que cuentan con clave autorizada, es decir est&aacute;n autorizados seg&uacute;n los lineamientos de la UNAM para participar, para lo cual puedes ingresar a la p&aacute;gina electr&oacute;nica de <a style="color: #007bff" href="https://www.siass.unam.mx" title="Servicio Social" target="_blank">Servicio Social</a>, o en su caso, investigar si la dependencia que te interesa cuenta con programa registrado ante la UNAM, con clave vigente y tu carrera registrada.</p>
                    <p>Es necesario considerar que las instituciones o dependencias son las responsables de realizar el registro de programas ante la UNAM; que si deseas hacer tu labor en alguna instituci&oacute;n que no cuenta con programa y clave autorizado no se podr&aacute; realizar tu registro en el Sistema; y que no se puede realizar el servicio social en empresas privadas. Tambi&eacute;n, que el sistema de registro y liberaci&oacute;n de servicio social es automatizado.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header" ng-click="showing='1'">
                    <p><strong>Observaciones Generales</strong></p>
                </div>
                <div class="card-body" ng-show="showing==='1'">
                    <p>Todos los tr&aacute;mites para liberaci&oacute;n del servicio social se realizar&aacute;n en el Departamento de Servicio Social, ubicado en la planta baja del edificio A-1 (Centro Integral de Servicios Estudiantiles) de lunes a viernes de 9:30 a 13:30 hrs. y 16:00 a 20:00 hrs.; no se realizar&aacute;n tr&aacute;mites fuera del horario se&ntilde;alado.</p>
                    <p>Los tr&aacute;mites son personales. No se entregar&aacute;n documentos a terceras personas. Tampoco se  recibir&aacute;n documentos doblados, maltratados rayados o sucios. Para todo tr&aacute;mite deber&aacute;s presentar tu identificaci&oacute;n oficial vigente.</p>
                    <p>Se sugiere tramitar dos constancias de cr&eacute;ditos (una para el departamento de Servicio Social y otra para la dependencia donde prestaras tu servicio). Podr&aacute;s solicitarlas en el departamento de Servicios Escolares.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header" ng-click="showing='2'">
                    <p><strong>Para iniciar el proceso de servicio social</strong></p>
                </div>
                <div class="card-body" ng-show="showing==='2'">
                    <ul>
                        <li>Contar con el 70% de cr&eacute;ditos del Plan de Estudios de tu Carrera.</li>
                        <li>Consultar los programas con clave vigente en la  p&aacute;gina <a style="color: #007bff" href="https://www.siass.unam.mx" title="Sistema de Informaci&oacute;n Automatizada de Servicio Social" target="_blank">https:www.siass.unam.mx</a> </li>
                        <li>Elegir la instituci&oacute;n donde deseas realizar tu servicio social.</li>
                        <li>Comunicarte con el responsable de servicio social de la instituci&oacute;n donde deseas realizar tu servicio, para que te indique si hay disponibilidad para que puedes llevar a cabo tu servicio y  los requisitos a cubrir.</li>
                        <li>Si eres aceptado y te requieren una carta de presentaci&oacute;n, la podr&aacute;s tramitar a trav&eacute;s de la p&aacute;gina web de la Facultad o directamente en el departamento de servicio social.</li>
                        <li>Una vez que la instituci&oacute;n te entregue la carta de aceptaci&oacute;n o inicio, deber&aacute;s presentarla al departamento de servicio social con los documentos se&ntilde;alados en el inciso de registro, que encontrar&aacute;s m&aacute;s adelante..</li>
                        <li>Podr&aacute;s recoger tu carta de registro en las fechas que te indique el departamento de Servicio Social.</li>
                        <li>Una vez que concluyas el servicio, seg&uacute;n la fecha se&ntilde;alada en la carta de aceptaci&oacute;n y con las respectivas 480 horas cubiertas, la instituci&oacute;n te entregar&aacute; la carta de t&eacute;rmino, misma que deber&aacute;s presentar en el departamento de servicio social. </li>
                        <li>Pasar al departamento de servicio social por la carta de liberaci&oacute;n, en las fechas que te hayan indicado.</li>
                    </ul>
                </div>
            </div>
             <div class="card">
                <div class="card-header" ng-click="showing='7'">
                    <p><strong>Carta de Presentaci&oacute;n</strong></p> 
                </div>
                <div class="card-body" ng-show="showing==='7'">
                    <p>Llenar los datos en el formulario en línea: Solicitud de <a style="color: #0069d9;" href="http://132.248.44.97/cartapresentacion/vista/index.php" title="Carta de Presentaci&oacute;n de Servicio Social" target="_blank">Carta de Presentaci&oacute;n.</a></p>
                    <p><strong>Nota:</strong></p>
                            <ul>
                                <li>Se suguiere tramitar dos constancias de créditos (una para el departamento de Servicio Social y otra para la dependencia donde prestaras tu servicio). Solicitarlas en el departamento de Servicios Escolares.</li>
                                <li>Esta solicitud no representa tu registro de Servicio Social.</li>
                            </ul>
                    <hr>
                    <p class="text-center"><strong>Aviso de privacidad</strong></p>
                    <p>El Departamento de Servicio Social de la Facultad de Estudios Superiores Aragón UNAM, con domicilio en Av. Rancho Seco s/n, Col. Impulsora Popular Avícola, Nezahualc&oacute;yotl, Estado de M&eacute;xico, C. P. 57130.</p>
                    <p>Sus datos personales ser&aacute;n utilizados para la siguiente finalidad:</p>
                    <p>Tramite de carta de presentaci&oacute;n para la realizaci&oacute;n del servicio social en instituciones registradas en el Sistema de Informaci&oacute;n Automatizada de Servicio Social (SIASS).</p>
                    <p>Para más información sobre el Aviso de Privacidad de la Facultad de Estudios Superiores Aragón UNAM en: <a style="color: #007bff" href="public_html/documents/aviso-de-privacidad.pdf" title="Aviso de Privacidad" target="_blank">Aviso de Privacidad</a></p>
                </div>
            </div>
            <div class="card">
                <div class="card-header" ng-click="showing='3'">
                    <p><strong>Registro de servicio social</strong></p> 
                </div>
                <div class="card-body" ng-show="showing==='3'">
                    <p>Tendr&aacute;s que presentar en el departamento de Servicio Social:</p>
                    <ul>
                        <li>Carta de aceptaci&oacute;n original y copia (oficio expedido por la dependencia donde prestar&aacute;s el servicio social, dirigido a la Lic. Guadalupe Mendieta Bello, jefa del Departamento de Servicio Social de la FES Arag&oacute;n).
                            <ul>
                                <li>Debe contener tus datos como alumno o egresado.</li>
                                <li>Presentar las fechas de inicio y t&eacute;rmino del servicio, cubriendo m&iacute;nimo 480 horas, en un plazo no menor a 6 meses ni mayor a 2 a&ntilde;os.</li>
                                <li>Se&ntilde;alar el nombre del programa de Servicio Social y clave vigente.</li>
                                <li>Firmada por el responsable o coordinador del programa (registrado en el SIASS) y sello de la dependencia.</li>
                                <li>Nota: A partir de la fecha de inicio se&ntilde;alada en la carta de aceptaci&oacute;n, tienes 20 d&iacute;as h&aacute;biles para entregar los documentos en el departamento de Servicio Social.</li>
                            </ul>
                        </li>
                        <li>Constancia de cr&eacute;ditos original (al reverso deber&aacute;s anotar tel&eacute;fono y correo electr&oacute;nico).</li>
                        <li>Dos fotograf&iacute;as tama&ntilde;o infantil (blanco y negro o color).</li>
                        <li>Recibo de pago (pagar en caja).</li>
                    </ul>
                    <p>Para el registro se toma en cuenta la fecha de inicio del servicio y no la fecha en que la dependencia elabor&oacute; tu oficio.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header" ng-click="showing='4'">
                    <p><strong> Carta de Registro</strong></p>
                </div>
                <div class="card-body" ng-show="showing==='4'">
                    <ul>
                        <li>Deber&aacute;s pasar al departamento de Servicio Social a los 8 d&iacute;as h&aacute;biles posteriores, contados a partir del d&iacute;a siguiente de haber entregado los documentos para registro.</li>
                        <li>Presentar tu acuse de la carta de aceptaci&oacute;n e identificaci&oacute;n oficial vigente.</li>
                    </ul>
                    <p>Nota: Este documento es un comprobante de tu registro en el sistema. No comprueba la liberaci&oacute;n del Servicio Social.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header" ng-click="showing='5'">
                    <p><strong>T&eacute;rmino</strong></p>
                </div>
                <div class="card-body" ng-show="showing==='5'">
                    <p>Una vez concluido el servicio social, es necesario presentar en el departamento de Servicio Social:</p>
                    <ul>
                        <li>Carta de t&eacute;rmino (original y dos copias). Es un oficio expedido por la dependencia donde realizaste el servicio,  dirigido a la Lic. Guadalupe Mendieta Bello, jefa del departamento de Servicio Social de la FES Arag&oacute;n. Esta debe de ir firmada por el responsable o coordinador del programa (registrado en el SIASS) y sello de la dependencia.</li>
                        <li>Informe global de Servicio Social (original y copia). Es un documento que, elaborado por el alumno (formato libre, no es necesario que se elabore en hoja membretada, no tiene l&iacute;mite de extensi&oacute;n),  narra la experiencia del servicio social. Debe ir dirigido a la Lic. Guadalupe Mendieta Bello, jefa del departamento de Servicio Social de la FES Arag&oacute;n. Firmado por el alumno y/o egresado y  por el jefe inmediato o supervisor del Servicio Social de la dependencia y con sello oficial. </li>
                    </ul>
                    <p>Nota: Para entregar los documentos, es importante presentar el acuse de la carta de aceptaci&oacute;n o registro para cotejar fechas en Carta de t&eacute;rmino. Estas fechas no se pueden modificar ya que as&iacute; quedan registradas en el sistema automatizado. A partir de la fecha de t&eacute;rmino, tienes 20 d&iacute;as h&aacute;biles para entregar tus documentos. La fecha en que la instituci&oacute;n elabore la carta de t&eacute;rmino, no se considerar&aacute; como fecha de conclusi&oacute;n del servicio, debe ser la anotada en la carta de aceptaci&oacute;n.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header" ng-click="showing='6'">
                    <p><strong> Liberaci&oacute;n</strong></p>
                </div>
                <div class="card-body" ng-show="showing==='6'">
                    <ul>
                        <li>Requieres presentarte en el Departamento de Servicio Social a los 10 d&iacute;as h&aacute;biles contados a partir del d&iacute;a siguiente en que entregaste la Carta de t&eacute;rmino.</li>
                        <li>Presentar acuse de la Carta de t&eacute;rmino sellada por el departamento de Servicio Social.</li>
                        <li>Presentar identificaci&oacute;n oficial vigente.</li>
                        <li>El tr&aacute;mite es personal, ya que deber&aacute;s firmar la Libreta de registros.</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header" ng-click="showing='7'">
                    <p><strong>Liberaci&oacute;n de servicio social por artículo 91</strong></p>
                </div>
                <div class="card-body" ng-show="showing==='7'">
                    <ul>
                        <li><a style="color: #007bff" href="public_html/documents/cise/liberacion-de-servicio-social-por-articulo-91.pdf" title="Liberaci&oacute;n de servicio social por artículo 91" target="_blank">Liberaci&oacute;n de servicio social por artículo 91 <a></li>
                    </ul>
                </div>
            </div>-->
            <div class="row justify-content-center botones sub" >
                                <div class="col-12 col-md-5 btn-cat">
                                        <a class="category" target="_blank" href="http://132.248.44.97/serviciosocial/" title="Plataforma de servicio sociall">
                                            <svg class="icon">
                                                    <use xlink:href="public_html/img/cise/servicio-social/plataforma-de-servicio-social.svg#plataforma-de-servicio-social"></use>
                                                </svg>
                                            <p>Plataforma de servicio social</p>
                                        </a>
                                    </div>
                                    <div class="col-12 col-md-5 btn-cat">
                                        <a class="category" target="_blank" href="public_html/documents/cise/liberacion-de-servicio-social-por-articulo-91.pdf" title="Liberación de servicio social por artículo 91">
                                            <svg class="icon">
                                                    <use xlink:href="public_html/img/cise/servicio-social/pdf.svg#pdf"></use>
                                                </svg>
                                            <p>Liberación de servicio social por artículo 91</p>
                                        </a>
                                    </div>
                </div>
        </div>
        <div class="col-12 col-lg-3 seccion-informacion portafolio">
            <strong>Responsable</strong>
            <p class="texto-pleca nombre-responsable"> Guadalupe Mendieta Bello</p>
            <img class="d-flex justify-content-center rounded-circle img-responsable" src="public_html/img/cise/servicio-social/guadalupe-mendieta-bello.jpg" alt="Guadalupe Mendieta Bello"/>
            <strong>  Horario </strong>
            <p>De lunes a viernes de 9:30 a 13:30 h y de 16:00 a 20:00 h</p>
            <strong> Tel&eacute;fono(s)</strong>
            <p style="margin-bottom: 0px;">55 5623 0222</p> <p>Ext. 30944</p>
            <strong> Correo electr&oacute;nico</strong>
            <p class="fs-12"><a class="link-a" href="mailto:serviciosocial@aragon.unam.mx" title="correo-electronico">serviciosocial@aragon.unam.mx</a></p>
            <p><strong>¡&Uacute;nete a nuestro Facebook!</strong></p>
            <a target="_blank" href="https://www.facebook.com/FESAragon.CISE/?fref=mentions" class="icon-facebook-official facebook-becas" title="Facebook"> </a>
            <div class="galeria">
                <a class="contenedor-imagen "target="_blank" href="#!/seccion/servicio-social"><img class="justify-content-center img-fluid " alt="Noticias" src="public_html/img/noticias/seccion-de-noticias.png"></a>
            </div>
        </div>
    </div> 
</div> 
<!-- fin Becas -->



