<div class="container content">
	<hr>
	<div class="row pleca-secciones">
		<div class="col-lg-12 secciones">
			<i class="icono-secciones icon-servicios-escolares"
				style="position: relative;top: 6px;padding-right: 0px;"></i>
			<h1 class="mw-50">&nbsp;Servicios Escolares</h1>
			<a class="float-right boton-registro btn btn-secondary btn-sm boton-header"
				href="http://aragon.dgae.unam.mx/" target="_blank" title="Servicios Escolares">Servicios Escolares</a>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-12 col-lg-9 servicios-escolares-ac">
			<p>El Departamento de Servicios Escolares de la FES Arag&oacute;n se encarga de ayudar a los estudiantes con
				los tr&aacute;mites que requiere para diferentes casos y ocasiones.</p>
			<p>Te presentamos los diferentes procedimientos que puedes resolver:</p>
			<div class="card">
				<div class="card-header" ng-click="showing = '0'">
					<p><strong>Inscripciones para Primer Ingreso</strong></p>
				</div>
				<div class="card-body" ng-show="showing === '0'">
					<ul>
						<li>Debes presentarte en la FES Arag&oacute;n en fechas y horarios establecidos seg&uacute;n tu carrera (Consultar la <a style="color: #0069d9;" href="http://132.248.44.93:8080/PIIANI/"
							title="PIIANITE" target="_blank"> p&aacute;gina del PIIANITE</a>). Es necesario presentar:
							<ul>
								<li>Carta de asignaci&oacute;n firmada (marcada como PLANTEL)</li>
								<li>Carta Compromiso (disponible en la <a style="color: #0069d9;" href="http://132.248.44.93:8080/PIIANI/"
									title="PIIANITE" target="_blank"> p&aacute;gina del PIIANITE</a>)</li>
								<li>Comprobante de aportaci&oacute;n voluntaria</li>
								<li>CURP</li>
								<li>Original y copia de tu identificaci&oacute;n con fotograf&iacute;a y firma, por ambos lados (INE, pasaporte, licencia para conducir, credencial de bachillerato)</li>
							</ul>
						</li>
					</ul>
					<p>Siguiendo puntualmente la agenda, debes entregar en la ventanilla de Servicios Escolares los documentos antes descritos. Ah&iacute; mismo recibir&aacute;s tu comprobante de inscripci&oacute;n y credencial de alumno (en caso de que no hubiese llegado se te avisar&aacute; la fecha de entrega).</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header" ng-click="showing = '1'">
					<p><strong>Reinscripci&oacute;n</strong></p>
				</div>
				<div class="card-body" ng-show="showing === '1'">
					<p>Antes de iniciar un nuevo semestre, las y los alumnos se reinscriben en las materias en periodo
						ordinario, para cursar durante el periodo lectivo por comenzar. Para realizar el procedimiento
						es necesario: </p>
					<ul>
						<li>Realizar un pago de cuota anual. En las fechas marcadas, se le har&aacute; entrega de una
							ficha de pago y podr&aacute; realizar dicha contribuci&oacute;n tanto en las cajas del
							plantel como en una instituci&oacute;n bancaria (es importante que si se opta por esta
							v&iacute;a, en el n&uacute;mero de referencia se mencione el n&uacute;mero de cuenta del
							alumno). Las instituciones participantes son:</li>
							<table class="table table-striped">
								<thead class="thead-dark">
							<tr>
								<th scope="col">Banco</th>
								<th scope="col">Referencia del depósito</th>
								<th scope="col">Número del convenio</th>
								<th scope="col">Clabe interbancaria</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>SCOTIABANK, S.A.</td>
								<td>0010215800-0</td>
								<td>3751</td>
								<td>No disponible</td>
							</tr>
							<tr>
								<td>SANTANDER, S.A.</td>
								<td>65501522119</td>
								<td>6102</td>
								<td>014180655015221193</td>
							</tr>
							<tr>
									<td>BBVA, S.A.</td>
									<td>00110357081</td>
									<td>1300962</td>
									<td>012914002013009620</td>
								</tr>
						</tbody>
					</table>
						<li>Verificar no existan adeudos de material bibliogr&aacute;fico, en Fundaci&oacute;n UNAM o de
							Laboratorios.</li>
						<li>Seg&uacute;n las fechas programadas, el/la alumno/a cargar&aacute; el comprobante de pago de
							cuota anual en <a style="color: #0069d9;" href="https://tramifes.aragon.unam.mx"
								title="TRAMIFES" target="_blank"> TRAMIFES </a>.</li>
						<li>Ingresar a la p&aacute;gina de <a style="color: #0069d9;"
								href="https://tramifes.aragon.unam.mx" title="TRAMIFES" target="_blank"> TRAMIFES </a>
							con n&uacute;mero de cuenta y contraseña para conocer su fecha y hora de
							reinscripci&oacute;n, seg&uacute;n los resultados del sorteo.</li>
						<li>Una vez que se conoce la fecha y hora de reinscripci&oacute;n, acceder a la p&aacute;gina de
							<a style="color: #0069d9;" href="http://132.247.154.41/inscripciones/login"
								title="Inscripciones" target="_blank"> Inscripciones FES Aragón </a> para realizar la
							reinscripci&oacute;n al semestre actual.</li>
						<li>Una vez finalizada la inscripci&oacute;n, el/la alumno/a puede imprimir y guardar su
							comprobante de reinscripci&oacute;n.</li>
					</ul>
				</div>
			</div>
			<div class="card">
				<div class="card-header" ng-click="showing = '2'">
					<p><strong>Altas y cambios</strong></p>
				</div>
				<div class="card-body" ng-show="showing === '2'">
					<p>Es el periodo donde los alumnos pueden hacer modificaciones a las materias de
						reinscripci&oacute;n de cursos ordinarios. Se lleva a cabo a partir del tercer d&iacute;a de
						iniciar el semestre.</p>
					<ul>
						<li>Para conocer la fecha y hora de cu&aacute;ndo pueden hacer este procedimiento, es necesario
							ingresar a la p&aacute;gina de <a style="color: #0069d9;" href="http://aragon.dgae.unam.mx"
								title="Servicios escolares" target="_blank"> Servicios Escolares </a> en la
							secci&oacute;n de Alumnos y luego seguir a Tramites Escolares. Ah&iacute;, acceder con
							n&uacute;mero de cuenta y contrase&ntilde;a para conocer su fecha y hora, seg&uacute;n los
							resultados del sorteo. </li>
						<li>Para efectuar las altas y cambios, en el turno designado, acceder a la p&aacute;gina de <a
								style="color: #0069d9;" href="http://aragon.dgae.unam.mx" title="Servicios escolares"
								target="_blank"> Servicios Escolares </a> en la secci&oacute;n de Alumnos y luego seguir
							a Tramites Escolares con n&uacute;mero de cuenta y contrase&ntilde;a en la fecha y hora
							se&ntilde;alada en el sorteo para realizar su proceso de altas, bajas y cambios. </li>
						<li>El alumno puede imprimir y/o guardar su comprobante de reinscripci&oacute;n. </li>
					</ul>
				</div>
			</div>
			<div class="card">
				<div class="card-header" ng-click="showing = '3'">
					<p><strong>Constancias</strong></p>
				</div>
				<div class="card-body" ng-show="showing === '3'">
					<p><strong>Reposici&oacute;n de comprobantes de inscripci&oacute;n (tira de materias)</strong> </p>
					<p>La tira de materias contiene los cursos que el alumno seguir&aacute; en el periodo ordinario del
						semestre activo.</p>
					<ul>
						<li>Para alumnos de primer ingreso:
							<ul>
								<li>El alumno se presenta en su ventanilla de Servicios Escolares con su
									identificaci&oacute;n oficial con fotograf&iacute;a vigente para solicitar la
									reposici&oacute;n. Este documento se expide en el momento que se solicita.</li>
								<li>Para alumnos de segundo semestre en adelante:
									<ul>
										<li>Entrar a la p&aacute;gina de <a style="color: #0069d9;"
												href="http://aragon.dgae.unam.mx" title="Servicios escolares"
												target="_blank">Servicios Escolares</a>, de ah&iacute; elegir
											la opci&oacute;n de Alumnos y seguir hacia Tr&aacute;mites Escolares.</li>
										<li>Ingresar n&uacute;mero de cuenta y contrase&ntilde;a.</li>
										<li>Elegir la opci&oacute;n Comprobantes de Reinscripci&oacute;n y dar clic
											sobre el bot&oacute;n Obtener Comprobante.</li>
										<li>Una vez en el sistema de reinscripciones da clic en el icono de la impresora
											.</li>
										<li>En la parte inferior aparecer&aacute; la leyenda Impresi&oacute;n de
											comprobante de inscripci&oacute;n; al dar clic en la opci&oacute;n se
											mostrar&aacute; el Comprobante de Reinscripci&oacute;n del semestre activo.
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
					<hr>
					<p><strong>Credencial</strong></p>
					<p>La credencial es indispensable para realizar tr&aacute;mites escolares, para el pr&eacute;stamo
						de libros a domicilio y para actividades deportivas.</p>
					<ul>
						<li>Ingresar los d&iacute;as lunes y martes v&iacute;a Internet en la p&aacute;gina de<a style="color: #0069d9;" href="http://aragon.dgae.unam.mx/almn/"
								title="Servicios escolares" target="_blank">Servicios
								Escolares</a> con su
							n&uacute;mero de cuenta y contrase&ntilde;a.</li>
						<li>Seleccionar Tr&aacute;mite de credencial y seguir las instrucciones.</li>
						<li>Recoger la credencial al siguiente jueves o viernes despu&eacute;s de haber realizado el
							tr&aacute;mite.</li>
					</ul>
					<hr>
					<p><strong>Resello de credencial</strong></p>
					<p>Se podr&aacute; realizar el resello de la credencial de la UNAM anualmente a partir del primer
						lunes pasando los movimientos de Altas, Bajas y Cambios.</p>
					<ul>
						<li>Presentarse en su ventanilla correspondiente, mostrando su credencial y su comprobante de
							inscripci&oacute;n del semestre actual.</li>
					</ul>
					<hr>
					<p><strong>Constancia de estudios</strong></p>
					<ul>
						<li>Sirve como comprobante de inscripci&oacute;n para los alumnos de la FES Arag&oacute;n; en
							ella se indica el semestre, as&iacute; como el turno, el inicio y el fin de semestre el cual
							se cursa, as&iacute; como las materias que se est&aacute;n estudiando. Para tramitarla
							requieres:
							<ul>
								<li>Credencial oficial con fotograf&iacute;a vigente</li>
								<li>Comprobante de Inscripci&oacute;n del semestre actual</li>
								<li>Recibo de pago (cuota voluntaria)</li>
							</ul>
						</li>
					</ul>
					<p>El procedimiento para obtenerla es que el alumno presenta los documentos antes descritos en la
						ventanilla correspondiente. La constancia estar&aacute; lista al tercer d&iacute;a h&aacute;bil
						de haber realizado el tr&aacute;mite, presentando su comprobante de pago e identificaci&oacute;n
						vigente.</p>
					<hr>
					<p><strong>Constancia de cr&eacute;ditos</strong></p>
					<ul>
						<li>Documento que informa la situaci&oacute;n escolar del alumno, presentando el avance en
							cr&eacute;ditos de la carrera que cursa o su conclusi&oacute;n, el &uacute;ltimo semestre
							inscrito, el n&uacute;mero de materias aprobadas y promedio general. Para tramitarla
							requieres:
							<ul>
								<li>Credencial oficial con fotograf&iacute;a vigente</li>
								<li>Historial Acad&eacute;mico (no mayor a un mes)</li>
								<li>Recibo de pago (cuota voluntaria)</li>
								<li>Comprobante de Inscripci&oacute;n del semestre actual (en caso de estar inscrito).
								</li>
							</ul>
						</li>
					</ul>
					<p>El procedimiento para obtenerla es que el alumno presenta los documentos antes descritos en la
						ventanilla correspondiente. La constancia estar&aacute; lista al tercer d&iacute;a h&aacute;bil
						de haber realizado el tr&aacute;mite, presentando su comprobante de pago e identificaci&oacute;n
						vigente.</p>
					<hr>
					<p><strong>Constancia de historial acad&eacute;mico</strong></p>
					<ul>
						<li>Es la copia del historial acad&eacute;mico sellado y firmado por el Secretario
							Acad&eacute;mico del Plantel. Para tramitarla requieres:
							<ul>
								<li>Historial Acad&eacute;mico de internet (no mayor a un mes)</li>
								<li>Recibo de pago (cuota voluntaria en impresi&oacute;n en negro y de 20 pesos en
									color)</li>
								<li>Identificaci&oacute;n oficial con fotograf&iacute;a vigente</li>
							</ul>
						</li>
					</ul>
					<p>El procedimiento para obtenerla es que el alumno presenta los documentos antes descritos en la
						ventanilla correspondiente. La constancia estar&aacute; lista al tercer d&iacute;a h&aacute;bil
						de haber realizado el tr&aacute;mite, presentando su comprobante de pago e identificaci&oacute;n
						vigente.</p>
					<hr>
					<p><strong>Certificado parcial de estudios</strong></p>
					<ul>
						<li>Informa la situaci&oacute;n escolar del alumno, presentando el avance en cr&eacute;ditos de
							la carrera que curs&oacute;. Se debe tramitar en la ventanilla de egresados. Para tramitarla
							requieres:
							<ul>
								<li>Solicitud de constancia (recogerla en ventanilla de egresados) </li>
								<li>Identificaci&oacute;n oficial vigente (credencial de elector, cartilla o licencia de
									manejo) </li>
								<li>Historial Acad&eacute;mico bajado por Internet SIAE (m&aacute;ximo con una semana de
									antigüedad) </li>
								<li>Dos fotos por cada certificado a color o blanco y negro tama&ntilde;o
									ovalo-credencial con retoque, corbata y saco para caballeros, de frente y orejas
									descubiertas (no digitales ni instant&aacute;neas). Anotar el nombre a l&aacute;piz
									en un papel e incluirlo en la bolsa de las fotos. </li>
								<li>Recibo de pago de cuota voluntaria para 1er. certificado tramitado. </li>
							</ul>
						</li>
					</ul>
					<p>Nota: si usted ya tramit&oacute; un certificado, a partir del segundo tendr&aacute; un costo de
						$100.00 (cien pesos) cada uno, pagando en la Direcci&oacute;n General de la
						Administraci&oacute;n Escolar. (D.G.A.E. - saliendo del metro C.U.)</p>
					<p>El procedimiento para obtenerla es que el alumno presenta los documentos antes descritos en la
						ventanilla correspondiente. La constancia estar&aacute; lista dos semanas despu&eacute;s de
						haber realizado el tr&aacute;mite, presentando su comprobante de pago e identificaci&oacute;n
						vigente.</p>
					<hr>
					<p><strong>Carta pasante</strong></p>
					<p>Es la carta que informa la situaci&oacute;n de un alumno pasante, es decir que est&aacute; a
						punto de terminar la carrera o de titularse, y que le sirve para ejercer por un a&ntilde;o la
						carrera de forma oficial. </p>
					<p>Este documento se podr&aacute; obtener teniendo un 70% de avance en cr&eacute;ditos, no deber
						ninguna materia de primero a sexto semestres, estar inscrito, tener un promedio m&iacute;nimo de
						7 y llevar los formatos correspondientes para el tr&aacute;mite.</p>
					<ul>
						<li>Requisitos:
							<ul>
								<li>Historial Acad&eacute;mico SIAE (no mayor a un mes).</li>
								<li>Estar inscrito en el semestre actual.</li>
								<li>Promedio m&iacute;nimo de 7.00 (siete).</li>
								<li>Pago de cuota voluntaria.</li>
								<li>Carta responsiva (deber&aacute; estar firmada por un responsable titulado, quien le
									proporcionar&aacute; copia de su c&eacute;dula profesional).
								<li>Recoger dicha carta en la Direcci&oacute;n General de Profesiones (D.G.P.) o bajarla
									por Internet en la p&aacute;gina de la SEP. <a style="color: #0069d9;"
										href="http://aragon.dgae.unam.mx/docs/AutProv_Pasante.pdf"
										title="Direcci&oacute;n general de profesiones"
										target="_blank">http://aragon.dgae.unam.mx/docs/AutProv_Pasante.pdf</a> </li>
							</ul>
						</li>
					</ul>
					<p>El procedimiento para obtenerla es que el alumno presenta los documentos antes descritos en la
						ventanilla correspondiente. Al tercer d&iacute;a h&aacute;bil de haber realizado el
						tr&aacute;mite, puede recoger la Carta Pasante en ventanilla de Servicios Escolares para luego
						recabar la firma del Director de Certificaci&oacute;n y Control Documental de la
						Direcci&oacute;n General de Administraci&oacute;n Escolar. Posteriormente, el tr&aacute;mite se
						continua es la Direcci&oacute;n General de Profesiones de la SEP.</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header" ng-click="showing = '4'">
					<p><strong>Registro de ex&aacute;menes extraordinarios</strong></p>
				</div>
				<div class="card-body" ng-show="showing === '4'">
					<p>Este proceso se realiza 2 veces por semestre en las fechas establecidas en el Calendario Escolar,
						con el fin de presentar la oposici&oacute;n para aprobar materias que no se hayan logrado en
						periodo ordinario. Para el registro es necesario: </p>
					<ul>
						<li>Registrar asignaturas v&iacute;a Internet a partir de las 10:00:00 del primer d&iacute;a y
							hasta las 23:59 del &uacute;ltimo d&iacute;a.</li>
					</ul>
				</div>
			</div>
			<div class="card">
				<div class="card-header" ng-click="showing = '5'">
					<p><strong>Suspensi&oacute;n temporal</strong></p>
				</div>
				<div class="card-body" ng-show="showing === '5'">
					<p>La convocatoria para tramitar la suspensi&oacute;n temporal de estudios se publica al inicio de
						cada semestre; los alumnos podr&aacute;n solicitar este periodo de gracia por un semestre o un
						a&ntilde;o lectivo. El tr&aacute;mite se realiza en el Departamento de Servicios Escolares.</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header" ng-click="showing = '6'">
					<p><strong>Rectificaci&oacute;n de calificaciones</strong></p>
				</div>
				<div class="card-body" ng-show="showing === '6'">
					<p>Para solicitar el cambio de calificaci&oacute;n en una materia en el sistema escolar es necesario
						estar dentro de los 60 d&iacute;as posteriores a la realizaci&oacute;n del (los) examen(es).
						Ser&aacute; necesario que el alumno contacte al profesor para que realice la aclaraci&oacute;n.
					</p>
					<p>Posteriormente, habr&aacute; que verificar la calificaci&oacute;n correcta en su Historia
						Acad&eacute;mica.</p>

				</div>
			</div>
			<div class="card">
				<div class="card-header" ng-click="showing = '7'">
					<p><strong>Revalidaci&oacute;n de materias</strong></p>
				</div>
				<div class="card-body" ng-show="showing === '7'">
					<p>En caso de movilidad acad&eacute;mica, el alumno presentar&aacute; en su Jefatura de Carrera los
						documentos: </p>
					<ul>
						<li>Comprobante original de la calificaci&oacute;n aprobatoria a revalidar en caso de movilidad
						</li>
						<li>Para el caso de materias optativas se entrega el Formato F306 (en Servicios Escolares)</li>
					</ul>
					<p>El alumno deber&aacute; verificar la actualizaci&oacute;n de la materia revalidada en su Historia
						Acad&eacute;mica en un lapso de 15 d&iacute;as a partir de iniciado el tr&aacute;mite.</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header" ng-click="showing = '8'">
					<p><strong>Cambio de turno</strong></p>
				</div>
				<div class="card-body" ng-show="showing === '8'">
					<p><strong>Primer ingreso</strong></p>
					<p>Los alumnos de primer ingreso que desean realizar cambio de turno es necesario que acrediten
						estar inscritos en el semestre actual. Posteriormente, se publicar&aacute; la convocatoria
						"Cambio de turno primer ingreso".</p>
					<p>Una vez que se d&eacute; a conocer es necesario ingresar solicitud de cambio de turno primer
						ingreso con base en la convocatoria. En las fechas establecidas se dar&aacute; a conocer el
						resultado de la solicitud y, si esta es afirmativa, habr&aacute; que presentarse al grupo
						asignado.</p>
					<hr>
					<p><strong>Cambio de turno (reingreso)</strong></p>
					<p>Para los alumnos de reingreso que desean realizar cambio de turno es requisito tener derecho a
						inscripci&oacute;n en el semestre para el que solicita el cambio de turno.</p>
					<p>Ser&aacute; necesario consultar la convocatoria "Cambio de turno reingreso" y solicitar el cambio
						de turno con base en ella. En las fechas establecidas se dar&aacute; a conocer el resultado de
						la solicitud y, si esta es afirmativa, tendr&aacute; que reinscribirse en el turno asignado.</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header" ng-click="showing = '9'">
					<p><strong>Carrera simult&aacute;nea</strong></p>
				</div>
				<div class="card-body" ng-show="showing === '9'">
					<p>Los alumnos que desean cursar otra carrera a nivel licenciatura paralelamente deber&aacute;n
						consultar el Manual del alumno y llevar a cabo el tr&aacute;mite de "Carrera Simult&aacute;nea".
					</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header" ng-click="showing = '10'">
					<p><strong>Ingreso en a&ntilde;os posteriores por acreditaci&oacute;n</strong></p>
				</div>
				<div class="card-body" ng-show="showing === '10'">
					<p>Aspirantes con estudios de licenciatura en una instituci&oacute;n del Sistema Incorporado de la
						UNAM que desean continuar con su formaci&oacute;n en alguna Facultad o Escuela de la UNAM
						deber&aacute;n consultar el Manual del alumno y consultar el tr&aacute;mite "Ingreso en
						A&ntilde;os Posteriores al Primero por Acreditaci&oacute;n".</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header" ng-click="showing = '11'">
					<p><strong>Ingreso en a&ntilde;os posteriores por revalidaci&oacute;n</strong></p>
				</div>
				<div class="card-body" ng-show="showing === '11'">
					<p>Aspirantes con estudios de licenciatura en una instituci&oacute;n de nivel licenciatura que
						desean continuar con sus estudios en alguna Facultad o Escuela de la UNAM deber&aacute;n
						consultar la convocatoria de la Direcci&oacute;n General de Incorporaci&oacute;n y
						Revalidaci&oacute;n.</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header" ng-click="showing = '12'">
					<p><strong>Cambio interno de carrera</strong></p>
				</div>
				<div class="card-body" ng-show="showing === '12'">
					<ul>
						<li>El tr&aacute;mite es exclusivo para las carreras de Relaciones Internacionales,
							Comunicaci&oacute;n y Periodismo, Sociolog&iacute;a e Ingenier&iacute;as. Los requisitos
							son:
							<ul>
								<li>Ser alumno regular.</li>
								<li>Estar dentro de los primeros 2 a&ntilde;os de su carrera.</li>
							</ul>
						</li>
						<li>El procedimiento es:
							<ul>
								<li>Ingresar solicitud en la p&aacute;gina <a style="color: #0069d9;"
										href="https://www.dgae-siae.unam.mx" target="_blank">www.dgae-siae.unam.mx</a>
									en las fechas asignadas.</li>
								<li>Verificar el resultado de la solicitud.</li>
								<li>En caso de ser autorizado el cambio esperar el sorteo para su reinscripci&oacute;n a
									la nueva carrera.</li>
							</ul>
						</li>
					</ul>
					<p>Nota: Los alumnos de las Ingenier&iacute;as &uacute;nicamente pueden optar por otra
						ingenier&iacute;a. Asimismo los alumnos de Ciencias Pol&iacute;ticas solo pueden escoger otra
						carrera de las antes mencionadas.</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header" ng-click="showing = '13'">
					<p><strong>Cambio de sistema</strong></p>
				</div>
				<div class="card-body" ng-show="showing === '13'">
					<ul>
						<li>Alumnos de las carreras de Derecho, Econom&iacute;a y Relaciones Internacionales de sistema
							Escolarizado que deseen hacer su cambio al Sistema de Universidad Abierta deben seguir la
							legislaci&oacute;n vigente, que dice:
							<ul>
								<li>“Conforme al art. 6 del Reglamento del Estatuto del Sistema Universidad Abierta y
									Educaci&oacute;n a Distancia:
									<ul>
										<li>“Los alumnos de primer ingreso solicitar&aacute;n al titular del plantel,
											por escrito, el cambio de sistema, dentro de los primeros quince d&iacute;as
											h&aacute;biles del inicio de los cursos. El cambio podr&aacute; ser
											autorizado, siempre y cuando haya cupo disponible y cuente con la
											opini&oacute;n fundamentada y favorable del Jefe de Divisi&oacute;n o
											instancia correspondiente.
										<li>“Los alumnos que hayan cursado al menos el primer semestre en el sistema
											escolarizado en tiempo y forma, solicitar&aacute;n al titular del plantel,
											por escrito, el cambio del sistema. El cambio podr&aacute; ser autorizado,
											siempre y cuando el alumno acredite la formaci&oacute;n proped&eacute;utica
											de ingreso al Sistema Universidad Abierta y Educaci&oacute;n a Distancia y
											tenga un promedio m&iacute;nimo de 7.5 (siete punto cinco).
										<li>“Cualquier situaci&oacute;n no prevista en los incisos anteriores
											deber&aacute; ser solicitada en forma escrita al Consejo T&eacute;cnico, el
											que resolver&aacute; en un plazo m&aacute;ximo de 30 d&iacute;as
											h&aacute;biles”.
									</ul>
								</li>
							</ul>
						</li>
					</ul>
					<p>Para realizar el tr&aacute;mite es necesario ingresar solicitud en la p&aacute;gina <a
							style="color: #0069d9;" href="https://www.dgae-siae.unam.mx"
							target="_blank">www.dgae-siae.unam.mx</a> en las fechas asignadas. Posteriormente, verificar
						el resultado de la solicitud y en caso de ser autorizado el cambio esperar el sorteo para su
						reinscripci&oacute;n en el nuevo Sistema.</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header" ng-click="showing = '14'">
					<p><strong>Informaci&oacute;n de tr&aacute;mites para egresados</strong></p>
				</div>
				<div class="card-body texto" ng-show="showing === '14'">
					<p><strong>Constancia de cr&eacute;ditos</strong></p>
					<p>Informa la situaci&oacute;n escolar con la que cuenta el egresado, presentando el avance en
						cr&eacute;ditos de la carrera que curs&oacute;, el n&uacute;mero de materias aprobadas y
						promedio general.</p>
					<ul>
						<li>Requisitos:
							<ul>
								<li>Historial Acad&eacute;mico (no mayor a un mes)</li>
								<li>Recibo de pago (cuota voluntaria)</li>
							</ul>
						</li>
					</ul>
					<hr>
					<p><strong>Constancia de historial acad&eacute;mico</strong></p>
					<p>Es la copia del historial acad&eacute;mico sellado por la Secretar&iacute;a Acad&eacute;mica y
						firmado por el Secretario Acad&eacute;mico.</p>
					<ul>
						<li>Requisitos:
							<ul>
								<li>Historial Acad&eacute;mico reciente (no mayor a un mes). </li>
								<li>Recibo de pago (cuota voluntaria para impresi&oacute;n en negro). </li>
								<li>Identificaci&oacute;n oficial vigente. </li>
							</ul>
						</li>
					</ul>
					<hr>
					<p><strong>Carta pasante</strong></p>
					<p>Es la carta que informa la situaci&oacute;n de un alumno pasante a punto de titularse y que le
						sirve para ejercer por un a&ntilde;o la carrera de forma oficial. </p>
					<p>Esta carta se podr&aacute; obtener al estar dentro de los once meses posteriores a la
						acreditaci&oacute;n de la &uacute;ltima materia con la que obtuvo el 100% de cr&eacute;ditos.
					</p>
					<ul>
						<li>Requisitos:
							<ul>
								<li>Historial Acad&eacute;mico SIAE reciente (no mayor a un mes) </li>
								<li>Estar dentro de los once meses posteriores a la conclusi&oacute;n de la carrera
									(100% de cr&eacute;ditos) </li>
								<li>Promedio m&iacute;nimo de 7.00 (siete) </li>
								<li>Recibo de cuota voluntaria </li>
								<li>Carta responsiva (deber&aacute; estar firmada por un responsable titulado, quien le
									proporcionar&aacute; copia de su c&eacute;dula profesional) </li>
								<li>Recoger dicha carta en la Direcci&oacute;n General de Profesiones (D.G.P.) o bajarla
									por Internet en la p&aacute;gina de la S.E.P. <a style="color: #0069d9;"
										href="http://aragon.dgae.unam.mx/docs/AutProv_Pasante.pdf"
										target="_blank">http://aragon.dgae.unam.mx/docs/AutProv_Pasante.pdf</a></li>
								<li>Recoger Carta Pasante en ventanilla de Servicios Escolares y recabar la firma del
									Director de Certificaci&oacute;n y Control Documental de la Direcci&oacute;n General
									de Administraci&oacute;n Escolar </li>
								<li>Continuar con los tr&aacute;mites en la Direcci&oacute;n General de Profesiones.
								</li>
							</ul>
						</li>
					</ul>
					<hr>
					<p><strong>Certificado de estudios</strong></p>
					<p>El Certificado de Estudios es un documento oficial que emite la Facultad de Estudios Superiores
						Arag&oacute;n en el que se describen las materias, calificaciones y periodos en los que se
						inscribieron las materias de la licenciatura.</p>
					<ul>
						<li>Costo:
							<ul>
								<li>Primer certificado: aportación voluntaria (por el momento no aplica).</li>
								<li>Segundo certificado o posterior: tiene un costo de 100 pesos y la referencia
									bancaria se descarga desde SIGEREL en <a style="color: #0069d9;"
										href="https://sigerel.dgae.unam.mx"
										target="_blank">https://sigerel.dgae.unam.mx</a></li>
							</ul>
						</li>
					</ul>
					<p>Tiempo estimado para el tr&aacute;mite: 25 d&iacute;as h&aacute;biles</p>
					<ul>
						<li>Requisitos que deber&aacute; presentar al Departamento de Servicios Escolares:
							<ul>
								<li>Historia Acad&eacute;mica (con datos de contacto en la primera hoja).</li>
								<li>Fotograf&iacute;as tamaño ovalo credencial, ovaladas (3.5 x 5 cm), recientes,
									(cumpliendo los requisitos especificados por la DGAE en el URL: <a
										style="color: #0069d9;" href="https://www.dgae.unam.mx/tramites/fotos.html"
										target="_blank">https://www.dgae.unam.mx/tramites/fotos.html</a>).</li>
								<li>Comprobante de pago, en caso de haber solicitado un Certificado de Estudios
									anteriormente.</li>
							</ul>
						</li>
					</ul>
					<hr>
					<p><strong>Credencial de egresado</strong></p>
					<p>Es la credencial para quienes terminaron la carrera o est&aacute;n titulados, con la cual
						obtendr&aacute;n grandes beneficios. Obt&eacute;n toda la informaci&oacute;n en la p&aacute;gina
						de Exalumnos de la UNAM <a style="color: #0069d9;" href="http://www.pve.unam.mx/credencial.html"
							target="_blank">http://www.pve.unam.mx/credencial.html</a>.</p>
				</div>
			</div>
			<div class="card" id="15">
				<div class="card-header" ng-click="showing = '15'">
					<p><strong>Titulaci&oacute;n</strong></p>
				</div>
				<div class="card-body" ng-show="showing === '15'">
					<p><strong>Registro de modalidad de titulaci&oacute;n</strong></p>
					<ul>
						<li>Procedimiento
							<ul>
								<li>Presentarse en la Jefatura de Carrera y llenar solicitud de modalidad de
									titulaci&oacute;n </li>
								<li>Solicitar en Secretar&iacute;a Acad&eacute;mica su registro de tesis o modalidad de
									titulaci&oacute;n, presentando solicitud de autorizaci&oacute;n de modalidad de
									titulaci&oacute;n </li>
								<li>Recibir en Secretar&iacute;a Acad&eacute;mica, oficio de aceptaci&oacute;n del
									registro de tesis o modalidad de titulaci&oacute;n suscrito por el Director del
									plantel, (20 d&iacute;as h&aacute;biles a partir de la fecha de solicitud) </li>
							</ul>
						</li>
					</ul>
					<hr>
					<p><strong>Solicitud de fecha de examen profesional (r&eacute;plica oral)</strong></p>
					<p>Solicitar fecha y hora de examen, en la secci&oacute;n de Egresados del Departamento de Servicios
						Escolares.</p>
					<ul>
						<li>Requisitos:
							<ul>
								<li>Pago de t&iacute;tulo (pergamino o papel bond seguridad, el pago se realiza en la
									D.G.A.E., ubicada a un costado del metro de Ciudad Universitaria)</li>
								<li>Solicitud de t&iacute;tulo (pergamino o papel bond seguridad)</li>
								<li>Copia del oficio de jurado</li>
								<li>Oficio de conclusi&oacute;n de tesis o modalidad de titulaci&oacute;n</li>
								<li>Oficio de Impresi&oacute;n de tesis o trabajo de titulaci&oacute;n</li>
								<li>5 votos aprobatorios originales (el grado y los nombres de los profesores deben
									estar completos, a m&aacute;quina de escribir o computadora, deben coincidir los
									nombres con los colocados en el oficio de jurado)</li>
								<li>Original de oficio de aceptaci&oacute;n del tema de tesis o modalidad de
									titulaci&oacute;n (fecha actualizada)</li>
								<li>Comprobante de revisi&oacute;n de estudios con sello de la caja y pago de
									revisi&oacute;n de estudios</li>
								<li>Carta de no adeudo de libros para titulaci&oacute;n (descargar en la p&aacute;gina
									http://bc.unam.mx) con sello de la biblioteca</li>
								<li>Formato para la expedici&oacute;n de c&eacute;dula profesional (obtener de la
									p&aacute;gina de la SEP http://sirepve.sep.gob.mx) observar en material de apoyo, el
									video con titulo “tr&aacute;mite n&uacute;mero 51”</li>
								<li>Comprobante del cuestionario de opini&oacute;n de egresados (contestar en la
									p&aacute;gina de Servicios Escolares http://aragon.dgae.unam.mx en la opci&oacute;n
									de “Alumnos”-->“ Tr&aacute;mites Escolares”)</li>
								<li>7 fotos para t&iacute;tulo profesional (depende de elecci&oacute;n del
									t&iacute;tulo, ver caracter&iacute;sticas de las fotograf&iacute;as)</li>
								<li>4 fotos tama&ntilde;o infantil con fondo blanco recientes con retoque
								<li>Formato de tr&aacute;mite de titulaci&oacute;n</li>
							</ul>
						</li>
					</ul>
					<p>NOTA IMPORTANTE: SOLO PUEDES ESCOGER UNA OPCI&Oacute;N, YA SEA T&Iacute;TULO EN PERGAMINO O
						T&Iacute;TULO EN PAPEL BOND SEGURIDAD.</p>
					<hr>
					<p><strong>Requisitos para la toma de protesta (diplomados)</strong></p>
					<ul>
						<li>Entregar en la secci&oacute;n de Diplomados del Departamento de Servicios Escolares, los
							siguientes requisitos:
							<ul>
								<li>Pago de t&iacute;tulo (pergamino o papel bond seguridad, el pago se realiza en la
									D.G.A.E., ubicada a un costado del metro de Ciudad Universitaria)</li>
								<li>Solicitud de t&iacute;tulo (pergamino o papel bond seguridad) </li>
								<li>Oficio de autorizaci&oacute;n (con fecha reciente) </li>
								<li>Comprobante de revisi&oacute;n de estudios con sello de la caja y pago de
									revisi&oacute;n de estudios </li>
								<li>Carta de no adeudo de libros para titulaci&oacute;n (descargar en la p&aacute;gina
									http://bc.unam.mx) con sellos de la biblioteca </li>
								<li>Formato para la expedici&oacute;n de c&eacute;dula profesional (obtener de la
									p&aacute;gina de la SEP http://sirepve.sep.gob.mx) observar en material de apoyo el
									video con t&iacute;tulo “tr&aacute;mite n&uacute;mero 51” </li>
								<li>Comprobante del cuestionario de opini&oacute;n de egresados (contestar en la
									p&aacute;gina de Servicios Escolares http://aragon.dgae.unam.mx en la opci&oacute;n
									de “Alumnos”-->“ Tr&aacute;mites Escolares”) </li>
								<li>7 fotos para t&iacute;tulo profesional (depende de elecci&oacute;n del
									t&iacute;tulo, ver caracter&iacute;sticas de las fotograf&iacute;as) </li>
								<li>4 fotos tama&ntilde;o infantil con fondo blanco recientes con retoque </li>
								<li>Formato de tr&aacute;mite de titulaci&oacute;n </li>
							</ul>
						</li>
					</ul>
					<p>NOTA IMPORTANTE: SOLO PUEDES ESCOGER UNA OPCI&Oacute;N, YA SEA T&Iacute;TULO EN PERGAMINO O
						T&Iacute;TULO EN PAPEL BOND SEGURIDAD.</p>
					<hr>
					<p><strong>Caracter&iacute;sticas de las fotograf&iacute;as</strong></p>
					<ul>
						<li>PERGAMINO:
							<ul>
								<li>7 FOTOS TAMA&Ntilde;O T&Iacute;TULO BLANCO Y NEGRO, CON FONDO GRIS CLARO, UNIFORME
									SIN MANCHAS, RECIENTES CON RETOQUE (6x9cm) IMPRESAS EN PAPEL MATE (NO
									INSTANT&Aacute;NEAS, NO DIGITALES), debidamente recortadas, rostro serio, el
									tama&ntilde;o de la cara deber&aacute; medir 3.5 cm. de oreja a oreja por 5 cm. del
									pelo al ment&oacute;n, a fin de que est&eacute; en proporci&oacute;n con la medida
									de la fotograf&iacute;a </li>
								<li>MUJERES: Vestimenta formal sin escote; maquillaje muy discreto: frente y orejas
									descubiertas; aretes peque&ntilde;os; sin lentes obscuros o pupilentes de color
								</li>
								<li>HOMBRES: Saco y corbata; cabello corto frente y orejas descubiertas, barba y/o
									bigote recortados (deben verse los labios); sin lentes obscuros o pupilentes de
									color </li>
							</ul>
							<p>** Anotar con l&aacute;piz el nombre completo en un papel e incluirlo en una bolsa de
								pl&aacute;stico transparente (sin nombre o logo del estudio fotogr&aacute;fico).</p>
						</li>
						<li>PARA T&Iacute;TULO PAPEL BOND SEGURIDAD:
							<ul>
								<li>7 FOTOS TAMA&Ntilde;O DIPLOMA (5 x 7 CM.) (BLANCO Y NEGRO, CARA PROPORCIONADA AL
									TAMA&Ntilde;O DE LA FOTO) Y 4 TAMA&Ntilde;O INFANTIL FONDO BLANCO CON RETOQUE (TIENE
									UN COSTO DE $1.00 UN PESO Y DEBE PAGAR EN D.G.A.E. C.U.) </li>
							</ul>
							<p>Anotar con l&aacute;piz el nombre completo en un papel e incluirlo en una bolsa de
								pl&aacute;stico transparente (sin nombre o logo del estudio fotogr&aacute;fico).</p>
						</li>
					</ul>
					<hr>
					<p><strong>Consulta del avance en la emisi&oacute;n de t&iacute;tulo</strong></p>
					<ul>
						<li>Una vez acreditado el examen o haber tomado protesta, el alumno debe consultar en la
							p&aacute;gina web <a style="color: #0069d9;" href="https://www.escolar.unam.mx"
								target="_blank">https://www.escolar.unam.mx</a>, el avance que lleva el t&iacute;tulo:
							<ul>
								<li>Colocar n&uacute;mero de cuenta y NIP (es el mismo de la historia acad&eacute;mica,
									en caso de no ingresar verifica que el NIP no lleve m&aacute;s de 10 caracteres)
								</li>
								<li>El sistema le mostrar&aacute; la fecha de la emisi&oacute;n del t&iacute;tulo y le
									indicar&aacute; los pasos a seguir</li>
							</ul>
						</li>
					</ul>
					<p>Nota: La Direcci&oacute;n General de Administraci&oacute;n Escolar brinda atenci&oacute;n en un
						horario de 9:00 a 17:30 horas, en horario corrido y se encuentra ubicado a un costado del metro
						Ciudad Universitaria y del CENDI.</p>
					<hr>
					<p><strong>Segunda carrera</strong></p>
					<p>Los egresados titulados que desean cursar una segunda carrera a nivel licenciatura deber&aacute;n
						consultar el Manual del alumno y llevar a cabo el tr&aacute;mite de "Segunda Carrera".</p>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-3 seccion-informacion portafolio">
			<strong>Responsable</strong>
			<p>Jos&eacute; Luis Huergo</p>
			<img class="d-flex justify-content-center rounded-circle img-responsable"
				src="public_html/img/cise/servicios-escolares/jose-luis-huergo.jpg"
				alt="Jos&eacute; Luis Huergo" />
			<strong>Horario</strong>
			<p>De lunes a viernes de 9:30 a 13:30 h y de 16:00 a 20:00 h</p>
			<strong> Tel&eacute;fono(s)</strong>
			<p style="margin-bottom: 0px;">55 5623 0222</p>
			<p>Ext. 31005</p>
			<strong> Correo electr&oacute;nico</strong>
			<p class="fs-12"><a class="link-a" href="mailto:serviciosescolares@aragon.unam.mx"
					title="correo-electronico">serviciosescolares@aragon.unam.mx</a></p>
			<p><strong>¡&Uacute;nete a nuestro Facebook!</strong></p>
			<a target="_blank" href="https://www.facebook.com/FESAragon.CISE/?fref=mentions"
				class="icon-facebook-official facebook-becas" title="Facebook"> </a>
			<!-- <div class="galeria">
				 <a class="contenedor-imagen "target="_blank" href="#!/seccion/servicio-scolares"><img class="justify-content-center img-fluid " alt="Noticias" src="public_html/img/noticias/seccion-de-noticias.png"></a>
			 </div>-->
		</div>
	</div>
</div>
