<style>
    .link {
        color: #0069d9;
    }
</style>
<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <i class="icono-secciones icon-servicios-escolares"
                style="position: relative;top: 6px;padding-right: 0px;"></i>
            <h1 class="mw-50">&nbsp;Servicios Escolares (titulaci&oacute;n)</h1>
            <a class="float-right boton-registro btn btn-secondary btn-sm boton-header"
                href="http://aragon.dgae.unam.mx/" target="_blank" title="Servicios Escolares">Servicios Escolares</a>
        </div>
    </div>
    <hr>
    <div class="row fs-12">
        <div class="col-12 col-lg-9 servicios-escolares-ac">
            <div class="card">
                <div class="card-header" ng-click="showing = '0'">
                    <p><strong>Normatividad</strong></p>
                </div>
                <div class="card-body" ng-show="showing === '0'">
                    <ul>
                        <li><a class="link-a" href="https://www.dgae-siae.unam.mx/acerca/normatividad.html#leg-4"
                                target="_blank">Reglamento General de Exámenes</a></li>
                        <li><a class="link-a"
                                href="public_html/documents/cise/lineamientos-internos-titulacion.pdf"
                                target="_blank">Lineamientos Internos para la Titulación de la FES Aragón</a></li>
                        <!--<li><a class="link-a" href="" target="_blank">Procedimientos para las opciones de titulación</a></li>-->
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header" ng-click="showing = '1'">
                    <p><strong>Requisitos Generales Iniciales</strong></p>
                </div>
                <div class="card-body" ng-show="showing === '1'">
                    <ul>
                        <li><a class="link-a" href="public_html/templates/cise/titulacionfesar/certificado-de-estudios.pdf"
                                target="_blank">Certificado de Estudios</a></li>
                        <li><a class="link-a" href="public_html/templates/cise/titulacionfesar/carta-liberacion-servicio.pdf"
                                target="_blank">Carta de liberación del Servicio Social</a></li>
                        <li><a class="link-a" href="public_html/templates/cise/titulacionfesar/revision-de-estudios-documental.pdf"
                                target="_blank">Revisión de Estudios Documental Autorizada</a></li>
                        <li>Requisitos establecidos en el Plan de Estudios y Reglas de Operación</li>
                        <ul>
                            <li>Licenciaturas</li>
                        <ul>
                            <li><a class="link-a" ui-sref="licenciaturas({carrera:'civil-titulacion'})" title="Civil">Ingeniería Civil</a></li>
                            <li><a class="link-a" ui-sref="licenciaturas({carrera:'computacion-titulacion'})" title="Civil">Ingeniería en Computación</a></li>
                            <li><a class="link-a" ui-sref="licenciaturas({carrera:'electrica-electronica-titulacion'})" title="Civil">Ingeniería Eléctrica Electrónica</a></li>
                            <li><a class="link-a" ui-sref="licenciaturas({carrera:'industrial-titulacion'})" title="Civil">Ingeniería Industrial</a></li>
                            <li><a class="link-a" ui-sref="licenciaturas({carrera:'mecanica-titulacion'})" title="Civil">Ingeniería Mecánica</a></li>
                            <li><a class="link-a" ui-sref="licenciaturas({carrera:'comunicacion-y-periodismo-titulacion'})" title="Civil">Comunicación y Periodismo</a></li>
                            <li><a class="link-a" ui-sref="licenciaturas({carrera:'derecho-titulacion'})" title="Civil">Derecho</a></li>
                            <li><a class="link-a" ui-sref="licenciaturas({carrera:'economia-titulacion'})" title="Civil">Economía</a></li>
                            <li><a class="link-a" ui-sref="licenciaturas({carrera:'planificacion-para-el-desarrollo-agropecuario-titulacion'})" title="Civil">Planificación para el Desarrollo Agropecuario</a></li>
                            <li><a class="link-a" ui-sref="licenciaturas({carrera:'relaciones-internacionales-titulacion'})" title="Civil">Relaciones Internacionales</a></li>
                            <li><a class="link-a" ui-sref="licenciaturas({carrera:'sociologia-titulacion'})" title="Civil">Sociología</a></li>
                            <li><a class="link-a" ui-sref="licenciaturas({carrera:'arquitectura-titulacion'})" title="Civil">Arquitectura</a></li>
                            <li><a class="link-a" ui-sref="licenciaturas({carrera:'diseno-industrial-titulacion'})" title="Civil">Diseño Industrial</a></li>
                            <li><a class="link-a" ui-sref="licenciaturas({carrera:'pedagogia-titulacion'})" title="Civil">Pedagogía</a></li>
                            <li><a class="link-a" ui-sref="licenciaturas({carrera:'suayed-derecho-titulacion'})" title="Civil">Derecho SUAyED</a></li>
                            <li><a class="link-a" ui-sref="licenciaturas({carrera:'suayed-economia-titulacion'})" title="Civil">Economía SUAyED</a></li>
                            <li><a class="link-a" ui-sref="licenciaturas({carrera:'suayed-relaciones-internacionales-titulacion'})" title="Civil">Relaciones Internacionales SUAyED</a></li>
                        </ul>
                    </ul>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header" ng-click="showing = '2'">
                    <p><strong>Requisitos Generales Complementarios</strong></p>
                </div>
                <div class="card-body" ng-show="showing === '2'">
                    <ul>
                        <li><a class="link-a" href="http://aragon.dgae.unam.mx/info/Formato%20solicitud%20de%20titulo.pdf"
                                target="_blank">Solicitud de título y referencia bancaria</a></li>
                        <li><a class="link-a" href="https://www.dgae.unam.mx/tramites/fotos.html"
                                target="_blank">Fotografías</a></li>
                        <li><a class="link-a"
                                href="https://siicana.dgb.unam.mx/"
                                target="_blank">No adeudo de biblioteca</a></li>
                        <li><a class="link-a"
                                href="https://www.dgae.unam.mx/titulosgrados/registro_titulo_grado_cedula.html"
                                target="_blank">Autorización de transferencia de información</a></li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header" ng-click="showing = '3'">
                    <p><strong>Inicio y seguimiento del trámite de titulación</strong></p>
                </div>
                <div class="card-body" ng-show="showing === '3'">
                        <p>El Sistema de seguimiento del proceso de titulación universitaria, es la plataforma institucional de la UNAM 
                                que gestiona la Dirección General de Administración Escolar (DGAE) y cada una de las dependencias universitarias 
                                que se encuentren activas para el uso de este sistema, donde se lleva a cabo el siguiente proceso asociado a la Titulación:</p>
                            <ol>
                                    <li>El registro de la solicitud</li>
                                    <li>Aceptación de la solicitud</li>
                                    <li>Aprobación, desarrollo y conclusión del trabajo académico</li>
                                    <li>Entrega electrónica y física de documentos</li>
                                    <li>Incorporación del Acta de titulación</li>
                                    <li>Integración de carpeta física</li>
                                    <li>Entrega de carpeta física a la DGAE</li>
                            </ol>
                            <div class="d-md-flex d-sm-block mb-2 justify-content-center">
                                <a class="boton-registro btn btn-secondary btn-sm boton-header"
                                    href="https://seguimientotitulacion.unam.mx/" target="_blank" 
                                    title="Sistema de seguimiento del proceso de titulación universitaria">
                                    Sistema de seguimiento del proceso de titulación universitaria
                                </a>
                            </div>
                            <div class="d-md-flex d-sm-block mb-2 justify-content-center pb-4">
                                 <a class="boton-registro btn btn-secondary btn-sm boton-header"
                                  href="public_html/templates/cise/titulacionfesar/guia-para-integrar-el-expediente.pdf" target="_blank" 
                                  title="Guía para integrar el expediente de titulación">
                                  Guía para integrar el expediente de titulación
                                </a>
                            </div>
                    <div class="row justify-items-start">
                        <div class="col-12 col-lg-6 mt-3 mb-3">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oInYNKCEXe4"
                                    frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 mt-3 mb-3">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RFiVOnav27M"
                                    frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 mt-3 mb-3">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/L32oxkJzb1U"
                                    frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center botones sub">
                <div class="col-12 col-lg-11 pt-3">
                    <h2>Ciencias Físico-Matemáticas y de las Ingenierías</h2>
                    <hr>
                    <div class="row justify-content-star">
                        <div class="col-12 col-md-4 btn-cat btn-sec">
                            <a class="category" ui-sref="licenciaturas({carrera:'civil-titulacion'})" title="Civil">
                                <div class="icon icon-ingenieria-civil">
                                </div>
                                <p>Ingeniería Civil</p>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 btn-cat btn-sec">
                            <a class="category" ui-sref="licenciaturas({carrera:'computacion-titulacion'})"
                                title="Computaci&oacute;n">
                                <div class="icon icon-ingenieria-en-computacion">
                                </div>
                                <p>Ingeniería en Computación</p>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 btn-cat btn-sec">
                            <a class="category" ui-sref="licenciaturas({carrera:'electrica-electronica-titulacion'})"
                                title="El&eacute;ctrica Electr&oacute;nica">
                                <div class="icon icon-ingenieria-electrica-electronica">
                                </div>
                                <p>Ingeniería Eléctrica Electrónica</p>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 btn-cat btn-sec">
                            <a class="category" ui-sref="licenciaturas({carrera:'industrial-titulacion'})"
                                title="Industrial">
                                <div class="icon icon-ingenieria-industrial">
                                </div>
                                <p>Ingeniería Industrial</p>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 btn-cat btn-sec">
                            <a class="category" ui-sref="licenciaturas({carrera:'mecanica-titulacion'})"
                                title="Mec&aacute;nica">
                                <div class="icon icon-ingenieria-mecanica">
                                </div>
                                <p>Ingeniería Mecánica</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center botones sub">
                <div class="col-12 col-lg-11 pt-3">
                    <h2>Ciencias Sociales</h2>
                    <hr>
                    <div class="row justify-content-star">
                        <div class="col-12 col-md-4 btn-cat btn-sec">
                            <a class="category"
                                ui-sref="licenciaturas({carrera:'comunicacion-y-periodismo-titulacion'})"
                                title="Comunicaci&oacute;n y Periodismo">
                                <div class="icon icon-comunicacion-y-peridismo">
                                </div>
                                <p>Comunicación y Periodismo</p>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 btn-cat btn-sec">
                            <a class="category" ui-sref="licenciaturas({carrera:'derecho-titulacion'})" title="Derecho">
                                <div class="icon icon-derecho">
                                </div>
                                <p>Derecho</p>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 btn-cat btn-sec">
                            <a class="category" ui-sref="licenciaturas({carrera:'economia-titulacion'})"
                                title="Econom&iacute;a">
                                <div class="icon icon-economia">
                                </div>
                                <p>Economía</p>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 btn-cat btn-sec">
                            <a class="category"
                                ui-sref="licenciaturas({carrera:'planificacion-para-el-desarrollo-agropecuario-titulacion'})"
                                title="Planificaci&oacute;n para el Desarrollo Agropecuario">
                                <div class="icon icon-planificacion-para-el-desarrollo-agropecuario">
                                </div>
                                <p>Planificación para el Desarrollo Agropecuario</p>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 btn-cat btn-sec">
                            <a class="category"
                                ui-sref="licenciaturas({carrera:'relaciones-internacionales-titulacion'})"
                                title="Relaciones Internacionales">
                                <div class="icon icon-relaciones-internacionales">
                                </div>
                                <p>Relaciones Internacionales</p>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 btn-cat btn-sec">
                            <a class="category" ui-sref="licenciaturas({carrera:'sociologia-titulacion'})"
                                title="Sociolog&iacute;a">
                                <div class="icon icon-sociologia">
                                </div>
                                <p>Sociología</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center botones sub">
                <div class="col-12 col-lg-11 pt-3">
                    <h2>Humanidades y Artes </h2>
                    <hr>
                    <div class="row justify-content-star">
                        <div class="col-12 col-md-4 btn-cat btn-sec">
                            <a class="category" ui-sref="licenciaturas({carrera:'arquitectura-titulacion'})"
                                title="Arquitectura">
                                <div class="icon icon-arquitectura">
                                </div>
                                <p>Arquitectura</p>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 btn-cat btn-sec">
                            <a class="category" ui-sref="licenciaturas({carrera:'diseno-industrial-titulacion'})"
                                title="Dise&ntilde;o Industrial">
                                <div class="icon icon-diseno-industrial">
                                </div>
                                <p>Diseño Industrial</p>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 btn-cat btn-sec">
                            <a class="category" ui-sref="licenciaturas({carrera:'pedagogia-titulacion'})"
                                title="Pedagog&iacute;a">
                                <div class="icon icon-pedagogia">
                                </div>
                                <p>Pedagogía</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center botones sub">
                <div class="col-12 col-lg-11 pt-3 pb-4">
                    <h2>División de Universidad Abierta, Continua y a Distancia (DUACyD)</h2>
                    <hr>
                    <div class="row justify-content-star">
                        <div class="col-12 col-md-4 btn-cat btn-sec">
                            <a class="category" ui-sref="licenciaturas({carrera:'suayed-derecho-titulacion'})"
                                title="Derecho">
                                <div class="icon icon-derecho-suayed">
                                </div>
                                <p>Derecho SUAyED</p>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 btn-cat btn-sec">
                            <a class="category" ui-sref="licenciaturas({carrera:'suayed-economia-titulacion'})"
                                title="Econom&iacute;a">
                                <div class="icon icon-economia-suayed">
                                </div>
                                <p>Economía SUAyED</p>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 btn-cat btn-sec">
                            <a class="category"
                                ui-sref="licenciaturas({carrera:'suayed-relaciones-internacionales-titulacion'})"
                                title="Relaciones Internacionales">
                                <div class="icon icon-relaciones-internacionales-suayed">
                                </div>
                                <p>Relaciones Internacionales SUAyED</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12 col-lg-3 seccion-informacion">
            <strong>Responsable</strong>
            <p>Mar&iacute;a Teresa Luna S&aacute;nchez </p>
            <img class="d-flex justify-content-center rounded-circle img-responsable"
                src="public_html/img/cise/servicios-escolares/maria-teresa-luna-sanchez.jpg"
                alt="Mar&iacute;a Teresa Luna S&aacute;nchez" />
            <strong> Horario </strong>
            <ul class="text-left">
                <li>Atenci&oacute;n en el Centro Integral de Servicios Estudiantiles: de lunes a viernes 9:30 a 13:30 h
                    y de 16:00 a 20:00 h</li>
                <li>V&iacute;a telef&oacute;nica y por correo electr&oacute;nico se proporciona informaci&oacute;n:
                    lunes a viernes 9:00 a 20:00 h</li>
            </ul>
            <strong> Tel&eacute;fono(s)</strong>
            <p style="margin-bottom: 0px;">55 5623 0222</p>
            <p>Ext. 31005</p>
            <strong> Correo electr&oacute;nico</strong>
            <p class="fs-12"><a class="link-a" href="mailto:serviciosescolares@aragon.unam.mx"
                    title="correo-electronico">serviciosescolares@aragon.unam.mx</a></p>
            <p><strong>¡&Uacute;nete a nuestro Facebook!</strong></p>
            <a target="_blank" href="https://www.facebook.com/FESAragon.CISE/?fref=mentions"
                class="icon-facebook-official facebook-becas" title="Facebook"> </a>
        </div>
    </div>
</div>