<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <i class="icono-secciones icon-cise"></i> <h1>Cise Tr&aacute;mites</h1>
        </div>
    </div>
    <hr>
    <div class="row portafolio">
        <div class="row galeria justify-content-center">
            <div class="contenedor-imagen col-12 col-lg-8 br-15">
                <a href="http://132.248.44.97/serviciosocial" target="_blank" title="Plataforma Servicio Social FES Aragón">
                    <img src="public_html/img/cise/tramites/plataforma-servicio-social.jpg" class="br-15 img-fluid image" alt="Incsripciones"/>
                </a>
            </div>
        </div>
        <div class="row galeria justify-content-center">
            <div class="contenedor-imagen col-5 col-lg-2 br-15">
                <a href="http://aragon.dgae.unam.mx/" target="_blank" title="Inscripciones">
                    <img src="public_html/img/cise/tramites/img-2.jpg" class="br-15 img-fluid image" alt="Incsripciones"/>
                </a>
            </div>
            <div class="contenedor-imagen col-5 col-lg-2 br-15">
                <a href="https://www.aragon.unam.mx/horarios/horarios/horarios/" target="_blank" title="Horarios">
                    <img src="public_html/img/cise/tramites/img-3.jpg" class="br-15 img-fluid image" alt="Horarios"/>
                </a>
            </div>
            <div class="contenedor-imagen col-5 col-lg-2 br-15">
                <a href="public_html/img/calendarios/calendario_2022-II.jpg" target="_blank" title="Calendario escolar">
                    <img src="public_html/img/calendarios/calendario-semestre.png" class="br-15 img-fluid imagen" alt="Calendario Escolar"/>
                </a>
            </div>
            <div class="contenedor-imagen col-5 col-lg-2 br-15">
                <a href="https://www.dgae-siae.unam.mx/www_gate.php" target="_blank" title="Acceso SIAE">
                    <img src="public_html/img/cise/tramites/img-1.jpg" class="br-15 img-fluid image" alt="Acceso SIAE"/>
                </a>
            </div>
        </div>
    </div>
</div>

