
<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <i class="icono-secciones icon-tutorias" style="position: relative;top: 9px;"></i><h1 class="mw-50">Tutor&iacute;as</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-lg-9">
            <p>El Programa Institucional de Tutor&iacute;as (PIT) se encuentra a cargo de la Divisi&oacute;n de Humanidades y Artes, quien coordina y dirige el debido seguimiento y registro de la acci&oacute;n tutorial.</p>
            <p>Dentro de los prop&oacute;sitos del PIT se encuentran:</p>
            <ul>
                <li>Contribuir al desarrollo acad&eacute;mico, a la superaci&oacute;n personal y profesional de la comunidad estudiantil;</li>
                <li>Favorecer el proceso de integraci&oacute;n de estudiantes en el quehacer universitario;</li>
                <li>Apoyar a la comunidad estudiantil en la detecci&oacute;n de problemas que se le presentan durante el proceso de ense&ntilde;anza-aprendizaje, analizando las posibles soluciones;</li>
                <li>Contribuir a la eficiencia terminal de estudiantes.</li>
            </ul>
            <p>El PIT cuenta con estrategias para atender a la poblaci&oacute;n desde el primer ingreso, hasta los &uacute;ltimos semestres de las carreras que se imparten en la Facultad, focalizando la atenci&oacute;n a estudiantes del primer semestre con la finalidad de brindarles el apoyo en los ejes de desarrollo acad&eacute;mico, desarrollo personal y desarrollo profesional, con miras a favorecer su permanencia en la instituci&oacute;n.</p>
             <hr>
             <h2>&iquest;C&oacute;mo se realiza la tutor&iacute;a?</h2>
            <ol>
                <li>Durante el periodo intersemestral los Enlaces Acad&eacute;micos del PIT, realizan el Plan de Trabajo del Tutorado, el cual tiene el objetivo de apoyar a tutores grupales, sugiriendo una serie de actividades a realizar a lo largo del semestre y pueden ser modificadas a consideraci&oacute;n dependiendo de las necesidades de la comunidad estudiantil;</li>
                <li>Las tutor&iacute;as se desarrollan desde tres dimensiones:
                    <ol type="a">
                        <li>Informaci&oacute;n: Se realiza durante los primeros semestres (primero y segundo) y est&aacute; enfocada a fortalecer la identidad universitaria de estudiantes.</li>
                        <li>Formaci&oacute;n: Se realiza de cuarto a sexto semestre y fortalece la formaci&oacute;n acad&eacute;mica.</li>
                        <li>Orientaci&oacute;n: Se realiza de s&eacute;ptimo a d&eacute;cimo semestre (seg&uacute;n el plan de estudios de la carrera) y permite orientar a la comunidad estudiantil para la realizaci&oacute;n de tr&aacute;mites que beneficien la culminaci&oacute;n de su egreso y titulaci&oacute;n de manera satisfactoria.</li>
                    </ol>
                </li>
                <li>De manera diferenciada y en funci&oacute;n de cada momento de su trayectoria acad&eacute;mica, la comunidad estudiantil tiene derecho y oportunidad de recibir la tutor&iacute;a sin necesidad de registrarse de manera individual ni realizar tr&aacute;mite alguno.</li>
                <li>Seguimiento de actividades: Tutores firman el formato de seguimiento para dar fe de las actividades que han trabajado en las sesiones con estudiantes. Asimismo, al finalizar el semestre, estudiantes entregan un reporte de actividades al Programa Institucional de Tutor&iacute;as y llenan de forma electr&oacute;nica en el Sistema de Seguimiento de la Tutor&iacute;a (SISeT) dichas actividades. Al final del semestre el Sistema generan su constancia como tutorados.</li>
            </ol>
            

               <hr>
                <h2>Descargables</h2>  
                <a class="boton-registro btn btn-secondary btn-sm boton-header" href="public_html/documents/cise/formato-seguimiento-tutorias.pdf" target="_blank" title="Seguimiento de tutor&iacute;as">Seguimiento de Tutor&iacute;as</a>
                <!--
                <a class="boton-registro btn btn-secondary btn-sm boton-header" href="public_html/documents/cise/registro-ingenierias.pdf" target="_blank" title="Registro de tutorados">Registro de Tutorados de Ingenier&iacute;as</a>

                <a class="boton-registro btn btn-secondary btn-sm boton-header" href="public_html/documents/cise/registro-tutorados-humanidades.pdf" target="_blank" title="Registro de tutorados">Registro de Tutorados de Humanidades y Artes</a>
                <a class="boton-registro btn btn-secondary btn-sm boton-header" href="public_html/documents/cise/actividades-tutor.pdf" target="_blank" title="Actividades de tutor">Actividades de Tutor</a>

                <a class="boton-registro btn btn-secondary btn-sm boton-header" href="public_html/documents/cise/asistencia-ingenierias.pdf" target="_blank" title="Asistencia de Ingenier&iacute;as">Asistencia de Ingenier&iacute;as</a>
                <a class="boton-registro btn btn-secondary btn-sm boton-header" href="public_html/documents/cise/asistencia-sociales.pdf" target="_blank" title="Asistencia de Sociales">Asistencia de Sociales</a>
            	
                <a class="boton-registro btn btn-secondary btn-sm boton-header" href="public_html/documents/cise/asistencia-tutorados-humanidades.pdf" target="_blank" title="Asistencia de Sociales">Asistencia de Humanidades y Artes</a>
                -->
             
                <hr>
            <h2>Preguntas frecuentes</h2>
            <div class="card">
                <div class="card-header cursor-pointer" ng-click="showing==='1'?showing=0:showing='1'">
                    <p><strong>&iquest;Qu&eacute; es la tutor&iacute;a?</strong></p>
                </div>
                <div class="card-body" ng-show='showing==="1"'>
                    <p>Es un proceso de acompa&ntilde;amiento integral de tutores hacia estudiantes, que permite el desarrollo profesional y humano, fortaleciendo habilidades con el objetivo de evitar el abandono escolar, el rezago y la deserci&oacute;n escolar, mediante pl&aacute;ticas y actividades que se realizan dentro del grupo, en donde se aclaran dudas de un tema en espec&iacute;fico o bien dando seguimiento a las necesidades detectadas.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header cursor-pointer" ng-click="showing==='2'?showing=0:showing='2'">
                    <p><strong>&iquest;D&oacute;nde se encuentra fundamentada la tutor&iacute;a?</strong></p>
                </div>
                <div class="card-body" ng-show='showing==="2"'>
                    <p>En los puntos 3 y 3.5 del Plan de Desarrollo Institucional de la UNAM 2015-2019 del Dr.  Enrique Luis Graue Wiechers, Rector de la UNAM, y en el Plan de Desarrollo Institucional 2016-2020 del Mtro. en Ingenier&iacute;a Fernando Macedo Chagolla, Director de la FES Arag&oacute;n, eje 1.2 Gesti&oacute;n e Impartici&oacute;n de la Docencia en Licenciatura y Posgrado, punto 10.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header cursor-pointer" ng-click="showing==='3'?showing=0:showing='3'">
                    <p><strong>&iquest;Qui&eacute;nes tienen derecho a la tutor&iacute;a?</strong></p>
                </div>
                <div class="card-body" ng-show='showing==="3"'>
                    <p>Estudiantes de la FES Arag&oacute;n tienen derecho a la tutor&iacute;a sin excepci&oacute;n alguna.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header cursor-pointer" ng-click="showing==='4'?showing=0:showing='4'">
                    <p><strong>&iquest;Tengo derecho de contar con un tutor o tutora desde el inicio de la carrera hasta el &uacute;ltimo semestre?</strong></p>
                </div>
                <div class="card-body" ng-show='showing==="4"'>
                    <p>S&iacute;, tienes derecho a contar con un tutor/tutora grupal o bien un tutor/tutora individual.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header cursor-pointer" ng-click="showing==='5'?showing=0:showing='5'">
                    <p><strong>&iquest;Qu&eacute; puedo hacer si no tengo tutor asignado y requiero de tutor&iacute;as?
                        </strong></p>
                </div>
                <div class="card-body" ng-show='showing==="5"'>
                    <p>Acercarte al Programa Institucional de Tutor&iacute;as (PIT).  Los enlaces acad&eacute;micos te dar&aacute;n indicaciones sobre qui&eacute;n te corresponde de acuerdo con tu carrera y grupo.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header cursor-pointer" ng-click="showing==='6'?showing=0:showing='6'">
                    <p><strong>&iquest;Qu&eacute; derechos tengo como tutorado?</strong></p>
                </div>
                <div class="card-body" ng-show='showing==="6"'>
                    <p>Tienes derecho a recibir la tutor&iacute;a, en los horarios de com&uacute;n acuerdo con el grupo, o bien, de acuerdo con la planeaci&oacute;n recomendada por los enlaces del &aacute;rea del PIT.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header cursor-pointer" ng-click="showing==='7'?showing=0:showing='7'">
                    <p><strong> &iquest;Cu&aacute;les son mis responsabilidades como estudiante?</strong></p>
                </div>
                <div class="card-body" ng-show='showing==="7"'>
                    <p>Estar presente en las tutor&iacute;as grupales y/o individuales y entregar en tiempo y forma el formato de seguimiento de tutor&iacute;as.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header cursor-pointer" ng-click="showing==='8'?showing=0:showing='8'">
                    <p><strong>&iquest;Cu&aacute;l es la duraci&oacute;n de la tutor&iacute;a?
                        </strong></p>
                </div>
                <div class="card-body" ng-show='showing==="8"'>
                    <p>La tutor&iacute;a se imparte una vez al mes, con una duraci&oacute;n de una hora o bien dos tutor&iacute;as de media hora por mes, de acuerdo con las necesidades del grupo.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header cursor-pointer" ng-click="showing==='9'?showing=0:showing='9'">
                    <p><strong>&iquest;Qu&eacute; pasa si el tutorado que se asigna al tutor/tutora no est&aacute; dentro de su carga horaria y se le complica tomar tutor&iacute;as dentro del grupo que no le corresponde?
                        </strong></p>
                </div>
                <div class="card-body" ng-show='showing==="9"'>
                    <p>Puedes hacer un cambio de Tutorado y realizar el tr&aacute;mite en las oficinas del PIT.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header cursor-pointer" ng-click="showing==='10'?showing=0:showing='10'">
                    <p><strong>&iquest;Es importante hacer de conocimiento al PIT sobre la decisi&oacute;n de cambiar la condici&oacute;n de tutorado de grupo por un tutorado individual?</strong></p>
                </div>
                <div class="card-body" ng-show='showing==="10"'>
                    <p>S&iacute; es importante, ya que esa informaci&oacute;n se registra en la base de datos, para que posteriormente, a solicitud del tutorado individual, se le genere una constancia.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header cursor-pointer" ng-click="showing==='11'?showing=0:showing='11'">
                    <p><strong>&iquest;Cu&aacute;ndo debo entregar el Formato de seguimiento de tutor&iacute;as?</strong></p>
                </div>
                <div class="card-body" ng-show='showing==="11"'>
                    <p>El seguimiento se realiza mensualmente en el PIT y debes entregarlo en el Centro Integral de Servicios Estudiantiles (CISE) para su registro de forma obligatoria en las fechas que marca el formato.</p>
                </div>
            </div>
            <hr>
            <h2>Enlaces de inter&eacute;s</h2>
            <ul class="list-group texto-tabla">
                <li class="list-group-item active">Para tutores</li>
                <li class="list-group-item"><a target="_blank" href="http://www.tutoria.unam.mx/" title="Sistema Institucional de Tutor&iacute;a">Sistema Institucional de Tutor&iacute;a</a></li>
                <li class="list-group-item"><a target="_blank" href="http://tutoria.cuaed.unam.mx/" title="Curso de Inducci&oacute;n">Curso de Inducci&oacute;n</a></li>
                <li class="list-group-item"><a target="_blank" href="http://tutoria.unam.mx/siset/" title="Seguimiento de Tutor&iacute;a">Seguimiento de Tutor&iacute;a</a></li>
                <li class="list-group-item"><a target="_blank" href="https://www.saber.unam.mx:6061/saber/faces/home/home.jsp" title="Proyecto SABER UNAM">Proyecto SABER UNAM</a></li>
                <li class="list-group-item active">Para tutorados</li>
                <li class="list-group-item"><a target="_blank" href="https://www.saber.unam.mx:6061/saber/faces/home/home.jsp" title="Proyecto SABER UNAM">Proyecto SABER UNAM</a></li>
            </ul>
        </div>
        <div class="col-12 col-lg-3 seccion-informacion">
            <strong>Coordinador del PIT</strong>
            <p>Miguel &Aacute;ngel del R&iacute;o del Valle</p>
            <img class="d-flex justify-content-center rounded-circle img-responsable" src="public_html/img/oferta_academica/pedagogia/miguel-angel-del-Riodel-valle.jpg" alt="Miguel &Aacute;ngel del R&iacute;o del Valle"/>
            <strong>  Horario </strong>
            <p>De lunes a viernes de 10:00 a 15:00 h y de 17:00 a 20:00 h</p>
            <!--<strong> Tel&eacute;fono(s)</strong>
            <p style="margin-bottom: 0px;">55 5623 0222</p> <p></p>-->
            <strong> Correo electrónico</strong>
            <p class="fs-12"><a class="link-a" href="mailto:tutorias@aragon.unam.mx" title="correo-electronico">tutorias@aragon.unam.mx</a></p>
        </div>
    </div>
</div>