<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <i class="icono-secciones icon-posgrados"></i><h1>Posgrado</h1>
        </div>
    </div>
    <hr>
    <div class="row portafolio">
        <div class="col-12 col-lg-9">
            <p>La División de Estudios de Posgrado e Investigación tiene como finalidad ampliar el campo de especialización de la comunidad profesional de distintas áreas del conocimiento a través de sus programas de especialidad, maestrías y doctorados, los cuales fomentan la excelencia académica y permiten formar profesionales comprometidos con las exigencias y demandas de la sociedad.</p>
            <div class="row galeria justify-content-center">
                <div class="row galeria justify-content-center">
                    <div class="contenedor-imagen col-12 col-lg-9" style="padding-bottom: 15px;">
                        <a ui-sref="convocatorias_de_posgrado"  target="_blank" title="Convocatorias de Posgrado">
                            <img src="public_html/img/slider_principal/posgrados.png" class="br-15 img-fluid image" alt="Convocatorias de Posgrado"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="sub" >
                    <h2>Especialización</h2>
                    <hr>
                    <div class="row botones">
                        <div class="col-12 col-md-4 btn-cat btn-sec">
                            <a class="category" ui-sref="maestria_especializacion({carrera:'especializacion-en-derecho'})" title="Derecho">
                                <div class="icon icon-posgrado-derecho">
                                </div>
                                <p>Derecho</p>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 btn-cat btn-sec">
                            <a class="category" ui-sref="maestria_especializacion({carrera:'especializacion-en-puentes'})" title="Puentes">
                                <div class="icon icon-especializacion-en-puentes">
                                </div>
                                <p>Puentes</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="sub pt-3 pb-3">
                    <h2>Maestría</h2>
                    <hr>
                    <div class="row botones">
                        <div class="col-12 col-md-4 btn-cat btn-sec">
                            <a class="category" ui-sref="maestria_especializacion({carrera:'maestria-en-arquitectura'})" title="Arquitectura">
                                <div class="icon icon-posgrado-arquitectura">
                                </div>
                                <p>Arquitectura</p>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 btn-cat btn-sec">
                            <a class="category" ui-sref="maestria_especializacion({carrera:'maestria-en-derecho'})" title="Derecho">
                                <div class="icon icon-posgrado-derecho">
                                </div>
                                <p>Derecho</p>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 btn-cat btn-sec">
                            <a class="category" ui-sref="maestria_especializacion({carrera:'maestria-en-estudios-politicos-y-sociales'})" title="Estudios políticos y sociales">
                                <div class="icon icon-posgrados">
                                </div>
                                <p>Estudios políticos y sociales</p>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 btn-cat btn-sec">
                            <a class="category" ui-sref="maestria_especializacion({carrera:'maestria-en-economia'})" title="Econom&iacute;a">
                                <div class="icon icon-posgrado-economia">
                                </div>
                                <p>Economía</p>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 btn-cat btn-sec">
                            <a class="category" ui-sref="maestria_especializacion({carrera:'maestria-en-ingenieria'})" title="Ingenier&iacute;a">
                                <div class="icon icon-posgrado-ingenieria">
                                </div>
                                <p>Ingeniería</p>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 btn-cat btn-sec">
                            <a class="category" ui-sref="maestria_especializacion({carrera:'maestria-en-pedagogia'})" title="Pedagog&iacute;a">
                                <div class="icon icon-posgrado-pedagogia">
                                </div>
                                <p>Pedagogía</p>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 btn-cat btn-sec">
                            <a class="category" ui-sref="maestria_especializacion({carrera:'maestria-en-politica-criminal'})" title="Pol&iacute;tica Criminal">
                                <div class="icon icon-posgrado-politica-criminal">
                                </div>
                                <p>Política Criminal</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="sub">
                    <h2>Doctorado</h2>
                    <hr>
                    <div class="row botones">
                        <div class="col-12 col-md-4 btn-cat btn-sec">
                            <a class="category" ui-sref="doctorados({carrera:'doctorado-en-arquitectura'})" title="Arquitectura">
                                <div class="icon icon-posgrado-arquitectura">
                                </div>
                                <p>Arquitectura</p>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 btn-cat btn-sec">
                            <a class="category" ui-sref="doctorados({carrera:'doctorado-en-derecho'})" title="Derecho">
                                <div class="icon icon-posgrado-derecho">
                                </div>
                                <p>Derecho</p>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 btn-cat btn-sec">
                            <a class="category" ui-sref="doctorados({carrera:'doctorado-en-economia'})" title="Econom&iacute;a">
                                <div class="icon icon-posgrado-economia">
                                </div>
                                <p>Economía</p>
                            </a>
                        </div>
                        <div class="col-12 col-md-4 btn-cat btn-sec">
                            <a class="category" ui-sref="doctorados({carrera:'doctorado-en-pedagogia'})" title="Pedagog&iacute;a">
                                <div class="icon icon-posgrado-pedagogia">
                                </div>
                                <p>Pedagogía</p>
                            </a>
                        </div>
                    </div>
                </div>   
        </div>
        <div class="col-12 col-lg-3 seccion-informacion portafolio">
            <strong>Responsable</strong>
            <p class="texto-pleca nombre-responsable">Mar&iacute;a Elena Jim&eacute;nez Zald&iacute;var</p>
            <img class="d-flex justify-content-center rounded-circle img-responsable" alt="Mar&iacute;a Elena Jim&eacute;nez Zald&iacute;var" src="public_html/img/oferta_academica/posgrado/maria-elena-jimenez zaldivar.jpg" />
            <strong> Horario </strong>
            <p>De lunes a viernes de 09:00 a 15:00 y de 17:00 a 21:00 h</p>
            <strong>Tel&eacute;fono(s)</strong>
            <p style="margin-bottom: 0px;">55 5623 0222</p> <p>Ext. 31022</p>
            <strong> Correo electr&oacute;nico</strong>
            <p class="fs-12"><a class="link-a" href="mailto:posgrado@aragon.unam.mx" title="correo-electronico">posgrado@aragon.unam.mx</a></p>
            <div class="galeria">
                <a class="contenedor-imagen" target="_blank" href="#!/seccion/posgrado">
                    <img class="justify-content-center img-fluid " alt="Noticias" src="public_html/img/noticias/seccion-de-noticias.png"></a>
            </div>
            <hr>
            <strong>Secretar&iacute;a Acad&eacute;mica del Posgrado</strong>
            <br>
            <p class="m-0">Mar&iacute;a Teresa Rivas P&eacute;rez</p>
            <p class="fs-12"><a class="link-a" href="mailto:sa.posgrado@aragon.unam.mx" title="correo-electronico">sa.posgrado@aragon.unam.mx</a></p>
            <strong>Servicios Escolares del Posgrado</strong>
            <br>
            <p class="m-0">Saira Ivet Hern&aacute;ndez Mart&iacute;nez</p>
            <p class="fs-12"><a class="link-a" href="mailto:pp.serviciosescolares@aragon.unam.mx" title="correo-electronico">pp.serviciosescolares@aragon.unam.mx</a></p>
            <strong>Delegaci&oacute;n Administrativa</strong>
            <br>
            <p class="m-0">Valent&iacute;n Villarreal Ramos</p>
            <p class="fs-12"><a class="link-a" href="mailto:pp.administrativa@aragon.unam.mx" title="correo-electronico">pp.administrativa@aragon.unam.mx</a></p>
        </div>
    </div>
</div>  <!-- fin Educaci&oacute;n Continua -->