<div class="container fes-content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <i class="icono-secciones" ng-class="carrera.icono"></i>  <h1 ng-bind-html="carrera.titulo"></h1>
        </div>
    </div>
    <hr>
</div>
<div class="row mt-3">
    <div class="col-sm-12 col-md-3 col-lg-3 menu-carreras">
        <ul class="side-menu list-group text-left">
            <li class="list-group-item list-group-item-action" ng-class="showing === '0' ? 'active' : ''" ng-click="showing = '0'">Inicio</li>
            <li class="list-group-item list-group-item-action" ng-class="showing === '1' ? 'active' : ''" ng-click="showing = '1'">Proceso de aplicaci&oacute;n</li>
            <li class="list-group-item list-group-item-action" ng-class="showing === '2' ? 'active' : ''" ng-click="showing = '2'">Perfil de ingreso</li>
            <li class="list-group-item list-group-item-action" ng-class="showing === '3' ? 'active' : ''" ng-click="showing = '3'">Perfil intermedio</li>
            <li class="list-group-item list-group-item-action" ng-class="showing === '4' ? 'active' : ''" ng-click="showing = '4'">Perfil de egreso</li>
            <li class="list-group-item list-group-item-action" ng-class="showing === '5' ? 'active' : ''" ng-click="showing = '5'">Campos del conocimiento</li>
            <li class="list-group-item list-group-item-action" ng-show='carrera.plan_estudios !== ""'><a ng-href="public_html/documents/oferta_academica/doctorados/{{carrera.plan_estudios}}" target="_blank" title="Mapa curricular">Plan de estudios</a></li>
            <li class="list-group-item list-group-item-action" ng-show='carrera.estructura !== ""'><a ng-href="public_html/documents/oferta_academica/doctorados/{{carrera.estructura}}" target="_blank" title="Mapa curricular">Estructura plan de estudios</a></li>
            <li class="list-group-item list-group-item-action" ng-class="showing === '7' ? 'active' : ''" ng-click="showing = '7'">Requisitos de graduaci&oacute;n</li>
            <li class="list-group-item list-group-item-action" ng-class="showing === '8' ? 'active' : ''" ng-click="showing = '8'">Contacto</li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-9 col-lg-9">
        <div class="content">
            <div ng-show="showing === '0'">
                <h2>Objetivo general del plan de estudios del programa</h2>
                <div ng-bind-html="carrera.bienvenida"></div>
            </div>
            <div  ng-show="showing === '1'">
                <h2>Proceso de aplicaci&oacute;n</h2>
                <div ng-bind-html="carrera.proceso_aplicacion"></div>
            </div>
            <div ng-show="showing === '2'">
                <h2>Perfil de ingreso</h2>
                <div ng-bind-html="carrera.perfil_ingreso"></div>
            </div>
            <div ng-show="showing === '3'">
                <h2>Perfil intermedio</h2>
                <div ng-bind-html="carrera.perfil_intermedio"></div>
            </div>
            <div ng-show="showing === '4'">
                <h2>Perfil de egreso</h2>
                <div ng-bind-html="carrera.perfil_egreso"></div>
            </div>
            <div ng-show="showing === '5'">
                <h2>Campos del conocimiento</h2>
                <div ng-bind-html="carrera.campos_conocimiento"></div>
            </div>
            <div ng-show="showing === '7'">
                <h2>Requisitos de graduaci&oacute;n </h2>
                <div ng-bind-html="carrera.graduacion"></div>
            </div>
            <div ng-show="showing === '8'">
                <h2>Contacto</h2>
                <div class="row pleca">
                    <div class="col-12 col-lg-4 text-left encargados-licenciaturas" ng-show="carrera.contacto.foto_jefe_academico !== ''">
                        <h3 class="fs-13" ng-show="carrera.contacto.genero_jefe_academico == '0'">Jefe acad&eacute;mico</h3>
                        <h3 class="fs-13" ng-show="carrera.contacto.genero_jefe_academico == '1'">Jefa acad&eacute;mica</h3>
                        <div class="fs-13" ng-bind-html="carrera.contacto.jefe_academico"></div>
                        <img class="justify-content-center rounded-circle img-responsable" ng-src="{{carrera.contacto.foto_jefe_academico}}" alt="Jefe academico"/>
                    </div>
                    <div class="contacto col-12 col-lg-8">
                        <h3> Horario </h3>
                        <p>{{carrera.contacto.horario}}</p>
                        <h3> Tel&eacute;fono(s)</h3>
                        <p class="m-0">{{carrera.contacto.telefonos}}</p>
                        <p>{{carrera.contacto.extension}}</p>
                        <h3> Correo electr&oacute;nico</h3>
                        <p>{{carrera.contacto.correo_electronico}}</p>
                        <p class="m-0"><strong>¡&Uacute;nete a nuestro Facebook!</strong></p>
                        <a target="_blank" ng-href="https://www.facebook.com/FESAragon.posgrado/ " title="facebook"><i class="icon-facebook-official facebook-becas"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
