<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <i class="icono-secciones icon-ciencias-sociales" style="position: relative;top: 7px;"></i><h1>Ciencias Sociales</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-lg-9">
            <p>La Divisi&oacute;n de Ciencias Sociales coordina las labores acad&eacute;micas de las licenciaturas de Comunicaci&oacute;n y Periodismo, Derecho, Econom&iacute;a,  Planificaci&oacute;n para el Desarrollo Agropecuario, Relaciones Internacionales y Sociolog&iacute;a, buscando la mejora acad&eacute;mica por medio de la actualizaci&oacute;n de los planes y programas de estudio, apoyando a la docencia, la investigaci&oacute;n, la extensi&oacute;n universitaria y la vinculaci&oacute;n institucional.</p>        
            <p>Dentro de sus funciones se encuentra:</p>        
            <ul>
                <li>coordinar, supervisar e integrar las acciones que lleven a cabo las &aacute;reas que forman parte de la Divisi&oacute;n en lo que concierne a la formaci&oacute;n, capacitaci&oacute;n y actualizaci&oacute;n del personal docente;</li>
                <li>supervisar la informaci&oacute;n sobre el control acad&eacute;mico de la comunidad estudiantil;</li>
                <li>supervisar y coordinar la actualizaci&oacute;n o modificaci&oacute;n de planes de estudio, al igual que presentarlas al Consejo T&eacute;cnico para ser aprobadas;</li>
                <li>supervisar los eventos acad&eacute;micos programados en coordinaci&oacute;n con otras instancias;</li>
                <li>supervisar los procesos de acreditaci&oacute;n de las carreras de la Divisi&oacute;n;</li>
                <li>supervisar y coordinar el Programa Estrat&eacute;gico del Plan de Desarrollo que le corresponde;</li>
                <li>supervisar el mantenimiento y las actividades acad&eacute;micas que se llevan a cabo en los laboratorios, as&iacute; como atender los requerimientos para su certificaci&oacute;n.</li>
            </ul> 
            <!--
                <h2 class="text-left">Convocatorias</h2>
            <hr>
            <div class="col-12 col-lg-9 owl-carousel owl-theme ml-a mr-a" style="z-index: 0;margin-top: 8px;margin-bottom: 25px;"">
                        <div class="item conte-img carousel-portal-docente">
                            <a href="public_html/documents/oferta_academica/ciencias-sociales/convocatoria-aramun.pdf" target="_blank" title="Convocatoria ARAMUN">
                                <img src="public_html/img/oferta_academica/licenciaturas/ciencias_sociales/convocatorias/aramun.jpg" class="img-fluid image" alt="Convocatoria ARAMUN"/>
                                <div class="overlay bg-blue br-15">
                                    <div class="text">Convocatoria ARAMUN</div>
                                </div>
                            </a>
                        </div>
                        <div class="item conte-img carousel-portal-docente">
                            <a href="public_html/documents/oferta_academica/ciencias-sociales/convocatoria-demos.pdf" target="_blank" title="Convocatoria DEMOS">
                                <img src="public_html/img/oferta_academica/licenciaturas/ciencias_sociales/convocatorias/demos.jpg" class="img-fluid image" alt="Convocatoria DEMOS"/>
                                <div class="overlay bg-blue br-15">
                                    <div class="text">Convocatoria DEMOS</div>
                                </div>
                            </a>
                        </div>
                        <div class="item conte-img carousel-portal-docente">
                            <a href="public_html/documents/oferta_academica/ciencias-sociales/convocatoria-tandem.pdf" target="_blank" title="Convocatoria TANDEM">
                                <img src="public_html/img/oferta_academica/licenciaturas/ciencias_sociales/convocatorias/tandem.jpg" class="img-fluid image" alt="Convocatoria TANDEM"/>
                                <div class="overlay bg-blue br-15">
                                    <div class="text">Convocatoria TANDEM</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    -->
            
            
            <h2 class="text-left">Licenciaturas</h2>
    <hr>    
    <div class="row botones">
            <div class="col-12 col-md-4 btn-cat btn-sec">
                <a class="category" ui-sref="licenciaturas({carrera:'comunicacion-y-periodismo'})" title="Comunicaci&oacute;n y Periodismo">
                    <div class="icon icon-comunicacion-y-peridismo">
                    </div>
                    <p>Comunicaci&oacute;n y Periodismo</p>
                </a>
            </div>
            <div class="col-12 col-md-4 btn-cat btn-sec">
                <a class="category" ui-sref="licenciaturas({carrera:'derecho'})" title="Derecho">
                    <div class="icon icon-derecho">
                    </div>
                    <p>Derecho</p>
                </a>
            </div>
            <div class="col-12 col-md-4 btn-cat btn-sec">
                <a class="category" ui-sref="licenciaturas({carrera:'economia'})" title="Econom&iacute;a">
                    <div class="icon icon-economia">
                    </div>
                    <p>Econom&iacute;a</p>
                </a>
            </div>
            <div class="col-12 col-md-4 btn-cat btn-sec">
                <a class="category" ui-sref="licenciaturas({carrera:'planificacion-para-el-desarrollo-agropecuario'})" title="Planificaci&oacute;n para el Desarrollo Agropecuario">
                    <div class="icon icon-planificacion-para-el-desarrollo-agropecuario">
                    </div>
                    <p>Planificaci&oacute;n para el Desarrollo Agropecuario</p>
                </a>
            </div>
            <div class="col-12 col-md-4 btn-cat btn-sec">
                <a class="category" ui-sref="licenciaturas({carrera:'relaciones-internacionales'})" title="Relaciones Internacionales">
                    <div class="icon icon-relaciones-internacionales">
                    </div>
                    <p>Relaciones Internacionales</p>
                </a>
            </div>
            <div class="col-12 col-md-4 btn-cat btn-sec">
                <a class="category" ui-sref="licenciaturas({carrera:'sociologia'})" title="Sociolog&iacute;a">
                    <div class="icon icon-sociologia">
                    </div>
                    <p>Sociolog&iacute;a</p>
                </a>
            </div>
        </div>
            
 </div>
        <br>
         <div class="col-12 col-lg-3 seccion-informacion portafolio">
            <strong>Responsable</strong>
            <p>Julio C&eacute;sar Ponce Quitzam&aacute;n</p>
            <img class="justify-content-center rounded-circle img-responsable" alt="Julio C&eacute;sar Ponce Quitzam&aacute;n" src="public_html/img/oferta_academica/derecho/julio-cesar-ponce-quitzaman.jpg" />
            <br/>
            <strong> Horario </strong>
            <p>De lunes a viernes de 9:00 a 20:00 h</p>
            <strong> Tel&eacute;fono(s)</strong>
            <p style="margin-bottom: 0px;">55 5623 0222</p> <p>Ext. 30810</p>
            <strong> Correo electr&oacute;nico</strong>
            <p class="fs-12"><a class="link-a" href="mailto:sociales@aragon.unam.mx" title="correo-electronico">sociales@aragon.unam.mx</a></p>
            <strong> Secci&oacute;n Acad&eacute;mica</strong>
            <p class="m-0">Carlos Eduardo Favela Zavala</p>
            <p class="fs-12"><a class="link-a" href="mailto:sa.sociales@aragon.unam.mx" title="correo-electronico">sa.sociales@aragon.unam.mx</a></p>
            <div class="galeria">
                <a class="contenedor-imagen " target="_blank" href="#!/seccion/ciencias-sociales"><img class="justify-content-center img-fluid " alt="Noticias" src="public_html/img/noticias/seccion-de-noticias.png"></a>
            </div>
        </div>
    </div>
</div>