<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <i class="icono-secciones icon-hya" style="position: relative;top: 7px;"></i><h1>Humanidades y Artes</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-lg-9">
            <p>La Divisi&oacute;n de Humanidades y Artes coordina las labores acad&eacute;micas de las carreras de Arquitectura, Dise&ntilde;o Industrial y Pedagog&iacute;a. Dentro de sus funciones se encuentra:</p>        
            <ul>
                <li>coordinar las actividades de fortalecimiento acad&eacute;mico de las carreras de la Divisi&oacute;n;</li>
                <li>orientar e impulsar la elaboraci&oacute;n de proyectos de adecuaci&oacute;n de planes y programas de estudio, analizando los diferentes aspectos a considerar en un proceso de adecuaci&oacute;n curricular;</li>
                <li>coordinar el Programa Institucional de Tutor&iacute;as de la FES Arag&oacute;n (PIT Arag&oacute;n);</li>
                <li>gestionar y dar seguimiento a las necesidades de los programas educativos y de servicio social de la Divisi&oacute;n;</li>
                <li>presidir la Comisi&oacute;n de Planes y Programas de Estudio de la Divisi&oacute;n;</li>
                <li>er representante ante la Red Nacional de Instituciones de Educaci&oacute;n Superior: Caminos por la Igualdad (RENIES-Igualdad);</li>
                <li>participar y formar parte del Consejo Editorial Arag&oacute;n, del Consejo Asesor de Educaci&oacute;n Continua Arag&oacute;n, del Consejo de Planeaci&oacute;n, del Consejo Asesor del Seminario Universitario Interdisciplinario sobre la Violencia Escolar (SUIVE) y del Consejo Acad&eacute;mico del &Aacute;rea de las Humanidades y las Artes.</li>
            </ul>
                <h2 class="text-lef">Licenciaturas</h2>
    <hr>    
    <div class="row botones">
            <div class="col-12 col-md-4 btn-cat btn-sec">
                <a class="category" ui-sref="licenciaturas({carrera:'arquitectura'})" title="Arquitectura">
                    <div class="icon icon-arquitectura">
                    </div>
                    <p>Arquitectura</p>
                </a>
            </div>
            <div class="col-12 col-md-4 btn-cat btn-sec">
                <a class="category" ui-sref="licenciaturas({carrera:'diseno-industrial'})" title="Dise&ntilde;o Industrial">
                    <div class="icon icon-diseno-industrial">
                    </div>
                    <p>Dise&ntilde;o Industrial</p>
                </a>
            </div>
            <div class="col-12 col-md-4 btn-cat btn-sec">
                <a class="category" ui-sref="licenciaturas({carrera:'pedagogia'})" title="Pedagog&iacute;a">
                    <div class="icon icon-pedagogia">
                    </div>
                    <p>Pedagog&iacute;a</p>
                </a>
            </div>
        </div>
        </div>
        <div class="col-12 col-lg-3 seccion-informacion portafolio">
            <strong>Responsable</strong>
            <p>Miguel &Aacute;ngel del R&iacute;o del Valle</p>
            <img class="justify-content-center rounded-circle img-responsable" alt="Jos&eacute; Paulo Mejorada Mota" src="public_html/img/oferta_academica/pedagogia/miguel-angel-del-Riodel-valle.jpg" />
            <br/>
            <strong> Horario </strong>
            <p>De lunes a viernes de 9:00 a 20:00 h</p>
            <strong> Tel&eacute;fono(s)</strong>
            <p style="margin-bottom: 0px;">55 5623 0222</p> <p>Ext. 30831</p>
            <strong> Correo electr&oacute;nico</strong>
            <p class="fs-12"><a class="link-a" href="mailto:humanidades@aragon.unam.mx" title="correo-electronico">humanidades@aragon.unam.mx</a></p>
            <strong> Secci&oacute;n Acad&eacute;mica</strong>
            <p class="m-0">Eugenio Mendoza Caro</p>
            <p class="fs-12"><a class="link-a" href="mailto:sa.humanidades@aragon.unam.mx" title="correo-electronico">sa.humanidades@aragon.unam.mx</a></p>
            <div class="galeria">
                <a class="contenedor-imagen " target="_blank" href="#!/seccion/humanidades-y-artes"><img class="justify-content-center img-fluid " alt="Noticias" src="public_html/img/noticias/seccion-de-noticias.png"></a>
            </div>
        </div>
    </div>
</div>