<!-- Revisi&oacute;n de Estudios-->
<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
           <i class="icono-secciones"></i> <h1>Primer Ingreso 2019-2</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-lg-12 align-items-center">
            <img src="public_html/img/pagina-en-construccion.jpg" class="img-fluid" alt="P&aacute;gina en construcci&oacute;n"/>
        </div>
    </div>
</div> 
<!-- fin Becas -->


