<style>
   .btn {
    white-space: normal;
    }
    .boton-header {
    margin-top: 0px !important;
}
</style>
<!-- BIBLIOTECA “JES&Uacute;S REYES HEROLES” -->
<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <i class="icono-secciones icon-biblioteca" style="position: relative;top: 9px;"></i> <h1 class="mw-50"> BIBLIOTECA “JES&Uacute;S REYES HEROLES”</h1>
            <a class="float-right boton-registro btn btn-secondary btn-sm boton-header" href="https://forms.gle/aA7TrJNi9p6XG6pM7" target="_blank" title="Registro de acad&eacute;micos, administrativos y pasantes">Registro y vigencia de acad&eacute;micos, administrativos y pasantes</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-lg-9">
            <p>El objetivo de la biblioteca Jes&uacute;s Reyes Heroles es satisfacer las necesidades y demandas de acceso a la informaci&oacute;n e investigaci&oacute;n de la comunidad de la FES Arag&oacute;n, en apoyo directo a los planes, programas de estudio y las tareas acad&eacute;micas de docencia, investigaci&oacute;n y difusi&oacute;n realizadas. </p>
            <p>Adem&aacute;s, tambi&eacute;n nos encargamos de la conservaci&oacute;n, organizaci&oacute;n, disponibilidad, servicio y adquisici&oacute;n del material biblio-hemerogr&aacute;fico impreso y en cualquier otro formato, para complementar el proceso de ense&ntilde;anza-aprendizaje y en correspondencia con las actividades acad&eacute;micas.</p>
            <p>Entre nuestros servicios est&aacute;n el pr&eacute;stamo a domicilio, con una estanter&iacute;a abierta que cuenta con 330 mil ejemplares, pr&eacute;stamo interbibliotecario con 250 instituciones, pr&eacute;stamo de cub&iacute;culos, fotocopias en autoservicio, pr&eacute;stamo de CDs de los libros del acervo general y pr&eacute;stamo de Laptop PC Puma (s&oacute;lo dentro de biblioteca). Nuestro acervo se compone de libros y documentos de consulta referencial, publicaciones peri&oacute;dicas, tesis, mapas y videos.</p>
            
            <div class=" col-12 col-lg-9 owl-carousel owl-theme ml-a mr-a" style="z-index: 0;margin-top: 8px;">
                <!--<div class="item conte-img carousel-portal-docente">
                    <a href="public_html/documents/biblioteca/convocatoria-tabletas.pdf" target="_blank" title="Préstamo de Tabletas 2023-I">
                        <img src="public_html/img/biblioteca/convocatoria-tabletas.png" class="img-fluid image" alt="Préstamo de Tabletas 2023-I"/>
                        <div class="overlay bg-blue br-15">
                            <div class="text">Préstamo de Tabletas 2023-II</div>
                        </div>
                    </a>
                </div>-->
                <div class="item conte-img carousel-portal-docente">
                    <a href="public_html/documents/slider_principal/aviso_biblioteca2.pdf" target="_blank" title="Préstamo de Libros a Domicilio">
                        <img src="public_html/img/biblioteca/prestamo_libros.png" class="img-fluid image" alt="Préstamo de Libros a Domicilio"/>
                        <div class="overlay bg-blue br-15">
                            <div class="text">Préstamo de Libros a Domicilio</div>
                        </div>
                    </a>
                </div>                         
                <div class="item conte-img carousel-portal-docente">
                    <a href="public_html/documents/biblioteca/programa-de-fomento-a-la-lectura.pdf" target="_blank" title="Programa de fomento a la lectura">
                        <img src="public_html/img/biblioteca/programa-de-fomento-a-la-lectura.jpg" class="img-fluid image" alt="Programa de fomento a la lectura"/>
                        <div class="overlay bg-blue br-15">
                            <div class="text">Programa de Fomento a la Lectura</div>
                        </div>
                    </a>
                </div>
                <div class="item conte-img carousel-portal-docente">
                    <a href="public_html/documents/biblioteca/como-obtener-la-carta-de-no-adeudo.pdf" target="_blank" title="Carta de no adeudo">
                        <img src="public_html/img/biblioteca/como-obtener-la-carta-de-no-adeudo.jpg" class="img-fluid image" alt="Carta de no adeudo"/>
                        <div class="overlay bg-blue br-15">
                            <div class="text">¿Cómo Obtener la Carta de No Adeudo?</div>
                        </div>
                    </a>
                </div>
                
                <div class="item conte-img carousel-portal-docente">
                    <a href="public_html/documents/biblioteca/app-biblioteca-unam.pdf" target="_blank" title="App Bibliotecas UNAM">
                        <img src="public_html/img/biblioteca/app-biblioteca-unam.jpg" class="img-fluid image" alt="App Bibliotecas UNAM"/>
                        <div class="overlay bg-blue br-15">
                            <div class="text">APP Bibliotecas UNAM</div>
                        </div>
                    </a>
                </div>
                <div class="item conte-img carousel-portal-docente">
                    <a href="public_html/documents/biblioteca/hemeroteca.pdf" target="_blank" title="Hemeroteca">
                        <img src="public_html/img/biblioteca/hemeroteca.png" class="img-fluid image" alt="Hemeroteca"/>
                        <div class="overlay bg-blue br-15">
                            <div class="text">Hemeroteca</div>
                        </div>
                    </a>
                </div>
                <div class="item conte-img carousel-portal-docente">
                    <a href="public_html/documents/biblioteca/consulta-referencial.pdf" target="_blank" title="Consulta Referencial">
                        <img src="public_html/img/biblioteca/consulta-referencial.jpg" class="img-fluid image" alt="Consulta Referencial"/>
                        <div class="overlay bg-blue br-15">
                            <div class="text">Consulta Referencial</div>
                        </div>
                    </a>
                </div>
                <!--<div class="item conte-img carousel-portal-docente">
                    <a href="http://www.aragon.unam.mx/fes-aragon/public_html/img/slider_principal/aviso-biblioteca.jpg" target="_blank" title="Aviso Carta de No Adeudo">
                        <img src="public_html/img/biblioteca/aviso.jpg" class="img-fluid image" alt="Aviso Carta de No Adeudo"/>
                        <div class="overlay bg-blue br-15">
                            <div class="text">Aviso Carta de No Adeudo</div>
                        </div>
                    </a>
                </div>
                -->
            </div>

            <hr>
            <h2>Disposiciones generales de la biblioteca Jes&uacute;s Reyes Heroles</h2>
            <ul>
                <li>Para tener derecho al pr&eacute;stamo a domicilio, el usuario debe contar con la credencial de la FES Arag&oacute;n UNAM.</li>
                <li>Se prestan hasta cinco libros a domicilio, por un periodo m&aacute;ximo de cinco d&iacute;as h&aacute;biles.</li>
                <li>Cada libro se puede resellar en dos ocasiones.</li>
                <li>La devoluci&oacute;n de los libros podr&aacute; ser realizada despu&eacute;s del d&iacute;a h&aacute;bil posterior a su pr&eacute;stamo.</li>
                <li>Por el retraso en la devoluci&oacute;n de pr&eacute;stamos a domicilio se aplicar&aacute; una multa, establecida en las normas internas.</li>
                <li>De la estanter&iacute;a abierta (acervo general) s&oacute;lo se pueden tomar, a la vez, tres libros para su consulta.</li>
                <li>Es mandatorio realizar buen uso del equipo de c&oacute;mputo con que cuenta la Biblioteca.</li>
                <li>En la salida, es necesario deslizar los libros con fecha vigente de pr&eacute;stamo por la rampa ubicada en las puertas, uno a la vez, en cada ocasi&oacute;n que el usuario salga de la Biblioteca.</li>
                <li>El autoservicio de fotocopiado o reprograf&iacute;a requiere de una tarjeta recargable. Para su adquisici&oacute;n y activaci&oacute;n, se debe realizar el pago en la caja de la Facultad y pasar a la Oficina T&eacute;cnica de la Biblioteca.</li>
                <li>La caja se ubica en el edificio de Extensi&oacute;n Universitaria, el horario de atenci&oacute;n es de lunes a viernes de 9:45 a 13:00 hrs. y de 16:00 a 19:00 hrs., el d&iacute;a s&aacute;bado se ubica en el edificio de la DUACYD, con un horario de 10:00 a 14:00 hrs.</li>
            </ul>
            <hr>
            <h2>Servicios en l&iacute;nea</h2>
            <ul>
                <li><a href="https://apps.dgb.unam.mx/" target="_blank" title="App Bibliotecas UNAM">App Bibliotecas UNAM</a></li>
                <li><a href="https://siicana.dgb.unam.mx/" target="_blank" title="Carta de No Adeudo">Carta de No Adeudo</a></li>
                <li><a href="http://132.247.154.154:8991/F" target="_blank" title="Cat&aacute;logos en l&iacute;nea">Cat&aacute;logos en l&iacute;nea</a></li>
                <li><a href="http://bibliotecas.unam.mx/index.php" target="_blank" title="Cat&aacute;logos y recursos electr&oacute;nicos UNAM">Cat&aacute;logos y recursos electr&oacute;nicos UNAM</a></li>
                <li><a href="http://biblioteca-fes.aragon.unam.mx:8991/F/PJT9L1Y41PKBKPB3VAXLIA81LSPTX2GUDJ3CMGN6G4JVY3H159-11986?func=bor-info" target="_blank" title="Resello en l&iacute;nea de libros">Resello en l&iacute;nea de libros</a></li>
                <li><a href="http://vlex.com/account/login_ip" target="_blank" title="v|lex base de datos">v|lex base de datos</a></li>
                <li><a href="https://www.bidi.unam.mx/index.php/acceso-remoto" target="_blank" title="Cuenta para acceso remoto a recursos electr&oacute;nicos">Cuenta para acceso remoto a recursos electr&oacute;nicos</a></li>
                <li><a href="http://www.redeco.economia.unam.mx/home/" target="_blank" title="REDECO">REDECO</a></li>
                <li><a href="https://www.inegi.org.mx/default.html" target="_blank" title="Consulta externa del INEGI">Consulta externa del INEGI</a></li>
                <li><a href="http://economatica.com/login.html" target="_blank" title="Economatica (solo acceso local)">Economatica (solo acceso local)</a></li>
                <li><a href="https://ebookcentral.proquest.com/lib/unam/home.action" target="_blank" title="Ebook Central">Ebook Central</a></li>
            </ul>
            <hr>
            <h2>Otros Servicios</h2>
            <ul>
                <li>Infosel Financiero (acceso en Oficina Técnica)</li>
                <ul>
                <li>
                    <p>Infosel Financiero es un programa que maneja información bursátil de mercados financieros nacionales e internacionales en tiempo real e histórico, además de noticias importantes del sector financiero-económico de carácter local y global.</p>
                    <p>Este recurso lo adquiere la Dirección General de Bibliotecas, quien otorga una licencia (uso en PC) a cada una de las siguientes bibliotecas:</p>
                    <ul>
                          <li>Biblioteca Facultad de Economía</li>
                          <li>Biblioteca Facultad de Economía
                          <li>Biblioteca Postgrado de Economía</li>
                          <li>Biblioteca FES Aragón</li>
                          <li>Biblioteca FES Acatlán</li>
                          <li>Biblioteca de Matemáticas</li>
                          <li>Biblioteca Facultad de Contabilidad</li>
                          <li>Biblioteca Postgrado de Contabilidad</li>
                      </ul>
                </li>
                </ul>
            </ul>
            <hr>
            <h2>Para pr&eacute;stamo a domicilio</h2>
            <ul>
                <li>Lo pueden solicitar alumnos inscritos, pasantes en proceso de titulaci&oacute;n, acad&eacute;micos (vigentes) y administrativos (vigentes).</li>
                <li>Se requiere contar con credencial de la UNAM vigente.</li>
                <li>Se realiza a trav&eacute;s de dos v&iacute;as: el mostrador de pr&eacute;stamo ubicado en la Biblioteca o en el equipo de autopr&eacute;stamo.</li>
                <li>Como m&aacute;ximo, se pueden solicitar 5 libros en pr&eacute;stamo a domicilio.</li>
                <li>El pr&eacute;stamo tiene una duraci&oacute;n de 5 d&iacute;as h&aacute;biles.</li>
                <li>Se puede realizar un m&aacute;ximo de 2 resellos.</li>
                <li>La devoluci&oacute;n del libro puede realizarse desde un d&iacute;a posterior a la fecha de pr&eacute;stamo hasta la fecha de entrega establecida.</li>
                <li>La devoluci&oacute;n fuera de tiempo est&aacute; penalizada con una multa de 2 pesos por d&iacute;a natural.</li>
                <li>Para obtener una cuenta y la respectiva contrase&ntilde;a el tr&aacute;mite puede realizarse en la Oficina T&eacute;cnica ubicada en la Biblioteca o en la p&aacute;gina web de la FES Arag&oacute;n.</li>
            </ul>
            <hr>
            <h2>Para el resello</h2>
            <ul>
                <li>El resello se puede realizar en el mostrador de pr&eacute;stamo ubicado en la biblioteca, en el equipo de autopr&eacute;stamo o en la p&aacute;gina web de la FES Arag&oacute;n.</li>
                <li>V&iacute;a p&aacute;gina web, puedes renovar tus pr&eacute;stamos hasta las 11:00pm del d&iacute;a en que vence tu pr&eacute;stamo.</li>
            </ul> 
            <hr>
            <h2>Devoluci&oacute;n</h2>
            <ul>
                <li>La devoluci&oacute;n de material en consignaci&oacute;n s&oacute;lo se puede llevar a cabo en el mostrador de pr&eacute;stamo.</li>
            </ul> 
            <hr>
            <h2>Pr&eacute;stamo interbibliotecario</h2>
            <ul>
                <li>Se solicita en la Oficina T&eacute;cnica ubicada en la Biblioteca.</li>
                <li>Deben proporcionarse los siguientes datos del libro: t&iacute;tulo, autor, clasificaci&oacute;n y biblioteca en que se encuentra.</li>
                <li>Despu&eacute;s de 24 horas de haber realizado la solicitud en la Oficina T&eacute;cnica, puede ir a recogerlo con la papeleta que se entreg&oacute; al inicio del tr&aacute;mite.</li>
                <li>La persona que solicita debe apegarse a las pol&iacute;ticas y reglamento de la biblioteca a la que pidi&oacute; el libro.</li>
                <li>El proceso de devoluci&oacute;n se realiza en la Oficina T&eacute;cnica y, una vez concluido, se entrega la papeleta que acredita que el libro fue retornado.</li>
            </ul>     
            <hr>
            <h2>Pr&eacute;stamo de cub&iacute;culos</h2>
            <ul>
                <li>Este servicio puede ser utilizado &uacute;nicamente por estudiantes vigentes.</li>
                <li>La intenci&oacute;n de este servicio es el trabajo en grupos de 3 a 8 personas.</li>
                <li>La duraci&oacute;n de la estancia en el cub&iacute;culo es de 2 hrs. m&aacute;ximo.</li>
                <li>Se puede prorrogar el tiempo de pr&eacute;stamo de los cub&iacute;culos dependiendo de la demanda de los mismos.</li>
                <li>Para solicitar un espacio se requiere llevar la credencial del estudiante responsable del cub&iacute;culo.</li>
                <li>Los cub&iacute;culos cuentan con un pizarr&oacute;n blanco.</li>
                <li>No se puede agendar con anticipaci&oacute;n el pr&eacute;stamo de cub&iacute;culos.</li>
                <li>Con el pr&eacute;stamo del cub&iacute;culo, los estudiantes se comprometen a hacer buen uso de &eacute;ste.</li>
            </ul> 
            <hr>
            <h2>Salas de c&oacute;mputo y laptops - PC Puma</h2>
            <ul>
                <li>En los equipos de esta secci&oacute;n de la Biblioteca se pueden consultar libros electr&oacute;nicos, como por ejemplo el manual de costos para las carreras de Arquitectura e Ingenier&iacute;a Civil (BIMSA).</li>
            </ul>  
            <hr>
            <h2>Fotocopias</h2>
            <ul>
                <li>El p&uacute;blico en general puede hacer uso de este servicio.</li>
                <li>La Biblioteca cuenta con 6 equipos de fotocopiado.</li>
                <li>Para poder acceder a este servicio, se debe adquirir una tarjeta (&eacute;sta se compra en la Oficina T&eacute;cnica de la Biblioteca y se paga en las Cajas de la FES Arag&oacute;n).</li>
                <li>La tarjeta tiene un costo de 40 pesos, de los cuales 20 pesos funcionan como cr&eacute;dito.</li>
                <li>La recarga de la tarjeta se solicita en la Oficina T&eacute;cnica y puede ser a partir de 2 pesos.</li>
                <li>La Biblioteca cuenta con personal multicopista que puede ayudar a los usuarios de este servicio.</li>
            </ul> 

        </div>


        <div class="col-12 col-lg-3  seccion-informacion">
            <strong>Responsable</strong>
            <p>Marco Alberto Soto Velasco</p>
            <img class="d-flex justify-content-center rounded-circle img-responsable" src="public_html/img/biblioteca/marco_alberto_soto_velasco.jpg" alt="Marco Alberto Soto Velasco"/>
            <strong> Horario </strong>
            <ul class="text-left">
                <li>La Biblioteca brinda sus servicios de lunes a viernes de 8:30 a 20:30 h y s&aacute;bados de 9:00 a 14:30 h</li>
                <li>La Oficina T&eacute;cnica brinda atenci&oacute;n de lunes a viernes de 8:30 a 14:00 y de 16:00 a 20:30 h y s&aacute;bados de 9:00 a 14:30 h</li>
                <li>El pr&eacute;stamo de cub&iacute;culos de estudio se realiza de 8:30 a 14:00 h y de 16:00 a 20:30 h y s&aacute;bados de 9:00 a 14:30 h</li>
                <li>El resello en l&iacute;nea tiene un horario de 03:00 a 22:59 h</li>
            </ul>
            <strong> Tel&eacute;fono(s)</strong>
            <p style="margin-bottom: 0px;">55 5623 0222</p> <p>Ext. 31069</p>
            <strong> Correo electr&oacute;nico</strong>
            <p class="fs-12"><a class="link-a" href="mailto:biblioteca@aragon.unam.mx" title="correo-electronico">biblioteca@aragon.unam.mx</a></p>
            <a class="btn boton-registro btn-sm" ui-sref="novedades_biblioteca" title="Novedades">Novedades</a>
            <a class="btn boton-registro btn-sm" href="public_html/documents/biblioteca/normas-internas.pdf" title="Normas internas" target="_blank">Normas internas</a>
            <a href="public_html/documents/biblioteca/tv-unam.pdf" title="TV UNAM" target="_blank">
                <img class="img-fluid" src="public_html/img/biblioteca/tv-unam.png" height="50px" width="150px" alt="TV UNAM">
            </a>
        </div>
    </div>
</div> <!-- fin BIBLIOTECA “JES&Uacute;S REYES HEROLES” -->