<!-- BIBLIOTECA “JES&Uacute;S REYES HEROLES” (Registro de usuarios) -->
<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <i class="icono-secciones icon-formulario"></i><h1> Registro de usuarios y tr&aacute;mite de vigencia </h1>
        </div>
    </div>
    <hr>

    <div class="row" style="margin-bottom: 15px;">
        <div class="col-12 col-lg-9 texto">
            <p>De acuerdo con las Normas de Servicio de la Biblioteca Jes&uacute;s Reyes Heroles, tienen derecho al registro y tr&aacute;mite de vigencia en el servicio de pr&eacute;stamo a domicilio, los pasantes de licenciatura y posgrado con 100% de cr&eacute;ditos (en proceso de titulaci&oacute;n u obtenci&oacute;n de grado), as&iacute; como los acad&eacute;micos y administrativos vigentes de la Facultad de Estudios Superiores Arag&oacute;n.</p>

            <hr>

            <p> <strong>Para hacer uso del servicio, debes contar con la credencial que emite la UNAM.</strong> </p>
            <ul>
                <li>Credencial de acad&eacute;micos y administrativos:
                    <p>Departamento de Personal de la FES Arag&oacute;n o en la Direcci&oacute;n General de Personal en Ciudad Universitaria</p>
                </li>
                <li>Credencial de Exalumno para pasantes de licenciatura y posgrado:
                    <p>Zona Cultural de C.U. edificio "D" planta baja, a un costado de UNIVERSUM.</p>

                <li>Para finalizar, completa el siguiente formulario, de acuerdo con tu categor&iacute;a:
                    <ul>
                        <li> <a ui-sref="registro.administrativo" title="Registro administrativo"><button type="button" class="boton-registro btn btn-secondary btn-sm">Administrativo</button></a></li>
                        <li><a ui-sref="registro.academico" title="Registro acad&eacute;mico"><button type="button" class="boton-registro btn btn-secondary btn-sm">Acad&eacute;mico</button></a></li>
                        <li><a ui-sref="registro.pasante" title="Registro pasante"><button type="button" class="boton-registro btn btn-secondary btn-sm">Pasante</button></a></li>
                    </ul>
                </li>
            </ul>
            <p><strong>Aviso corto</strong></p>
            <p>Aviso de Privacidad</p>
            <p>Biblioteca Jes&uacute;s Reyes Heroles de la Facultad de Estudios Superiores Arag&oacute;n UNAM, con domicilio en Av. Rancho Seco s/n, Col. Impulsora Popular Av&iacute;cola, Nezahualc&oacute;yotl, Estado de M&eacute;xico, C. P. 57130.</p>
            <p>Sus datos personales ser&aacute;n utilizados para la siguiente finalidad:</p>
            <p>Creaci&oacute;n y actualizaci&oacute;n del expediente en la base de datos del servicio de pr&eacute;stamo a domicilio y servicios automatizados que ofrece.</p>
            <p>Para m&aacute;s informaci&oacute;n  sobre el Aviso de Privacidad de la Facultad de Estudios Superiores Arag&oacute;n UNAM en:</p>

        </div>
        <div class="col-12 col-lg-3  seccion-informacion">
        </div>
    </div>
</div> <!-- fin BIBLIOTECA “JES&Uacute;S REYES HEROLES” -->
