<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-12">
                <i class="icono-secciones icon-centro-de-lenguas"></i> <h1 class="mw-50" >Centro de Lenguas</h1>
                <a class="float-right boton-registro btn btn-secondary btn-sm boton-header" href="http://cle-aragon.unam.mx/" target="_blank" title="Plataforma acad&eacute;mica del CLe">Plataforma acad&eacute;mica del CLe</a>
            </div>
    </div>
    <hr>
    <div class="row portafolio">
        <div class="col-12 col-lg-9 galeria">
            <p>El Centro de Lenguas proporciona a estudiantes las herramientas para fortalecer su formación profesional en diversas áreas del conocimiento. Ofrece cursos de inglés, alemán, francés, italiano, japonés, ruso, portugués y latín en modalidades de posesión y comprensión, en las opciones regular e intensiva.</p>
            <div class="row justify-content-center">
            <div class="col-12 col-lg-6 ">
                    <div class="embed-responsive embed-responsive-16by9" style="border-radius: 15px;">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_oIYZ3B30eg" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <hr>
            <h2 class="sub">POLÍTICA DE CALIDAD</h2>
            <p>En el Centro de Lenguas se imparten cursos de Lenguas con el fin de adquirir competencias comunicativas de acuerdo a sus intereses académicos, profesionales y personales para satisfacer los requerimientos específicos de cada carrera, buscando la satisfacción de los clientes, con el compromiso de cumplir con los objetivos de calidad mediante la mejora continua de los procesos</p>
            <hr>
            <h2 class="sub">MISIÓN</h2>
            <p>Formar profesionales para un entorno intercultural de excelencia académica.</p>
            <hr>
            <h2 class="sub">VISIÓN</h2>
            <p>Ser líder en la preparación y posicionamiento de ciudadanos globales.</p>
            <hr>
            <h2 class="sub">OBJETIVO</h2>
            <p>Posicionarse como referente global en la enseñanza de lenguas.</p>
            <hr>
            <h2 class="sub">VALORES</h2>
            <p>Respeto por la diversidad cultural, lingüística y dialectal y los publicados por la UNAM en:</p>
            <div class="contenedor-imagen col-12">
                    <a target="_blank" href="https://valorunam.wordpress.com/"> <img class="img-fluid" src="public_html/img/oferta_academica/centro_lenguas/valor-unam.jpg" alt="Valor UNAM"> </a>
                </div>
            <hr>
            <h2 class="sub">IDIOMAS</h2>
            <hr>
            <div class="row botones">
                <div class="col-12 col-md-4 btn-cat btn-sec">
                    <a class="category" ui-sref="centro_lenguas({lengua:'aleman'})" title="Alemán">
                    <svg class="icon">
                                    <use xlink:href="public_html/img/logos/aleman.svg#aleman"/>
                            </svg>
                        <p>Alemán</p>
                    </a>
                </div>
                <div class="col-12 col-md-4 btn-cat btn-sec">
                    <a class="category" ui-sref="centro_lenguas({lengua:'ingles'})" title="Ingl&eacute;s">
                    <svg class="icon">
                                    <use xlink:href="public_html/img/logos/ingles.svg#ingles"/>
                            </svg>
                        <p>Inglés</p>
                    </a>
                </div>
                <div class="col-12 col-md-4 btn-cat btn-sec">
                    <a class="category" ui-sref="centro_lenguas({lengua:'japones'})" title="Japon&eacute;s">
                        <svg class="icon">
                                    <use xlink:href="public_html/img/logos/japones.svg#japones"/>
                            </svg>
                        <p>Japonés</p>
                    </a>
                </div>
                <div class="col-12 col-md-4 btn-cat btn-sec">
                    <a class="category" ui-sref="centro_lenguas({lengua:'portugues'})" title="Portugu&eacute;s">
                        <svg class="icon">
                                    <use xlink:href="public_html/img/logos/portugues.svg#portugues"/>
                            </svg>
                        <p>Portugués</p>
                    </a>
                </div>
                <div class="col-12 col-md-4 btn-cat btn-sec">
                    <a class="category" ui-sref="centro_lenguas({lengua:'frances'})" title="Franc&eacute;s">
                        <svg class="icon">
                                    <use xlink:href="public_html/img/logos/frances.svg#frances"/>
                            </svg>
                        <p>Francés</p>
                    </a>
                </div>
                <div class="col-12 col-md-4 btn-cat btn-sec">
                    <a class="category" ui-sref="centro_lenguas({lengua:'italiano'})" title="Italian">
                        <svg class="icon">
                                    <use xlink:href="public_html/img/logos/italiano.svg#italiano"/>
                            </svg>
                        <p>Italiano</p>
                    </a>
                </div>
                <div class="col-12 col-md-4 btn-cat btn-sec">
                    <a class="category" ui-sref="centro_lenguas({lengua:'latin'})" title="Lat&iacute;n">
                <svg class="icon">
                                    <use xlink:href="public_html/img/logos/latin.svg#latin"/>
                            </svg>
                        <p>Latín</p>
                    </a>
                </div>
                <div class="col-12 col-md-4 btn-cat btn-sec">
                    <a class="category" ui-sref="centro_lenguas({lengua:'ruso'})" title="Ruso">
            <svg class="icon">
                                    <use xlink:href="public_html/img/logos/ruso.svg#ruso"/>
                            </svg>
                        <p>Ruso</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 seccion-informacion portafolio">
            <strong>Responsable</strong>
            <p class="texto-pleca nombre-responsable">V&iacute;ctor Andr&eacute;s Garc&iacute;a-Cabral Mart&iacute;nez</p>
            <img class="d-flex justify-content-center rounded-circle img-responsable" alt="V&iacute;ctor Andr&eacute;s Garc&iacute;a Cabral Mart&iacute;nez" src="public_html/img/oferta_academica/duacyd/centro_lenguas/victor-andres-garcia-cabral-martinez.jpg"/>
            <strong> Horario </strong>
            <p style="margin-bottom: 0px;">De lunes a viernes de 09:00 a 14:00 y de 16:00 a 20:00 h</p>
            <p>Sábado de 09:00 a 14:00 h</p>
            <strong>Tel&eacute;fono(s)</strong>
            <p>55 5623 0222 <br> Ext. 83036</p>
            <strong> Correo electr&oacute;nico</strong>
            <p class="fs-12"><a class="link-a" href="mailto:centrodelenguas@aragon.unam.mx" title="correo-electronico">centrodelenguas@aragon.unam.mx</a></p>
            <div class="galeria">
                <a class="contenedor-imagen " target="_blank" href="#!/seccion/centro-de-lenguas"><img class="justify-content-center img-fluid " alt="Noticias" src="public_html/img/noticias/seccion-de-noticias.png"></a>
            </div>
        </div>
    </div>  

</div>  <!-- fin Educaci&oacute;n Continua -->