<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <i class="icono-secciones icon-duacyd" style="position: relative;top: 7px;"></i>
            <h1>DUACyD</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-lg-9">
            <p>La División de Universidad Abierta, Continua y a Distancia es responsable del Sistema de Universidad
                Abierta y Educación a Distancia (DUACyD), la Coordinación de Educación Continua y el Centro de Lenguas.
                Su objetivo principal es extender los recursos didácticos por medio de las Tecnologías de la Información
                y de la Comunicación (TIC’s).</p>
            <h2 class="text-lef">&Aacute;reas</h2>
            <hr>
            <div class="row botones">
                    <div class="col-12 col-md-4 btn-cat btn-sec">
                            <a class="category" title="SUAyED" ui-sref="suayed">
                                    <div class="icon icon-suayed">
                                    </div>
                                    <p>SUAyED</p>
                                </a>
                    </div>
                    <div class="col-12 col-md-4 btn-cat btn-sec">
                            <a class="category" title="Educaci&oacute;n Continua" ui-sref="educacion_continua">
                                    <div class="icon icon-educacion-continua">
                                    </div>
                                    <p>Educación Continua </p>
                                </a>
                    </div>
                    <div class="col-12 col-md-4 btn-cat btn-sec">
                            <a class="category" title="Centro de Lenguas" ui-sref="cle">
                                    <div class="icon icon-centro-de-lenguas">
                                    </div>
                                    <p>Centro de Lenguas</p>
                                </a>
                    </div>
                </div>
        </div>
        <div class="col-12 col-lg-3 seccion-informacion portafolio">
            <strong>Responsable</strong>
            <p class="texto-pleca nombre-responsable">Arturo S&aacute;mano Coronel</p>
            <img class="d-flex justify-content-center rounded-circle img-responsable"
                alt="Arturo S&aacute;mano Coronel"
                src="public_html/img/oferta_academica/duacyd/arturo-samano.jpg" />
            <strong> Horario </strong>
            <p>De lunes a viernes de 09:00 a 15:00 y de 17:00 a 21:00 h, s&aacute;bado de 08:00 a 14:00h</p>
            <strong>Tel&eacute;fono(s)</strong>
            <p>55 5623 0222 Ext. 83016
            </p>
            <strong> Correo electr&oacute;nico</strong>
            <p class="fs-12"><a class="link-a" href="mailto:duacyd@aragon.unam.mx" title="correo-electronico">duacyd@aragon.unam.mx</a></p>
            <div class="galeria">
                <a class="contenedor-imagen " target="_blank" href="https://www.aragon.unam.mx/fes-aragon/#!/seccion/duacyd"><img class="justify-content-center img-fluid " alt="Noticias" src="public_html/img/noticias/seccion-de-noticias.png"></a>
            </div>
        </div>
    </div>

</div> <!-- fin Educaci&oacute;n Continua -->