<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <i class="icono-secciones icon-suayed" style="position: relative;top: 9px;"></i><h1>SUAyED</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-lg-9 portafolio">
            <p>El Sistema Universidad Abierta y Educación a Distancia Aragón es una modalidad educativa flexible donde la comunidad estudiantil administra su tiempo y asume su propia responsabilidad en un proceso interactivo con el docente asesor.</p>
            <p>La impartición de asignaturas en el SUAyED Aragón se lleva a cabo en asesorías presenciales y asesorías a distancia en espacios educativos que permiten la flexibilidad espacial y temporal con el uso de recursos tecnológicos, como la Plataforma Académica del SUAyED Aragón, lo que facilita la combinación de tres tipos de asesoría:</p>
			<ol>
				<li>Asesoría en línea asíncrona: Impartida en la Plataforma Académica permitiendo la interacción a distancia entre estudiantes y docentes en tiempos diferenciados.</li>
				<li>Asesoría en línea síncrona: Impartida en la Plataforma Académica permitiendo la interacción a distancia entre estudiantes y docentes en tiempo real.</li>
				<li>Asesoría presencial: Impartida de manera presencial en las instalaciones de la FES Aragón.</li>
			</ol>
            <p>Actualmente, la FES Aragón cuenta con tres licenciaturas en este sistema: Derecho, Economía y Relaciones Internacionales.</p>
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-12 col-lg-5">
                    <a target="_blank" href="public_html/documents/oferta_academica/modelo-educativo-suayed-fes-aragon.pdf" title="Cat&aacute;logo">
                        <img src="public_html/img/oferta_academica/suayed/modelo-educativo.jpg" class="img-fluid imagen" alt="Cat&aacute;logo"/>
                    </a>
                </div>
            </div>
    <h2 class="text-lef">Licenciaturas</h2>
    <hr>    
    <div class="row botones">
            <div class="col-12 col-md-4 btn-cat btn-sec">
                <a class="category" ui-sref="licenciaturas({carrera:'suayed-derecho'})" title="Derecho">
                    <div class="icon icon-derecho-suayed">
                    </div>
                    <p>Derecho SUAyED</p>
                </a>
            </div>
            <div class="col-12 col-md-4 btn-cat btn-sec">
                <a class="category" ui-sref="licenciaturas({carrera:'suayed-economia'})" title="Econom&iacute;a">
                    <div class="icon icon-economia-suayed">
                    </div>
                    <p>Economía SUAyED</p>
                </a>
            </div>
            <div class="col-12 col-md-4 btn-cat btn-sec">
                <a class="category" ui-sref="licenciaturas({carrera:'suayed-relaciones-internacionales'})" title="Relaciones Internacionales">
                    <div class="icon icon-relaciones-internacionales-suayed">
                    </div>
                    <p>Relaciones Internacionales SUAyED</p>
                </a>
            </div>
        </div>
        </div>
        <div class="col-12 col-lg-3 seccion-informacion portafolio">
            <strong>Responsable</strong>
            <p class="texto-pleca nombre-responsable">Omar Alejandro Coutiño P&eacute;rez</p>
            <img class="d-flex justify-content-center rounded-circle img-responsable" alt="Responsable" src="public_html/img/oferta_academica/suayed/omar-alejandro-coutinno-perez.jpg" />
            <strong> Horario </strong>
            <p>De lunes a viernes de 09:00 a 15:00 y de 17:00 a 21:00 h, s&aacute;bado de 08:00 a 14:00 h</p>
            <strong>Tel&eacute;fono(s)</strong>
            <p>55 5623 0222 Ext. 83013</p>
            <div class="galeria">
                <a class="contenedor-imagen " target="_blank" href="https://www.aragon.unam.mx/fes-aragon/#!/seccion/suayed"><img class="justify-content-center img-fluid " alt="Noticias" src="public_html/img/noticias/seccion-de-noticias.png"></a>
            </div>
            <hr>
            <strong>Jefe de Carreras del SUAyED</strong>
            <br>
            <p class="m-0">Omar Alejandro Coutiño P&eacute;rez</p>
            <p class="fs-12"><a class="link-a" href="mailto:suayed@aragon.unam.mx" title="correo-electronico">suayed@aragon.unam.mx</a></p>

            <strong>Secretario T&eacute;cnico</strong>
            <br>
            <p class="m-0">Luis Alberto Arenas Reyes</p>
            <p class="fs-12"><a class="link-a" href="mailto:st.suayed@aragon.unam.mx" title="correo-electronico">st.suayed@aragon.unam.mx</a></p>

            <strong>Jefe de Secci&oacute;n Acad&eacute;mica</strong>
            <br>
            <p class="m-0">Marisa V&aacute;zquez Villanueva</p>
            <p class="fs-12"><a class="link-a" href="mailto:sa.suayed@aragon.unam.mx" title="correo-electronico">sa.suayed@aragon.unam.mx</a></p>

            <strong>Asuntos Acad&eacute;micos - Administrativos</strong>
            <p class="fs-12"><a class="link-a" href="mailto:atencion.suayed@aragon.unam.mx" title="correo-electronico">atencion.suayed@aragon.unam.mx</a></p>

            <strong>Plataforma Acad&eacute;mica y Aulas Virtuales</strong>
            <p class="fs-12"><a class="link-a" href="mailto:aulas.suayed@aragon.unam.mx" title="correo-electronico">aulas.suayed@aragon.unam.mx</a></p>

            <strong>Proceso de Titulaci&oacute;n</strong>
            <p class="fs-12"><a class="link-a" href="mailto:titulacion.suayed@aragon.unam.mx" title="correo-electronico">titulacion.suayed@aragon.unam.mx</a></p>

        </div>
    </div>

</div>  <!-- fin Educaci&oacute;n Continua -->