<style type="text/css">
    /* 
    REGLAS CSS INDEPENDIENTES DEL PROYECTO
    */
    .side-bar {
        background-color: #c92228;
        color: #fff;
        position: relative;
    }
    .side-bar h2 {
        font-size: 2rem;
        transform: rotate(-90deg);
        position: absolute;
        bottom: 50%;
        left: -100px;
        width: 300px;
    }
    p {
        font-size: 0.9rem;
    }
    @media screen and (max-width: 576px) {
        #img-menu {
            width: 210px;
        }
        .side-bar {
            text-align: center;
            margin-bottom: 5px;
        }    
        .side-bar h2 {
            transform: none;
            position: static;
            bottom: 0;
            left: 0;
            width: auto;
            margin-top: 10px;
        }
    }
    @media (min-width: 577px) and (max-width: 768px) {
        .side-bar {
            text-align: center;
            margin-bottom: 5px;
        }    
        .side-bar h2 {
            transform: none;
            position: static;
            bottom: 0;
            left: 0;
            width: auto;
            margin-top: 10px;
        }
    }
    @media (min-width: 769px) and (max-width: 992px) {
        .side-bar h2 {
            font-size: 1.5rem;
            left: -115px;
        }
    }
    @media (min-width: 993px) and (max-width: 1200px) {
        .side-bar h2 {
            font-size: 1.8rem;
            left: -110px;
        }
    }
</style>
<h1 class="sr-only">GALER&Iacute;A DIGITAL FES ARAG&Oacute;N, UNAM M&Eacute;XICO</h1>
<div class="row my-3">
    <div class="col-12 col-md-1 side-bar">
        <h2>GALER&Iacute;A DIGITAL</h2>
    </div>
    <div class="col-12 col-md-11">
        <div class="row">
            <div class="col-12">
                <hr />
                <h2 style="
                    font-size: 1.5rem; 
                    font-weight: 400;">
                    {{obra.obra}}
                </h2>
                <hr />
            </div>
            <div class="col-12" style="z-index: 0;margin-top: 8px;">
                <div class="row">
                    <div class="col-12" ng-class="{'col-md-5': obra.fragmentos.length > 0}">
                        <img class="img-fluid" 
                             ng-src="public_html/img/exposicion-digital/artistas/{{obra.autor}}/fragmentos/{{obra.imagen}}" 
                             alt="{{obra.obra}}" />
                        <p class="mb-3" style="font-size: 0.9rem; text-align: center;">{{obra.descripcion}}</p>
                    </div>
                    <div class="col-0 col-md-1"></div>
                    <div class="col-12 col-md-6">
                        <div class="row justify-content-center mb-4" ng-repeat="fragmento in obra.fragmentos">
                            <div class="col-8 col-md-6">
                                <img class="img-fluid" 
                                     ng-src="public_html/img/exposicion-digital/artistas/{{obra.autor}}/fragmentos/{{fragmento.imagen}}" 
                                     alt="{{fragmento.titulo}}" />
                            </div>
                            <p style="font-size: 0.9rem;" class="col-12 col-md-6">
                                {{fragmento.descripcion}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>