<div class="container content">
    <hr>
    <div class="row encabezado">
        <div class="col-lg-12 encabezado-titulo animated bounceInUp">
            <i class="icono-encabezado icon icon-administracion"></i>  <h1>Administraci&oacute;n</h1>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center">
            <div class="contenedor-imagen col-12 br-15">
                    <img src="public_html/img//nuestra_facultad/administracion/horarios.jpg" class="img-fluid imagen" alt="Administraci&oacute;n"/>
            </div>
    </div>
</div>
