<div class="container content">
    <hr>
    <div class="row encabezado">
        <div class="col-lg-12 encabezado-titulo animated bounceInUp">
            <i class="icono-encabezado icon-simbolo-de-la-sumision-del-directorio"></i>  <h1> CONGRESO INTERNACIONAL DE ORIENTACI&Oacute;N EDUCATIVA 2020</h1>
        </div>
    </div>
    <hr>
    <div class="row portafolio justify-content-center">
        <div class="row galeria justify-content-center">
          <div class="contenedor-imagen col-12 col-lg-8">
            <h2>Fecha límite para la recepción de las ponencias se amplía hasta el 29 de mayo del 2020 a las 23:59 hrs. de la Cd. de México</h2>
            </div>
            <div class="contenedor-imagen col-5 col-lg-4 br-15">
                <a href="public_html/documents/nuestra_facultad/cioe/cartel-de-congreso-internacional-de-orientacion-educativa-2020.pdf" target="_blank" title="CONGRESO INTERNACIONAL DE ORIENTACI&Oacute;N EDUCATIVA 2020">
                    <img src="public_html/img/nuestra_facultad/cioe/congreso-internacional-de-orientacion-educativa-2020-cartel.jpg" class="img-fluid imagen" alt="CIOE 2020 FESAR"/>
                </a>
            </div>
            <div class="contenedor-imagen col-5 col-lg-4 br-15">
                <a href="public_html/documents/nuestra_facultad/cioe/congreso-internacional-de-orientacion-educativa-2020.pdf" target="_blank" title="CONGRESO INTERNACIONAL DE ORIENTACI&Oacute;N EDUCATIVA 2020">
                    <img src="public_html/img/nuestra_facultad/cioe/feria-de-la-proteccion-civil-cartel-convocatoria.jpg" class="img-fluid imagen" alt="CIOE 2020 UNAM"/>
                </a>
            </div>
        </div>
    </div>
</div>
