<div class="container content" ng-init="showing = 0">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <img style="position: relative; top: -11px; filter: grayscale(90%);" width="35px" height="35px" src="public_html/img/logos/comite-de-genero.svg" alt="Comité de género" />
            <h1>Comité de género</h1>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center ">
        <div class="col-12 col-lg-10 menu-rapido">
            <ul class="nav d-flex justify-content-center">
                <li class="nav-item animated zoomIn">
                    <a class="nav-link active" ng-click="showing = 0" title="Inicio">
                        Inicio
                    </a>
                </li>
                <li class="nav-item animated zoomIn">
                    <a class="nav-link active" ng-click="showing = 3" title="Marco Normativo">
                        Marco Normativo
                    </a>
                </li>
                <li class="nav-item animated zoomIn">
                    <a class="nav-link active" ng-click="showing = 1" title="Minutas">
                        Minutas
                    </a>
                </li>
                <li class="nav-item animated zoomIn">
                    <a class="nav-link active" ng-click="showing = 2" title="Integrantes">
                        Integrantes
                    </a>
                </li>
                <li class="nav-item animated zoomIn">
                    <a class="nav-link active" href="public_html/documents/genero/directorio.pdf" target="_blank" title="Miembros">
                        Directorio de ayuda
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div ng-show="showing === 0">
        <div class="portafolio" style="margin-bottom: 0px;">
        <div class="row galeria justify-content-center" style="padding-top: 20px;">
            <div class="contenedor-imagen col-12 col-lg-10">
                <a href="public_html/documents/nuestra_facultad/cuerpos_colegiados/lineamientos-para-la-integracion-y-funcionamiento-del-comite-de-genero.pdf" target="_blank"><img src="public_html/img/nuestra_facultad/cuerpos_colegiados/lineamientos-para-la-integracion-y-funcionamiento-del-comite-de-genero.png" class="img-fluid" alt=""></a>
            </div>
        </div>
        </div>
        <div class="row justify-content-center" style="padding-top: 20px;">
            <div class="col-12 col-lg-5">
                <h2>Misi&oacute;n</h2>
                <hr/>
                <p>Fomentar la cultura del respeto a los derechos humanos desde una perspectiva interseccional e incorporar de forma transversal la perspectiva de género en las funciones sustantivas como son la docencia, la investigación, la difusión de la cultura, y otras actividades relevantes de la Facultad de Estudios Superiores Aragón (en adelante Fes Aragón).</p>
            </div>
            <div class="col-12 col-lg-5">
                <h2>Visi&oacute;n</h2>
                <hr/>
                <p>Promover la igualdad de género de manera transversal en la Fes Aragón y combatir cualquier tipo de violencia de género.</p>
            </div>
        </div>
        <div class="row justify-content-center" style="padding-top: 20px;">
            <div class="col-12 col-lg-5">
                <h2>Objetivo General</h2>
                <hr/>
                <p>El Comité de Género de la FES Aragón es el órgano colegiado encargado de diseñar y ejecutar programas, proyectos y acciones de carácter estructural para prevenir y erradicar la violencia de género que se llegue a dar al interior de la Facultad, así como promover el respeto a los derechos humanos y la igualdad de género.</p>            
            </div>
            <div class="col-12 col-lg-5">
                <h2>Valores</h2>
                <hr/>
                <ul>
                    <li>Equidad</li>
                    <li>Igualdad</li>
                    <li>Respeto</li>
                    <li>Empatía</li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-show="showing === 3">
        
        <div class="row justify-content-center" style="padding-top: 20px;">
            <div class="col-12 col-lg-10">
                <h2>Marco normativo de la UNAM en materia de género</h2>
                <hr/>
            </div>
        </div>

        <div class="row justify-content-center" style="padding-top: 20px;">
            <div class="col-12 col-lg-10">
                <ul>
                    <li><a href="http://www.abogadogeneral.unam.mx:6060/legislacion/view/65#:~:text=Art%C3%ADculo%201%C2%B0.,vida%20institucional%20de%20la%20UNAM." target="_blank">Reglamento de la Comisión Especial de Equidad de Género del Consejo
                    Universitario de la UNAM, publicado el 17 de marzo de 2011</a></li>
                    <li><a href="http://abogadogeneral.unam.mx/igualdad.pdf" target="_blank">Lineamientos Generales para la Igualdad de Género en la UNAM, publicados en la Gaceta UNAM el 7 de marzo de 2013</a></li>
                    <li><a href="https://cieg.unam.mx/img/igualdad/Acuerdo-UNAM.pdf" target="_blank">Acuerdo por el que se Establecen Políticas Institucionales para la Prevención, Atención, Sanción y Erradicación de casos de Violencia de Género en la UNAM, publicado en la Gaceta UNAM, publicado en la Gaceta UNAM el 29 de agosto de 2016</a></li>
                    <li><a href="https://www.dgcs.unam.mx/boletin/bdboletin/2016_580.html" target="_blank"> Adhesión de la UNAM a la plataforma ONU-Mujeres HeForShe, de fecha 29 de agosto de 2016</a></li>
                    <li><a href="https://igualdaddegenero.unam.mx/wp-content/uploads/2019/03/Protocolo-2019.pdf" target="_blank">Protocolo para la Atención de Casos de Violencia de Género en la UNAM, aprobado el 1 de septiembre de 2016. Segunda versión en marzo de 2019 editada por la Abogacía General de la UNAM</a></li>
                    <li><a href="public_html/documents/nuestra_facultad/cuerpos_colegiados/lineamientos-para-la-integracion-y-funcionamiento-del-comite-de-genero.pdf" target="_blank">Lineamientos para la Integración y Funcionamiento del Comité de Género de la Facultad de Estudios Superiores Aragón. Aprobados por el H. Consejo Técnico de la FES Aragón mediante sesión extraordinaria de fecha 23 de enero de 2020</a></li>
                    <li><a href="public_html/documents/nuestra_facultad/cuerpos_colegiados/1a.-sesion-ordinaria-de-comite-de-genero.pdf" target="_blank">Acta de Instalación del Comité de Género, 27 de febrero de 2020</a></li>
                    <li><a href="https://consejo.unam.mx/comisiones/especial-de-equidad-de-genero/reglamentos-y-lineamientos/493-dbfpig" target="_blank">Documento Básico para el Fortalecimiento de la Política Institucional de Género de la UNAM</a></li>
                    <li><a href="http://www.abogadogeneral.unam.mx:6060/legislacion/view/1/estatuto%20general" target="_blank">Modificación de los artículos 95 y 99 del Estatuto General de la UNAM, donde se incluye la violencia de género como causa especialmente grave de responsabilidad, aplicable a todos los miembros de la UNAM</a></li>
                    <li><a href="http://www.abogadogeneral.unam.mx:6060/acuerdos/view/706" target="_blank">Acuerdo por el que se crea la Coordinación para la Igualdad de Género en la UNAM, 28 de febrero de 2020</a></li>
                    <li><a href="https://consejo.unam.mx/comisiones/especial-de-equidad-de-genero/reglamentos-y-lineamientos/328-glosario-para-igualdad-genero" target="_blank">Glosario para la igualdad de género en la UNAM</a></li>
                </ul>
            </div>
        </div>


</div>
    <div ng-show="showing === 1">
        
        <div class="row justify-content-center" style="padding-top: 20px;">
            <div class="col-12 col-lg-10">
                <h2>Minutas</h2>
                <hr/>
            </div>
        </div>

        <div class="row portafolio justify-content-center">
            <div class="col-12 col-lg-5">
             <ul>
                <li><a href="public_html/documents/nuestra_facultad/cuerpos_colegiados/1a.-sesion-ordinaria-de-comite-de-genero.pdf" target="_blank" title="1.ª sesión ordinaria de comité de género">1a. sesión ordinaria de comité de género</a></li>
                <li><a href="public_html/documents/nuestra_facultad/cuerpos_colegiados/2a.-sesion-ordinaria-de-comite-de-genero.pdf" target="_blank" title="2.ª sesión ordinaria de comité de género">2a. sesión ordinaria virtual del comité de género</a></li>
            </div>
            <div class="col-12 col-lg-5">
             <ul>
                <li><a href="public_html/documents/nuestra_facultad/cuerpos_colegiados/3a.-sesion-ordinaria-virtual-del-comite-de-genero.pdf" target="_blank" title="3.ª sesión ordinaria de comité de género">3a. sesión ordinaria virtual del comité de género</a></li>
                <li><a href="public_html/documents/nuestra_facultad/cuerpos_colegiados/4a.-sesion-ordinaria-virtual-del-comite-de-genero.pdf" target="_blank" title="4.ª sesión ordinaria de comité de género">4a. sesión ordinaria virtual del comité de género</a></li>
             </ul>
            </div>
       </div>
</div>

    <div ng-show="showing === 2">
        <div class="row justify-content-center" style="padding-top: 20px;">
            <div class="col-12 col-lg-10">
                <h2>Integrantes</h2>
                <hr/>
            </div>
        </div>
<div class="row portafolio justify-content-center">
        <div class="col-12 col-md-7">
            <div class="row galeria justify-content-center">
            <div class="row justify-content-center">
                <div class="contenedor-imagen col-12 col-lg-8">
                    <a href="public_html/documents/nuestra_facultad/cuerpos_colegiados/integrantes-comite.pdf" target="_blank" title="cartel">
                        <img src="public_html/img/nuestra_facultad/cuerpos_colegiados/comite-de-genero-integrantes.jpg" class="br-15 img-fluid image" alt="cartel"/>
                    </a>
                </div>
            </div>
                <div class="contenedor-imagen col-6 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/nuestra_facultad/cuerpos_colegiados/integrantes-subcomiteac.pdf" target="_blank" title="Registro">
                        <img src="public_html/img/nuestra_facultad/cuerpos_colegiados/subcomite-de-asuntos-academicos.jpg" class="br-15 img-fluid image" alt="Registro"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-6 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/nuestra_facultad/cuerpos_colegiados/integrantes-subcomiteae.pdf" target="_blank" title="Registro">
                        <img src="public_html/img/nuestra_facultad/cuerpos_colegiados/subcomite-de-asuntos-estudiantiles.jpg" class="br-15 img-fluid image" alt="Registro"/>
                    </a>
                </div>
                <div class="contenedor-imagen col-6 col-lg-4 p-10 m-0 br-15">
                    <a href="public_html/documents/nuestra_facultad/cuerpos_colegiados/integrantes-subcomiteat.pdf" target="_blank" title="Registro">
                        <img src="public_html/img/nuestra_facultad/cuerpos_colegiados/Subcomite-para-atencion-de-problematicas.jpg" class="br-15 img-fluid image" alt="Registro"/>
                    </a>
                </div>
            </div>
        </div>
</div>
        
    
    </div>
        </div>
        </div>
    </div>
</div>

