<!-- C&oacute;mo llegar a la fes -->
<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
           <i class="icono-secciones icon-como-llegar"></i>  <h1> C&oacute;mo llegar a la FES</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <iframe src="https://www.google.com/maps/d/embed?mid=1ibiZ27S8KMMMxOa2rf91yfsT_u6s-bJU" style="width:100%;height:1000px"></iframe>
        </div>
    </div>
</div>

