<style>
        .botones .iconoh {
            display: block;
            padding: 15px;
        }
    
        .botones .btn-cat p{
        padding-top: 10px;
        position: relative;
        top: 0px;
    }
</style>
    <div class="container content servicios-escolares-ac mb-15 pb-5">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <i class="icono-secciones icon-consejo-tecnico" style="position: relative;top: 11px;"></i>
            <h1 class="mw-50"> Consejo T&eacute;cnico</h1>
            <!-- <a class="float-right boton-registro btn btn-secondary btn-sm boton-header" href="public_html/documents/nuestra_facultad/consejo_tecnico/lineamientos-videograbacion.pdf" title="Lineamientos de Videograbación de Concursos de Oposición">Lineamientos de Videograbación de Concursos de Oposici&oacute;n</a> -->
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <p>El Consejo T&eacute;cnico de la FES Arag&oacute;n entr&oacute; en funciones en 1976, con la apertura de
                la entonces Escuela Nacional de Estudios Profesionales Arag&oacute;n (ENEP Arag&oacute;n).</p>

            <p>Este cuerpo colegiado tiene como funci&oacute;n primordial conocer de los asuntos acad&eacute;micos,
                as&iacute; como adoptar las determinaciones relacionadas con el buen funcionamiento y
                organizaci&oacute;n de la Facultad, excepto las que correspondan por normatividad a las distintas
                &aacute;reas de la administraci&oacute;n.</p>

            <p>En la actualidad, el Consejo est&aacute; integrado por 36 consejeros (18 propietarios y 18 suplentes),
                representantes de docentes de cada una de las licenciaturas, del posgrado, de la Divisi&oacute;n de
                Universidad Abierta Continua y a Distancia, del Centro de Lenguas y de los T&eacute;cnicos
                acad&eacute;micos; as&iacute; como por 4 consejeros representantes de estudiantes (2 propietarios y 2
                suplentes), esto en concordancia con lo que establece el art&iacute;culo 45 del Estatuto General de la
                UNAM.</p>

            <p>El Consejo T&eacute;cnico sesiona de manera ordinaria mensualmente y de manera extraordinaria cuando
                existan asuntos que as&iacute; lo ameriten. </p>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center botones" style="padding-top: 25px;">
        <div class="col-12 col-sm-12 col-md-5 btn-cat">
            <a class="category" ui-sref="integrantes" title="Integrantes">
                <div class="icon iconoh fas fa-users">
                </div>
                <p>Integrantes</p>
            </a>
        </div>
    </div>
    <div class="row justify-content-center botones">
            <div class="col-12 col-sm-12 col-md-5 btn-cat">
                <a class="category" ui-sref="acuerdos({anio:'2024'})" title="Acuerdos">
                    <div class="icon iconoh far fa-file-alt">
                    </div>
                    <p>Acuerdos</p>
                </a>
            </div>
            <div class="col-12 col-sm-12 col-md-5 btn-cat btnp">
                <a class="category" ui-sref="orden_del_dia({anio:'2022'})" title="Ordenes del d&iacute;a">
                    <div class="icon iconoh far fa-file-pdf">
                    </div>
                    <p>&Oacute;rdenes del d&iacute;a</p>
                </a>
            </div>
        </div>
</div>