   <!-- Cuerpos Colegiados -->
   <div class="container content">
        <hr>
        <div class="row pleca-secciones">
            <div class="col-lg-12 secciones"> 
                <svg class="icon-encabezado">
                    <use xlink:href="public_html/img/nuestra_facultad/cuerpos_colegiados/cuerpos-colegiados.svg#cuerpos-colegiados"/>
                </svg> 
                <h1>Cuerpos Colegiados</h1>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center pb-4">
                <div class="col-12">
                        <div class="row botones justify-content-center pb-3">
                             <!-- <div class="col-12 col-md-8 btn-cat">
                                    <a class="category" ui-sref="comision_local_de_seguridad" title="Comisión Local de Seguridad">
                                    <svg class="icon">
                                                    <use xlink:href="public_html/img/nuestra_facultad/cuerpos_colegiados/comision-local-de-seguridad.svg#comision-local-de-seguridad"/>
                                            </svg>
                                        <p>Comisión Local de Seguridad</p>
                                    </a>
                                </div> -->
                            </div>            
        <div class="row botones justify-content-center pb-3">
            <div class="col-12 col-md-4 btn-cat">
                <a class="category" href="public_html/documents/nuestra_facultad/cuerpos_colegiados/secretaria-general.pdf" target="_blank" title="Secretaría general">
                <svg class="icon">
                                <use xlink:href="public_html/img/nuestra_facultad/cuerpos_colegiados/secretaria-genera.svg#secretaria-genera"/>
                        </svg>
                    <p>Secretaría General</p>
                </a>
            </div>
            <div class="col-12 col-md-4 btn-cat">
                <a class="category" href="public_html/documents/nuestra_facultad/cuerpos_colegiados/secretaria-academica.pdf" target="_blank" title="Secretaría Académica">
                    <svg class="icon">
                                <use xlink:href="public_html/img/nuestra_facultad/cuerpos_colegiados/secretaria-academica.svg#secretaria-academica"/>
                        </svg>
                    <p>Secretaría Académica</p>
                </a>
            </div>
            <div class="col-12 col-md-4 btn-cat">
                <a class="category" href="public_html/documents/nuestra_facultad/cuerpos_colegiados/secretaria-administrativa.pdf" target="_blank" title="Secretaría Administrativa">
                    <svg class="icon">
                                <use xlink:href="public_html/img/nuestra_facultad/cuerpos_colegiados/secretaria-administrativa.svg#secretaria-administrativa"/>
                        </svg>
                    <p>Secretaría Administrativa</p>
                </a>
            </div>
            <div class="col-12 col-md-4 btn-cat">
                <a class="category" href="public_html/documents/nuestra_facultad/cuerpos_colegiados/secretaria-vinculacion-desarrollo.pdf" target="_blank" title="Secretaría Vinculación y Desarrollo">
                    <svg class="icon">
                                <use xlink:href="public_html/img/nuestra_facultad/cuerpos_colegiados/secretaria-vinculacion-y-desarrollo.svg#secretaria-vinculacion-y-desarrollo"/>
                        </svg>
                    <p>Secretaría Vinculación y Desarrollo</p>
                </a>
            </div>
        </div>
        <div class="row botones justify-content-center">
            <div class="col-12 col-md-4 btn-cat">
                <a class="category" href="public_html/documents/nuestra_facultad/cuerpos_colegiados/division-de-ciencias-fis.mat.-ingenierias.pdf" target="_blank" title="División de Ciencias Fís.-Mat. y de las Ingenierías">
                        <div class="icon icon-cfmi">
                            </div>
                    <p>División de Ciencias Fís.-Mat. y de las Ingenierías</p>
                </a>
            </div>
            <div class="col-12 col-md-4 btn-cat">
                <a class="category" href="public_html/documents/nuestra_facultad/cuerpos_colegiados/division-de-ciencias-sociales.pdf" target="_blank" title="División de Ciencias Sociales">
                        <div class="icon icon-ciencias-sociales">
                            </div>
                    <p>División de Ciencias Sociales</p>
                </a>
            </div>
            <div class="col-12 col-md-4 btn-cat">
                <a class="category" href="public_html/documents/nuestra_facultad/cuerpos_colegiados/division-de-humanidades-artes.pdf" target="_blank" title="División de Humanidades y Artes">
                        <div class="icon icon-hya">
                            </div>
                    <p>División de Humanidades y Artes</p>
                </a>
            </div>
            <div class="col-12 col-md-4 btn-cat">
                    <a class="category" ui-sref="cuerpos_colegiados_list({area:'duacyd'})" title="DUACyD">
                            <div class="icon icon-duacyd">
                                </div>
                        <p>DUACyD</p>
                    </a>
                </div>
                <div class="col-12 col-md-4 btn-cat">
                        <a class="category" href="public_html/documents/nuestra_facultad/cuerpos_colegiados/posgrados.pdf" target="_blank" title="Posgrados">
                            <div class="icon icon-posgrados">
                            </div>
                            <p>Posgrados</p>
                        </a>
                </div>
                <div class="col-12 col-md-4 btn-cat">
                    <a class="category" ui-sref="cuerpos_colegiados_list({area:'planeacion'})" title="Unidad de Planeación">
                <svg class="icon">
                                    <use xlink:href="public_html/img/nuestra_facultad/cuerpos_colegiados/unidad-de-planeacion.svg#unidad-de-planeacion"/>
                            </svg>
                        <p>Unidad de Planeación</p>
                    </a>
                </div>
        </div>
                 </div>   
        </div>
    
        
    
    </div>