<style>
.dir h2{
        font-size: 19px;
} 
    .botones .iconoh {
        display: block;
        padding: 15px;
    }

    .botones .btn-cat p{
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    top: 0px;
}
</style>
<!-- Direcci&oacute;n-->
<div class="container content dir">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
           <i class="icono-secciones icon-direccion-1" style="position: relative;top: 3px;"></i>  <h1>Direcci&oacute;n</h1>
        </div>
    </div>
    <hr>
    <div class="row portafolio" style="margin-bottom: 15px;">
        <div class="col-12 col-lg-9 texto pleca pb-3">
            <p class="text-justify">Es Ingeniero El&eacute;ctrico Electr&oacute;nico y Maestro en Ingenier&iacute;a en el &aacute;rea de Sistemas por la UNAM. Es Profesor de Asignatura A Definitivo en la FES Arag&oacute;n.</p>
            <p class="text-justify"> En la UNAM ha ocupado diversos cargos administrativos, primero en la Facultad de Ingenier&iacute;a como secretario acad&eacute;mico de la Divisi&oacute;n de Ingenier&iacute;a Mec&aacute;nica e Industrial y m&aacute;s tarde en la FES Arag&oacute;n como secretario t&eacute;cnico de la Carrera de Ingenier&iacute;a Mec&aacute;nica El&eacute;ctrica, jefe de la Divisi&oacute;n del Sistema Universidad Abierta y Educaci&oacute;n Continua, as&iacute; como jefe de la Divisi&oacute;n de Ciencias F&iacute;sico Matem&aacute;ticas y de las Ingenier&iacute;as.</p>
            <p class="text-justify">Ha dirigido cursos de actualizaci&oacute;n profesional para licenciatura, en temas relacionados con la Planeaci&oacute;n y Gesti&oacute;n de la Calidad. Pertenece a cinco Comit&eacute;s Acad&eacute;micos de Carrera de la UNAM. En el 2003 fue reconocido como Contacto Universitario de la UNAM Campus ENEP Arag&oacute;n, por la Asociaci&oacute;n Internacional de Educadores por la Paz, C&aacute;tedra UNESCO de Derechos Humanos.</p>
            <p class="text-justify">Particip&oacute; en la creaci&oacute;n de las carreras de Ingenier&iacute;a El&eacute;ctrica Electr&oacute;nica, Ingenier&iacute;a Mec&aacute;nica e Ingenier&iacute;a Industrial en la FES Arag&oacute;n y de Ingenier&iacute;a Mecatr&oacute;nica e Ingenier&iacute;a en Sistemas Biom&eacute;dicos de la FI.</p>
            <p class="text-justify">En el 2003 implement&oacute; en los Laboratorios de Ingenier&iacute;a de la FES Arag&oacute;n el primer Sistema de Gesti&oacute;n de Calidad certificado en la norma ISO-9001:2000, orientado a la docencia en Am&eacute;rica Latina, adem&aacute;s de coordinar tres reacreditaciones y la ampliaci&oacute;n del 33% en el alcance del mismo sistema.</p>
            <p class="text-justify">En 2010, promovi&oacute; en todas las jefaturas de Divisi&oacute;n de la Facultad, la actualizaci&oacute;n de los requisitos para los alumnos que buscaban titularse mediante la modalidad de “Ampliaci&oacute;n y profundizaci&oacute;n de conocimientos”, incrementando con ello el &iacute;ndice de titulaci&oacute;n de la Facultad.</p>
            <p class="text-justify">Ha coordinado diferentes proyectos de vinculaci&oacute;n con instancias de los sectores p&uacute;blico y social, los cuales generaron recursos extraordinarios que se invirtieron en la adecuaci&oacute;n de los espacios acad&eacute;micos de los Laboratorios de Ingenier&iacute;a.</p>
            <p class="text-justify">Ha impulsado proyectos tecnol&oacute;gicos multidisciplinarios que promueven la inclusi&oacute;n de personas con discapacidad, de los cuales se ha desprendido el registro de dos patentes.</p>
            <p class="text-justify">Promovi&oacute; la creaci&oacute;n de siete cap&iacute;tulos estudiantiles y siete comunidades de alumnos, quienes han participado en concursos y proyectos nacionales e internacionales obteniendo excelentes resultados. Logr&oacute; ampliar las modalidades de titulaci&oacute;n en las ingenier&iacute;as, incorporando tres nuevas y modificando dos ya existentes.</p>
            <p class="text-justify">Ha participado como s&iacute;nodo y director de tesis de licenciatura y posgrado; adem&aacute;s ha publicado tres cuadernos de apuntes, una investigaci&oacute;n institucional conjunta, dos rese&ntilde;as y cinco art&iacute;culos t&eacute;cnicos; realiz&oacute; la revisi&oacute;n t&eacute;cnica de dos libros y m&aacute;s de 120 art&iacute;culos para congresos; y ha impartido conferencias en m&aacute;s de 20 ocasiones.</p>
            <div class="row justify-content-center botones" style="padding-top: 25px;">
                <div class="col-12">
                <h2>Gestión del director</h2>
                <hr>
                 </div>
                <div class="col-12 col-sm-12 col-md-5 btn-cat">
                    <a class="category" ui-sref="primera_gestion" title="Miembros">
                        <div class="icon iconoh far fa-folder-open">
                        </div>
                        <p>Primera gestión (2016 - 2020)</p>
                    </a>
                </div>
                <div class="col-12 col-sm-12 col-md-5 btn-cat">
                    <a class="category" ui-sref="segunda_gestion" title="Acuerdos">
                        <div class="icon iconoh far fa-folder-open">  
                        </div>
                        <p>Segunda gestión (2020 - 2024)</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 seccion-informacion pleca">
            <strong>Director</strong>
            <p>Fernando Macedo Chagolla</p>
            <!--AKA: El Adoquines Locos-->
            <img class="d-flex justify-content-center rounded-circle img-responsable" src="public_html/img/nuestra_facultad/direccion/fernando-macedo-chagolla.jpg" alt="Director de la FES Arag&oacute;n"/>
            <strong> Tel&eacute;fono(s)</strong>
            <p style="margin-bottom: 0px;">55 5623 0222</p> <p>Ext. 30828 y 30830</p>
            <strong> Correo electr&oacute;nico</strong>
            <p class="fs-12"><a class="link-a" href="mailto:direccion@aragon.unam.mx" title="correo-electronico">direccion@aragon.unam.mx</a></p>
        </div>
    </div>
</div>