<!-- FES Arag&oacute;n -->
<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <i class="icono-secciones icon-fes-aragon" style="position: relative;top: 8px;"></i>
            <h1> FES Arag&oacute;n</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-lg-12 texto">
            <p class="pt-3 pb-3">La Universidad Nacional Aut&oacute;noma de M&eacute;xico tiene por fines impartir educaci&oacute;n
                superior para formar profesionistas, investigadores, profesores universitarios y t&eacute;cnicos
                &uacute;tiles a la sociedad; organizar y realizar investigaciones principalmente acerca de las
                condiciones y problemas nacionales, y extender con la mayor amplitud posible los beneficios de la
                cultura. Con esa tarea como eje, la universidad ha desempe&ntilde;ado un papel protag&oacute;nico en la
                historia y en la formaci&oacute;n de nuestro pa&iacute;s. </p>
            <hr>
            <div class="row galeria justify-content-center align-items-center portafolio">
                <div class="col-12 col-lg-5 pt-4">
                    <div class="embed-responsive embed-responsive-16by9" style="border-radius: 15px;">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/UZ9WDF0bnQ0"
                            frameborder="0" allowfullscreen=""></iframe>
                    </div>
                </div>
                <div class="col-12 col-lg-2 galeria pt-4">
                    <p class="m-0">UNAM</p>
                    <hr class="mt-0">
                    <a class="contenedor-imagen mb-3" target="_blank"
                        href="#!/seccion/unam"><img
                            class="justify-content-center img-fluid " alt="Noticias"
                            src="public_html/img/noticias/seccion-de-noticias.png"></a>
                    <p class="m-0">FES Arag&oacute;n</p>
                    <hr class="mt-0">
                    <a class="contenedor-imagen mb-3" target="_blank"
                        href="#!/seccion/fes-aragon"><img
                            class="justify-content-center img-fluid " alt="Noticias"
                            src="public_html/img/noticias/seccion-de-noticias.png"></a>
                </div>
            </div>
            <hr>
            <p class="pt-3 pb-3">La Facultad de Estudios Superiores Arag&oacute;n forma parte de este prop&oacute;sito al dedi­carnos a
                formar profesionistas de excelencia, mediante activida­des que aportan valor en cada una de las
                &aacute;reas enfocadas a la formaci&oacute;n profesional y con la firme convicci&oacute;n en el uso de
                las tecnolog&iacute;as a favor del proceso de ense&ntilde;anza­-aprendizaje. </p>
            <hr />
            <h2 class="pt-3 pb-3">Historia</h2>
            <p>El surgimiento de esta multidisciplinaria fue aprobado el 23 de septiembre de 1975 en sesi&oacute;n
                extraordinaria del H. Consejo Universitario. Pero no siempre fuimos FES Arag&oacute;n, cuando abrimos
                nuestras puertas en enero de 1976, inaugurados por el Rector Guillermo Sober&oacute;n, &eacute;ramos
                Escuela Nacional de Estudios Profesionales (ENEP), si bien la diferencia es enorme. </p>
            <p>Cuando nacimos, como el resto de las Escuelas Nacionales, nuestra oferta curricular s&oacute;lo
                ten&iacute;a grados de Licenciatura (Arquitectura, Derecho, Dise&ntilde;o Industrial, Econom&iacute;a,
                Ingenier&iacute;a Civil, Ingenier&iacute;a Mec&aacute;nica El&eacute;ctrica, Pedagog&iacute;a,
                Periodismo y Comunicaci&oacute;n Colectiva, Relaciones Internacionales y Sociolog&iacute;a). Pero en
                marzo 2005 transitamos hacia Facultad, lo cual significa que ya podemos otorgar t&iacute;tulos de
                Maestr&iacute;a y Doctorado, un cambio sustantivo en nuestra calidad.</p>
            <p>La FES Arag&oacute;n es la m&aacute;s joven -poco m&aacute;s de cuarenta a&ntilde;os- de las unidades
                multidisciplinarias de la UNAM y es un referente de desarrollo en la zona nororiente del Valle de
                M&eacute;xico. Su misi&oacute;n es formar profesionistas del m&aacute;s alto nivel, tanto en
                licenciatura como en posgrado, aunque la realidad es que hace mucho m&aacute;s que trasladar
                conocimiento a los estudiantes, esforz&aacute;ndose por ser formadora integral de mejores personas,
                mexicanos y ciudadanos del mundo.</p>
            <p>Actualmente en la Facultad contamos con estudiantes de 14 licenciaturas en sistema escolarizado, de las
                cuales tres se imparten tambi&eacute;n en el Sistema Abierto y a Distancia; por cierto, todas nuestras
                carreras est&aacute;n acreditadas, lo que significa que instituciones externas calificadas avalan la
                calidad de los programas acad&eacute;micos. Adem&aacute;s, aqu&iacute; se pueden cursar dos
                especializaciones, seis maestr&iacute;as y tres doctorados. </p>
            <p>La FES Arag&oacute;n se destaca por desarrollar sinergias multidisciplinarias e innovadoras, es decir, se
                genera conocimiento y productos pensados desde varias licenciaturas. Eso enriquece los procesos
                creativos que se generan desde el Centro Tecnol&oacute;gico, el Centro de Investigaci&oacute;n
                Multidisciplinaria y el Innovation Center; en &eacute;stos, docentes y estudiantes trabajan en las
                &aacute;reas humanistas, cient&iacute;ficas y tecnol&oacute;gicas para aportar proyectos que ayuden a
                solucionar problemas sociales y fomenten el desarrollo de nuestro pa&iacute;s.</p>
            <p>Todas nuestras carreras destacan en los concursos y actividades propios de cada &aacute;rea:
                cert&aacute;menes de debate, oratoria y MUNs, hackatones, concursos de construcci&oacute;n y materiales,
                programaci&oacute;n y robots. Hemos obtenido los primeros lugares en contiendas con fines sociales desde
                temas como movilidad, resiliencia, agua y preservaci&oacute;n del ambiente, servicios p&uacute;blicos,
                asistencia a ni&ntilde;os con autismo y energ&iacute;as limpias, entre muchos otros. De esta manera, la
                Facultad se posiciona como una de las mejores instituciones educativas como referente de ciencia,
                tecnolog&iacute;a e innovaci&oacute;n social.</p>
            <p>A ello se suma que en el &aacute;mbito deportivo, la FES Arag&oacute;n ha sido semillero de grandes
                atletas, y que al d&iacute;a de hoy ostentamos la copa de Campe&oacute;n Absoluto dentro de los
                encuentros deportivos InterFES.</p>
        </div>
    </div>
</div>