<style>
.table .thead-dark th {
    background-color: #808080;
    border-color: #808080;
}
</style>   

<div class="container content servicios-escolares-ac mb-15">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <i class="icono-secciones icon-consejo-tecnico"></i>
            <h1>Integrantes</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <table class="table fs-13">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">&Aacute;rea</th>
                        <th scope="col">Titular</th>
                        <th scope="col">Suplente</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Arquitectura</td>
                        <td>Arq. Néstor Lugo Zaleta</td>
                        <td>Mtra. Martina del Carmen Martínez Landa</td>
                    </tr>
                    <tr>
                        <td>Centro de Lenguas</td>
                        <td>Mtra. Ariadna Benavides Higuera</td>
                        <td>Profa. María Beatriz García Castillo</td>
                    </tr>
                    <tr>
                        <td>Comunicaci&oacute;n y Periodismo</td>
                        <td>Lic. María del Carmen Leal Hernández</td>
                        <td>Lic. Sergio Julio Ortiz Montiel</td>
                    </tr>
                    <tr>
                        <td>Derecho</td>
                        <td>Dr. Bernabé Luna Ramos</td>
                        <td>Mtra. Rosa de Jesús Vivas Guzmán </td>
                    </tr>
                    <tr>
                        <td>Diseño Industrial</td>
                        <td>D. I. Patricia Herrera Macías</td>
                        <td>D. I. Luis Daniel Zamora Flores</td>
                    </tr>
                    <tr>
                        <td>División de Estudios de Posgrado e Investigación</td>
                        <td>Dr. Isidro Mendoza García</td>
                        <td>Dr. Víctor Manuel Alvarado Hernández</td>
                    </tr>
                    <tr>
                        <td>División de Universidad Abierta, Continua y a Distancia</td>
                        <td>Lic. Alma Rosa Gutiérrez Castillo</td>
                        <td>Lic. Ildefonso Sánchez Pérez</td>
                    </tr>
                    <tr>
                        <td>Econom&iacute;a</td>
                        <td>Dr. Helios Padilla Zazueta</td>
                        <td>Lic. José Fernando Gallegos Villegas</td>
                    </tr>
                    <tr>
                        <td>Ingenier&iacute;a Civil</td>
                        <td>M. en I. Karla Ivonne Gutiérrez Vázquez</td>
                        <td>Ing. José Ortega Mondragón</td>
                    </tr>
                    <tr>
                        <td>Ingenier&iacute;a en Computaci&oacute;n</td>
                        <td>M. en I. Elizabeth Juárez Robles</td>
                        <td>M. en I. Gerardo González Hernández</td>
                    </tr>
                    <tr>
                        <td>Ingenier&iacute;a El&eacute;ctrica Electr&oacute;nica</td>
                        <td>M. en I. Rodrigo Ocón Valdez</td>
                        <td>M. en A. José Luis Pérez Báez </td>
                    </tr>
                    <tr>
                        <td>Ingenier&iacute;a Industrial</td>
                        <td>Ing. Eduardo del Razo García</td>
                        <td>Mtro. Jesús Juan Treviño Ortegón</td>
                    </tr>
                    <tr>
                        <td>Ingenier&iacute;a Mec&aacute;nica</td>
                        <td>Dr. Daniel Aldama Avalos</td>
                        <td>Ing. Everardo Esquivel Sánchez</td>
                    </tr>
                    <tr>
                        <td>Pedagog&iacute;a</td>
                        <td>Dra. María de Lourdes García Peña</td>
                        <td>Mtra. Angélica Nallely Téllez Fuentes</td>
                    </tr>
                    <tr>
                        <td>Planificaci&oacute;n para el Desarrollo Agropecuario</td>
                        <td>Mtra. Hortensia de Jesús Arroyo Vargas</td>
                        <td>Mtro. Oscar Juan Romero Delgado</td>
                    </tr>
                    <tr>
                        <td>Relaciones Internacionales</td>
                        <td>Mtro. Rodolfo Arturo Villavicencio López</td>
                        <td>Mtra. Margarita Hilda Vilchis Rodríguez </td>
                    </tr>
                    <tr>
                        <td>Sociolog&iacute;a</td>
                        <td>Dr. Manuel Ramírez Mercado</td>
                        <td>Mtra. Tania Lizbeth Meléndez Elizalde</td>
                    </tr>
                    <tr>
                        <td>T&eacute;cnicos Acad&eacute;micos</td>
                        <td>M. en C. Marjiorie Márquez Vázquez </td>
                        <td>Lic. Antonio Rosas Mares </td>
                    </tr>
                    <tr>
                        <td>Estudiante</td>
                        <td>Jaye Adlai Jiménez Rizo</td>
                        <td>Carlos Geovanny Díaz Rodríguez</td>
                    </tr>
                    <tr>
                        <td>Estudiante</td>
                        <td>Gabriela Guadalupe Vázquez Servín</td>
                        <td>José Antonio Gómez Castillo</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>