<!-- Mapa FES Arag&oacute;n -->
<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <i class="icono-secciones icon-mapa-de-la-fes"></i> <h1> Mapa FES Arag&oacute;n 3D</h1>
        </div>
    </div>
    <hr>
    <div class="row align-items-center" >
        <div class="col-12 col-lg-8">   
            <img src="public_html/img/nuestra_facultad/mapa_fes_aragon/mapa-fes-aragon.jpg" alt="Mapa FES Arag&oacute;n" class="img-fluid"/>
        </div>
        <div class="col-12 col-lg-4">   
            <ul class="text-left">
                <li><b>G</b>: Gobierno/Divisi&oacute;n de Ciencias Sociales/Divisi&oacute;n de Humanidades y Artes</li>
                <li><b>CIL</b>: Comunicaci&oacute;n Social/Divisi&oacute;n de Ciencias Fis&iacute;co-Matem&aacute;ticas y de las Ingenier&iacute;as/Aulas de Centro Lenguas</li>
                <li><b>DUACyD</b>: Divisi&oacute;n de Universidad Abierta, Continua y a Distancia</li>
                <li><b>B</b>: Biblioteca Jes&uacute;s Reyes Heroles</li>
                <li><b>CIMA</b>: Centro de Investigaci&oacute;n Multidisciplinaria Arag&oacute;n</li>
                <li><b>ICA</b>: Innovation Center Arag&oacute;n</li>
                <li><b>CTA</b>: Centro Tecnol&oacute;gico Arag&oacute;n</li>
                <li><b>CISE</b>: Centro Integral de Servicios Escolares</li>
                <li><b>SUM</b>: Sal&oacute;n Usos M&uacute;ltiples</li>
                <li><b>JV</b>: Teatro Jos&eacute; Vasconcelos</li>
                <li><b>E</b>: Extensi&oacute;n Universitaria</li>
                <li><b>CO</b>: Cl&iacute;nica Odontol&oacute;gica</li>
                <li><b>CC</b>: Centro de C&oacute;mputo</li>
                <li><b>AD</b>: Anexo de Derecho</li>
                <li><b>SM</b>: Servicio M&eacute;dico</li>
                <li><b>L</b>: Laboratorios</li>
                <li><b>A12</b>: Posgrado</li>
                <li><b>A</b>: Aulas</li>
            </ul>
        </div>
    </div>
</div>
 <!-- fin Mapa FES Arag&oacute;n -->
