<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-12">
            <h1>NUESTRA FACULTAD</h1>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center">
        <div class="col-11">
            <p>La Facultad de Estudios Superiores Arag&oacute;n es la instituci&oacute;n m&aacute;s destacada de la regi&oacute;n nororiente de la zona metropolitana, dedicada a formar profesionistas de excelencia apeg&aacute;ndose a los valores universitarios.</p>
            <p>Oferta 14 licenciaturas en el Sistema Escolarizado y 3 en el Sistema de Universidad Abierta y Educaci&oacute;n a Distancia, todas ellas acreditados por pares acad&eacute;micos, pues ostentan calidad en su estructura, funcionamiento, ense&ntilde;anza, servicios, resultados y pertinencia social.</p>
            <p>Al culminar la licenciatura, la comunidad universitaria podr&aacute; seguir su profesionalizaci&oacute;n. La Divisi&oacute;n de Estudios de Posgrado e Investigaci&oacute;n tiene dos programas de especializaci&oacute;n, seis de maestr&iacute;a y tres de doctorado, todos ellos incorporados por su excelencia acad&eacute;mica al Programa Nacional de Posgrados de Calidad (PNPC) del Consejo Nacional de Ciencia y Tecnolog&iacute;a (CONACyT).</p>
            <p>En cuanto a la formaci&oacute;n integral, la Facultad brinda a la comunidad externa una amplia gama de manifestaciones art&iacute;sticas y deportivas. Oferta una diversidad de cursos, talleres, diplomados y seminarios para que la comunidad siga con su preparaci&oacute;n y capacitaci&oacute;n. Cuenta con el Centro de Investigaci&oacute;n Multidisciplinaria y el Centro Tecnol&oacute;gico para vincular a la comunidad universitaria con el sector productivo e industrial de la zona para ofrecerles alternativas de soluci&oacute;n a sus problemas.</p>
            <p>Preocupada por el entorno y sus habitantes, tiene servicios espec&iacute;ficos enfocados en el beneficio directo de la comunidad aleda&ntilde;a como el Programa de Psicopedag&oacute;gico, Servicio Social Tutorial Amig@s de la FES Arag&oacute;n, Programa Educativo y Asesor&iacute;a a la Violencia Escolar, Programa Multidisciplinario de Estudios de G&eacute;nero, entre otros.</p>
            <h2>Misión </h2>
            <hr>
            <p>La FES Aragón es una institución de educación superior dedicada a formar profesionistas de excelencia, mediante actividades que aportan valor en cada una de las áreas enfocadas a la formación profesional y una inclusión académico-administrativa de todos sus actores, con la firme convicción en el uso de las tecnologías a favor del proceso de enseñanza-aprendizaje.</p>
            <p>Dando oportunidad al desarrollo de la planta académica, de las trabajadoras y trabajadores mediante la capacitación, estabilidad y el reconocimiento a su labor. Apegándose al marco institucional, al uso racional de nuestros recursos, a la calidad en el servicio y anteponiendo siempre el beneficio de la sociedad.</p>
            <h2>Visión</h2>
            <hr>
            <p>Ser la institución de educación superior referente en la formación de profesionistas, reconocida por:</p>
            <ul>
                <li>Alta inserción laboral de egresadas y egresados en el campo de su formación.</li>
                <li>Planta docente con trayectoria destacada en el ejercicio de su profesión.</li>
                <li>Líneas de investigación generadoras de productos de alto valor.</li>
                <li>Enfoque de servicio a la comunidad.</li>
                <li>Procesos administrativos innovadores y transparentes.</li>
                <li>Participación activa en aspectos de relevancia social.</li>
                <li>Compromiso en la formación humana integral.</li>
            </ul>
        </div>
    </div>

    <div class="row justify-content-center botones" style="padding-top: 25px;">
            <div class="col-12 col-lg-11">
                    <h2>&Aacute;reas</h2>
                    <hr>
                <div class="row justify-content-star">
                    <div class="col-12 col-md-5 col-lg-5 col-xl-4 btn-cat btn-sec">
                        <a class="category" ui-sref="fes_aragon" title="FES Arag&oacute;n">
                            <div class="icon icon-fes-aragon">
                            </div>
                            <p>FES Aragón</p>
                        </a>
                    </div>
                    <div class="col-12 col-md-5 col-lg-5 col-xl-4 btn-cat btn-sec">
                        <a class="category" ui-sref="consejo_tecnico" title="Consejo T&eacute;cnico">
                            <div class="icon icon-consejo-tecnico">
                            </div>
                            <p>Consejo Técnico</p>
                        </a>
                    </div>
                    <div class="col-12 col-md-5 col-lg-5 col-xl-4 btn-cat btn-sec">
                        <a class="category" ui-sref="direccion" title="Direcci&oacute;n">
                            <div class="icon icon-direccion-1">
                            </div>
                            <p>Dirección</p>
                        </a>
                    </div>
                    <div class="col-12 col-md-5 col-lg-5 col-xl-4 btn-cat btn-sec">
                        <a class="category" ui-sref="cuerpos_colegiados" title="Cuerpos Colegiados">
                            <svg class="icon">
                                <use xlink:href="public_html/img/nuestra_facultad/cuerpos_colegiados/cuerpos-colegiados.svg#cuerpos-colegiados"/>
                            </svg>
                            <p>Cuerpos colegiados</p>
                        </a>
                    </div>
                    <div class="col-12 col-md-5 col-lg-5 col-xl-4 btn-cat btn-sec">
                        <a class="category" ui-sref="directorio" title="Directorios UNAM">
                            <div class="icon icon-simbolo-de-la-sumision-del-directorio">
                            </div>
                            <p>Directorios UNAM</p>
                        </a>
                    </div>
                    <div class="col-12 col-md-5 col-lg-5 col-xl-4 btn-cat btn-sec">
                        <a class="category" ui-sref="transparencia" title="Transparencia">
                            <div class="icon icon-transprencia">
                            </div>
                            <p>Transparencia</p>
                        </a>
                    </div>
                    <div class="col-12 col-md-5 col-lg-5 col-xl-4 btn-cat btn-sec">
                        <a class="category"  ui-sref="administracion" title="Administraci&oacute;n">
                            <div class="icon icon-administracion">
                            </div>
                            <p>Administración</p>
                        </a>
                    </div>
                    <div class="col-12 col-md-5 col-lg-5 col-xl-4 btn-cat btn-sec">
                        <a class="category" ui-sref="llegar_fes_aragon" title="C&oacute;mo llegar a la FES">
                            <div class="icon icon-como-llegar">
                            </div>
                            <p>Cómo llegar a la FES</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</div>