<!-- Portal Docente -->
<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <i class="icono-secciones icon-transprencia" style="position: relative;top: 9px;"></i>  <h1> Transparencia</h1>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <div class="row">
                <div class=" col-6 col-lg-6 p-0 text-center conte-img">
                    <a href="http://www.transparencia.unam.mx/" target="_blank" title="Transparencia UNAM">
                        <img src="public_html/img/nuestra_facultad/transparencia/transparencia-unam.jpg" class="img-fluid image w-95" alt="Transparencia UNAM"/>
                        <div class="overlay w-95 br-15" id="banner-principal">
                            <div class="text">Transparencia UNAM</div>
                        </div>
                    </a>
                </div>
                <div class=" col-6 col-lg-6 p-0 text-center conte-img">
                    <a ui-sref="auditorias" title="Auditorías">
                        <img src="public_html/img/nuestra_facultad/transparencia/auditorias.jpg" class="img-fluid image w-95 ml-13" alt="Auditorías"/>
                        <div class="overlay w-95 br-15 ml-13" id="banner-principal">
                            <div class="text">Auditorías</div>
                        </div>
                    </a>
                </div>
                <div class=" col-12 col-lg-12 owl-carousel owl-theme" style="z-index: 0;margin-top: 8px;">
                    <div class="item conte-img carousel-portal-docente">
                        <a href="public_html/documents/slider_principal/sendero-seguro-para-la-comunidad-aragonesa.pdf" target="_blank" title="Sendero Seguro">
                            <img src="public_html/img/nuestra_facultad/transparencia/sendero-seguro.jpg" class="img-fluid image" alt="Concursos de Oposici&oacute;n"/>
                            <div class="overlay bg-blue br-15">
                                <div class="text">Sendero Seguro</div>
                            </div>
                        </a>
                    </div>
                    <div class="item conte-img carousel-portal-docente">
                        <a href="http://132.248.44.93:8080/SAAI/transparencia.jsp" target="_blank" title="Presupuesto">
                            <img src="public_html/img/nuestra_facultad/transparencia/presupuestos.jpg" class="img-fluid image" alt="presupuestos"/>
                            <div class="overlay bg-blue br-15">
                                <div class="text">Presupuesto</div>
                            </div>
                        </a>
                    </div>
                    <div class="item conte-img carousel-portal-docente">
                        <a href="public_html/documents/informes/informe-de-actividades-2016-2017.pdf" target="_blank" title="1er informe de actividades 2016-2017">
                            <img src="public_html/img/nuestra_facultad/transparencia/1er-informe-de-actividades-2016-2017.jpg" class="img-fluid image" alt="1er informe de actividades 2016-2017"/>
                            <div class="overlay bg-blue br-15">
                                <div class="text">1er informe de actividades 2016-2017</div>
                            </div>
                        </a>
                    </div>
                    <div class="item conte-img carousel-portal-docente">
                        <a href="public_html/documents/informes/informe-de-actividades-2017-2018.pdf" target="_blank" title="2do informe de actividades 2017-2018">
                            <img src="public_html/img/nuestra_facultad/transparencia/2do-informe-de-actividades-2017-2018.jpg" class="img-fluid image" alt="2do informe de actividades 2017-2018"/>
                            <div class="overlay bg-blue br-15">
                                <div class="text">2do informe de actividades 2017-2018</div>
                            </div>
                        </a>
                    </div>
                    <div class="item conte-img carousel-portal-docente">
                        <a href="public_html/documents/nuestra_facultad/direccion/informe-de-actividades-2018-2019.pdf" target="_blank" title="3er informe de actividades 2018-2019">
                            <img src="public_html/img/nuestra_facultad/transparencia/3er-informe-de-actividades-2018-2019.jpg" class="img-fluid image" alt="3er informe de actividades 2018-2019"/>
                            <div class="overlay bg-blue br-15">
                                <div class="text">3er informe de actividades 2018-2019</div>
                            </div>
                        </a>
                    </div>
                    <div class="item conte-img carousel-portal-docente">
                        <a href="public_html/documents/nuestra_facultad/direccion/informe-de-actividades-2019-2020.pdf" target="_blank" title="4to informe de actividades 2019-2020">
                            <img src="public_html/img/nuestra_facultad/transparencia/4to-informe-de-actividades-2019-2020.jpg" class="img-fluid image" alt="4to informe de actividades 2019-2020"/>
                            <div class="overlay bg-blue br-15">
                                <div class="text">4to informe de actividades 2019-2020</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>