<!-- Centro Tecnol&oacute;gico Arag&oacute;n-->
<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <i class="icono-secciones icon-centro-tecnologico" style="position: relative;top: 7px;"></i>
            <h1> Centro Tecnol&oacute;gico Arag&oacute;n</h1>
        </div>
    </div>
    <hr>
    <div class="row" style="margin-bottom: 15px;">
        <section class="col-12 col-lg-9 texto">
            <p>El Centro Tecnol&oacute;gico Arag&oacute;n se dedica a realizar actividades de Investigaci&oacute;n
                de
                Desarrollo Tecnol&oacute;gico dentro de la facultad, a fin de propiciar los procesos de
                formaci&oacute;n
                acad&eacute;mica en sus aspectos te&oacute;ricos, te&oacute;rico-pr&aacute;cticos y pr&aacute;cticos
                que
                involucren a investigadores, profesores y alumnos de nuestra Facultad. </p>
            <p>Tambi&eacute;n, se encarga de impulsar la vinculaci&oacute;n con el sector industrial, empresarial,
                social y con algunas instancias gubernamentales, con el fin de resolver requerimientos
                espec&iacute;ficos de estos sectores, que los ayuden a solucionar problemas concretos que por su
                naturaleza requieren de la participaci&oacute;n de investigadores y personal calificado que puedan
                dar
                una soluci&oacute;n integral y satisfactoria, haciendo uso de los distintos programas que para
                realizar
                dicha vinculaci&oacute;n tienen el CONACYT y el COMECYT. </p>
            <p>Adicionalmente tiene otras tareas, como promover las actividades de emprendimiento entre la Comunidad
                de
                la FES Arag&oacute;n a trav&eacute;s de programas institucionales, as&iacute; como programar y
                promover
                la realizaci&oacute;n de eventos acad&eacute;micos con instituciones similares a nivel nacional e
                internacional. </p>
            <p>El Centro Tecnol&oacute;gico cuenta con el Auditorio M. en I. Claudio Carl Merrefield Castro, con
                capacidad para 205 personas y con dos salas de videoconferencias con capacidad de 30 personas, que
                se
                utilizan para llevar a cabo distintas actividades acad&eacute;micas.</p>
            <hr>
            <article>
                <h2>Unidad Arag&oacute;n de Innova UNAM</h2>
                <p>La Unidad Arag&oacute;n de Innova UNAM surge con el objetivo de vincular la investigaci&oacute;n con
                    el
                    entorno, sum&aacute;ndose as&iacute; al esfuerzo de otras facultades y de la Universidad Nacional
                    Aut&oacute;noma de M&eacute;xico, ahondando en el desarrollo tecnol&oacute;gico y la creaci&oacute;n
                    de
                    empresas que favorezcan la generaci&oacute;n de empleos e impulsen el avance econ&oacute;mico y
                    social
                    del pa&iacute;s.</p>
                <p>El objetivo de la unidad es fomentar el surgimiento de nuevas empresas de tecnolog&iacute;a
                    intermedia y
                    tradicional, apoy&aacute;ndolas con asesor&iacute;a y capacitaci&oacute;n para su desarrollo. Entre
                    los
                    servicios que ofrece para la comunidad universitaria est&aacute;n:</p>
                <ul>
                    <li>Promoci&oacute;n de la cultura empresarial
                    <li>Capacitaci&oacute;n en:</li>
                    <ul>
                        <li>Elaboraci&oacute;n del plan de negocios.</li>
                        <li>Talleres para desarrollo del perfil empresarial.</li>
                        <li>Propiedad intelectual.</li>
                    </ul>
                    <li>Asesor&iacute;a a alumnos.</li>
                    <li>Incubaci&oacute;n y desarrollo de empresas.</li>
                    <li>Vinculaci&oacute;n.</li>
                </ul>
            </article>
            <hr />
            <article>
                <h2>Apoyo acad&eacute;mico</h2>
                <p>El Centro Tecnol&oacute;gico Arag&oacute;n se encarga de apoyar el trabajo del docente y los alumnos,
                    por
                    medio de un ambiente propicio para la adecuada asimilaci&oacute;n del conocimiento con el equipo de
                    audio y video necesario.</p>
                <p>Entre las actividades acad&eacute;micas que realiza est&aacute;n cursos, seminarios, talleres,
                    conferencias (nacionales e internacionales), congresos (nacionales e internacionales) y
                    videoconferencias (nacionales e internacionales).</p>
            </article>
            <hr />
            <article>
                <h2>Espacios</h2>
                <p>Dentro del Centro hay una serie de espacios para difundir conocimientos y las investigaciones, a
                    trav&eacute;s de m&uacute;ltiples eventos enfocados a los estudiantes, acad&eacute;micos y
                    funcionarios
                    de todas las &aacute;reas de la FES Arag&oacute;n. </p>
                <p>El Auditorio M. en I. Claudio Carl Merrefield Castro, es la principal &aacute;rea de
                    exposici&oacute;n de
                    los diferentes proyectos que se realizan en el Centro Tecnol&oacute;gico Arag&oacute;n, con el fin
                    de
                    transmitir a la comunidad universitaria los adelantos y conocimientos desarrollados paralelamente a
                    su
                    formaci&oacute;n profesional. Este recinto, cuenta con la infraestructura para recibir a 205
                    personas
                    c&oacute;modamente sentadas, adem&aacute;s las butacas cuentan con un soporte movible para tener una
                    superficie donde colocar alguna hoja o cuaderno.</p>
                <p>Las salas de videoconferencias son espacios destinados para eventos tanto remotos como locales, con
                    el
                    fin de exponer diferentes temas de inter&eacute;s hacia la comunidad estudiantil. Se dispone de
                    equipo
                    de audio, as&iacute; como de un proyector para efectuar presentaciones. De igual manera se cuenta
                    con un
                    sistema encargado de realizar los enlaces cuando se trata de videoconferencias.</p>
            </article>
        </section>
        <aside class="col-12 col-lg-3 seccion-informacion portafolio">
            <strong>Responsable</strong>
            <p>Jacinto Cort&eacute;s P&eacute;rez</p>
            <figure>
                <img class="d-flex justify-content-center rounded-circle img-responsable"
                    src="public_html/img/investigacion/centro-tecnologico-aragon/jacinto-cortes-perez.jpg"
                    alt="Jacinto Cort&eacute;s P&eacute;rez" />
            </figure>
            <strong> Horario </strong>
            <p>De lunes a viernes de 9:00 a 14:00 h y de 16:00 a 20:00 h</p>
            <strong> Tel&eacute;fono(s)</strong>
            <p>55 5623 1079 y 55 5623 0879</p>
            <strong> Correo electr&oacute;nico</strong>
            <p class="fs-12"><a class="link-a" href="mailto:cta@aragon.unam.mx"
                    title="correo-electronico">cta@aragon.unam.mx</a></p>
            <figure class="galeria">
                <a class="contenedor-imagen " target="_blank"
                    href="#!/seccion/cta"><img
                        class="justify-content-center img-fluid " alt="Noticias"
                        src="public_html/img/noticias/seccion-de-noticias.png"></a>
            </figure>
            <hr>
            <strong>Unidad Arag&oacute;n de Innova UNAM</strong>
            <p>Julia Olivares G&oacutemez</p>
            <figure>
                <img class="d-flex justify-content-center rounded-circle img-responsable"
                    src="public_html/img/investigacion/centro-tecnologico-aragon/julia-olivares-gomez.jpg"
                    alt="Julia Olivares G&oacute;mez" />
            </figure>
            <strong> Horario </strong>
            <p>De lunes a viernes de 9:00 a 14:00 h y de 16:00 a 20:00 h</p>
            <br>
            <strong> Tel&eacute;fono(s)</strong>
            <p>55 5623 0971</p>
            <strong> Correo electr&oacute;nico</strong>
            <p class="fs-12"><a class="link-a" href="mailto:cta.innovaunam@aragon.unam.mx"
                    title="correo-electronico">cta.innovaunam@aragon.unam.mx</a></p>
            <hr>
            <strong>Apoyo acad&eacute;mico</strong>
            <p> Julio C&eacute;sar Rojas L&oacute;pez</p>
            <figure>
                <img class="d-flex justify-content-center rounded-circle img-responsable"
                    src="public_html/img/investigacion/centro-tecnologico-aragon/julio-cesar-rojas-lopez.jpg"
                    alt="Julio C&eacute;sar Rojas L&oacute;pez" />
            </figure>
            <strong> Horario </strong>
            <p>De lunes a viernes de 8:30 a 14:00 h y de 16:00 a las 20:00 h</p>
            <strong> Tel&eacute;fono(s)</strong>
            <p style="margin-bottom: 0px;">55 5623 0222</p>
            <p>Ext. 31079 y 30879</p>
            <strong> Correo electr&oacute;nico</strong>
            <p class="fs-12"><a class="link-a" href="mailto:cta.apoyoacademico@aragon.unam.mx"
                    title="correo-electronico">cta.apoyoacademico@aragon.unam.mx</a></p>
        </aside>
    </div>
</div> <!-- fin Centro de Investigaci&oacute;n Multidisciplinaria Arag&oacute;n -->