<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <i class="icono-secciones icon-centro-de-investigacion-aragon"></i><h1> Centro de Investigaci&oacute;n Multidisciplinaria Arag&oacute;n </h1>
        </div>
    </div>
    <hr>
    <div class="row portafolio" style="margin-bottom: 15px;">
        <div class="col-12 col-lg-9 ">
            <p>Las funciones del CIMA son coordinar, impulsar y fomentar la investigaci&oacute;n entre los diferentes actores en la comunidad universitaria de la FES Arag&oacute;n, como son los profesores de carrera y de asignatura, ayudantes de profesor y alumnos a trav&eacute;s del seguimiento permanente de sus investigaciones; tambi&eacute;n est&aacute; la vinculaci&oacute;n con otras instituciones de educaci&oacute;n superior, la formaci&oacute;n en la investigaci&oacute;n y la organizaci&oacute;n para la difusi&oacute;n en congresos, conferencias, cursos, talleres, seminarios y encuentros, con el fin de propiciar el desarrollo de actividades relativas a la investigaci&oacute;n.</p>
            <p>Entre los servicios que ofrece est&aacute;n: </p>
            <ul>
                <li>Fomentar la investigaci&oacute;n, realizada por profesores de carrera, para apoyar la ense&ntilde;anza.</li>
                <li>Impartici&oacute;n de docencia, por parte de los profesores de carrera que cuentan con conocimientos, habilidades y destrezas, adem&aacute;s de una gran experiencia y sentido de &eacute;tica, en c&aacute;tedras a nivel licenciatura y posgrado.</li>
                <li>Generaci&oacute;n de soluciones, por parte del personal acad&eacute;mico, quienes al poseer una amplia visi&oacute;n de lo que sucede en el pa&iacute;s pueden brindar alternativas para la soluci&oacute;n de problemas espec&iacute;ficos en los diversos sectores de quehacer humano.</li>
                <li>La vinculaci&oacute;n entre diversas instituciones internas y externas a la FES Arag&oacute;n para efectuar intercambios de investigaci&oacute;n.</li>
                <li>Capacitaci&oacute;n para que la comunidad universitaria adquiera conocimientos, habilidades y destrezas en el manejo de materiales, equipos y herramientas &uacute;tiles para la investigaci&oacute;n y la fuerza laboral.</li>
                <li>La publicaci&oacute;n y difusi&oacute;n de los trabajos de investigaci&oacute;n realizadas por nuestros profesores.</li>
            </ul>
        </div>
        <div class="col-12 col-lg-3 seccion-informacion galeria">
            <strong>Responsable</strong>
            <p>Jos&eacute; Paulo Mejorada Mota</p>
            <img class="justify-content-center rounded-circle img-responsable" alt="Jos&eacute; Paulo Mejorada Mota" src="public_html/img/investigacion/cima/jose-paulo-mejorada-mota.jpg" />
            <br/>
            <!--<i class="icon-tiempo"></i>--><strong> Horario </strong>
            <p>De lunes a viernes de 9:00 a 20:00 h</p>
            <!--<i class="icon-contacto-de-emergencia" style="font-size: 19px;position:  relative;top: 5px;"></i>--><strong> Tel&eacute;fono(s)</strong>
            <p style="margin-bottom: 0px;">55 5623 0222</p> <p>Ext. 30889</p>
            <!--<i class="icon-sobre" style="padding: 0px 5px;"></i>--><strong> Correo electr&oacute;nico</strong>
            <p class="fs-12"><a class="link-a" href="mailto:cima@aragon.unam.mx" title="correo-electronico">cima@aragon.unam.mx</a></p>
            <a class="contenedor-imagen "target="_blank" href="#!/seccion/cima"><img class="justify-content-center img-fluid " alt="Noticias" src="public_html/img/noticias/seccion-de-noticias.png"></a>
        </div>
    </div>
</div> 