<div class="container content">
        <hr>
        <div class="row pleca-secciones">
            <div class="col-12">
                <h1>Investigaci&oacute;n</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <p>La FES Arag&oacute;n, en su car&aacute;cter multidisciplinario, realiza un importante trabajo al impulsar la investigaci&oacute;n con el prop&oacute;sito de contribuir a la generaci&oacute;n de nuevos saberes por medio de proyectos acad&eacute;micos.</p>
                <p>Nuestra Facultad posee diversos espacios para realizar actividades de investigaci&oacute;n, donde docentes y estudiantes pueden desarrollar conocimientos de vanguardia a fin de responder a las necesidades educativas, human&iacute;sticas, cient&iacute;ficas, tecnol&oacute;gicas y sociales del pa&iacute;s.</p>
            </div>
        </div>
        
        <div class="row justify-content-center botones" style="padding-top: 25px;">
                <div class="col-12 col-lg-12 sub">
                    <h2>&Aacute;reas de Investigaci&oacute;n</h2>
                    <hr>
                    <div class="row justify-content-star pb-3">
                        <div class="col-12 col-md-5 col-lg-5 col-xl-4 btn-cat btn-sec">
                    <a class="category" ui-sref="cima" title="Centro de Investigaci&oacute;n Multidisciplinaria Arag&oacute;n">
                                <div class="icon icon-centro-de-investigacion-aragon">
                                </div>
                                <p>Centro de Investigación Multidisciplinaria Aragón</p>
                            </a>
                </div>
                <div class="col-12 col-md-5 col-lg-5 col-xl-4 btn-cat btn-sec">
                    <a class="category" ui-sref="cta" title="Centro Tecnol&oacute;gico Arag&oacute;n">
                                <div class="icon icon-centro-tecnologico">
                                </div>
                                <p>Centro Tecnológico Aragón</p>
                            </a>
                </div>
                <div class="col-12 col-md-5 col-lg-5 col-xl-4 btn-cat btn-sec">
                    <a class="category" ui-sref="proyeccionaragon" title="#ProyecciónAragón">
                        <svg class="icon">
                            <use xlink:href="public_html/img/investigacion/proyeccionaragon/proyeccionaragon.svg#proyeccionaragon"/>
                      </svg>
                        <p>#ProyecciónAragón  </p>
                    </a>
                </div>
                    </div>
                </div>
            </div>
    </div>