<style>
    .icono-secciones {
        font-size: 35px;
        color: #f90;
    }

    .list-group .list-group-item {
        text-align: left;
    }

    .list-group .list-group-item a:hover {
        border-bottom: 1px solid #f90;
    }

    .list-group .list-group-item .icono-secciones:hover {
        color: #f90;
    }

    .sec {
        padding-left: 10px;
        border-left: 1px solid #f90;
    }

    .seclar {
        position: absolute;
        left: 60px;
        top: 9px;
    }

    .link-sec {
        position: relative;
        top: -2px;
    }
</style>
<div class="container content">
    <hr/>
    <div class="row encabezado">
        <div class="col-12 encabezado-titulo">
                <img style="position: relative; top: -11px; filter: grayscale(90%);" width="35px" height="35px" src="public_html/img/noticias/secciones.svg" alt="Secciones"> <h1>Secciones</h1>
        </div>
    </div>
    <hr/>
    <div class="row justify-content-center" style="padding-top: 25px;">
        <div class="col-12 col-lg-9">
            <ul class="list-group texto-tabla">
                <li class="list-group-item">
                    <div class="sec">
                        <i class="icono-secciones icon-unam"></i><a class="link-sec" target="_blank"
                            href="#!/seccion/unam">UNAM</a>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="sec">
                        <i class="icono-secciones icon-fes-aragon"></i><a class="link-sec" target="_blank"
                            href="#!/seccion/fes-aragon">FES Aragón</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-3 pt-5 pb-5">
            <ul class="list-group texto-tabla">
                <li class="list-group-item">
                    <div class="sec">
                        <i class="icono-secciones icon-cfmi"></i>
                        <a class="seclar" target="_blank"
                            href="#!/seccion/ciencias-fisico-matematicas-y-de-las-ingenierias">Ciencias
                            Fís.-Mat. y de las Ingenierías</a>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="sec">
                        <i class="icono-secciones icon-ingenieria-civil"></i><a target="_blank"
                            href="#!/seccion/civil"
                            title="Festival de Día de Muertos: tradiciones que perduran">Ingeniería Civil</a>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="sec">
                        <i class="icono-secciones icon-ingenieria-en-computacion"></i><a target="_blank"
                            href="#!/seccion/ingenieria-en-computacion">Ingeniería
                            en Computación</a>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="sec">
                        <i class="icono-secciones icon-ingenieria-electrica-electronica"></i> <a class="seclar"
                            target="_blank"
                            href="#!/seccion/electrica-electronica">Ingeniería
                            Eléctrica Electrónica</a>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="sec">
                        <i class="icono-secciones icon-ingenieria-industrial"></i><a target="_blank"
                            href="#!/seccion/industrial">Ingeniería Industrial</a>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="sec">
                        <i class="icono-secciones icon-ingenieria-mecanica"></i><a target="_blank"
                            href="#!/seccion/mecanica">Ingeniería Mecánica</a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-12 col-lg-3 pt-5 pb-5">
            <ul class="list-group texto-tabla">
                <li class="list-group-item">
                    <div class="sec">
                        <i class="icono-secciones icon-ciencias-sociales"></i><a target="_blank"
                            href="#!/seccion/ciencias-sociales">Ciencias
                            Sociales</a>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="sec">
                        <i class="icono-secciones icon-comunicacion-y-peridismo"></i><a target="_blank"
                            href="#!/seccion/comunicacion-y-periodismo">Comunicación
                            y Periodismo</a>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="sec">
                        <i class="icono-secciones icon-derecho"></i><a target="_blank"
                            href="#!/seccion/derecho">Derecho</a>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="sec">
                        <i class="icono-secciones icon-economia"></i><a target="_blank"
                            href="#!/seccion/economia">Economía</a>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="sec">
                        <i class="icono-secciones icon-planificacion-para-el-desarrollo-agropecuario"></i><a
                            class="seclar" target="_blank"
                            href="#!/seccion/planificacion-para-el-desarrollo-agropecuario">Planificación
                            para el Desarrollo Agropecuario</a>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="sec">
                        <i class="icono-secciones icon-relaciones-internacionales"></i><a target="_blank"
                            href="#!/seccion/relaciones-internacionales">Relaciones
                            Internacionales</a>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="sec">
                        <i class="icono-secciones icon-sociologia"></i><a target="_blank"
                            href="#!/seccion/sociologia">Sociología</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-12 col-lg-3 pt-5 pb-5">
            <ul class="list-group texto-tabla">
                <li class="list-group-item">
                    <div class="sec">
                        <i class="icono-secciones icon-hya"></i><a target="_blank"
                            href="#!/seccion/humanidades-y-artes">Humanidades y
                            Artes</a>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="sec">
                        <i class="icono-secciones icon-arquitectura"></i><a target="_blank"
                            href="#!/seccion/arquitectura">Arquitectura</a>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="sec">
                        <i class="icono-secciones icon-diseno-industrial"></i><a target="_blank"
                            href="#!/seccion/diseno-industrial">Diseño
                            Industrial</a>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="sec">
                        <i class="icono-secciones icon-pedagogia"></i><a target="_blank"
                            href="#!/seccion/pedagogia">Pedagogía</a>
                    </div>
                </li>

            </ul>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-lg-3 pt-5 pb-5">
            <ul class="list-group texto-tabla">
                <li class="list-group-item">
                    <div class="sec">
                        <i class="icono-secciones icon-duacyd"></i><a target="_blank"
                            href="#!/seccion/duacyd">DUACYD</a>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="sec">
                        <i class="icono-secciones icon-suayed"></i><a target="_blank"
                            href="#!/seccion/suayed">SUAyED</a>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="sec">
                        <i class="icono-secciones icon-centro-de-lenguas"></i><a target="_blank"
                            href="#!/seccion/centro-de-lenguas">Centro de
                            lenguas</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-12 col-lg-3 pt-5 pb-5">
            <ul class="list-group texto-tabla">
                <li class="list-group-item">
                    <div class="sec">
                        <i class="icono-secciones icon-posgrados"></i><a target="_blank"
                            href="#!/seccion/posgrado">Posgrado</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-12 col-lg-3 pt-5 pb-5">
            <ul class="list-group texto-tabla">
                <li class="list-group-item">
                    <div class="sec">
                        <i class="icono-secciones icon-centro-de-investigacion-aragon"></i><a class="seclar"
                            target="_blank" href="#!/seccion/cima">Centro de
                            Investigación Multidisciplinaria Aragón</a>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="sec">
                        <i class="icono-secciones icon-centro-tecnologico"></i><a
                            target="_blank" href="#!/seccion/cta"> Centro Tecnológico Aragón</a>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="sec">
                        <i class="icono-secciones iconos-proyeccionaragon"></i><a
                            target="_blank" href="#!/seccion/proyeccion-aragon">#ProyecciónAragón  </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-3 pt-5 pb-5">
            <ul class="list-group texto-tabla">
                <li class="list-group-item">
                    <div class="sec">
                        <i class="icono-secciones icon-intercambio-academico"></i><a target="_blank"
                            href="#!/seccion/intercambio-academico">Intercambio
                            Académico</a>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="sec">
                        <i class="icono-secciones icon-servicio-social"></i><a target="_blank"
                            href="#!/seccion/servicio-social">Servicio Social</a>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="sec">
                        <i class="icono-secciones icon-bolsa-de-trabajo"></i><a target="_blank"
                            href="#!/seccion/bolsa-de-trabajo">Bolsa de
                            trabajo</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-12 col-lg-3 pt-5 pb-5">
            <ul class="list-group texto-tabla">
                <li class="list-group-item">
                    <div class="sec">
                        <i class="icono-secciones icon-extencion-universitaria"></i><a target="_blank"
                            href="#!/seccion/extension-universitaria">Extensión
                            Universitaria</a>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="sec">
                        <i class="icono-secciones icon-actividades-culturales"></i><a target="_blank"
                            href="#!/seccion/culturales">Actividades
                            Culturales</a>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="sec">
                        <i class="icono-secciones icon-actividades-deportivas"></i><a class="seclar" target="_blank"
                            href="#!/seccion/deportivas">Actividades Deportivas y
                            Recreativas</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-12 col-lg-3 pt-5 pb-5">
            <ul class="list-group texto-tabla">
                <li class="list-group-item">
                    <div class="sec">
                        <i class="icono-secciones icon-servicio-a-la-comunidad"></i><a target="_blank"
                            href="#!/seccion/servicios-a-la-comunidad">Servicio a
                            la Comunidad</a>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="sec">
                        <svg class="icon-encabezado" style="fill: #f09d39;">
                            <use xlink:href="public_html/img/logos/prevencion-y-seguridad-universitaria.svg#prevencion-y-seguridad-universitaria"></use>
                        </svg>
                 <a target="_blank"
                            href="#!/seccion/prevencion-y-seguridad-universitaria">Prevención y Seguridad Universitaria</a>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="sec">
                        <i class="icono-secciones icon-genero"></i><a target="_blank"
                            href="#!/seccion/genero">Género</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>