<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <i class="icono-secciones icon-educacion-continua" style="position: relative;top: 11px;"></i>
            <h1>Educaci&oacute;n Continua</h1>
        </div>
    </div>
    <hr>
    <div class="row portafolio">
        <div class="col-12 col-lg-9">
            <p>La FES Arag&oacute;n representa un espacio de fortalecimiento en el desarrollo acad&eacute;mico y social
                para la comunidad universitaria y para los sectores p&uacute;blico, privado y social. A trav&eacute;s de
                la Coordinaci&oacute;n de Educaci&oacute;n Continua de la Divisi&oacute;n de Universidad Abierta,
                Continua y a Distancia (DUACyD), proporciona servicios de actualizaci&oacute;n, capacitaci&oacute;n
                profesional y profundizaci&oacute;n de conocimientos que vinculan los fines curriculares con la
                construcci&oacute;n del conocimiento y el desempe&ntilde;o profesional a trav&eacute;s de la
                impartici&oacute;n de diferentes eventos acad&eacute;micos como diplomados, cursos, tallleres y
                seminarios.</p>
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-12 col-lg-5">
                    <a target="_blank" href="public_html/documents/oferta_academica/oferta_edco.pdf"
                        title="Cat&aacute;logo">
                        <img src="public_html/img/oferta_academica/educacion_continua/oferta_edco.png"
                            class="img-fluid imagen" alt="Oferta Educaci&oacute;n Continua" />
                    </a>
                </div>
                <!--<div class="contenedor-imagen col-12 col-lg-5">
                    <a target="_blank" href="public_html/documents/oferta_academica/eventos-academicos.pdf" title="Cat&aacute;logo">
                        <img src="public_html/img/oferta_academica/educacion_continua/eventos-academicos.jpg" class="img-fluid imagen" alt="Cat&aacute;logo"/>
                    </a>
                </div>-->
            </div>
            <h2 class="mt-1">Oferta acad&eacute;mica</h2>
            <hr>
            <div class="row botones justify-content-center">
                <div class="col-12 col-md-5 btn-cat">
                    <a class="category" target="_blank" href="https://cedco.aragon.unam.mx/sigedco/eventos/CEDCO/"
                        title="Diplomados Titulación">
                        <svg class="icon">
                            <use xlink:href="public_html/img/oferta_academica/educacion_continua/diplomados-de-titulacion.svg#diplomados-de-titulacion"/>
                        </svg>
                        <p>Diplomados Titulación</p>
                    </a>
                </div>
                <div class="col-12 col-md-5 btn-cat">
                    <a class="category" target="_blank"
                        href="https://cedco.aragon.unam.mx/sigedco/eventos/CEDCO/ActualizacionCapacitacion"
                        title="Diplomados">
                        <svg class="icon">
                                <use xlink:href="public_html/img/oferta_academica/educacion_continua/diplomados.svg#diplomados"/>
                          </svg>
                        <p>Diplomados</p>
                    </a>
                </div>
                <div class="col-12 col-md-5 btn-cat">
                    <a class="category" target="_blank" href="https://cedco.aragon.unam.mx/sigedco/eventos/CEDCO/cursos"
                        title="Cursos">
                        <svg class="icon">
                                <use xlink:href="public_html/img/oferta_academica/educacion_continua/cursos.svg#cursos"/>
                          </svg>
                        <p>Cursos</p>
                    </a>
                </div>
                <div class="col-12 col-md-5 btn-cat">
                    <a class="category" target="_blank"
                        href="https://cedco.aragon.unam.mx/sigedco/eventos/CEDCO/idiomas" title="Idiomas">
                        <svg class="icon">
                                <use xlink:href="public_html/img/oferta_academica/educacion_continua/idiomas.svg#idiomas"/>
                          </svg>
                        <p>Idiomas</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 seccion-informacion">
            <strong>Responsable</strong>
            <p class="texto-pleca nombre-responsable">Hugo Eduardo Flores S&aacute;nchez</p>
            <img class="d-flex justify-content-center rounded-circle img-responsable"
                alt="Hugo Eduardo Flores S&aacute;nchez"
                src="public_html/img/oferta_academica/educacion_continua/hugo-eduardo-flores-sanchez.jpg" />
            <strong> Horario </strong>
            <p>De lunes a viernes de 09:00 a 15:00 y de 17:00 a 21:00 h, s&aacute;bado de 08:00 a 14:00 h</p>
            <strong>Tel&eacute;fono(s)</strong>
            <p>55 5623 0222 Ext. 83024 y 83006
            </p>
            <strong> Correo electr&oacute;nico</strong>
            <p class="fs-12"><a class="link-a" href="mailto:educacioncontinua@aragon.unam.mx" title="correo-electronico">educacioncontinua@aragon.unam.mx</a></p>
            <p><strong>¡&Uacute;nete a nuestro Facebook!</strong></p>
            <a target="_blank" href="https://www.facebook.com/FESAragon.educacioncontinua/"
                class="icon-facebook-official facebook-becas" title="Facebook"> </a>
        </div>
    </div>

    <!--<div class="row justify-content-center">
        <a class="col-4 col-lg-2 col-md-3 mb-5" ng-mouseover="hover1=true" ng-mouseleave="hover1 = false" href="https://cedco.aragon.unam.mx/sigedco/eventos/CEDCO/" title="Diplomados Titulaci&oacute;n" target="_blank">
            <img class="check-element img-fluid" src="public_html/img/oferta_academica/duacyd/educacion_continua/titulacion/diplomados-titulacion.png" ng-class="hover1 ? 'wipe-in position-absolute' : 'trans-delay position-absolute'" alt="Diplomados Titulaci&oacute;n" />
            <img class="check-element img-fluid" src="public_html/img/oferta_academica/duacyd/educacion_continua/titulacion/diplomados-titulacion-back.png" ng-class="!hover1 ? 'wipe-in position-relative' : 'trans-delay position-absolute'" alt="Diplomados Titulaci&oacute;n" />
        </a>
        <a class="col-4 col-lg-2 col-md-3 mb-5" ng-mouseover="hover2=true" ng-mouseleave="hover2 = false" href="https://cedco.aragon.unam.mx/sigedco/eventos/CEDCO/ActualizacionCapacitacion" title="Diplomados" target="_blank">
            <img class="check-element img-fluid" src="public_html/img/oferta_academica/duacyd/educacion_continua/diplomados/diplomados.png" ng-class="hover2 ? 'wipe-in position-absolute' : 'trans-delay position-absolute'" alt="Diplomados" />
            <img class="check-element img-fluid" src="public_html/img/oferta_academica/duacyd/educacion_continua/diplomados/diplomados-back.png" ng-class="!hover2 ? 'wipe-in position-relative' : 'trans-delay position-absolute'" alt="Diplomados" />
        </a>
        <a class="col-4 col-lg-2 col-md-3 mb-5" ng-mouseover="hover3=true" ng-mouseleave="hover3 = false" href="https://cedco.aragon.unam.mx/sigedco/eventos/CEDCO/cursos" title="Cursos y Seminarios" target="_blank">
            <img class="check-element img-fluid" src="public_html/img/oferta_academica/duacyd/educacion_continua/cursos/cursos.png" ng-class="hover3 ? 'wipe-in position-absolute' : 'trans-delay position-absolute'" alt="Cursos y Seminarios" />
            <img class="check-element img-fluid" src="public_html/img/oferta_academica/duacyd/educacion_continua/cursos/cursos-back.png" ng-class="!hover3 ? 'wipe-in position-relative' : 'trans-delay position-absolute'" alt="Cursos y Seminarios"/>
        </a>
        <a class="col-4 col-lg-2 col-md-3 mb-5" ng-mouseover="hover4=true" ng-mouseleave="hover4 = false" href="https://cedco.aragon.unam.mx/sigedco/eventos/CEDCO/idiomas" title="Cursos de Idiomas" target="_blank">
            <img class="check-element img-fluid" src="public_html/img/oferta_academica/duacyd/educacion_continua/idiomas/cursos-idiomas.png" ng-class="hover4 ? 'wipe-in position-absolute' : 'trans-delay position-absolute'" alt="Cursos de Idiomas" />
            <img class="check-element img-fluid" src="public_html/img/oferta_academica/duacyd/educacion_continua/idiomas/cursos-idiomas-back.png" ng-class="!hover4 ? 'wipe-in position-relative' : 'trans-delay position-absolute'" alt="Cursos de Idiomas" />
        </a>
       <a class="col-4 col-lg-2 col-md-3 mb-5" ng-mouseover="hover2=true" ng-mouseleave="hover2 = false" ui-sref="" title="Centro de Lenguas">
                    <img class="check-element img-fluid" src="public_html/img/oferta_academica/duacyd/centro_lenguas/cle.png" ng-class="hover2 ? 'wipe-in position-absolute' : 'trans-delay position-absolute'" alt="Centro de Lenguas"/>
                    <img class="check-element img-fluid" src="public_html/img/oferta_academica/duacyd/centro_lenguas/cle-back.png" ng-class="!hover2 ? 'wipe-in position-relative' : 'trans-delay position-absolute'" alt="Centro de Lenguas"/>
                </a>-->
</div>
</div> <!-- fin Educaci&oacute;n Continua -->