<div class="container content" ng-init="showing = 0">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <svg class="icon-encabezado">
                <use xlink:href="public_html/img/nuestra_facultad/cuerpos_colegiados/comision-local-de-seguridad.svg#comision-local-de-seguridad"></use>
            </svg> <h1>Comisi&oacute;n Local de Seguridad</h1>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center ">
        <div class="col-12 col-lg-10 menu-rapido">
            <ul class="nav d-flex justify-content-center">
                <li class="nav-item animated zoomIn">
                    <a class="nav-link active" ng-click="showing = 0" title="Inicio">
                        Inicio
                    </a>
                </li>
                <li class="nav-item animated zoomIn">
                    <a class="nav-link active" href="public_html/documents/comision-local-de-seguridad/acuerdos-2019.pdf" target="_blank" title="PDF">
                        Acuerdos 2019
                    </a>
                </li>
                <li class="nav-item animated zoomIn">
                    <a class="nav-link active" ng-click="showing = 2" title="Miembros">
                        Miembros
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div ng-show="showing === 0">
        <div class="row justify-content-center" style="padding-top: 20px;">
            <div class="col-12 col-lg-10">
                <h2>Fundamento</h2>
                <hr/>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3 col-lg-1" style="padding-left: 0px;padding-right: 0px;">
                <img class="img-fluid" src="public_html/img/comision-local-de-seguridad/fundamento.svg" alt="fundamento" style="height: 70%;padding-left: 20px;">
            </div>
            <div class="col-12 col-lg-9" style="padding-left: 0px;">
                <ul>
                    <li>REGLAMENTO DE LA COMISIÓN ESPECIAL DE SEGURIDAD DEL CONSEJO UNIVERSITARIO DE LA UNAM <i style="font-size: 13px;line-height: 18px;">(Publicado en Gaceta UNAM el d&iacute;a 26 de noviembre de 1990 y modificado el 22 de febrero de 2010)</i></li>
                    <li>INSTRUCTIVO PARA LA CREACIÓN Y OPERACIÓN DE LAS COMISIONES LOCALES DE SEGURIDAD <i style="font-size: 13px;line-height: 18px;">(Publicado en Gaceta UNAM el 17 de agosto de 2006)</i></li>
                    <li>GUÍA PARA LA ELABORACIÓN DE LOS PLANES LOCALES DE SEGURIDAD Y PROTECCIÓN <i style="font-size: 13px;line-height: 18px;">(Elaborada por la CES 2010)</i></li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center" style="padding-top: 20px;">
            <div class="col-12 col-lg-5">
                <h2>Misi&oacute;n</h2>
                <hr/>
                <p>Fomentar la cultura de la protecci&oacute;n civil y seguridad f&iacute;sica, integrando de manera corresponsable a la comunidad de la Facultad.</p>
            </div>
            <div class="col-12 col-lg-5">
                <h2>Visi&oacute;n</h2>
                <hr/>
                <p>Ser una Facultad reconocida al interior y al exterior de la UNAM, por la efectividad de sus programas, pol&iacute;ticas, acciones y protocolos en materia de protecci&oacute;n civil y seguridad f&iacute;sica.</p>
            </div>
        </div>
        <div class="row justify-content-center" style="padding-top: 20px;">
            <div class="col-12 col-lg-5">
                <h2>Objetivo General</h2>
                <hr/>
                <p>Desarrollar y establecer programas, pol&iacute;ticas, acciones y protocolos que apoyen en la prevenci&oacute;n y atenci&oacute;n de situaciones de competencia institucional, que pongan en riesgo la seguridad de la comunidad, el patrimonio universitario y la continuidad de las actividades sustantivas de la Facultad.</p>
            </div>
            <div class="col-12 col-lg-5">
                <h2>Valores</h2>
                <hr/>
                <ul>
                    <li>Convivencia pac&iacute;fica</li>
                    <li>Objetividad</li>
                    <li>Seguridad</li>
                    <li>Respeto</li>
                    <li>Imparcialidad</li>
                    <li>Cuidado del patrimonio universitario</li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center" style="padding-top: 20px;">
            <div class="col-12 col-lg-10">
                <h2>Programas</h2>
                <hr/>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3 col-lg-1" style="padding-left: 0px;padding-right: 0px;">
                <img class="img-fluid" src="public_html/img/comision-local-de-seguridad/programas.svg" alt="fundamento" style="padding-left: 15px;max-width: 90%;">
            </div>
            <div class="col-12 col-lg-9" style="padding-left: 0px;">
                <ol>
                    <li>Protecci&oacute;n Civil: Para la atenci&oacute;n de todos los eventos de origen natural y humano que no tengan intencionalidad de da&ntilde;ar  a la Comunidad y Patrimonio Universitario</li>
                    <li>Seguridad F&iacute;sica: Para la prevenci&oacute;n y atenci&oacute;n de eventos con intencionalidad de  da&ntilde;ar a la Comunidad y/o Patrimonio Universitario</li>
                </ol>
            </div>
        </div>
        <div class="row justify-content-center" style="padding-top: 25px;">
            <div class="col-12 col-lg-5">
                <h2>I. Protecci&oacute;n Civil</h2>
                <hr/>
                <p>Diagn&oacute;stico y an&aacute;lisis de competencias institucionales</p>
                <p><strong>Comunidad</strong></p>
                <p><i>Proyectos / Acciones</i></p>
                <ol>
                    <li>Favorecer la participaci&oacute;n de acad&eacute;micos y alumnos en las brigadas de Protecci&oacute;n Civil</li>
                    <li>Incluir en las estrategias de Protecci&oacute;n Civil las instalaciones de la DUACyD, as&iacute; como los tres comedores y todos los trenes de alimentos</li>
                    <li>Difundir protocolos de seguridad y del uso adecuado de herramientas, equipos, maquinaria y vestimenta en las instalaciones de los laboratorios que lo requieran.</li>
                </ol>
                <p><strong>Patrimonio</strong></p>
                <p><i>Proyectos / Acciones</i></p>
                <ol>
                    <li>Mayor y mejor alumbrado nocturno</li>
                    <li>Mayor y mejor calidad en los servicios de red</li>
                </ol>
            </div>
            <div class="col-12 col-lg-5">
                <h2>II. Seguridad F&iacute;sica</h2>
                <hr/>
                <p>Diagn&oacute;stico y an&aacute;lisis de competencias institucionales</p>
                <p><strong>Comunidad</strong></p>
                <p><i>Proyectos / Acciones</i></p>
                <ol>
                    <li>Sendero seguro</li>
                    <li>Comisi&oacute;n de Primera Respuesta</li>
                    <li>Kiosco de denuncias, ministerio p&uacute;blico en la Facultad</li>
                    <li>Capacitaci&oacute;n al personal de vigilancia en temas de seguridad, nociones de derecho, legislaci&oacute;n universitaria, &eacute;tica, igualdad de g&eacute;nero y derechos humanos, para coadyuvar a preservar la seguridad de los universitarios y de sus espacios. Comisi&oacute;n y Subcomisi&oacute;n de Capacitaci&oacute;n STUNAM – UNAM (FES Arag&oacute;n)</li>
                    <li>Generar estrategias de seguridad conjuntas con la autoridad local y en su caso federal, con la finalidad de establecer acciones que garanticen la protecci&oacute;n y seguridad de los universitarios a trav&eacute;s del programa Sendero Seguro</li>
                    <li>Protocolo contra la violencia de G&eacute;nero</li>
                </ol>
                <p><strong>Patrimonio</strong></p>
                <p><i>Proyectos / Acciones</i></p>
                <ol>
                    <li>Dotar a los espacios universitarios con mayor cantidad de c&aacute;maras de video vigilancia para fortalecer la seguridad al interior de la Facultad</li>
                    <li>Botones de atenci&oacute;n</li>
                    <li>Control de acceso autom&aacute;tico en los torniquetes</li>
                </ol>
            </div>
        </div>
        <div class="row justify-content-center" style="padding-top: 20px;">
            <div class="col-12 col-lg-10">
                <h2>Subcomisi&oacute;n para la Elaboraci&oacute;n del Plan Local de Seguridad de la FES Arag&oacute;n 2019</h2>
                <hr/>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3 col-lg-1" style="padding-left: 0px;padding-right: 0px;">
                <img class="img-fluid" src="public_html/img/comision-local-de-seguridad/coordinacion.svg" alt="fundamento" >
            </div>
            <div class="col-12 col-lg-9" style="padding-left: 0px;">
                <p>Coordina el Director de la Facultad</p>
                <ol>
                    <li>Secretar&iacute;a Administrativa</li>
                    <li>Secretar&iacute;a de Vinculaci&oacute;n y Desarrollo</li>
                    <li>Oficina Jur&iacute;dica</li>
                    <li>Coordinaci&oacute;n de  Planeaci&oacute;n</li>
                    <li>Coordinaci&oacute;n de Comunicaci&oacute;n Social</li>
                    <li>Divisi&oacute;n de Universidad Abierta, Continua y a Distancia</li>
                    <li>Protecci&oacute;n Civil</li>
                    <li>Servicios Generales</li>     
                </ol>
            </div>
        </div>
    </div>
    <div ng-show="showing === 1">
        PDF
    </div>
    <div ng-show="showing === 2">
        <div class="row justify-content-center cls" style="padding-top: 20px;">
            <div class="col-12 col-lg-4">
                <h2>Coordinador</h2>
                <hr/>
                <div class="col-12">
                    <div class="col-12" style="padding-left: 90px;">
                        <img class="d-flex rounded-circle img-responsable-cls" src="public_html/img/comision-local-de-seguridad/fernando-macedo-chagolla.jpg" alt="Coordinador" />
                    </div>
                    <div class="col-12 tex-cls">
                        <p>Fernando Macedo Chagolla</p>
                    </div>
                </div> 
            </div>
            <div class="col-12 col-lg-4">
                <h2>Secretario</h2>
                <hr/>
                <div class="col-12 ">
                    <div class="col-12" style="padding-left: 90px;">
                        <img class="d-flex rounded-circle img-responsable-cls" src="public_html/img/comision-local-de-seguridad/mario-marcos-arvizu-cortes.jpg" alt="Coordinador" />
                    </div>
                    <div class="col-12 tex-cls">
                        <p>Mario Marcos Arvizu</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center" style="padding-top: 20px;">
            <div class="col-12 col-lg-8">
                <h2>Cuerpo T&eacute;cnico</h2>
                <hr/>
            </div>
        </div>

        <div class="row justify-content-center cls">

            <div class="col-6 col-lg-2">
                <div class="col-12">
                    <img class="d-flex justify-content-center rounded-circle img-responsable-cls" src="public_html/img/comision-local-de-seguridad/felipe-de-jesus-gutierrez.jpg" alt="Coordinador" />
                </div>
                <div class="col-12 tex-cls">
                    <p>Felipe de Jes&uacute;s Guti&eacute;rrez</p>
                </div>
            </div>

            <div class="col-6 col-lg-2">
                <div class="col-12">
                    <img class="d-flex justify-content-center rounded-circle img-responsable-cls" src="public_html/img/comision-local-de-seguridad/aldo-gonzalez-gutierrez.jpg" alt="Coordinador" />
                </div>
                <div class="col-12 tex-cls">
                    <p>Aldo Gonz&aacute;lez Guti&eacute;rrez</p>
                </div>
            </div>

            <div class="col-6 col-lg-2">
                <div class="col-12">
                    <img class="d-flex justify-content-center rounded-circle img-responsable-cls" src="public_html/img/comision-local-de-seguridad/arturo-samano.jpg" alt="Coordinador" />
                </div>
                <div class="col-12 tex-cls">
                    <p>Arturo Sámano</p>
                </div>
            </div>
            <div class="col-6 col-lg-2">
                <div class="col-12">
                    <img class="d-flex justify-content-center rounded-circle img-responsable-cls" src="public_html/img/comision-local-de-seguridad/gabriela-paola-areizaga-sanchez.jpg" alt="Coordinador" />
                </div>
                <div class="col-12 tex-cls">
                    <p>Gabriela Paola Ar&eacute;izaga S&aacute;nchez </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center cls">
             <div class="col-6 col-lg-2">
                <div class="col-12">
                    <img class="d-flex justify-content-center rounded-circle img-responsable-cls" src="public_html/img/comision-local-de-seguridad/mario-sosa-rodriguez.jpg" alt="Coordinador" />
                </div>
                <div class="col-12 tex-cls">
                    <p>Mario Sosa Rodriguez</p>
                </div>
            </div>
            <div class="col-6 col-lg-2">
                <div class="col-12">
                    <img class="d-flex justify-content-center rounded-circle img-responsable-cls" src="public_html/img/oferta_academica/derecho/julio-cesar-ponce-quitzaman.jpg" alt="Coordinador" />
                </div>
                <div class="col-12 tex-cls">
                    <p>Julio César Ponce Quitzamán</p>
                </div>
            </div>
            <div class="col-6 col-lg-2">
                <div class="col-12">
                    <img class="d-flex justify-content-center rounded-circle img-responsable-cls" src="public_html/img/comision-local-de-seguridad/rosa-lucia-mata-ortiz.jpg" alt="Coordinador" />
                </div>
                <div class="col-12 tex-cls">
                    <p>Rosa Luc&iacute;a Mata Ortiz</p>
                </div>
            </div>
            <div class="col-6 col-lg-2">
                <div class="col-12">
                    <img class="d-flex justify-content-center rounded-circle img-responsable-cls" src="public_html/img/comision-local-de-seguridad/jorge-andres-trejo-solis.jpg" alt="Coordinador" />
                </div>
                <div class="col-12 tex-cls">
                    <p>Jorge Andr&eacute;s Trejo Solis</p>
                </div>
            </div>
            
        </div>
        <div class="row justify-content-center cls">
            <div class="col-6 col-lg-2">
                <div class="col-12">
                    <img class="d-flex justify-content-center rounded-circle img-responsable-cls" src="public_html/img/comision-local-de-seguridad/jose-luis-ramirez-cruz.jpg" alt="Coordinador" />
                </div>
                <div class="col-12 tex-cls">
                    <p>Jos&eacute; Luis Ram&iacute;rez Cruz</p>
                </div>
            </div>
            <div class="col-6 col-lg-2">
                <div class="col-12">
                    <img class="d-flex justify-content-center rounded-circle img-responsable-cls" src="public_html/img/comision-local-de-seguridad/angel-alfonso-sanchez-razo.jpg" alt="Coordinador" />
                </div>
                <div class="col-12 tex-cls">
                    <p>Ángel Alfonso S&aacute;nchez Razo</p>
                </div>
            </div>
            <div class="col-6 col-lg-2">
                <div class="col-12">
                    <img class="d-flex justify-content-center rounded-circle img-responsable-cls" src="public_html/img/comision-local-de-seguridad/adriana-brenda-ramirez-gomez.jpg" alt="Coordinador" />
                </div>
                <div class="col-12 tex-cls">
                    <p>Adriana Brenda Ram&iacute;rez G&oacute;mez</p>
                </div>
            </div>
            <div class="col-6 col-lg-2">
                <div class="col-12">
                </div>
                <div class="col-12 tex-cls">
                </div>
            </div>
        </div>
        <div class="row justify-content-center" style="padding-top: 20px;">
            <div class="col-8">
                <h2>Vocal</h2>
                <hr/>
            </div>
        </div>
        <div class="row justify-content-center cls">
            <div class="col-6 col-lg-2">
                <div class="col-12">
                    <img class="d-flex justify-content-center rounded-circle img-responsable-cls" src="public_html/img/comision-local-de-seguridad/pedro-lopez-juarez.jpg" alt="Coordinador" />
                </div>
                <div class="col-12 tex-cls">
                    <p>Pedro L&oacute;pez Ju&aacute;rez</p>
                </div>
            </div>
            <div class="col-6 col-lg-2">
                <div class="col-12">
                    <img class="d-flex justify-content-center rounded-circle img-responsable-cls" src="public_html/img/comision-local-de-seguridad/alexis-sampedro-pinto.jpg" alt="Coordinador" />
                </div>
                <div class="col-12 tex-cls">
                    <p>Alexis Sampedro Pinto</p>
                </div>
            </div>
            <div class="col-6 col-lg-2">
                <div class="col-12">
                    <img class="d-flex justify-content-center rounded-circle img-responsable-cls" src="public_html/img/comision-local-de-seguridad/jacinto-cortes-perez.jpg" alt="Coordinador" />
                </div>
                <div class="col-12 tex-cls">
                    <p>Jacinto Cort&eacute;s P&eacute;rez</p>
                </div>
            </div>
            <div class="col-6 col-lg-2">
                <div class="col-12">
                    <img class="d-flex justify-content-center rounded-circle img-responsable-cls" src="public_html/img/comision-local-de-seguridad/maria-elena-jimenez zaldivar.jpg" alt="Coordinador" />
                </div>
                <div class="col-12 tex-cls">
                    <p>Mar&iacute;a Elena Jim&eacute;nez Zald&iacute;var</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center cls">
            <div class="col-6 col-lg-2">
                <div class="col-12">
                    <img class="d-flex justify-content-center rounded-circle img-responsable-cls" src="public_html/img/comision-local-de-seguridad/daniel-edgar-munoz-torres.jpg" alt="Coordinador" />
                </div>
                <div class="col-12 tex-cls">
                    <p>Daniel Edgar Mu&ntilde;oz Torres</p>
                </div>
            </div>

            <div class="col-6 col-lg-2">
                <div class="col-12">
                    <img class="d-flex justify-content-center rounded-circle img-responsable-cls" src="public_html/img/comision-local-de-seguridad/julia-garcia-morquecho.jpg" alt="Coordinador" />
                </div>
                <div class="col-12 tex-cls">
                    <p>Julia Garc&iacute;a Morquecho</p>
                </div>
            </div>
            <div class="col-6 col-lg-2">
                <div class="col-12">
                    <img class="d-flex justify-content-center rounded-circle img-responsable-cls" src="public_html/img/comision-local-de-seguridad/alondra-sofia-martinez-zarate.jpg" alt="Coordinador" />
                </div>
                <div class="col-12 tex-cls">
                    <p>Alondra Sof&iacute;a Martinez Z&aacute;rate</p>
                </div>
            </div>
            <div class="col-6 col-lg-2">
                <div class="col-12">
                    <img class="d-flex justify-content-center rounded-circle img-responsable-cls" src="public_html/img/comision-local-de-seguridad/diana-vanessa-ortiz-castro.jpg" alt="Coordinador" />
                </div>
                <div class="col-12 tex-cls">
                    <p>Diana Vanessa Ort&iacute;z Castro</p>
                </div>
            </div>

        </div>
    </div>
</div>